.info-section {
  margin-top: 20px;
}

.info-block {
  margin-bottom: 16px;
}

.info-header {
  font-weight: bold;
  color: #169bd5;
  font-size: 14px;
  margin-bottom: 4px;
}

.appeal-actions{
  display: flex;
  gap: 24px;
  padding: 24px;
  justify-content: space-between;
  align-items: center;
}