<div class="row">
  <div class="info-section">
    <div class="info-block">
      <div class="info-header">Project Eligibility Appeal Process</div>
      <div class="info-text">
        If you believe that the DFA program incorrectly determined the eligibility for this project, whether it is for
        the entire project or a specific cost(s), you may appeal the determination within 60 days of the date on the
        notice being appealed. Submitting an appeal does not guarantee that the DFA determination will be overturned.
        Appeal determinations may overturn or uphold the DFA determination being appealed.
      </div>
    </div>
  </div>
  <div class="row">
    <div class="info-block">
      <div class="info-header">Appeal Reason</div>
      <div class="info-text">
        Please provide detailed appeal reasoning here. If you require more space to provide your reasoning, please
        provide it as a supporting document below. Any supporting documentation you can provide in addition to the
        reasoning is encouraged. Appeal staff may reach out to you if more information is required.
      </div>
    </div>
    <div class="row">
      <textarea
        class="form-control"
        rows="3"
        style="width: 100%; resize: vertical; border: 1px solid #ccc; padding: 10px; border-radius: 4px"
        [disabled]="!edit">
      </textarea>
    </div>
  </div>
</div>
