<mat-card appearance="outlined" class="card-align" style="border:none;" [class.mat-elevation-z0]="true">
  <mat-card-content>

    <form [formGroup]="damagedPropertyAddressForm">

      <p class="sub-heading" style="font-size: 20px">Damaged Property</p>
      <br/>

      <ng-container>
        <div class="row">
          <div class="col-md-12 bottomspace">
            <p class="sub-heading" style="font-size: 15px">
              Is the damaged property address the same as the primary address that you listed on your profile?<span style="color:red" >*</span>
            </p>
            <p class="sub-heading" style="font-size: 15px; color: black; padding-bottom: 10px; padding-top: 10px;">
              If you update your address with BC Services Card, please verify the correct damaged property address is still in your DFA application.
            </p>  
            <mat-radio-group
              formControlName="isPrimaryAndDamagedAddressSame"
              class="primary-radio-group"
              (change)="onUseProfileAddressChoice($event)"
              required
              aria-label="Select an option">
              <mat-radio-button value=true>Yes</mat-radio-button>
              <div class="row radio-extra-label">
                {{ profileAddress?.addressLine1}}<br/>
                <div *ngIf="profileAddress?.addressLine2">{{ profileAddress?.addressLine2}}<br/></div>
                {{ profileAddress?.city }}&nbsp;{{profileAddress?.stateProvince}}&nbsp;{{ profileAddress?.postalCode }}<br /><br/>
              </div>
              <mat-radio-button value=false>No</mat-radio-button>
              <div class="row radio-extra-label" *ngIf="damagedPropertyAddressForm.get('isPrimaryAndDamagedAddressSame').value == 'false'">
                <app-bc-address
                  [addressForm]="damagedPropertyAddressForm"
                  [primaryAddressWarning]="false"
                  [readOnly]="isReadOnly"
                ></app-bc-address>
              </div>
            </mat-radio-group>
          </div>
        </div>

        <div class="row" style="padding-top: 24px;">
          <div class="col-md-12 bottomspace">
            <p class="sub-heading" style="font-size: 15px">
              Excluding luxury/non-essential items and landscaping, do your losses total more than $1,000?<span style="color:red" >*</span>
            </p>
            <mat-radio-group
              formControlName="lossesExceed1000"
              class="primary-radio-group horizontal-radio-group"
              required
              aria-label="Select an option">
              <mat-radio-button value=true>Yes</mat-radio-button>&nbsp;&nbsp;<mat-radio-button value=false>No</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        
        <div class="row" style="padding-top: 24px;" *ngIf="isHomeowner === true || isResidentialTenant === true">
          <div class="col-md-12 bottomspace">
            <p class="sub-heading" style="font-size: 15px">
              Did you occupy the damaged property as your principal residence at the time of the event?<span style="color:red" >*</span>
            </p>
            <mat-radio-group
              formControlName="occupyAsPrimaryResidence"
              class="primary-radio-group horizontal-radio-group"
              required
              aria-label="Select an option">
              <mat-radio-button value=true>Yes</mat-radio-button>&nbsp;&nbsp;<mat-radio-button value=false>No</mat-radio-button>
            </mat-radio-group>
            <div *ngIf="damagedPropertyAddressForm.get('occupyAsPrimaryResidence').value != 'false'">
            </div>
            <div class="row radio-extra-label" *ngIf="damagedPropertyAddressForm.get('occupyAsPrimaryResidence').value == 'false'">
              You must have occupied the property as your principal residence at the time of te event to be eligible for DFA. <br/>
              You may call us to discuss further at 1-888-257-4777.<br/>
            </div>
          </div>
        </div>

        <div class="row" style="padding-top: 24px;" *ngIf="isSmallBusinessOwner == true">
          <div class="col-md-12 bottomspace">
            <p class="sub-heading" style="font-size: 15px">
              Is your business managed by all owners on a day to day basis?<span style="color:red" >*</span>
            </p>
            <mat-radio-group
              formControlName="businessManagedByAllOwnersOnDayToDayBasis"
              class="primary-radio-group horizontal-radio-group"
              required
              aria-label="Select an option">
              <mat-radio-button value=true>Yes</mat-radio-button>&nbsp;&nbsp;<mat-radio-button value=false>No</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>

        <div class="row" style="padding-top: 24px;" *ngIf="isSmallBusinessOwner == true">
          <div class="col-md-12 bottomspace">
            <p class="sub-heading" style="font-size: 15px">
              Are the gross revenues of the business more than $10,000 but less than $2
              million in the year before the disaster?<span style="color:red" >*</span>
            </p>
            <mat-radio-group
              formControlName="grossRevenues100002000000BeforeDisaster"
              class="primary-radio-group horizontal-radio-group"
              required
              aria-label="Select an option">
              <mat-radio-button value=true>Yes</mat-radio-button>&nbsp;&nbsp;<mat-radio-button value=false>No</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>

        <div class="row" style="padding-top: 24px;" *ngIf="isSmallBusinessOwner == true">
          <div class="col-md-12 bottomspace">
            <p class="sub-heading" style="font-size: 15px">
              Does the business employ less than 50 employees at any one time?<span style="color:red" >*</span>
            </p>
            <mat-radio-group
              formControlName="employLessThan50EmployeesAtAnyOneTime"
              class="primary-radio-group horizontal-radio-group"
              required
              aria-label="Select an option">
              <mat-radio-button value=true>Yes</mat-radio-button>&nbsp;&nbsp;<mat-radio-button value=false>No</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>

        <div class="row" style="padding-top: 24px;" *ngIf="isFarmOwner == true">
          <div class="col-md-12 bottomspace">
            <p class="sub-heading" style="font-size: 15px">
              Is the farm operation identified in the current assessment of the British Columbia Assessment Authority as a developing or established agricultural operation?<span style="color:red" >*</span>
            </p>
            <mat-radio-group
              formControlName="farmoperation"
              class="primary-radio-group horizontal-radio-group"
              required
              aria-label="Select an option">
              <mat-radio-button value=true>Yes</mat-radio-button>&nbsp;&nbsp;<mat-radio-button value=false>No</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>

        <div class="row" style="padding-top: 24px;" *ngIf="isFarmOwner == true">
          <div class="col-md-12 bottomspace">
            <p class="sub-heading" style="font-size: 15px">
              Is the farm operation owned and operated by a person(s) who full-time employment is as a farmer?<span style="color:red" >*</span>
            </p>
            <mat-radio-group
              formControlName="ownedandoperatedbya"
              class="primary-radio-group horizontal-radio-group"
              required
              aria-label="Select an option">
              <mat-radio-button value=true>Yes</mat-radio-button>&nbsp;&nbsp;<mat-radio-button value=false>No</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>

        <div class="row" style="padding-top: 24px;" *ngIf="isFarmOwner == true">
          <div class="col-md-12 bottomspace">
            <p class="sub-heading" style="font-size: 15px">
              Is the farm operation the means by which the owner(s) derives the majority of that person’s income?<span style="color:red" >*</span>
            </p>
            <mat-radio-group
              formControlName="farmoperationderivesthatpersonsmajorincom"
              class="primary-radio-group horizontal-radio-group"
              required
              aria-label="Select an option">
              <mat-radio-button value=true>Yes</mat-radio-button>&nbsp;&nbsp;<mat-radio-button value=false>No</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>

        <div class="row" style="padding-top: 24px;" *ngIf="isCharitableOrganization == true">
          <div class="col-md-12 bottomspace">
            <p class="sub-heading" style="font-size: 15px">
              Does the charitable/non-profit organization provide a benefit or service to the community?<span style="color:red" >*</span>
            </p>
            <mat-radio-group
              formControlName="charityProvidesCommunityBenefit"
              class="primary-radio-group horizontal-radio-group"
              required
              aria-label="Select an option">
              <mat-radio-button value=true>Yes</mat-radio-button>&nbsp;&nbsp;<mat-radio-button value=false>No</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>

        <div class="row" style="padding-top: 24px;" *ngIf="isCharitableOrganization == true">
          <div class="col-md-12 bottomspace">
            <p class="sub-heading" style="font-size: 15px">
              Has the charitable/non-profit organization been in existence for at least 12 months?<span style="color:red" >*</span>
            </p>
            <mat-radio-group
              formControlName="charityExistsAtLeast12Months"
              class="primary-radio-group horizontal-radio-group"
              required
              aria-label="Select an option">
              <mat-radio-button value=true>Yes</mat-radio-button>&nbsp;&nbsp;<mat-radio-button value=false>No</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>

        <div class="row" style="padding-top: 24px;" *ngIf="isCharitableOrganization == true">
          <div class="col-md-12 bottomspace">
            <p class="sub-heading" style="font-size: 15px">
              Is the charitable/non-profit organization registered under the BC <i>Societies Act</i>?<span style="color:red" >*</span>
            </p>
            <mat-radio-group
              formControlName="charityRegistered"
              class="primary-radio-group horizontal-radio-group"
              required
              aria-label="Select an option">
              <mat-radio-button value=true>Yes</mat-radio-button>&nbsp;&nbsp;<mat-radio-button value=false>No</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>

        <div class="row" style="padding-top: 24px;" *ngIf="isSmallBusinessOwner === true || isFarmOwner === true || isCharitableOrganization === true">
          <div class="col-md-6 bottomspace">
            <p class="sub-heading" style="font-size: 15px">
              Provide the {{ accountLegalNameLabel }} legal name.<span style="color:red" >*</span>
            </p>
            <p *ngIf="isSmallBusinessOwner === true">
              If you are a landlord, provide the property owner's name.
            </p>
            <mat-form-field appearance="outline">
              <input
                formControlName="businessLegalName"
                matInput
                required
                [readonly]="isReadOnly == true"
                placeholder="{{accountPlaceHolderLabel + ' Legal Name'}}"
                maxlength="100"/>
              <mat-hint>Maximum length is 100 characters</mat-hint>
              <mat-error
                *ngIf="
                  damagedPropertyAddressForm.get('businessLegalName').invalid &&
                  damagedPropertyAddressForm.get('businessLegalName').hasError('maxLength')
                "
              >
                Maximum length is 100 characters</mat-error
              >
              <mat-error
                *ngIf="
                  damagedPropertyAddressForm.get('businessLegalName').invalid &&
                  damagedPropertyAddressForm.get('businessLegalName').hasError('required')
                "
              >
                {{accountPlaceHolderLabel + ' Legal Name is required'}}</mat-error
              >
            </mat-form-field>
            
          </div>
        </div>

        <div class="row" style="padding-top: 24px;">
          <div class="col-md-12 bottomspace">
            <p class="sub-heading" style="font-size: 15px">
              Is this address on a First Nations reserve?<span style="color:red" >*</span>
            </p>
            <mat-radio-group
              formControlName="onAFirstNationsReserve"
              class="primary-radio-group horizontal-radio-group"
              required
              aria-label="Select an option">
              <mat-radio-button value=true>Yes</mat-radio-button>&nbsp;&nbsp;<mat-radio-button value=false>No</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>

        <!-- TODO: drop down list from ERA -->
        <div class="row" style="padding-top: 24px;" *ngIf="damagedPropertyAddressForm.get('onAFirstNationsReserve').value == 'true'">
          <div class="col-md-6 bottomspace">
            <mat-form-field appearance="outline">
              <mat-label>Name of First Nations Reserve</mat-label>
              <input
                formControlName="firstNationsReserve"
                matInput
                [readonly]="isReadOnly == true"
                placeholder="Name of First Nations Reserve"
                [required]="damagedPropertyAddressForm.get('onAFirstNationsReserve').value == 'true'"
                maxlength="100"/>
              <mat-hint>Maximum length is 100 characters</mat-hint>
              <mat-error
                *ngIf="
                  damagedPropertyAddressForm.get('firstNationsReserve').invalid &&
                  damagedPropertyAddressForm.get('firstNationsReserve').hasError('required') &&
                  damagedPropertyAddressForm.get('firstNationsReserve').touched
                "
              >
                First Nations Reserve Name is required</mat-error
              >
              <mat-error
                *ngIf="
                  damagedPropertyAddressForm.get('firstNationsReserve').invalid &&
                  damagedPropertyAddressForm.get('firstNationsReserve').hasError('maxLength')
                "
              >
                Maximum length is 100 characters</mat-error
              >
            </mat-form-field>
            
          </div>
        </div>

        <div *ngIf="damagedPropertyAddressForm.get('onAFirstNationsReserve').value != 'true'">
          
        </div>

        <div class="row" style="padding-top: 24px;" *ngIf="isHomeowner === true || isResidentialTenant === true">
          <div class="col-md-12 bottomspace">
            <p class="sub-heading" style="font-size: 15px">
              Is your home a manufactured home?
            </p>
            A manufactured home is a modular or mobile homes that is typically built in a factory off-site and then delivered and assembled on-site.
            <mat-radio-group
              formControlName="manufacturedHome"
              class="primary-radio-group horizontal-radio-group"
              aria-label="Select an option">
              <mat-radio-button value=true>Yes</mat-radio-button>&nbsp;&nbsp;<mat-radio-button value=false>No</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>

        <div class="row" style="padding-top: 24px;" *ngIf="isHomeowner">
          <div class="col-md-12 bottomspace">
            <p class="sub-heading" style="font-size: 15px">
              As the Home Owner, are you eligible for a BC Home Owner Grant for this property?<span style="color:red" >*</span>
            </p>
            <mat-radio-group
              formControlName="eligibleForHomeOwnerGrant"
              class="primary-radio-group horizontal-radio-group"
              required
              aria-label="Select an option">
              <mat-radio-button value=true>Yes</mat-radio-button>&nbsp;&nbsp;<mat-radio-button value=false>No</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>

        <div class="row" style="padding-top: 24px;" *ngIf="isResidentialTenant">
          <p class="sub-heading" style="font-size: 15px">
           Provide at least one registered building owner and/or landlord name and phone number.<span style="color:red" >*</span>
          </p>
          <div class="col-md-4">
            <mat-form-field appearance="outline">
              <mat-label>First name</mat-label>
              <input
                formControlName="landlordGivenNames"
                matInput
                placeholder="First name"
                required
                [readonly]="isReadOnly == true"
                maxlength="49"/>
              <mat-error
                *ngIf="
                  damagedPropertyAddressForm.get('landlordGivenNames').invalid &&
                  damagedPropertyAddressForm.get('landlordGivenNames').hasError('required') &&
                  damagedPropertyAddressForm.get('landlordGivenNames').touched
                "
              >
                First Name is required</mat-error
              >
              <mat-error
              *ngIf="
                damagedPropertyAddressForm.get('landlordGivenNames').invalid &&
                damagedPropertyAddressForm.get('landlordGivenNames').hasError('maxLength')
              "
            >
              Maximum length is 49 characters</mat-error
            >
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field appearance="outline">
              <mat-label>Last name</mat-label>
              <input
                formControlName="landlordSurname"
                matInput
                placeholder="Last name"
                required
                [readonly]="isReadOnly == true"
                maxlength="49"/>
              <mat-error
                *ngIf="
                  damagedPropertyAddressForm.get('landlordSurname').invalid &&
                  damagedPropertyAddressForm.get('landlordSurname').hasError('required') &&
                  damagedPropertyAddressForm.get('landlordSurname').touched
                "
              >
                Last Name is required</mat-error
              >
              <mat-error
                *ngIf="
                  damagedPropertyAddressForm.get('landlordSurname').invalid &&
                  damagedPropertyAddressForm.get('landlordSurname').hasError('maxLength')
                "
              >
                Maximum length is 49 characters</mat-error
              >
            </mat-form-field>
          </div>
          <div class="col-md-2">
            <mat-form-field appearance="outline">
              <mat-label>Contact Telephone</mat-label>
              <input formControlName="landlordPhone"
                matInput required
                [readonly]="isReadOnly == true"
                placeholder="Contact Telephone"
                [imask]="phoneMask" />
              <mat-error
                *ngIf="
                  damagedPropertyAddressForm.get('landlordPhone').invalid &&
                  damagedPropertyAddressForm.get('landlordPhone').hasError('incorrectLength')
                "
              >
                Telephone number must have 10 digits</mat-error
              >
              <mat-error
                *ngIf="
                  damagedPropertyAddressForm.get('landlordPhone').invalid &&
                  damagedPropertyAddressForm.get('landlordPhone').hasError('required') &&
                  damagedPropertyAddressForm.get('landlordPhone').touched
                "
              >
                Telephone number is required</mat-error
              >
            </mat-form-field>
          </div>
          <div class="col-md-2">
            <mat-form-field appearance="outline">
              <mat-label>Contact Email</mat-label>
              <input formControlName="landlordEmail"
                matInput
                [readonly]="isReadOnly == true"
                placeholder="Contact Email"
                type="email"
                maxlength="100"
                />
              <mat-error
                *ngIf="
                  damagedPropertyAddressForm.get('landlordEmail').invalid &&
                  damagedPropertyAddressForm.get('landlordEmail').hasError('email')
                "
              >
                Invalid email address</mat-error
              >
              <mat-error
                *ngIf="
                  damagedPropertyAddressForm.get('landlordEmail').invalid &&
                  damagedPropertyAddressForm.get('landlordEmail').hasError('maxLength')
                "
              >
                Maximum length is 100 characters</mat-error
              >
            </mat-form-field>
          </div>
        </div>

        <div class="row" style="padding-top: 24px;" *ngIf="isResidentialTenant">
          <p class="sub-heading" style="font-size: 15px">
           You may also provide a second registered building owner and/or landlord name and phone number, if applicable.
          </p>
          <div class="col-md-4">
            <mat-form-field appearance="outline">
              <mat-label>First name</mat-label>
              <input
                formControlName="landlordGivenNames2"
                matInput
                placeholder="First name"
                [readonly]="isReadOnly == true"
                maxlength="49"/>
              
              <mat-error
              *ngIf="
                damagedPropertyAddressForm.get('landlordGivenNames2').invalid &&
                damagedPropertyAddressForm.get('landlordGivenNames2').hasError('maxLength')
              "
            >
              Maximum length is 49 characters</mat-error
            >
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field appearance="outline">
              <mat-label>Last name</mat-label>
              <input
                formControlName="landlordSurname2"
                matInput
                placeholder="Last name"
                [readonly]="isReadOnly == true"
                maxlength="49"/>
              
              <mat-error
                *ngIf="
                  damagedPropertyAddressForm.get('landlordSurname2').invalid &&
                  damagedPropertyAddressForm.get('landlordSurname2').hasError('maxLength')
                "
              >
                Maximum length is 49 characters</mat-error
              >
            </mat-form-field>
          </div>
          <div class="col-md-2">
            <mat-form-field appearance="outline">
              <mat-label>Contact Telephone</mat-label>
              <input formControlName="landlordPhone2"
                matInput 
                [readonly]="isReadOnly == true"
                placeholder="Contact Telephone"
                [imask]="phoneMask" />
              <mat-error
                *ngIf="
                  damagedPropertyAddressForm.get('landlordPhone2').invalid &&
                  damagedPropertyAddressForm.get('landlordPhone2').hasError('incorrectLength')
                "
              >
                Telephone number must have 10 digits</mat-error
              >
              
            </mat-form-field>
          </div>
          <div class="col-md-2">
            <mat-form-field appearance="outline">
              <mat-label>Contact Email</mat-label>
              <input formControlName="landlordEmail2"
                matInput
                [readonly]="isReadOnly == true"
                placeholder="Contact Email"
                type="email"
                maxlength="100"
                />
              <mat-error
                *ngIf="
                  damagedPropertyAddressForm.get('landlordEmail2').invalid &&
                  damagedPropertyAddressForm.get('landlordEmail2').hasError('email')
                "
              >
                Invalid email address</mat-error
              >
              <mat-error
                *ngIf="
                  damagedPropertyAddressForm.get('landlordEmail2').invalid &&
                  damagedPropertyAddressForm.get('landlordEmail2').hasError('maxLength')
                "
              >
                Maximum length is 100 characters</mat-error
              >
            </mat-form-field>
          </div>
        </div>

      </ng-container>
    </form>

   </mat-card-content>
</mat-card>
