<div class="container">
<app-environment-banner></app-environment-banner>
  
  <div class="site-header">
    <div class="site-header-content">
      <a href="/" class="site-logo"><img src="https://dfa.gov.bc.ca/img/gov_bc_logo.svg" alt="Government of B.C."></a>
    </div>
  </div>
  <div class="hero">
    <div>
      <div class="hero-content">
        <h1>Disaster Financial Assistance (DFA)</h1>
        <p>After a disaster, the provincial government may declare the event eligible for Disaster Financial Assistance
          (DFA). On this page you will be able to access the correct portal for your application type.</p>
        <p><a style="color: white;"
            href="https://www2.gov.bc.ca/gov/content/safety/emergency-management/preparedbc/evacuation-recovery/disaster-financial-assistance"
            target="_blank">Learn more about DFA</a></p>
      </div>
    </div>
  </div>

  <div class="application">
    <div class="container">
      <div style="text-align: center;">

        <h2><b>Choose your application type below to begin.</b></h2>

        <p>Applications must be submitted within <b>90 days</b> of the disaster being declared.</p>
      </div>

      <div class="card">
        <mat-card class="cardContent">
          <mat-card-content>
            <div>
              <div class="cardHeader" style="padding-top: 16px;">
                <div>
                  <img src="images/u67.svg" alt="Individuals and Organizations" class="icon">
                </div>
                <h2>
                  Individuals and Organizations
                </h2>
              </div>
              <div class="content-divider">
                <p>
                  Private sector applicant may receive DFA assistance to restore uninsurable losses critical to homes,
                  livelihoods, or community services.
                </p>
                <p>
                  <b>
                    Want more information about eligibility?
                    <a class="links"
                      href="https://www2.gov.bc.ca/gov/content/safety/emergency-management/preparedbc/evacuation-recovery/disaster-financial-assistance"
                      target="_blank">See Private sector information</a>
                  </b>
                </p>
              </div>
            </div>
            <div>
              <div class="icon-text">
                <mat-icon class="infoIcon">info</mat-icon>
                <span>
                  <h2>Use this portal if you are a:</h2>
                </span>
              </div>
              <div class="padding-left">
                <div class="icon-text">
                  <mat-icon class="checkIcon">check_circle</mat-icon>
                  <span>Homeowner</span>
                </div>
                <div class="icon-text">
                  <mat-icon class="checkIcon">check_circle</mat-icon>
                  <span>Residential tenant</span>
                </div>
                <div class="icon-text">
                  <mat-icon class="checkIcon">check_circle</mat-icon>
                  <span>Small businesses (including landlords)</span>
                </div>
                <div class="icon-text">
                  <mat-icon class="checkIcon">check_circle</mat-icon>
                  <span>Farms</span>
                </div>
                <div class="icon-text">
                  <mat-icon class="checkIcon">check_circle</mat-icon>
                  <span>Charitable organization</span>
                </div>
              </div>
            </div>

            <div>
              <button class="applyButton" (click)="naviagteToPrivateDFA()">
                Apply to Private DFA
              </button>
              <div class="loginText">
                <p>
                  You will need your BC Services card to log in
                </p>
              </div>

            </div>

          </mat-card-content>
        </mat-card>
        <mat-card class="cardContent">
          <mat-card-content>
            <div class="cardHeader">
              <div>
                <img src="images/u80.svg" alt="Individuals and Organizations" class="icon">
              </div>
              <h2>Indigenous Governing Bodies and Local Authorities</h2>
            </div>
            <div class="content-divider">
            <p>
              Public sector applicants may receive financial assistance from the DFA program for damaged infrastructure.
            </p>
            <p>
              <b>
                Want more information about eligibility?
                <a class="links"
                  href="https://www2.gov.bc.ca/gov/content/safety/emergency-management/local-emergency-programs/financial/communities-dfa"
                  target="_blank">See Public sector information</a>
              </b>
            </p>
          </div>
            <div>
              <div class="icon-text">
                <mat-icon class="infoIcon">info</mat-icon>
                <span>
                  <h2>Use this portal if you are representing a local government:</h2>
                </span>
              </div>
              <div class="padding-left">
                <div class="icon-text">
                  <mat-icon class="checkIcon">check_circle</mat-icon>
                  <span>Indigenous Governing Bodies</span>
                </div>
                <div class="icon-text">
                  <mat-icon class="checkIcon">check_circle</mat-icon>
                  <span>Local Authorities</span>
                </div>
              </div>
            </div>
            <div style="padding-top: 65px;">
              <button class="applyButton" (click)="naviagteToPublicDFA()">
                Apply to Public DFA
              </button>
              <div class="loginText">
                <p>
                  You will need your BC BCeID to log in
                </p>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <div>

    </div>


  </div>


  <div class="site-footer">
    <div class="contact">
      <div>
        <img src="images/phonecontact.png" alt="contact" class="contactIcon">

      </div>
      <div>
        <h2>Contact us</h2>
        <div>
          <h2>
            For General Assistance
          </h2>
          <p>For questions or more information, contact the Disaster Financial Assistance team toll-free at</p>
          <a class="--link-black" href="tel:18882574777" style="font-size: 18px;">1-888-257-4777</a>
          
        </div>
        <div>
          <h2>
            Individuals, small businesses, farms or charitable organizations
          </h2>
          <p>
            Email: <a class="--link-black" href="mailto:DFA.Private&#64;gov.bc.ca">DFA.Private&#64;gov.bc.ca</a>
          </p>
        </div>
        <div>
          <h2>
            Indigenous Governing Bodies and Local Authorities
          </h2>
          <p>
            Email:<a class="--link-black" href="mailto:DFA.Public&#64;gov.bc.ca">DFA.Public&#64;gov.bc.ca</a>
          </p>
        </div>
        <div>
          <h2>
            Technical Support
          </h2>
          <p>
            <a class="--link-black" href="mailto:DFA.private@gov.bc.ca">Send a Technical Inquiry</a>
          </p>
        </div>
      </div>
    </div>
    <div class="container --site-footer-layout">
      <div class="site-footer-phone-number">
        Contact DFA Support toll-free at <a class="--link-black" href="tel:18882574777">1-888-257-4777</a>
      </div>
      <div>
        <ul class="site-footer-links">
          <li><a href="https://dfa.gov.bc.ca/" target="_blank">Home</a></li>
          <span class="divider">|</span>
          <li><a target="_blank" href="https://www2.gov.bc.ca/gov/content/about-gov-bc-ca">About gov.bc.ca</a></li>
          <span class="divider">|</span>
          <li><a target="_blank" href="https://www2.gov.bc.ca/gov/content/home/disclaimer">Disclaimer</a></li>
          <span class="divider">|</span>
          <li><a target="_blank" href="https://www2.gov.bc.ca/gov/content/home/privacy">Privacy</a></li>
          <span class="divider">|</span>
          <li><a target="_blank" href="https://www2.gov.bc.ca/gov/content/home/accessibility">Accessibility</a></li>
          <span class="divider">|</span>
          <li><a target="_blank" href="https://www2.gov.bc.ca/gov/content/home/copyright">Copyright</a></li>
          <span class="divider">|</span>
          <li><a target="_blank"
              href="https://www2.gov.bc.ca/gov/content/home/get-help-with-government-services">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </div>

</div>