<!-- Signature block -->
<div style="width:90%">
  <div class="row pl-3 pr-0">
    <div class="col-md-10 pr-0">
      <mat-label>
        <span *ngIf="whoseSignature">{{ whoseSignature }}&nbsp;</span>
        Signature
        <span style="color:red" *ngIf="isRequired == true" >*</span>
        <span *ngIf="isRequired != true">&nbsp;(optional)</span>&nbsp;
        <mat-icon style="vertical-align:text-bottom;" (click)="clearCanvas()">refresh</mat-icon>
      </mat-label>
      <canvas
        id="canvas"
        [ngStyle]="{'pointer-events': isReadOnly === true ? 'none' : ''}"
        ref="canvas"
        #canvas
        (touchstart)="preventDefault($event)"
        (touchmove)="preventDefault($event)"
        (touchend)="preventDefault($event); updateCanvas()"
        (touchcancel)="preventDefault($event); updateCanvas()"
        (mouseup)="updateCanvas()"
        (mouseleave)="updateCanvas()">
      </canvas>
    </div>
  </div>

  <div class="row p1-3 pr-0">
    <div class="col-md-10 pr-0">
      <mat-form-field appearance="outline">
        <mat-label>Print Name<span style="color:red" *ngIf="isRequired == true" >*</span></mat-label>
        <input matInput
          type="text"
          [readonly]="isReadOnly === true"
          (change)="updateSignatureBlock()"
          [(ngModel)]="signatureBlock.signedName"
          placeholder="Print Name*"
          maxlength="100"
        />
        <mat-error
                *ngIf="
                  signatureBlock.signedName?.length > 100
                "
                >Maximum length is 100 characters</mat-error
              >
      </mat-form-field>
    </div>
  </div>

  <div class="row p1-3 pr-0">
    <div class="col-md-10 pr-0">
      <mat-form-field appearance="outline" >
        <mat-label>Date<span style="color:red" *ngIf="isRequired == true" >*</span></mat-label>
        <input matInput
          [matDatepicker]="datePicker"
          [readonly]="isReadOnly === true"
          [(ngModel)]="signatureBlock.dateSigned"
          (dateChange)="updateSignatureBlock()"
          style="width:100%">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="datePicker" [disabled]="isReadOnly === true"></mat-datepicker-toggle>
        <mat-datepicker #datePicker [disabled]="isReadOnly === true"></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
</div>
