.page-subheadbold {
  font-weight: bold;
  font-size: 14px;
}

.page-navigation {
    font-size: 16px;
}

.navHeight {
    font-size: 30px;
}

::ng-deep .mat-mdc-form-field {
  display: contents !important;
}

::ng-deep .mat-typography p {
  margin: 0 0 10px !important;
}

.searchDiv {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.currencyText {
  position: relative;
  padding-left: 20px;
  border-left: 1px solid black;
}

.text-area-width {
  width: 100%
}

.wrap-text {
  overflow-wrap: anywhere;
}

.headerText {
  font-size: 0px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.page-heading {
  font-size: 25px !important;
}

.infoText {
  background: #F6F9FC 0% 0% no-repeat padding-box;
  border: 1px solid #003366;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
}

.appDetailHeader {
  /*background: #F6F9FC 0% 0% no-repeat padding-box;*/
  padding: 25px;
  margin-top: 10px;
  /*-webkit-box-shadow: 3px 0 5px #bbc9d7;
  -moz-box-shadow: 3px 0 5px #bbc9d7;
  box-shadow: 3px 0 5px #bbc9d7;*/
  border: 1px solid lightgray;
  line-height: 25px;
}

.infoIconStyle {
  font-size: 17px;
  color: rgb(38, 38, 173);
}

.infoIconCol {
  width: 20px;
  padding-top: 4px;
}

.left-align {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.view-banner {
  background-color: #fcba19;
  border-color: #ffdf25;
  box-shadow: none;
}

.align-banner {
  padding-top: 10px;
  padding-bottom: 40px;
}

.top-detail {
  font-size: 21px;
}

.button-align {
  padding-top: 20px;
  padding-bottom: 20px;
}

.button-tab-align {
  padding-bottom: 20px;
}

.mat-tab-link {
  /*background-color: rgba(204, 204, 204, 1);*/
  opacity: 1;
}

.active-tab {
  color: #169bd5 !important;
  /*background: white;*/
  border-bottom: 2px solid;

  .inactive-curr {
    display: none !important;
  }

  .active-curr {
    display: block !important;
  }
}

.active-curr {
  display: none;
}

.start-button {
  width: 100%;
  white-space: normal;
  line-height: inherit;
}

.tabHead {
  font-size: 20px;
  padding: 0 50px 0 50px;
}

.spinner {
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
}


.whitebutton {
  background-color: white;
  color: grey;
  border: 1px solid lightgrey !important;
}

.redbutton {
  background-color: red;
  color: white;
  /*border: 1px solid lightgrey !important;*/
}

.nocircle {
  height: 12px;
  float: left;
  padding-left: 6%;
  /*margin-right: -86px;*/
  margin-top: 60px;
  margin-right: 24px;
}

.circle {
  /*width: 100px;*/
  height: 12px;
  float: left;
  /*  padding-left: 17%;
  margin-right: 24px;*/
  /*margin: 60px 24px 0px 24px;*/
  margin-top: 60px;
  text-align: center;
}

.line {
  /*width: 100px;*/
  height: 12px;
  border-bottom: 2px solid black;
  float: left;
  /*padding-left: 10%;*/
  /*margin-right: 24px;*/
  margin-top: 60px;
  /*width: 11.5%;*/
}


.labelStyle {
  text-align: center;
  width: 5%;
  /*border: 1px solid black;*/
}

.headerlabelStyle {
  text-align: center;
  width: 20%;
}

.removeBorder {
  float: left;
  width: 25%;
  margin-top: 18px;
}

.lineConnector {
  border: 1px inset lightgray;
}

.lineConnectorLeft {
  float: left;
  width: 25%;
  margin-top: 18px;
}

.alignStatus {
  /*  float: left;
  width: 50%;*/
  margin-top: 6px;
}

.lineConnectorRight {
  float: right;
  width: 25%;
  margin-top: 18px;
}

.labelEmptyWidth {
  width: 5%;
  text-align: center;
  /*border: 1px solid black;*/
}

.adjustLineWidth {
  width: 8% !important;
  padding-left: 0% !important;
}

.amendment-refresh {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  flex-wrap: wrap;
  padding: 22px 0;
}

.sync-btn {
  cursor: pointer;
}

.currentStatus {
  color: #05325C;
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: bold;
  background: #f3f3f3 0% 0% no-repeat padding-box;
}

.amendmentTracker {
  min-width: 725px;
  display: flex;
  flex-direction: column;
  /*background: #F6F9FC 0% 0% no-repeat padding-box;*/
  padding: 25px;
  margin-top: 10px;
  /*-webkit-box-shadow: 3px 0 5px #bbc9d7;
  -moz-box-shadow: 3px 0 5px #bbc9d7;
  box-shadow: 3px 0 5px #bbc9d7;*/
  line-height: 25px;
  border: 1px solid lightgray;
}

.stepsDesc {
  /*width: 100px;*/
  height: 12px;
  float: left;
  /*padding-left: 6%;*/
  /*margin-right: 23px;*/
  margin-top: 30px;
  text-align: center;
}

.youAreHere {
  background-color: #faf1c9;
  padding: 4px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 12px;
  display: table-row;
}

.stepText {
  color: #313132;
  font-size: 15px;
}
