<div class="container container-frame">
  <form [formGroup]="projectAmendmentForm">
  <div class="container">
    <div class="heading-container">
      <div class="row">
        <div class="col-md-6 headerText">
          <span class="page-heading">
            {{projectName}}
            </span> 
        </div>
        <div class="col-md-3 amendment-refresh">
          <span title="Sync Amendment Details" class="material-symbols-outlined sync-btn" (click)="SyncAmendmentDetails()">
          sync
          </span>
        </div>
        <div class="col-md-3 headerText ">
          <mat-form-field appearance="outline">
           <mat-label>Select Project Amendment</mat-label>
           <mat-select formControlName="amendmentId" matInput placeholder="Project Amendment" >
             <mat-option (click)="selectAmendment(option)" *ngFor="let option of ProjectAmendments"
               [value]="option.amendmentId">
               {{ option.amendmentNumber }}
             </mat-option>
           </mat-select>
         </mat-form-field>
           
        </div>
      </div>
    </div>
    <div class="col-12" >
      <div class="amendmentTracker">
        <div class="col-md-3" style="margin: 20px;" *ngIf="isErrorInStatus == true" >
          <span style="color: red;">Error in displaying status<br /></span>
        </div>
        <table cellpadding="0" cellspacing="0">
          <tr>
            <td colspan="3" *ngFor="let item of getItems(statusBar); let i=index" id="item{{i}}" [ngClass]="'headerlabelStyle'">
              <span *ngIf="item.status != ''" class="stepText">{{item.status}}</span>
            </td>

          </tr>
          <tr>
            <td *ngFor="let item of statusBar; let i=index" id="item{{i}}" [ngClass]="item.status != '' ? 'labelStyle' : 'labelEmptyWidth'">
              <!--<div *ngIf="item.status != '' && item.currentStep == false" [ngClass]=" i == 0 ? 'removeBorder' : 'lineConnector'"></div>-->
              <div *ngIf="item.status != ''" [ngClass]="item.currentStep == false || item.status == 'Closed' ? 'alignStatus': (item.stage == '' ? 'alignStatus' : 'currentStatus')">
                <span *ngIf="status != 'Closed' && item.isCompleted == true && isErrorInStatus == false" class="material-icons" [ngStyle]="{'color': item.stage == 'Ineligible' || item.stage == 'Withdrawn' ? 'red' : 'rgb(21 178 89)'}">
                  {{ item.stage == 'Ineligible' || item.stage == 'Withdrawn' ? 'cancel' : 'check_circle' }}
                </span>
                <span *ngIf="status == 'Closed' && item.isCompleted == true && isErrorInStatus == false" class="material-icons" [ngStyle]="{'color': item.status == 'Decision Made' && (stage == 'Ineligible' || stage == 'Withdrawn') ? 'red' : 'rgb(21 178 89)'}">
                  {{ item.status == 'Decision Made' && (stage == 'Ineligible' || stage == 'Withdrawn')  ? 'cancel' : 'check_circle' }}
                </span>
                <span *ngIf="item.isCompleted == false && item.currentStep == true && isErrorInStatus == false && item.stage != ''">
                  {{item.stage}}
                </span>
                <span *ngIf="item.isCompleted == false && item.currentStep == true && isErrorInStatus == false && item.stage == ''" class="material-symbols-outlined" [ngStyle]="{'color': item.status == 'Draft' ? '#639DD4' : '#FDCB52'}">
                  {{ item.status == 'Draft' ? 'check_circle' : 'circle' }}
                </span>
                <span *ngIf="item.isCompleted == false && item.currentStep == false && isErrorInStatus == false" class="material-symbols-outlined" style="color: #FDCB52">
                  circle
                </span>
                <span *ngIf="isErrorInStatus == true" class="material-symbols-outlined" style="color: #FDCB52">
                  circle
                </span>
              </div>
              <!--<div *ngIf="item.status != '' && item.currentStep == false && (i+1) < statusBar.length" class="lineConnector"></div>-->
              <div class="lineConnector" *ngIf="item.status == '' && i > 1 && (i+1) < statusBar.length"></div>
            </td>
          </tr>
        </table>

      </div>
    </div>
    <div class="col-12 content-container appDetailHeader" >
      <div class="row">
        <div class="col-md-6"><b>Case Number - </b>{{caseNumber}} </div>
        <div class="col-md-6"><b>Date of Damage (From) - </b>{{dateOfDamageFrom | date : 'MM/dd/yyyy'}}</div>
      </div>
      <div class="row">
        <div class="col-md-6 wrap-text"><b>Cause of Damage - </b>{{causeOfDamage}}</div>
        <div class="col-md-6"><b>Date of Damage (To) - </b>{{dateOfDamageTo | date : 'MM/dd/yyyy'}}</div>
      </div>
    </div>
    <br />
    <mat-card class="card-align recoveryPlan" style="border:none;" [class.mat-elevation-z0]="true">
      <mat-card-content>
        <div class="container" style="padding-bottom: 100px; padding-top: 30px;">
        <app-alert></app-alert>
        <div class="row">
          <div class="col-md-3">
            <p  style="font-size: 15px; margin-bottom: 10px !important">
              Amendment Number
            </p>
            <mat-form-field appearance="outline" class="mat-form-round">
              <input
                formControlName="amendmentNumber"
                matInput
                />
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <p  style="font-size: 15px">
              Amendment Received Date
            </p>
            <mat-form-field appearance="outline" class="mat-form-round">
              <input matInput
                formControlName="amendmentReceivedDate"
              
                >
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="amendmentReceivedDatePicker" disabled
              ></mat-datepicker-toggle>
              <mat-datepicker #amendmentReceivedDatePicker disabled
              ></mat-datepicker>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <p  style="font-size: 15px; margin-bottom: 10px !important">
              Amendment Reason
            </p>
            <mat-form-field appearance="outline" class="mat-form-round text-area-width">
              <textarea matInput
                formControlName="amendmentReason"
                style="resize:none"
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="3"
                cdkAutosizeMaxRows="5"></textarea>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <p  style="font-size: 15px">
              Amendment Approved Date
            </p>
            <mat-form-field appearance="outline">
              <input matInput
                formControlName="amendmentApprovedDate"
                >
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="amendmentApprovedDatePicker" disabled
              ></mat-datepicker-toggle>
              <mat-datepicker #amendmentApprovedDatePicker disabled
              ></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-md-12">
            <p  style="font-size: 15px; margin-bottom: 10px !important">
              EMCR Decision Comments
            </p>
            <mat-form-field appearance="outline" class="mat-form-round text-area-width">
              <textarea matInput
                formControlName="emcrDecisionComments"
                style="resize:none"
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="3"
                cdkAutosizeMaxRows="5"></textarea>
            </mat-form-field>
          </div>
        </div>
        <hr />
        <div><b>Project Extension</b></div><br />
        <div class="row">
          <div class="col-md-3">
            <p  style="font-size: 15px; margin-bottom: 10px !important">
              Request for Project Deadline Extention
            </p>
            <mat-form-field appearance="outline" class="mat-form-round">
              <input
                formControlName="requestforProjectDeadlineExtention"
                matInput
                />
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <p  style="font-size: 15px">
              Amended Project Deadline Date
            </p>
            <mat-form-field appearance="outline">
              <input matInput
                formControlName="amendedProjectDeadlineDate"
                >
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="amendedProjectDeadlineDatePicker" disabled
              ></mat-datepicker-toggle>
              <mat-datepicker #amendedProjectDeadlineDatePicker disabled
              ></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <p  style="font-size: 15px; margin-bottom: 10px !important">
              Deadline Extension Approved
            </p>
            <mat-form-field appearance="outline" class="mat-form-round">
              <input
                formControlName="deadlineExtensionApproved"
                matInput
                />
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <p  style="font-size: 15px">
              Amended 18 Month Deadline
            </p>
            <mat-form-field appearance="outline">
              <input matInput
                formControlName="amended18MonthDeadline"
              
                >
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="amended18MonthDeadlineDatePicker" disabled
              ></mat-datepicker-toggle>
              <mat-datepicker #amended18MonthDeadlineDatePicker disabled
              ></mat-datepicker>
            </mat-form-field>
          </div>
        </div>

        <hr />
        <div><b>Additional Costs</b></div><br />
        <div class="row">
          <div class="col-md-3">
            <p  style="font-size: 15px; margin-bottom: 10px !important">
              Request for Additional Project Cost
            </p>
            <mat-form-field appearance="outline" class="mat-form-round">
              <input
                formControlName="requestforAdditionalProjectCost"
                matInput
                />
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <p  style="font-size: 15px">
              Estimated Additional Project Cost
            </p>
            <mat-form-field appearance="outline" class="mat-form-round">
  
              <div class="searchDiv">
                <input
                  #currencyBoxestimatedAdditionalProjectCost
                  id="currencyBoxestimatedAdditionalProjectCost"
                  formControlName="estimatedAdditionalProjectCost"
                  matInput
                       mask="separator.2"
                  maxlength="100"/>
                <span class="currencyText">CA$</span>
              </div>
  
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <p  style="font-size: 15px; margin-bottom: 10px !important">
              Additional Project Cost Decision
            </p>
            <mat-form-field appearance="outline" class="mat-form-round">
              <input
                formControlName="additionalProjectCostDecision"
                matInput
                />
            </mat-form-field>
          </div>
          <div class="col-md-3 costCurrency">
            <p  style="font-size: 15px">
              Approved Additional Project Cost
            </p>
            <mat-form-field appearance="outline" class="mat-form-round">
  
              <div class="searchDiv">
                <input
                  #currencyBoxapprovedAdditionalProjectCost
                  id="currencyBoxapprovedAdditionalProjectCost"
                  formControlName="approvedAdditionalProjectCost"
                  matInput
                       mask="separator.2"
                  maxlength="100"/>
                <span class="currencyText">CA$</span>
              </div>
  
            </mat-form-field>
          </div>
        </div>

      </div>
      </mat-card-content>
    </mat-card>
    </div>
</form>
</div>
