<h2 class="dialog-title"><b>Disaster Financial Assistance (DFA) Eligibility</b></h2>

<mat-dialog-content>
  <div class="col-md-12" [innerHTML]="content?.text"></div>
</mat-dialog-content>

<mat-dialog-actions style="display:flex; justify-content:space-around">
  <div class="col-md-5">
    <button class="button-s button-width" mat-button (click)="cancel()">
      {{ content?.cancelButton }}
    </button>
  </div>
  <div class="col-md-5">
    <button class="button-p button-width" mat-button (click)="confirm()">
      {{ content?.confirmButton }}
    </button>
  </div>
</mat-dialog-actions>
