<mat-card appearance="outlined" class="card-align" style="border:none;" [class.mat-elevation-z0]="true">
  <mat-card-content>

    <p class="sub-heading" style="font-size: 20px">Consent</p>
    <br/>

    <form [formGroup]="consentForm">

      <ng-container>
        <div class="row">
          <div class="col-md-12">
            <p class="sub-heading">Notice of Collection</p>
          </div>
        </div>

        <div class="row">
          <p style="font-size: 15px">
            Personal information on this form is collected by the Ministry of Emergency Management and Climate Readiness under section 26(c) and 27(1)(a) and (b) of the
            Freedom of Information and Protection of Privacy Act (FOIPPA). The information will be used to evaluate your pre, and post-disaster circumstances to determine
            eligibility for Disaster Financial Assistance. If you have any questions about the collection of this information, contact 1-888-257-4777 or DFA.Private&#64;gov.bc.ca.
          </p>
        </div>

        <br />

        <div class="row">
          <div class="col-md-12">
            <p class="sub-heading">Sharing of Information</p>
          </div>
        </div>

        <div class="row">
          <p style="font-size: 15px">
            The Ministry of Emergency Management and Climate Readiness may disclose the information on this form to other relief organizations, indigenous governing bodies,
            and governments that are offering any assistance whatsoever as a result of this disaster. The Ministry of Emergency Management and
            Climate Readiness (or its agent) may disclose information to, or collect information from, other Provincial Government Ministries and Crown Corporations, as permitted by
            FOIPPA, to verify that the information provided on this form is accurate. Specifically, I/we authorize BC Assessment to provide representatives from
            the Ministry of Emergency Management and Climate Readiness with confidential information about my/our property. This information will assist the Ministry of Emergency
            Management and Climate Readiness in assessing damages from the recent authorized DFA event. Personal information is protected from unauthorized use and disclosure
            in accordance with the Freedom of Information and Protection of Privacy Act and may be disclosed only as provided by that Act.
          </p>
        </div>

        <br />

        <div class="row">
          <div class="col-md-12">
            <p class="sub-heading">Information Viewable at Any Time by DFA Staff</p>
          </div>
        </div>

        <div class="row">
          <p style="font-size: 15px">
            Information collected on this application form may be viewable by Disaster Financial Assistance Staff whether the application has been submitted or not.
          </p>
        </div>
        <br />

      </ng-container>
    </form>

  </mat-card-content>
</mat-card>
