.vs
**/node_modules/
# environment variables for docker-compose
*.env
# Openshift parameter files
/openshift/**/*.params
/openshift/**/*.json
**/openshift/templates/*.params
**/openshift/templates/*.json
# Angular local environment files
**/environment.local.ts
DFAautomationTests/bin/chromedriver.exe

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
bin/
Bin/
obj/
Obj/
