.vs
**/node_modules/
# environment variables for docker-compose
*.env
# Openshift parameter files
/openshift/**/*.params
/openshift/**/*.json
**/openshift/templates/*.params
**/openshift/templates/*.json
# Angular local environment files
**/environment.local.ts
DFAautomationTests/bin/chromedriver.exe

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
bin/
Bin/
obj/
Obj/

# dfa-public/src/UI/embc-dfa/src/app/core/api/services/

dfa-public/src/UI/embc-dfa/package-lock.json
/.idea/.idea.emcr-dfa-portal.dir/.idea
/dfa/src/UI/embc-dfa/.browserslistrc
/DFAautomationTests/.idea
/DFAautomationTests/target
/DFAautomationTests/DFAautomationTests.iml
/DFAautomationTests/src/main/java/dfa/WebDriverManager.java
/DFAautomationTests/src/test/java/CreateNewApplicationHomeowner.java
