mat-form-field {
  width: 100%;
}

// .mat-form-field + .mat-form-field {
//   margin-left: 8px;
// }

.primary-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.primary-radio-button {
  margin: 5px;
}

.highlight {
  font-weight: 700;
  color: #169bd5;
}

.mat-mdc-header-cell {
  font-weight: 700;
  font-size: 15px;
  color: black;
  height: 51px;
}

.example-element-row {
  height: 51px !important;
  border: 1px solid;
  border-color: rgb(204, 204, 204);
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.file-input {
  display: none;
}

.details-button {
  width: 100%;
}

.addcleanup-button {
  border: 2px solid #169bd5 !important;
  color: #169bd5;
  background-color: #ffffff !important;
}

.save-button {
  height: 55px;
}

table {
  width: 99.99%;
  box-shadow: none;
}

.mat-mdc-table {
  overflow: auto;
  width: 100%;
  max-height: 500px;
}

.mat-column-deleteIcon {
  text-align: right;
  justify-content: flex-end;
}

@media (max-width: 600px) {
  .mobile-label {
    width: 80px;
    display: inline-block;
    font-weight: bold;
  }
}

.services-info {
  background-color: #fcba19;
  border-color: #fcba19;
  margin: 7px;
  padding: 15px;
}

.text-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.centered {
  font-family: sans-serif;
  font-size: 1.3em;
  text-align: center;
}

.dropzone {
  height: 200px;
  display: table;
  width: 100%;
  background-color: #eee;
  border: dotted 1px #aaa;
}

input[type="file"] {
  display: none;
}

.textLink {
  text-decoration: underline;
  text-decoration-color: cornflowerblue;
  color: cornflowerblue;
}

