<mat-card appearance="outlined" class="card-align" style="border: none;"
          [class.mat-elevation-z0]="true">
  <mat-card-content>

  <p class="sub-heading" style="font-size: 20px">Clean Up Log</p>
  <br />

  <form [formGroup]="cleanUpLogWorkForm">

      <div formGroupName="cleanuplog">
        <ng-container>


          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-12">
                  <p>You don't need to complete and submit the clean up log with the initial application.<br />
                  Please track, on a daily basis, the number of hours you, your family and friends spent on cleanup.</p>
                  <p>
                    Please do not wait for the evaluator to arrive before beginning your clean up.<br />
                    1. Where possible, applicant should take pictures of damaged contents.<br />
                    2. For structural damage, if the repairs must be done before the evaluator arrives,<br />
                    please take pictures of the damage before it is repaired.<br />
                    3. If you have rented or hired
                    equipment or other suppliers to assist you with cleanup, keep receipts or invoices.<br />
                    You may provide these receipts to the evaluator during the site visit.<br />
                    4. For further information about cleanup and disinfection, please refer to<br />
                    <a target="_blank" href="https://www2.gov.bc.ca/gov/content/safety/emergency-management/preparedbc/know-your-hazards/floods/after-flood">Recovering After a Flood</a>
                    which is available on the
                    <a target="_blank" href="https://www2.gov.bc.ca/gov/content/safety/emergency-management/preparedbc/evacuation-recovery/disaster-financial-assistance">DFA website</a>
                    or by contacting our office toll-free at 1-888-257-4777
                  </p>
                </div>
              </div>
              <p class="sub-heading">
                <b>Provide the date, names, hours worked and description of work</b>
              </p>
              <!--<p class="sub-heading" style="font-size: 15px" *ngIf="cleanUpWorkDataSource.getValue().length == 0">
                Add a new clean up log
              </p>-->

              <table mat-table [dataSource]="cleanUpWorkDataSource" *ngIf="cleanUpWorkDataSource.getValue().length > 0">
                 <!-- Date Column -->
                <ng-container matColumnDef="date" style="width:40%">
                  <th mat-header-cell *matHeaderCellDef >
                    <b>Date</b>
                  </th>
                  <td *matCellDef="let element" mat-cell>
                    {{ element.date | date : "yyyy/MM/dd" }}
                  </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name" style="width:40%">
                  <th mat-header-cell *matHeaderCellDef >
                    <b>Name</b>
                  </th>
                  <td *matCellDef="let element" mat-cell>
                    {{ element.name }}
                  </td>
                </ng-container>

                <!-- Hours Column -->
                <ng-container matColumnDef="hours" style="width:40%">
                  <th mat-header-cell *matHeaderCellDef>
                    <b>Hours</b>
                  </th>
                  <td *matCellDef="let element" mat-cell>
                    {{ element.hours}}
                  </td>
                </ng-container>

                 <!-- Description Column -->
                <ng-container matColumnDef="description" style="width:40%">
                  <th mat-header-cell *matHeaderCellDef>
                    <b>Description</b>
                  </th>
                  <td *matCellDef="let element" mat-cell>
                    {{ element.description}}
                  </td>
                </ng-container>

                <!-- Delete Icon Column -->
                <ng-container matColumnDef="deleteIcon" style="width:20%">
                  <th mat-header-cell *matHeaderCellDef>
                    &nbsp;
                  </th>
                  <td *matCellDef="let element; let index = index" mat-cell>
                    <button
                      class="delete-image"
                      *ngIf="vieworedit !== 'viewOnly'"
                      mat-icon-button
                      aria-label="Remove"
                      (click)="confirmDeleteCleanuplogRow(index)"
                  >
                    <img src="/assets/images/delete.svg" height="35" width="35" />
                    <img
                      src="/assets/images/delete_onhover.svg"
                      height="35"
                      width="35"
                    />
                    </button>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="cleanUpWorkColumnsToDisplay"></tr>
                <tr
                  mat-row
                  *matRowDef="let element; columns: cleanUpWorkColumnsToDisplay"
                  class="example-element-row"
                ></tr>

              </table>

              <div  *ngIf="cleanUpWorkDataSource.getValue().length > 0">
                <br /><br/>
              </div>

              <div  *ngIf="cleanUpWorkDataSource.getValue().length == 0 && vieworedit == 'viewOnly'">
                <br />No cleanup logs were added.<br/>
              </div>

              <button
                *ngIf="!showCleanUpWorkForm && vieworedit !== 'viewOnly'"
                class="addcleanup-button"
                mat-button
                type="button"
                (click)="addCleanupLog()"
              >
                + Add to clean up log
              </button>

              <mat-card appearance="outlined" *ngIf="showCleanUpWorkForm" style="padding: 12px;">
                <p class="sub-heading" style="font-size: 15px">
                  New Clean Up Log
                </p>
                <div class="row">
                  <div class="col-md-4">
                    <mat-form-field appearance="outline">
                      <mat-label>Date</mat-label>
                      <input matInput
                        [matDatepicker]="fromPicker"
                        formControlName="date"
                        [max]="todayDate"
                        required >
                      <mat-hint>MM/DD/YYYY</mat-hint>
                      <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
                      <mat-datepicker #fromPicker></mat-datepicker>
                      <mat-error
                        *ngIf="
                          cleanUpLogWorkForm.get('cleanuplog.date').invalid &&
                          cleanUpLogWorkForm.get('cleanuplog.date').hasError('required') &&
                          cleanUpLogWorkForm.get('cleanuplog.date').touched
                        "
                      >
                        Date is required</mat-error
                      >
                      <mat-error
                        *ngIf="
                          cleanUpLogWorkForm.get('cleanuplog.date').invalid &&
                          cleanUpLogWorkForm.get('cleanuplog.date').hasError('matDatepickerMax') &&
                          cleanUpLogWorkForm.get('cleanuplog.date').touched
                        ">
                        Date cannot be in the future
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field appearance="outline">
                      <mat-label>Name of family member/volunteer</mat-label>
                      <input formControlName="name" matInput placeholder="Name of family member/volunteer" required maxlength="100"/>
                      <mat-error
                        *ngIf="
                          cleanUpLogWorkForm.get('cleanuplog.name').invalid &&
                          cleanUpLogWorkForm.get('cleanuplog.name').hasError('required') &&
                          cleanUpLogWorkForm.get('cleanuplog.name').touched
                        "
                      >
                        First Name is required</mat-error
                      >
                      <mat-error
                        *ngIf="
                          cleanUpLogWorkForm.get('cleanuplog.name').invalid &&
                          cleanUpLogWorkForm.get('cleanuplog.name').hasError('maxLength')
                        "
                      >
                        Maximum length is 100 characters</mat-error
                      >
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field appearance="outline">
                      <mat-label>Hours</mat-label>
                      <input formControlName="hours" matInput placeholder="Hours" required type="number" max="100000000000" min="0"/>
                      <mat-error
                        *ngIf="
                          cleanUpLogWorkForm.get('cleanuplog.hours').invalid &&
                          cleanUpLogWorkForm.get('cleanuplog.hours').hasError('required') &&
                          cleanUpLogWorkForm.get('cleanuplog.hours').touched
                        "
                      >
                        Hours worked are required</mat-error
                      >
                      <mat-error
                        *ngIf="
                          cleanUpLogWorkForm.get('cleanuplog.hours').invalid &&
                          (cleanUpLogWorkForm.get('cleanuplog.hours').hasError('max') || cleanUpLogWorkForm.get('cleanuplog.hours').hasError('min'))
                        "
                      >
                        Hours worked must be > 0 and less than 100 000 000 000</mat-error
                      >
                    </mat-form-field>
                  </div>
                  <div class="col-md-4" style="padding-top: 10px;">
                    <mat-form-field appearance="outline">
                      <mat-label>Description</mat-label>
                      <input formControlName="description" matInput placeholder="Description" required maxlength="200" />
                      <mat-hint>Maximum length is 200 characters</mat-hint>
                      <mat-error
                        *ngIf="
                          cleanUpLogWorkForm.get('cleanuplog.description').invalid &&
                          cleanUpLogWorkForm.get('cleanuplog.description').hasError('required') &&
                          cleanUpLogWorkForm.get('cleanuplog.description').touched
                        "
                      >
                      Description is required</mat-error
                      >
                      <mat-error
                        *ngIf="
                          cleanUpLogWorkForm.get('cleanuplog.description').invalid &&
                          cleanUpLogWorkForm.get('cleanuplog.description').hasError('maxLength')
                        "
                      >
                        Maximum length is 200 characters</mat-error
                      >
                    </mat-form-field>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-3">
                    <button
                      class="button-s details-button"
                      mat-button
                      type="button"
                      (click)="cancelNewCleanupLog()"
                    >
                      Cancel
                    </button>
                  </div>
                  <div class="col-md-3">
                    <button
                      class="addcleanup-button details-button save-button"
                      mat-button
                      type="button"
                      (click)="saveNewCleanupLog()"
                    >
                      Save
                    </button>
                  </div>
                </div>

              </mat-card>

              <br /><br />


            </div>

          </div>

        </ng-container>

      </div>
  </form>

  <ng-container >
    <div class="row">
      <div class="col-md-8">
        <app-dfa-attachment
          *ngIf="vieworedit !== 'viewOnly'"
          title="Cleanup Invoices/Receipts"
          description=" If you have invoices/receipts for cleanup or repairs, please have them available during the site meeting to help the evaluator identify eligible costs. <br />You may also attach them to this application"
          [allowedFileTypes]="allowedFileTypes"
          allowedFileExtensionsList=".pdf, .doc, .docx, .png, .jpeg, .jpg, .ppt, .pptx, .xls, .xlsx"
          fileType="Cleanup"
          excludeFileTypes="[]"
          (saveFileUpload)="saveNewCleanupLogFile($event)"
          (cencelFileUpload)="cancelNewCleanupLogFile()"
          [fileUpload]="formCreationService.fileUploadsForm.value.get('cleanupFileUpload')"
        ></app-dfa-attachment>
        <app-loader
        class="spinner"
        [showLoader]="isLoading"
        strokeWidth="10"
        diameter="50"
      >
      </app-loader>
      </div>
    </div>
  </ng-container>
  <br/><br/>

  <ng-container>
    <div class="row">
      <div class="col-md-12">

        <table mat-table [dataSource]="cleanUpWorkFileDataSource" *ngIf="cleanUpWorkFileDataSource.data.length > 0">


          <!-- File Name Column -->
          <ng-container matColumnDef="fileName" style="width:40%">
            <th mat-header-cell *matHeaderCellDef >
              <b>File Name</b>
            </th>
            <td *matCellDef="let elementFile" mat-cell>
              {{ elementFile.fileName }}
            </td>
          </ng-container>

          <!-- File Description Column -->
          <ng-container matColumnDef="fileDescription" style="width:40%">
            <th mat-header-cell *matHeaderCellDef>
              <b>File Description</b>
            </th>
            <td *matCellDef="let elementFile" mat-cell>
              {{ elementFile.fileDescription}}
            </td>
          </ng-container>

            <!-- Date Column -->
          <ng-container matColumnDef="uploadedDate" style="width:40%">
            <th mat-header-cell *matHeaderCellDef >
              <b>Date</b>
            </th>
            <td *matCellDef="let elementFile" mat-cell>
              {{ elementFile.uploadedDate | date : "yyyy/MM/dd" }}
            </td>
          </ng-container>

          <!-- Delete Icon Column -->
          <ng-container matColumnDef="deleteIcon" style="width:20%">
            <th mat-header-cell *matHeaderCellDef>
              &nbsp;
            </th>
            <td *matCellDef="let elementFile" mat-cell>
              <button
              class="delete-image"
              mat-icon-button
              aria-label="Remove"
              (click)="confirmDeleteCleanupLogFileRow(elementFile)"
              *ngIf="vieworedit !== 'viewOnly'"
            >
              <img src="/assets/images/delete.svg" height="35" width="35" />
              <img
                src="/assets/images/delete_onhover.svg"
                height="35"
                width="35"
              />
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="cleanUpWorkFileColumnsToDisplay"></tr>
          <tr
            mat-row
            *matRowDef="let elementFile; columns: cleanUpWorkFileColumnsToDisplay"
            class="example-element-row"
          ></tr>

        </table>

        <div  *ngIf="cleanUpWorkFileDataSource.data.length > 0">
          <br/>
        </div>
        <div  *ngIf="cleanUpWorkFileDataSource.data.length == 0">
          <br />No cleanup photos were added.<br/>
        </div>
      </div>
    </div>
  </ng-container>

  </mat-card-content>
</mat-card>
