<mat-card class="card-align" style="border:none;" [class.mat-elevation-z0]="true">
  <mat-card-content>

    <form [formGroup]="propertyDamageForm">
      <p class="sub-heading" style="font-size: 20px">Cause of Damage</p>
      <br/>

      <ng-container>
        <div class="row">
          <div class="col-md-12 bottomspace">
            <p class="sub-heading" style="font-size: 15px">
              Select the cause(s) of damage.<span style="color:red" >*</span>
            </p>
            <mat-checkbox
              formControlName="floodDamage"
              >
              Flood Damage
            </mat-checkbox><br/>
            <mat-checkbox
              formControlName="landslideDamage"
              >
              Landslide Damage
            </mat-checkbox><br/>
            <mat-checkbox
              formControlName="stormDamage"
              >
              Storm Damage
            </mat-checkbox><br/>
            <mat-checkbox
              formControlName="wildfireDamage"
              >
              Wildfire Damage
            </mat-checkbox><br/>
            <mat-checkbox
              formControlName="otherDamage"
              class="col-md-4"
            >
              Other Damage
            </mat-checkbox>
            <mat-form-field appearance="outline" [hidden]="propertyDamageForm.get('otherDamage').value !== true" class="col-md-4 topSpace">
              <mat-label>Cause of Damage</mat-label>
              <input matInput
                [required]="propertyDamageForm.get('otherDamage').value === true || propertyDamageForm.get('otherDamage').value === 'true'"
                type="text"
                [readonly]="isReadOnly === true"
                formControlName="otherDamageText"
                placeholder="Cause of damage*"
                maxlength="100"
              />
              <mat-hint>Maximum length is 100 characters</mat-hint>
              <mat-error
                *ngIf="
                propertyDamageForm.get('otherDamageText').invalid &&
                propertyDamageForm.get('otherDamageText').hasError('required')
              "
              >
                Text is required</mat-error
              >
              <mat-error
                *ngIf="
                  propertyDamageForm.get('otherDamageText').invalid &&
                propertyDamageForm.get('otherDamageText').hasError('maxLength')
                "
              >
                Maximum length is 100 characters</mat-error
              >
            </mat-form-field>
            <mat-error *ngIf="propertyDamageForm.hasError('noCauseOfDamage')">
              <br/>At least one cause of damage is required.
            </mat-error>
          </div>
        </div><br/><br/>

        <div class="row">
          <p class="sub-heading" style="font-size: 15px">
            Date(s) of damage?<span style="color:red" >*</span>
          </p>
          <div class="col-md-4">
            <mat-form-field appearance="outline" >
              <mat-label>From date</mat-label>
              <input matInput
                [matDatepicker]="fromPicker"
                [readonly]="isReadOnly === true"
                formControlName="damageFromDate"
                [max]="propertyDamageForm.get('damageToDate').value ? propertyDamageForm.get('damageToDate').value : todayDate"
                required >
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="fromPicker" [disabled]="isReadOnly === true"
              ></mat-datepicker-toggle>
              <mat-datepicker #fromPicker [disabled]="isReadOnly === true"
              ></mat-datepicker>
              <mat-error
                *ngIf="
                propertyDamageForm.get('damageFromDate').invalid &&
                propertyDamageForm.get('damageFromDate').hasError('required')
              "
              >
                From date is required</mat-error
              >
              <mat-error
              *ngIf="
              propertyDamageForm.get('damageFromDate').invalid &&
              propertyDamageForm.get('damageFromDate').hasError('matDatepickerMax')
            "
            >
              From date cannot be in the future or after to date</mat-error
            >
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field appearance="outline">
              <mat-label>To date</mat-label>
              <input matInput
                [matDatepicker]="toPicker"
                formControlName="damageToDate"
                [readonly]="isReadOnly === true"
                [min]="propertyDamageForm.get('damageFromDate').value ? propertyDamageForm.get('damageFromDate').value : '2000-01-01'"
                [max]="todayDate"
                required>
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="toPicker" [disabled]="isReadOnly === true"
              ></mat-datepicker-toggle>
              <mat-datepicker #toPicker [disabled]="isReadOnly === true"
              ></mat-datepicker>
              <mat-error
                *ngIf="
                propertyDamageForm.get('damageToDate').invalid &&
                propertyDamageForm.get('damageToDate').hasError('required')
              "
              >
                To date is required</mat-error
              >
              <mat-error
                *ngIf="
                propertyDamageForm.get('damageToDate').invalid &&
                propertyDamageForm.get('damageToDate').hasError('matDatepickerMin')
              "
              >
                To date cannot be before from date</mat-error
              >
              <mat-error
                *ngIf="
                propertyDamageForm.get('damageToDate').invalid &&
                propertyDamageForm.get('damageToDate').hasError('matDatepickerMax')
              "
              >
                To date cannot be a future date</mat-error
              >
            </mat-form-field>
          </div>
        </div><br/><br/>


      </ng-container>
    </form>

  </mat-card-content>
</mat-card>
