<div class="container container-frame">

    <div class="row heading-container">
        <div class="col-8">
            <span class="page-heading">Claim Details</span>
        </div>

        <div class="col-4">
            <button #backtodash id="backtodash" class="button-p nextNsave col-4"
                style="vertical-align: middle; width: 220px; margin-top: 15px" (click)="BackToDashboard()"
                mat-stroked-button type="button">
                Back to Claim Dashboard
                <app-loader [strokeWidth]="3" [diameter]="25"></app-loader>
            </button>
        </div>
    </div>

    <mat-horizontal-stepper [selectedIndex]="selectedStepIndex" class="stepper-style" labelPosition="bottom"
        [linear]="false">
        <mat-step [editable]="false" [completed]="true">
            <ng-template matStepLabel>Claim Submission</ng-template>
        </mat-step>
        <mat-step [editable]="false" [completed]="true">
            <ng-template matStepLabel>Add Invoices</ng-template>
        </mat-step>
        <mat-step [editable]="false" [completed]="true">
            <ng-template matStepLabel>Upload Documents</ng-template>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Decision</ng-template>
        </mat-step>

        <ng-template matStepperIcon="edit" let-index="index">
            {{ index + 1 }}
        </ng-template>
    </mat-horizontal-stepper>

    <div>
        <mat-card>
            <mat-card-content>
                <div style="border-bottom: 1px solid lightgrey; padding-bottom: 15px; display: flex;">
                    <div class="col-md-4">
                        <span><b>Claim Number - </b></span>
                        <span>{{recoveryClaim?.claim.claimNumber}}</span>
                    </div>
                    <div class="col-md-3">
                        <span><b>Submitted Date - </b></span>
                        <span>{{recoveryClaim?.claim.claimReceivedDate}}</span>
                    </div>
                    <div class="col-md-2">
                        <span><b>Claim Status - </b></span>
                        <span> {{recoveryClaim?.claim.stage}}</span>
                    </div>
                </div>

                <div class="claim-details">

                    <div class="col-md-2">
                        <span><b>First Claim - </b></span>
                    </div>
                    <div class="col-md-2">
                        <span>{{recoveryClaim?.claim.isFirstClaimApproved == true ? 'Yes' :
                            (recoveryClaim?.claim.isFirstClaimApproved == false ? 'No' : 'Not Set')}}</span>
                    </div>
                    <div class="col-md-2">
                        <span><b>Approved Claim Total - </b></span>
                    </div>
                    <div class="col-md-2">
                        <span>CA$ {{recoveryClaim?.claim.approvedClaimTotal | number: '1.2-2'}}</span>
                    </div>
                    <div class="col-md-2">
                        <span><b>Eligible Payable - </b></span>
                    </div>
                    <div class="col-md-2">
                        <span>CA$ {{recoveryClaim?.claim.eligiblePayable | number: '1.2-2'}}</span>
                    </div>
                </div>
                <div class="claim-details">
                    <div class="col-md-2">
                        <span><b>Final Claim - </b></span>
                    </div>
                    <div class="col-md-2">

                        <span>{{recoveryClaim?.claim.isThisFinalClaim == true ? 'Yes' :
                            (recoveryClaim?.claim.isThisFinalClaim == false ? 'No' : 'Not Set')}}</span>
                    </div>
                    <div class="col-md-2">
                        <span><b>$1000 Deductible - </b></span>
                    </div>
                    <div class="col-md-2">
                        <span>
                            {{ isAdvPayClaim ? 'N/A' : ('CA$ ' + (recoveryClaim?.claim.lessFirst1000 | number: '1.2-2')) }}
                        </span>
                    </div>
                    <div class="col-md-2">
                        <span><b>Paid Claim Amount - </b></span>
                    </div>
                    <div class="col-md-2">
                        <span>CA$ {{recoveryClaim?.claim.paidClaimAmount | number: '1.2-2'}}</span>
                    </div>
                </div>
                <div class="claim-details">

                    <div class="col-md-2">
                        <span><b> Claim Total - </b></span>
                    </div>
                    <div class="col-md-2">
                        <span>CA$ {{recoveryClaim?.claim.claimTotal | number: '1.2-2'}}</span>
                    </div>
                    <div class="col-md-2">
                    <span><b>Reimbursement % - </b></span>
                    </div>
                    
                    <div class="col-md-2">
                       
                    <span>
                        {{ isAdvPayClaim ? 'N/A' : recoveryClaim?.claim.approvedReimbursement }}
                    </span>
                    </div>
                    <div class="col-md-2">
                        <span><b>Paid Claim Date - </b></span>
                    </div>
                    <div class="col-md-2">
                        <span>{{recoveryClaim?.claim.paidClaimDate}}</span>
                    </div>
                </div>
                <div class="claim-details">
                    <div class="col-md-2">
                        <span><b> Advanced Drawdown Amount - </b></span>
                    </div>
                    <div class="col-md-2">
                        <span>{{ isAdvPayClaim ? 'CA$ 0.00' : ('CA$ ' + ( recoveryClaim?.claim.advancedDrawdownAmount | number: '1.2-2')) }}</span>
                         
                    </div>
                </div>
            </mat-card-content>
        </mat-card>

    </div>

    <div>

        <table mat-table [dataSource]="documentSummaryDataSourceFiltered"
            *ngIf="documentSummaryDataSourceFiltered.data.length > 0" style="width: 100%">

            <!-- Check Circle Icon Column -->
            <ng-container matColumnDef="checkCircle">
                <th mat-header-cell *matHeaderCellDef style="width: 5%">

                </th>
                <td mat-cell *matCellDef="let element">
                    <span *ngIf="element.emcrDecision === ''" class="material-symbols-outlined">
                        circle
                    </span>
                    <span *ngIf="element.emcrDecision === InvoiceDecisionEnum?.ApprovedTotal"
                        class="material-symbols-outlined circleicon1">
                        check_circle
                    </span>
                    <span *ngIf="element.emcrDecision === InvoiceDecisionEnum?.ApprovedPartial"
                        class="material-symbols-outlined circleicon2">
                        check_circle
                    </span>
                    <span *ngIf="element.emcrDecision === InvoiceDecisionEnum?.Denied"
                        class="material-symbols-outlined circleicon3">
                        cancel
                    </span>
                </td>
            </ng-container>

            <!-- Invoice Number Column -->
            <ng-container matColumnDef="invoiceNumber">
                <th mat-header-cell *matHeaderCellDef style="width: 15%">
                    <b>Invoice Number</b>
                </th>
                <td *matCellDef="let element" mat-cell>
                    {{ element.invoiceNumber }}
                </td>
            </ng-container>

            <!-- Vendor Name -->
            <ng-container matColumnDef="vendorName">
                <th mat-header-cell *matHeaderCellDef style="width: 20%">
                    <b>Vendor Name</b>
                </th>
                <td *matCellDef="let element" mat-cell>
                    {{ element.vendorName }}
                </td>
            </ng-container>

            <!-- Invoice Date Column -->
            <ng-container matColumnDef="invoiceDate">
                <th mat-header-cell *matHeaderCellDef style="width: 10%">
                    <b>Invoice Date</b>
                </th>
                <td *matCellDef="let element" mat-cell>
                    {{ element.invoiceDate | date: 'dd-MMM-yyyy' }}
                </td>
            </ng-container>

            <!-- Total Claim Column -->
            <ng-container matColumnDef="totalBeingClaimed">
                <th mat-header-cell *matHeaderCellDef style="width: 18%">
                    <b>Total being Claimed</b>
                </th>
                <td *matCellDef="let element" mat-cell>$&nbsp;{{ element.totalBeingClaimed | number: '1.2-2' }}</td>
            </ng-container>

            <!-- Invoice Amount -->
            <ng-container matColumnDef="invoiceAmount">
                <th mat-header-cell *matHeaderCellDef style="width: 18%">
                    <b>Invoice Amount</b>
                </th>
                <td *matCellDef="let element" mat-cell>$&nbsp;{{ element.totalBeingClaimed | number: '1.2-2' }}</td>
            </ng-container>

            <!-- EMCR Approved Amount -->
            <ng-container matColumnDef="emcrApprovedAmount">
                <th mat-header-cell *matHeaderCellDef style="width: 17%">
                    <b>EMCR Approved Amount</b>
                </th>
                <td *matCellDef="let element" mat-cell>
                    <div>
                        $&nbsp;{{ element.emcrApprovedAmount | number: '1.2-2' }}
                    </div>
                </td>
            </ng-container>

            <!-- EMCR Comments -->
            <!-- <ng-container matColumnDef="emcrComments" *ngIf="vieworedit == 'viewOnly' || vieworedit == 'view'">
          <th mat-header-cell *matHeaderCellDef style="width: 10%">
            <b>EMCR Comments</b>
          </th>
          <td *matCellDef="let element" mat-cell>
            <span (click)="viewEMCRComment(element, index)" class="material-symbols-outlined setViewIcon">
              chat_bubble
            </span>
          </td>
        </ng-container> -->

            <!-- View Invoices -->
            <ng-container matColumnDef="viewInvoice">
                <th mat-header-cell *matHeaderCellDef style="width: 10%">
                    <b>View Invoices</b>
                </th>
                <td *matCellDef="let element" mat-cell>
                    <span (click)="viewInvoiceRow(element, index)" class="material-symbols-outlined setViewIcon">
                        visibility </span>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="documentSummaryColumnsToDisplay"></tr>
            <tr mat-row *matRowDef="let element; columns: documentSummaryColumnsToDisplay" class="example-element-row"
                [style.height]="'auto'"></tr>
        </table>

        <!-- <div *ngIf="documentSummaryDataSourceFiltered.data.length === 0" class="no-data-message">
            <span>No Invoices Found</span>
        </div> -->


    </div>

    <div class="invoice-status-container" style="display: flex; align-items: center;">
        <div>
            <span class="material-symbols-outlined circleicon1">
                check_circle
            </span>
            Approved Total
        </div>
        <div>
            <span class="material-symbols-outlined circleicon2">
                check_circle
            </span>
            Approved Partial
        </div>
        <div>
            <span class="material-symbols-outlined circleicon3">
                cancel
            </span>
            Denied
        </div>

    </div>

    <div [featureEnabled]="'useAppeals'">
        <div style="padding-bottom: 70px;" class="appealClaims" *ngIf="!recoveryClaim?.claim.claimAppeals && !recoveryClaim?.claim?.isAdjustmentClaim">
            <div *ngIf="canAppealClaims(recoveryClaim)" >
                <div style="padding: 12px;">
                    <i>Amount Approval decisions can be appealed for 60 days ({{remainingDays(recoveryClaim)}} days
                        remaining).</i>
                </div>
              
            </div>
            <button id="open-appeal-decision" class="button-p" style="width: 220px;" mat-stroked-button
                type="button" (click)="openAppealDecision()"
                [disabled]="remainingDays(recoveryClaim) <= 0 && !recoveryClaim?.claim?.lateAppealAllowed"
                [matTooltip]="(remainingDays(recoveryClaim) <= 0 && !recoveryClaim?.claim?.lateAppealAllowed ) ? 'The 60 day deadline has passed and the claim amount cannot be appealed.' : ''"
                matTooltipPosition="above">
                Appeal Decision
                <app-loader [strokeWidth]="3" [diameter]="25"></app-loader>
            </button>
        </div>
    </div>
   

</div>