<p>Please enter your address</p>
<form [formGroup]="addressForm">
  <div class="row">
    <div class="col-md-5">
      <mat-form-field appearance="outline">
        <mat-label>Address Line 1</mat-label>
        <input
          [formControlName]="'addressLine1'"
          maxlength="100"
          matInput
          placeholder="Address Line 1"
          required
          [formControl]="myControlAddr"
          [matAutocomplete]="autoAddress1"
          (input)="checkCanadaPostAddress(myControlAddr,
            addressFormControl?.addressLine2,
            addressFormControl?.community,
            addressFormControl?.stateProvince,
            addressFormControl?.postalCode,
            addressMatchResponse
            )"
        />
        <mat-error
          *ngIf="
            addressFormControl?.addressLine1.invalid &&
            addressFormControl?.addressLine1.hasError('required')
          "
        >
          Address Line 1 is required</mat-error
        >
        <mat-error
          *ngIf="
            addressFormControl?.addressLine1.invalid &&
            addressFormControl?.addressLine1.hasError('maxLength')
          "
        >
          Maximum length is 100 characters</mat-error
        >
        <mat-autocomplete autoActiveFirstOption #autoAddress1="matAutocomplete">
        
        <mat-option (onSelectionChange)="selectOption(option, addressMatchResponse)"
            *ngFor="let option of filteredAddress | async"
            [value]="option.name"
          >
            {{ option.name }}
          </mat-option>
      </mat-autocomplete>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      <mat-form-field appearance="outline">
        <mat-label>Address Line 2</mat-label>
        <input
          [formControlName]="'addressLine2'"
          maxlength="100"
          matInput
          placeholder="Address Line 2"
          (focusout)="checkCanadaPostAddress(addressFormControl?.addressLine1,
               addressFormControl?.addressLine2,
               addressFormControl?.community,
               addressFormControl?.stateProvince,
               addressFormControl?.postalCode,
               addressMatchResponse
               )"
        />
        <mat-error
          *ngIf="
            addressFormControl?.addressLine2.invalid &&
            addressFormControl?.addressLine2.hasError('maxLength')
          "
        >
          Maximum length is 100 characters</mat-error
        >
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <mat-form-field appearance="outline" *ngIf="isCanadaPostValidated==='false'">
      <mat-label>City</mat-label>
      <input type="text"
             placeholder="Select City"
             aria-label="Number"
             matInput
             [formControl]="myControl"
             [formControlName]="'community'"
             [matAutocomplete]="auto"
             (keyup)="SelectCity($event, 'input')"
             [readonly]="primaryAddressWarning == true || readOnly == true"
             >
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <!--@for (option of filteredCountries | async; track option) {
          <mat-option [value]="option">{{option}}</mat-option>
        }-->
        <mat-option (onSelectionChange)="SelectCity(option, null)"
            *ngFor="let option of filteredOptions | async"
            [value]="option.name"
          >
            {{ option.name }}
          </mat-option>
      </mat-autocomplete>
    </mat-form-field>
      <mat-form-field appearance="outline" *ngIf="isCanadaPostValidated!=='false'">
        <mat-label>City</mat-label>
        <input
          maxlength="100"
          [formControlName]="'community'"
          matInput
          placeholder="City"
          
          (focusout)="checkCanadaPostAddress(addressFormControl?.addressLine1,
               addressFormControl?.addressLine2,
               addressFormControl?.community,
               addressFormControl?.stateProvince,
               addressFormControl?.postalCode,
               addressMatchResponse
               )"
        />
        <mat-error
          *ngIf="
            addressFormControl?.community.invalid &&
            addressFormControl?.community.hasError('required')
          "
        >
          City is required</mat-error
        >
        <mat-error
          *ngIf="
            addressFormControl?.community.invalid &&
            addressFormControl?.community.hasError('maxLength')
          "
        >
          Maximum length is 100 characters</mat-error
        >
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <mat-form-field appearance="outline">
        <mat-label>Postal Code</mat-label>
        <input
          [formControlName]="'postalCode'"
          matInput
          placeholder="Postal Code"
          required
          (focusout)="checkCanadaPostAddress(addressFormControl?.addressLine1,
               addressFormControl?.addressLine2,
               addressFormControl?.community,
               addressFormControl?.stateProvince,
               addressFormControl?.postalCode,
               addressMatchResponse
               )"
        />
         <mat-error
                    *ngIf="addressFormControl?.postalCode.invalid && addressFormControl?.postalCode.hasError('required')">
                    Postal Code is required</mat-error>
        <mat-error
          *ngIf="
            addressFormControl?.postalCode.invalid &&
            addressFormControl?.postalCode.hasError('pattern')
          "
        >
          Postal Code is invalid</mat-error
        >
        <mat-error
          *ngIf="
            addressFormControl?.postalCode.invalid &&
            addressFormControl?.postalCode.hasError('maxLength')
          "
        >
          Maximum length is 100 characters</mat-error
        >
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <mat-form-field appearance="outline">
        <mat-label>Province</mat-label>
        <input
          type="text"
          [formControlName]="'stateProvince'"
          matInput
          placeholder="Province"
          maxlength="100"
          required
          (focusout)="checkCanadaPostAddress(addressFormControl?.addressLine1,
               addressFormControl?.addressLine2,
               addressFormControl?.community,
               addressFormControl?.stateProvince,
               addressFormControl?.postalCode,
               addressMatchResponse
               )"
        />
        <!--<mat-autocomplete
          #auto="matAutocomplete"
          [displayWith]="provinceDisplayFn"
        >
          <mat-option
            *ngFor="let option of filteredOptions | async"
            [value]="option"
          >
            {{ option.name }}
          </mat-option>
        </mat-autocomplete>-->
        <mat-error
          *ngIf="
            addressFormControl?.stateProvince.invalid &&
            addressFormControl?.stateProvince.hasError('required')
          "
        >
          Province is required</mat-error
        >
        <mat-error
          *ngIf="
            addressFormControl?.stateProvince.invalid &&
            addressFormControl?.stateProvince.hasError('maxLength')
          "
        >
          Maximum length is 100 characters</mat-error
        >
        <!--<mat-error *ngIf="validateProvince()"> Province is invalid</mat-error>-->
      </mat-form-field>
    </div>
  </div>

  <div id="divAddressMatchResponse" [style]="isCanadaPostValidated ==='false' ? 'color: red' : 'color: green'">
    {{addressMatchResponse}}
  </div>
</form>
