<h2><b>Submit Application Confirmation</b></h2>

<mat-dialog-content>
  <div class="col-md-12" [innerHTML]="content.text"></div>
</mat-dialog-content>

<mat-dialog-actions>
  <div class="col-md-6">
    <button class="button-s button-width" mat-button (click)="cancel()">
      No, I don't want to submit my application yet
    </button>
  </div>
  <div class="col-md-6">
    <button class="button-p button-width" mat-button (click)="confirm()">
      Yes, I want to submit my application
    </button>
  </div>
</mat-dialog-actions>
