.card-list:not(:last-child) {
  margin-bottom: 10px;
}

.card-content {
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  padding: 10px;
}

::ng-deep .card-content-field .mat-mdc-text-field-wrapper {
  background-color: #ffffff;
}

table {
  width: 99.99%;
  box-shadow: none;
  }
  
  .mat-table {
  overflow: auto;
  width: 100%;
  max-height: 500px;
  }
  
  .mat-mdc-header-cell {
    font-weight: 700;
    font-size: 15px;
    color: black;
    height: 51px;
    }
    
    .example-element-row {
    height: 51px !important;
    border: 1px solid;
    border-color: rgb(204, 204, 204);
    }
    
    .example-element-detail {
    overflow: hidden;
    display: flex;
    }

    .mat-column-deleteIcon {
      text-align: right;
      justify-content: flex-end;
      }