<mat-card class="card-align"  style="border:none;" [class.mat-elevation-z0]="true">
  <mat-card-content>

    <ng-container>
      <div class="row">
        <div class="col-md-8">
          <p class="sub-heading" style="font-size: 20px">Supporting Documents</p>
          On this page provide the required and other supporting documents.
        </div>
      </div>
      <div class="row" style="padding-top: 25px;">
        <div class="col-md-12">
          <p class="sub-heading" style="font-size: 15px">Required Documents</p>
          You must provide the following document before you can submit your application:
          <ul>
            <li>Pre event photos, description, maintenance records </li>
            <li>Post event photos, description, damage assessment/inspections </li>
          </ul>
          <mat-error style="font-weight: 600; font-size: 16px; padding-bottom: 20px;"
            *ngIf="isformUploaddisabled == 'true'
          "
          >
            Project Name or Project Number is required to upload documents</mat-error
          >
          <p class="sub-heading" style="font-size: 15px" *ngIf="vieworedit !== 'viewOnly'">Upload Required Documents</p>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="vieworedit !== 'viewOnly'"> <!-- Prev event condition -->
      <div class="row">
        <div class="col-md-8" >
          <app-dfa-attachment
            title="Previous Event Condition"
            description="Attach the previous event condition."
            *ngIf="fileUploadForm.hasError('noPreEventCondition')"
            requiredDocumentType="PreEvent"
            [allowedFileTypes]="allowedFileTypes"
            allowedFileExtensionsList=".pdf, .doc, .docx, .png, .jpeg, .jpg, .ppt, .pptx, .xls, .xlsx"
            fileType="PreEvent"
            excludeFileTypes="[]"
            (saveFileUpload)="saveRequiredForm($event)"
            [fileUpload]="formCreationService.fileUploadsForm.value.get('prevEventConditionFileUpload')"
          ></app-dfa-attachment>
          <app-loader
            class="spinner"
            [showLoader]="isLoading"
            strokeWidth="10"
            diameter="50"
          >
          </app-loader>
          <mat-card class="row" *ngIf="!fileUploadForm.hasError('noPreEventCondition')">
            <p class="sub-heading" style="font-size: 15px">Required previous event condition has been uploaded.</p>
          </mat-card>
        </div>
      </div>
      <br/><br/>
    </ng-container>

    <ng-container *ngIf="vieworedit !== 'viewOnly'"> <!-- Post event condition -->
      <div class="row">
        <div class="col-md-8">
          <app-dfa-attachment
            isdisabled="isdisabled"
            title="Post Event Condition"
            description="Attach the post event condition."
            *ngIf="fileUploadForm.hasError('noPostEventCondition')"
            requiredDocumentType="PostEvent"
            [allowedFileTypes]="allowedFileTypes"
            allowedFileExtensionsList=".pdf, .doc, .docx, .png, .jpeg, .jpg, .ppt, .pptx, .xls, .xlsx"
            fileType="PostEvent"
            excludeFileTypes="[]"
            (saveFileUpload)="saveRequiredForm($event)"
            [fileUpload]="formCreationService.fileUploadsForm.value.get('postEventConditionFileUpload')"
          ></app-dfa-attachment>
          <app-loader
            class="spinner"
            [showLoader]="isLoading"
            strokeWidth="10"
            diameter="50"
          >
          </app-loader>
          <mat-card class="row" *ngIf="!fileUploadForm.hasError('noPostEventCondition')">
            <p class="sub-heading" style="font-size: 15px">Required post event condition has been uploaded.</p>
          </mat-card>
        </div>
      </div>
      <br/><br/>
    </ng-container>

    <ng-container *ngIf="vieworedit !== 'viewOnly'"> <!-- Supporting Documents -->
      <div class="row">
        <div class="col-md-8">
          <app-dfa-attachment
            isdisabled="isdisabled"
            title="Other Supporting Documents (Optional)"
            description="If applicable, you may include additional documents related to your application."
            [allowedFileTypes]="allowedFileTypes"
            allowedFileExtensionsList=".pdf, .doc, .docx, .png, .jpeg, .jpg, .ppt, .pptx, .xls, .xlsx"
            excludeFileTypes="['Identification', 'Unknown']"
            (saveFileUpload)="saveSupportingFiles($event)"
            (cancelFileUpload)="cancelSupportingFiles()"
            [fileUpload]="formCreationService.fileUploadsForm.value.get('supportingFilesFileUpload')"
          ></app-dfa-attachment>
          <app-loader
            class="spinner"
            [showLoader]="isLoading"
            strokeWidth="10"
            diameter="50"
          >
          </app-loader>
        </div>
      </div>
    </ng-container>

    <div *ngIf="documentSummaryDataSource.data.length == 0">
      <br />
      <br />
      <br />
    </div>

    <div *ngIf="documentSummaryDataSource.data.length > 0">
      <br />
      <p class="sub-heading" style="font-size: 15px">Document Summary</p>
    </div>

    <table mat-table [dataSource]="documentSummaryDataSource" *ngIf="documentSummaryDataSource.data.length > 0" style="width:100%">
      <!-- File Name Column -->
      <ng-container matColumnDef="fileName" style="width:25%">
        <th mat-header-cell *matHeaderCellDef >
          <b>File Name</b>
        </th>
        <td *matCellDef="let element" mat-cell>
          {{ element.fileName }}
        </td>
      </ng-container>

      <!-- Description Column -->
      <ng-container matColumnDef="fileDescription" style="width:25%">
        <th mat-header-cell *matHeaderCellDef>
          <b>File Description</b>
        </th>
        <td *matCellDef="let element" mat-cell>
          {{ element.fileDescription}}
        </td>
      </ng-container>

      <!-- Category Column -->
      <ng-container matColumnDef="fileType" style="width:25%">
        <th mat-header-cell *matHeaderCellDef>
          <b>Category</b>
        </th>
        <td *matCellDef="let element" mat-cell>
          {{ element.fileType }}
        </td>
      </ng-container>

        <!-- UploadedDate Column -->
        <ng-container matColumnDef="uploadedDate" style="width:25%">
        <th mat-header-cell *matHeaderCellDef>
          <b>Date Uploaded</b>
        </th>
        <td *matCellDef="let element" mat-cell>
          {{ element.uploadedDate | date:"dd-MMM-yyyy" }}
        </td>
      </ng-container>

      <!-- Delete Icon Column -->
      <ng-container matColumnDef="icons" style="width:25%">
        <th mat-header-cell *matHeaderCellDef>
          &nbsp;
        </th>
        <td *matCellDef="let element; let index = index" mat-cell>
          <button
            class="delete-image"
            mat-icon-button
            aria-label="Remove"
            (click)="confirmDeleteDocumentSummaryRow(element)"
            *ngIf="vieworedit === 'addproject' || vieworedit === 'updateproject'"
          >
            <img src="/assets/images/delete.svg" height="35" width="35" />
            <img src="/assets/images/delete_onhover.svg" height="35" width="35"/>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="documentSummaryColumnsToDisplay"></tr>
      <tr
        mat-row
        *matRowDef="let element; columns: documentSummaryColumnsToDisplay"
        class="example-element-row"
        [style.height]="'auto'"
      ></tr>

    </table>

    <mat-error *ngIf="fileUploadForm.hasError('noPreEventCondition') && isformUploaddisabled != 'true' && vieworedit !== 'viewOnly'">
      <br/>Previous event condition is required.
    </mat-error>
    <mat-error *ngIf="fileUploadForm?.hasError('noPostEventCondition') && isformUploaddisabled != 'true' && vieworedit !== 'viewOnly'">
      <br/>Post event condition is required.
    </mat-error>
  </mat-card-content>
</mat-card>
