.dialog{
    padding: 12px;
}

.dialog-title{
    border-bottom: 1px solid;
    padding: 12px;
    color: #234075;  
}

.button-container{
    display: flex;
  gap:100px
}

.button-s {
    border: 1px solid #003366 !important;
    color: #036 !important;
    background-color: #fff !important;
    font-weight: 500 !important;
  }

  .button-p {
    background: #234075 !important;
    color: #fff !important;
    float: right;
  }

  .button-width {
    width: 95%;
    margin: 10px;
    
  }

.note{
    border: 1px solid;
  padding: 12px;
}


.row{
    display: flex;
   padding-bottom: 10px; 
}