<mat-card class="card-align" style="border:none;" [class.mat-elevation-z0]="true">
  <mat-card-content>
    <form [formGroup]="contactsForm">
      <ng-container>
        <br />
        <div class="row">
          <div class="col-md-6">
            <p class="sub-heading" style="font-size: 15px">
              Indigenous Governing Body & Local Authority Legal Name
            </p>
            <mat-form-field appearance="fill">
              <input formControlName="legalName" matInput disabled readonly placeholder="" maxlength="100" />
            </mat-form-field>
          </div>
        </div>
        <br />

        <div class="row">
          <p class="sub-heading" style="font-size: 15px">
            Doing Business as (DBA) Name
          </p>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <input matInput formControlName="doingBusinessAs" placeholder=""
                maxlength="200" />
            </mat-form-field>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-5">
            <div class="legalText infoText">
              <mat-icon class="iconStyleBlue">info</mat-icon>
              <span class="iconText">
                This is the Doing Business As (DBA) name from BCeID. Update if needed or provide a name.
              </span>
            </div>
          </div>
        </div>

        <div class="row">
          <p class="sub-heading" style="font-size: 15px">
            Business Number
          </p>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <input matInput formControlName="businessNumber" placeholder="" maxlength="9" />
            </mat-form-field>
          </div>
        </div>

        <div class="primary-radio-group">
          <div class="row radio-extra-label">
            <p class="sub-heading" style="font-size: 15px">
              Mailing Address<span style="color:red">*</span>
            </p>
            <div class="col-md-12">
              <app-bc-address [addressForm]="contactsForm" [primaryAddressWarning]="false">
              </app-bc-address>
            </div>
          </div>
        </div>
        <br>

        <div class="row">
          <p class="sub-heading" style="font-size: 15px">
            Primary Contact<span style="color:red">*</span>
          </p>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <input matInput formControlName="primaryContactSearch" id="primaryContactSearch"
                placeholder="User Id" maxlength="16" />
            </mat-form-field>
          </div>
          <div class="col-md-2">
            <button class="button-p save-button" mat-stroked-button type="button" (click)="searchForContact()">
              Search for Contact
            </button>
          </div>
        </div>
        <div class="row">
          <div id="foundContactMsg" [class.visible]="showFoundContactMsg" class="noshow">
            <div class="iconStyleGreen">
              <mat-icon>check_circle</mat-icon>
            </div>
            <div class="col-md-11 page-subheadbold">
              Primary Contact found!
            </div>
          </div>
        </div>

        <br>

        <div class="row">
          <p class="sub-heading" style="font-size: 15px">
            Primary Contact Details
          </p>
        </div>
        <div class="row">
          <div class="col-md-4">
            <p>
              First Name
            </p>
            <mat-form-field appearance="fill">
              <input formControlName="pcFirstName" matInput disabled readonly maxlength="100" />
            </mat-form-field>

            <!-- 2024-09-25 EMCRI-663 waynezen -->
            <input type="hidden" formControlName="contactId" />
            <input type="hidden" formControlName="pcBCeIDOrgGuid" />
            <input type="hidden" formControlName="pcBCeIDuserGuid" />
            <input type="hidden" formControlName="isDamagedAddressVerified" />

          </div>
          <div class="col-md-4">
            <p>
              Last Name
            </p>
            <mat-form-field appearance="fill">
              <input formControlName="pcLastName" matInput disabled readonly maxlength="100" />
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <p>
              Department
            </p>
            <mat-form-field appearance="fill">
              <input formControlName="pcDepartment" matInput disabled readonly maxlength="100" />
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <p>
              Business Phone
            </p>
            <mat-form-field appearance="fill">
              <input formControlName="pcBusinessPhone" matInput disabled readonly maxlength="100" />
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <p>
              Email Address
            </p>
            <mat-form-field appearance="fill">
              <input formControlName="pcEmailAddress" matInput disabled readonly maxlength="100" />
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <p>
              Cell Phone
            </p>
            <mat-form-field appearance="outline">
              <input formControlName="pcCellPhone" matInput maxlength="100" />
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <p>
              Job Title
            </p>
            <mat-form-field appearance="outline">
              <input formControlName="pcJobTitle" matInput maxlength="100" />
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <p>
              Contact Notes (details about when the person may or may not be available or additional contact information)
            </p>
            <mat-form-field appearance="outline">
              <textarea [disabled]="isReadOnly" matInput
                formControlName="pcNotes"
                [rows]="5"
                style="resize:none"
                maxlength="200">
              </textarea>
            </mat-form-field><br/>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 bottomspace">


          </div>
        </div>

        <div class="row">
          <div class="col-md-12 bottomspace">
            <p>
              If there is an opportunity to receive guidance and support in assessing your damaged infrastructure,
              would you like to receive this support?
              You may change your response in the future if needed.
              <span style="color:red">*</span>
            </p>
            <mat-radio-group formControlName="guidanceSupport" class="primary-radio-group horizontal-radio-group" required
              aria-label="Select an option">
              <mat-radio-button value=true>Yes</mat-radio-button>&nbsp;&nbsp;<mat-radio-button value=false>No</mat-radio-button>
            </mat-radio-group>
          </div>
        </div><br /><br />
        
        </ng-container>
    </form>

    <form [formGroup]="otherContactsForm">
      <div formGroupName="otherContact">
        <ng-container>
          
          <div class="row">
            <p class="sub-heading" style="font-size: 15px">
              Additional Contact Details
            </p>
            <div class="col-md-6">
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="legalText infoText">
                <mat-icon class="iconStyleBlue">info</mat-icon>
                <span class="iconText">
                  Provide at least one additional contact that the DFA may contact in case the primary contact can't be reached
                </span>
              </div>

              <br>
              
              <table mat-table [dataSource]="otherContactsDataSource" *ngIf="otherContactsDataSource.getValue().length > 0">
                <!-- Name Column -->
                <ng-container matColumnDef="name" style="width:26%">
                  <th mat-header-cell *matHeaderCellDef >
                    <b>Name</b>
                  </th>
                  <td *matCellDef="let element" mat-cell>
                    {{ element.firstName }}&nbsp; {{element.lastName }}
                  </td>
                </ng-container>

                <!-- Phone Column -->
                <ng-container matColumnDef="phoneNumber" style="width:17%">
                  <th mat-header-cell *matHeaderCellDef>
                    <b>Phone</b>
                  </th>
                  <td *matCellDef="let element" mat-cell>
                    {{ element.phoneNumber | phoneFormat }}
                  </td>
                </ng-container>

                <!-- Email Column -->
                <ng-container matColumnDef="email" style="width:17%">
                  <th mat-header-cell *matHeaderCellDef>
                    <b>Email</b>
                  </th>
                  <td *matCellDef="let element" mat-cell>
                    {{ element.email}}
                  </td>
                </ng-container>

                <!-- Cell Phone Column -->
                <ng-container matColumnDef="cellPhone" style="width:10%">
                  <th mat-header-cell *matHeaderCellDef>
                    <b>Cell Phone</b>
                  </th>
                  <td *matCellDef="let element" mat-cell>
                    {{ element.cellPhone}}
                  </td>
                </ng-container>

                <!-- Job Title Column -->
                <ng-container matColumnDef="jobTitle" style="width:10%">
                  <th mat-header-cell *matHeaderCellDef>
                    <b>Job Title</b>
                  </th>
                  <td *matCellDef="let element" mat-cell>
                    {{ element.jobTitle}}
                  </td>
                </ng-container>

                <!-- Delete Icon Column -->
                <ng-container matColumnDef="deleteIcon" style="width:20%">
                  <th mat-header-cell *matHeaderCellDef>
                    &nbsp;
                  </th>
                  <td *matCellDef="let element; let index = index" mat-cell>
                    <button
                      class="edit-image"
                      *ngIf="vieworedit !== 'viewOnly'"
                      mat-icon-button
                      aria-label="Edit"
                      (click)="editOtherContactsRow(element, index)"
                    >
                    <!-- 2024-08-26 EMCRI-617 waynezen; UI fixes for Angular upgrade -->
                    <img src="/assets/images/edit.svg" height="35" width="35" />
                    </button>&nbsp;
                    <button
                    class="delete-image"
                    *ngIf="vieworedit !== 'viewOnly'"
                    mat-icon-button
                    aria-label="Remove"
                    (click)="confirmDeleteOtherContactRow(index)"
                  >
                    <!-- 2024-08-26 EMCRI-617 waynezen; UI fixes for Angular upgrade -->
                    <img src="/assets/images/delete.svg" height="35" width="35" />
                    </button>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="otherContactsColumnsToDisplay"></tr>
                <tr
                  mat-row
                  *matRowDef="let element; columns: otherContactsColumnsToDisplay"
                  class="example-element-row"
                ></tr>
              </table>

              <div  *ngIf="otherContactsDataSource.getValue().length > 0">
                <br /><br/>
              </div>

              <!--<div *ngIf="otherContactsForm.get('otherContacts').invalid && otherContactsForm.get('otherContacts').hasError('required')">
                <span style="color:red">At least one other contact is required.</span>
              </div>-->

              <button
                *ngIf="!showOtherContactForm && vieworedit !== 'viewOnly'"
                class="family-button"
                mat-button
                type="button"
                (click)="addOtherContact()"
              >
                + Add Other Contact
              </button>

              <mat-card *ngIf="showOtherContactForm">
                <div class="row">
                  <div class="col-md-3">
                    <mat-form-field appearance="outline">
                      <mat-label>First Name</mat-label>
                      <input formControlName="firstName" matInput placeholder="First Name" required maxlength="49"/>
                      <mat-error
                        *ngIf="
                          otherContactsForm.get('otherContact').controls.firstName.invalid &&
                          otherContactsForm.get('otherContact').controls.firstName.hasError('required') &&
                          otherContactsForm.get('otherContact').controls.firstName.touched
                        "
                      >
                        First Name is required</mat-error
                      >
                      <mat-error
                        *ngIf="
                          otherContactsForm.get('otherContact').controls.firstName.invalid &&
                          otherContactsForm.get('otherContact').controls.firstName.hasError('maxLength')
                        "
                      >
                        Maximum length is 49 characters</mat-error
                      >
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field appearance="outline">
                      <mat-label>Last Name</mat-label>
                      <input formControlName="lastName" matInput placeholder="Last Name" required maxlength="49"/>
                      <mat-error
                        *ngIf="
                          otherContactsForm.get('otherContact').controls.lastName.invalid &&
                          otherContactsForm.get('otherContact').controls.lastName.hasError('required') &&
                          otherContactsForm.get('otherContact').controls.lastName.touched
                        "
                      >
                        Last Name is required</mat-error
                      >
                      <mat-error
                        *ngIf="
                          otherContactsForm.get('otherContact').controls.lastName.invalid &&
                          otherContactsForm.get('otherContact').controls.lastName.hasError('maxLength')
                        "
                      >
                        Maximum length is 49 characters</mat-error
                      >
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field appearance="outline">
                      <mat-label>Business Phone</mat-label>
                      <!-- 2024-08-01 EMCRI-216 waynezen; upgrade to Angular 18 - use new ngx-mask -->
                      <input formControlName="phoneNumber"
                        matInput
                        required
                        placeholder="Business Phone"
                      />
                        <mat-error
                        *ngIf="
                          otherContactsForm.get('otherContact').controls.phoneNumber.invalid &&
                          otherContactsForm.get('otherContact').controls.phoneNumber.hasError('required') &&
                          otherContactsForm.get('otherContact').controls.phoneNumber.touched
                        "
                      >
                       Telephone number is required</mat-error
                      >
                      <mat-error
                        *ngIf="
                          otherContactsForm.get('otherContact').controls.phoneNumber.invalid &&
                          otherContactsForm.get('otherContact').controls.phoneNumber.hasError('incorrectLength')
                        "
                      >
                        Telephone number must have 10 digits</mat-error
                      >
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field appearance="outline">
                      <mat-label>Email</mat-label>
                      <input formControlName="email" required matInput placeholder="Email" type="email" maxlength="100" />
                      <mat-error
                        *ngIf="
                          otherContactsForm.get('otherContact').controls.email.invalid &&
                          otherContactsForm.get('otherContact').controls.email.hasError('required') &&
                          otherContactsForm.get('otherContact').controls.email.touched
                        "
                      >
                        Email is required</mat-error
                      >
                      <mat-error
                      *ngIf="
                        otherContactsForm.get('otherContact').controls.email.invalid
                      "
                    >
                      Invalid email address</mat-error
                    >
                      <mat-error
                        *ngIf="
                          otherContactsForm.get('otherContact').controls.email.invalid &&
                          otherContactsForm.get('otherContact').controls.email.hasError('maxLength')
                        "
                      >
                        Maximum length is 100 characters</mat-error
                      >
                    </mat-form-field>
                  </div>
                </div>

                <!-- 2024-09-16 EMCRI-663 waynezen; add new fields to Other Contact -->
                <div class="row">
                  <div class="col-md-3">
                    <mat-form-field appearance="outline">
                      <mat-label>Cell Phone</mat-label>
                      <!-- 2024-08-01 EMCRI-216 waynezen; upgrade to Angular 18 - use new ngx-mask -->
                      <input formControlName="cellPhone"
                        matInput
                        placeholder="Cell Phone"
                      />
                      <mat-error
                        *ngIf="
                          otherContactsForm.get('otherContact').controls.cellPhone.invalid &&
                          otherContactsForm.get('otherContact').controls.cellPhone.hasError('incorrectLength')
                        "
                      >
                        Telephone number must have 10 digits</mat-error
                      >
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field appearance="outline">
                      <mat-label>Job Title</mat-label>
                      <input formControlName="jobTitle" matInput placeholder="Job Title" maxlength="49"/>
                    </mat-form-field>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-3">
                    <button
                      class="button-s details-button"
                      mat-button
                      type="button"
                      (click)="cancelOtherContact()"
                    >
                      Cancel
                    </button>
                  </div>
                  <div class="col-md-3">
                    <button
                      class="family-button details-button save-button"
                      mat-button
                      type="button"
                      (click)="saveOtherContact()"
                    >
                      Save
                    </button>
                  </div>
                </div>

              </mat-card>

            </div>
          </div>
          
        </ng-container>
      </div>
    </form>

  </mat-card-content>
</mat-card>