<h2><b>Contact not found!</b></h2>

<mat-dialog-content>
    <div class="row">
        <div class="col-md-12">
            A BCeID Account with this userID hasn't been found.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul>
                <li>check the spelling and try again</li>
                <li>drink more alcohol</li>
            </ul>
        </div>
    </div>
</mat-dialog-content>

<mat-dialog-actions>
  <div class="col-md-12">
    <button class="button-s button-width" mat-button (click)="close()">
      Close
    </button>
  </div>
</mat-dialog-actions>

