.infoText {
    font-family: 'BC Sans';
    font-size: 16px;
    color: #313132;
    margin-left: 5px;
}

.infoHeaderText {
    font-family: 'BC Sans';
    font-size: 16px;
    font-weight: bold;
    color: #313132;
    margin-left: 5px;
}

.button-align {
    float: right;
}

.iconStyleRed {
    //font-size: 16px;
    color: #A12622;
    width: 22px;
    padding-top: 2px;
  }

