mat-form-field {
    width: 100%;
}

.card-content-align {
    padding: 0 22px;
}

.primary-radio-group {
  display: flex;
  flex-direction: column;
  //margin: 15px 0;
}

.primary-radio-button {
    margin: 5px;
}

.radio-extra-label {
  font-weight: normal;
  //margin-left: 30px;
}

.highlight {
    font-weight: 700;
    color: #169bd5;
}

.horizontal-radio-group {
  display: flex; flex-direction: row;
  margin: 0;
}

.topSpace{
    margin-top: 15px;
}

::ng-deep .mat-select-panel .mat-option {
  height: unset !important;
}

::ng-deep .mat-mdc-form-field-error-wrapper {
  padding-left: 0px !important;
}

::ng-deep span.mat-option-text {
  white-space: normal !important;
}

.mat-header-cell {
  font-weight: 700;
  font-size: 15px;
  color: black;
  height: 51px;
}

.example-element-row {
  height: 51px !important;
  border: 1px solid;
  border-color: rgb(204, 204, 204);
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}



.details-button {
  width: 100%;
}

.family-button {
  border: 2px solid #169bd5 !important;
  color: #169bd5;
  background-color: #ffffff !important;
}

.save-button {
  height: 55px;
}

table {
  width: 99.99%;
  box-shadow: none;
}

.mat-table {
  overflow: auto;
  width: 100%;
  max-height: 500px;
}

.mat-column-deleteIcon {
  text-align: right;
  justify-content: flex-end;
}


.delete-image img:last-child {
  display: none;
}

.delete-image:hover img:last-child {
  display: block;
}

.delete-image:hover img:first-child {
  display: none;
}

.edit-image img:last-child {
  display: none;
}

.edit-image:hover img:last-child {
  display: block;
}

.edit-image:hover img:first-child {
  display: none;
}

@media (max-width: 600px) {
  .mobile-label {
    width: 80px;
    display: inline-block;
    font-weight: bold;
  }
}

.services-info {
  background-color: #fcba19;
  border-color: #fcba19;
  margin: 7px;
  padding: 15px;
}

// mat-form-field:has(input[readonly]) {
//   background-color: greenyellow;
// }

.infoText {
  background: #F6F9FC 0% 0% no-repeat padding-box;
  border: 1px solid #003366;
  border-radius: 10px;
  height: 56px;
}

.legalText {
  font-family: 'BC Sans';
  font-size: 14px;
  color: #313132;
  margin-left: 5px;
}

.iconText {
  position: relative;
}

.iconStyleGreen {
  //font-size: 16px;
  color: #62A370;
}

.iconStyleBlue {
  //font-size: 16px;
  color: #003366;
  width: 22px;
  padding-top: 2px;
}

.noshow {
  display: none;

  &.visible {
    display: contents;
  }
}

.otherContactsBarBack {
  background-color: #38598A;
}

.otherContactsBarText {
  font-family: 'BC Sans';
  font-size: 16px;
  color: #ffffff;
}
