<div class="content-container" style="padding-bottom: 100px; padding-top: 50px;" *ngIf="lstApplications.length > 0">
  <div class="row"
           *ngFor="let applItem of lstApplications"
           >
    <!--<div class="row block">
    <div class="row">
      <div class="col-md-6">
        <span>Event ID</span><br />
        <span>{{applItem.dfa_eventid}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <span>Application Type</span><br />
        <span>{{applItem.dfa_applicanttype}}</span>
      </div>
    </div>
    </div>-->
    <mat-card appearance="outlined" class="mat-elevation-z4 content" >

      <div style="border-bottom: 1px solid lightgrey; padding-bottom: 20px; display: flex;">
        <div class="col-md-3">
          <span style="font-size: 20px;"><b>{{applItem.eventId == null ? "To Be Assigned" : applItem.eventId }}</b></span>
        </div>
        <div class="col-md-7">
        </div>
        <!--<div class="col-md-2" style="text-align: right">
          <span>Status Last Updated</span><br />
          <span style="font-size: 16px;">{{applItem.statusLastUpdated }}</span>
        </div>-->
      </div>
      <div style="border-bottom: 1px solid lightgrey;padding-bottom:20px; height: 210px;width: 90%;min-width: 725px;">
        <div class="col-md-3" style="margin-top: 20px;">
          <span><b>Application Status</b></span><br />
          <span *ngIf="applItem.isErrorInStatus == true" style="color: red;">Error in displaying status<br /></span>
        </div>
        <div *ngFor="let item of applItem.statusBar; let i=index" id="item{{i}}" class="stepsDesc col-md-1">
          <span class="stepText">{{item.label}}</span>
        </div>
        <br style="clear: both;" />
        <div *ngFor="let item of applItem.statusBar; let i=index" id="item{{i}}" [ngClass]="i == 0 ? 'nocircle col-md-1' : 'circle col-md-1'">
          <!--<span [ngClass]="item.isCompleted == true ? 'material-icons' : 'material-symbols-outlined'" style="color: rgb(0, 128, 55);">
            {{item.isCompleted == true ? 'check_circle' : 'circle'}}
          </span>-->
          <span *ngIf="item.isCompleted == true && applItem.isErrorInStatus == false" class="material-icons" style="color: rgb(21 178 89);">
            check_circle
          </span>
          <span *ngIf="item.isCompleted == false && item.currentStep == true && applItem.isErrorInStatus == false" class="material-symbols-outlined" style="color: darkblue">
            circle
          </span>
          <span *ngIf="item.isCompleted == false && item.currentStep == false && applItem.isErrorInStatus == false" class="material-symbols-outlined" style="color: lightgrey">
            circle
          </span>
          <span *ngIf="applItem.isErrorInStatus == true" class="material-symbols-outlined" style="color: lightgrey">
            circle
          </span>
          <!--<mat-icon>circle</mat-icon>
          <span class="material-symbols-outlined">
          circle
          </span>-->
        </div>
        <br style="clear: both;" />
        <div *ngFor="let item of applItem.statusBar; let i=index" id="item{{i}}" [ngClass]="item.currentStep == true ? 'stepsDesc col-md-2' : 'stepsDesc col-md-1'">
            <span *ngIf="item.currentStep == true && applItem.isErrorInStatus == false && item.isCompleted == false" class="youAreHere">You are here</span>
          </div>
      </div>
      <div class="row" style="padding-top: 20px;">
        <div class="col-md-3">
          <span><b>Application Type</b></span><br />
          <span>{{applItem.applicationType}}{{applItem.applicationSubType}}</span>
        </div>
        <div class="col-md-2" *ngIf="applItem.legalName">
          <span><b>Legal Name</b></span><br />
          <span>{{applItem.legalName}}</span>
        </div>
        <div class="col-md-3">
          <span><b>Damaged Property Address</b></span><br />
          <span>{{applItem.damagedAddress}}</span>
        </div>
        <div class="col-md-2">
          <span><b>Case Number</b></span><br />
          <span>{{applItem.caseNumber == null ? "To Be Assigned" : applItem.caseNumber }}</span>
        </div>
        <div class="col-md-2">
          <span><b>Date of Damage</b></span><br />
          <span>{{applItem.dateOfDamage | date : "yyyy/MM/dd"}}</span>
        </div>
      </div>
      <div class="row" style="padding-top: 35px;">
        <button
          class="col-md-2 application-button"
          type="button"
          *ngIf="applItem.primaryApplicantSignedDate || appType != 'current'"
          (click)="ViewApplication(applItem)"
        >
          View Application
        </button>

        <button
        class="col-md-2 application-button"
        type="button"
        *ngIf="!applItem.primaryApplicantSignedDate && appType == 'current'"
        (click)="ViewApplication(applItem)"
        >
          Complete Application
        </button>

        <button
          class="col-md-2 application-button whitebutton"
          type="button"
          *ngIf="applItem.primaryApplicantSignedDate &&
                applItem.currentApplication === true &&
                applItem.status.toLowerCase() !== 'assessing damage' &&
                applItem.status.toLowerCase() !== 'reviewing damage report' &&
                applItem.status.toLowerCase() !== 'dfa making mecision' &&
                applItem.status.toLowerCase() !== 'dfa decision made'
                "
          (click)="EditApplication(applItem.applicationId, '4')"
        >
          Add to Clean Up Log
        </button>

        <button
          class="col-md-2 application-button whitebutton"
          type="button"
          *ngIf="applItem.primaryApplicantSignedDate &&
                applItem.currentApplication === true &&
                applItem.status.toLowerCase() !== 'assessing damage' &&
                applItem.status.toLowerCase() !== 'reviewing damage report' &&
                applItem.status.toLowerCase() !== 'dfa making mecision' &&
                applItem.status.toLowerCase() !== 'dfa decision made'
                "
          (click)="EditApplication(applItem.applicationId, '5')"
        >
          Add to Damaged Items
        </button>

        <button
          class="col-md-2 application-button whitebutton"
          type="button"
          *ngIf="applItem.primaryApplicantSignedDate &&
                applItem.currentApplication === true &&
                applItem.status.toLowerCase() !== 'assessing damage' &&
                applItem.status.toLowerCase() !== 'reviewing damage report' &&
                applItem.status.toLowerCase() !== 'dfa making mecision' &&
                applItem.status.toLowerCase() !== 'dfa decision made'
                "
          (click)="EditApplication(applItem.applicationId, '6')"
        >
          Add Supporting Docs
        </button>

        <button
          class="col-md-2 application-button whitebutton"
          type="button"
          *ngIf="applItem.primaryApplicantSignedDate && applItem.currentApplication === true"
          (click)="EditApplication(applItem.applicationId, '3')"
        >
          Add Other Contacts
        </button>

        <!--<button
          class="application-button redbutton"
          type="button"
        >
          Delete Application
        </button>-->
      </div>
    </mat-card>
  </div>
</div>
<div class="content-container" style="padding-bottom: 100px; padding-top: 50px;" *ngIf="lstApplications.length == 0 && isLoading == false">
 <div class="heading-container">
    <div class="row">
      <div class="col-md-12">
        <span class="page-heading"> No {{appType}} Applications</span> <br />
      </div>
    </div>
  </div>
</div>
<app-loader
class="spinner"
[showLoader]="isLoading"
[strokeWidth]="10"
[diameter]="50"
[color]="color"
>
</app-loader>
