<div class="content-container"
  *ngIf="lstApplications.length > 0">
  <div class="row" *ngFor="let applItem of lstApplications">
    <!--<div class="row block">
    <div class="row">
      <div class="col-md-6">
        <span>Event ID</span><br />
        <span>{{applItem.dfa_eventid}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <span>Application Type</span><br />
        <span>{{applItem.dfa_applicanttype}}</span>
      </div>
    </div>
    </div>-->
    <mat-card appearance="outlined" class="mat-elevation-z4 content leftBorder">
      <div class="eventName">
        <div class="col-md-10">
          <span style="font-size: 20px;"><b>{{applItem.eventId === null ? "To Be Assigned" : applItem.eventId
              }}</b></span>
          <span style="font-size: 20px;"><b>{{applItem.eventId === null ? "To Be Assigned" : applItem.eventId
              }}</b></span>
        </div>
      </div>

      <div class="row" style="padding-top: 20px;">
        <div class="col-md-3">
          <span><b>Application Type</b></span><br />
          <span>{{applItem.applicationType}}{{applItem.applicationSubType}}</span>
        </div>
        <div class="col-md-2" *ngIf="applItem.legalName">
          <span><b>Legal Name</b></span><br />
          <span>{{applItem.legalName}}</span>
        </div>
        <div class="col-md-3">
          <span><b>Damaged Property Address</b></span><br />
          <span>{{applItem.damagedAddress}}</span>
        </div>
        <div class="col-md-2">
          <span><b>Case Number</b></span><br />
          <span>{{applItem.caseNumber === null ? "To Be Assigned" : applItem.caseNumber }}</span>
        </div>
        <div class="col-md-2">
          <span><b>Date of Damage</b></span><br />
          <span>{{applItem.dateOfDamage | date : "yyyy/MM/dd"}}</span>
        </div>
      </div>
      <div class="applicationStatus">
        <button class="col-md-2 application-button" type="button"
          *ngIf="applItem.primaryApplicantSignedDate || appType !== 'current'" (click)="ViewApplication(applItem)">
          View Application
        </button>

        <button class="col-md-2 application-button" type="button"
          *ngIf="!applItem.primaryApplicantSignedDate && appType === 'current'" (click)="ViewApplication(applItem)">
          Complete Application
        </button>

        <button class="col-md-2 application-button whitebutton" type="button" *ngIf="applItem.primaryApplicantSignedDate &&
                applItem.currentApplication === true &&
                applItem.status.toLowerCase() !== 'assessing damage' &&
                applItem.status.toLowerCase() !== 'reviewing damage report' &&
                applItem.status.toLowerCase() !== 'dfa making mecision' &&
                applItem.status.toLowerCase() !== 'dfa decision made'
                " (click)="EditApplication(applItem.applicationId, '4')">
          Add to Clean Up Log
        </button>

        <button class="col-md-2 application-button whitebutton" type="button" *ngIf="applItem.primaryApplicantSignedDate &&
                applItem.currentApplication === true &&
                applItem.status.toLowerCase() !== 'assessing damage' &&
                applItem.status.toLowerCase() !== 'reviewing damage report' &&
                applItem.status.toLowerCase() !== 'dfa making mecision' &&
                applItem.status.toLowerCase() !== 'dfa decision made'
                " (click)="EditApplication(applItem.applicationId, '5')">
          Add to Damaged Items
        </button>

        <button class="col-md-2 application-button whitebutton" type="button" *ngIf="applItem.primaryApplicantSignedDate &&
                applItem.currentApplication === true &&
                applItem.status.toLowerCase() !== 'assessing damage' &&
                applItem.status.toLowerCase() !== 'reviewing damage report' &&
                applItem.status.toLowerCase() !== 'dfa making mecision' &&
                applItem.status.toLowerCase() !== 'dfa decision made'
                " (click)="EditApplication(applItem.applicationId, '6')">
          Add Supporting Docs
        </button>

        <button class="col-md-2 application-button whitebutton" type="button"
          *ngIf="applItem.primaryApplicantSignedDate && applItem.currentApplication === true"
          (click)="EditApplication(applItem.applicationId, '3')">
          Add Other Contacts
        </button>

        <div [featureEnabled]="'useDocumentViewing'">
          <button class="col-md-2 application-button whitebutton" type="button"
            *ngIf="applItem.primaryApplicantSignedDate && applItem.currentApplication === true && applItem.caseId !== null"
            (click)="viewDocuments(applItem)">
            Documents
          </button>
        </div>
      </div>

      <br />
      <span><b>Application Status</b></span>
      <!-- New Application Timeline -->
      @if (applItem?.getCaseBPFVersion === CaseBpfVersionSet.Four) {
      <div class="timeline">
        <div class="col-md-12">
          <div class="col-md-3" style="margin-top: 20px;">
            <span *ngIf="applItem.isErrorInStatus" style="color: red;">Error in displaying status<br /></span>
          </div>

          <div class="timeline-statuses-container">
            <div class="timeline-status-container" *ngFor="let item of applItem.statusBar; let i=index" id="item{{i}}"
              [ngClass]="item.label != '' ? 'labelStyle' : 'labelEmptyWidth'">
              <div class="timeline-status-label">
                <span *ngIf="item.label !== ''" class="stepText">{{item.label}}</span>
                <span *ngIf="item.label == ''">&nbsp;</span>
              </div>
              <div class="timeline-status-indicator-icon" *ngIf="item.label != ''"
                [ngClass]="item.currentStep || (item.label == 'Decision Made' && item.isCompleted) ? 'currentStatus': 'alignStatus'">
                <span *ngIf="item.isCompleted && !applItem.isErrorInStatus && item.label !== 'Decision Made' "
                  class="material-icons" style="color: rgb(21 178 89);">
                  {{ 'check_circle' }}
                </span>
                <!-- <span
                  *ngIf="applItem.label == 'Case Closed' && item.isCompleted && !applItem.isErrorInStatus"
                  class="material-icons"
                  [ngStyle]="{'color': item.label == 'Decision Made' ? 'red' : 'rgb(21 178 89)'}">
                  {{ item.label == 'Decision Made' ? 'cancel' : 'check_circle' }}
                </span> -->
                <span *ngIf="item.label === 'Decision Made' && applItem.status === 'Case Closed'">
                  {{applItem.caseEligibility}}</span>
                <span *ngIf="!item.isCompleted && item.currentStep && !applItem.isErrorInStatus">
                  {{ applItem.casePortalNote }}
                </span>
                <span *ngIf="!item.isCompleted && !item.currentStep && !applItem.isErrorInStatus"
                  class="material-symbols-outlined" style="color: #FDCB52">
                  circle
                </span>
                <span *ngIf="applItem.isErrorInStatus" class="material-symbols-outlined" style="color: #FDCB52">
                  circle
                </span>
              </div>
              <div class="timeline-status-line-connector"
                *ngIf="item.label == '' && i > 1 && (i+1) < applItem.statusBar.length"></div>
            </div>
          </div>

        </div>
      </div>
      }
      <!-- Old Application Timeline -->
      @else {
      <div class="timeline">
        <div class="col-md-12">
          <div class="col-md-3" style="margin-top: 20px;">
            <span *ngIf="applItem.isErrorInStatus" style="color: red;">Error in displaying status<br /></span>
          </div>
          <div class="timeline-statuses-container">
            <div class="timeline-status-container" *ngFor="let item of applItem.statusBar; let i=index" id="item{{i}}"
              [ngClass]="item.label != '' ? 'labelStyle' : 'labelEmptyWidth'">
              <div class="timeline-status-label">
                <span *ngIf="item.label !== ''" class="stepText">{{item.label}}</span>
                <span *ngIf="item.label == ''">&nbsp;</span>
              </div>
              <div class="timeline-status-indicator-icon" *ngIf="item.label != ''"
                [ngClass]="item.currentStep || (item.label == 'DFA Decision Made' && item.isCompleted) ? 'currentStatus': 'alignStatus'">
                <span *ngIf="item.isCompleted && !applItem.isErrorInStatus && item.label !== 'DFA Decision Made' "
                  class="material-icons" style="color: rgb(21 178 89);">
                  {{ 'check_circle' }}
                </span>
                <!-- <span
                    *ngIf="applItem.label == 'Case Closed' && item.isCompleted && !applItem.isErrorInStatus"
                    class="material-icons"
                    [ngStyle]="{'color': item.label == 'Decision Made' ? 'red' : 'rgb(21 178 89)'}">
                    {{ item.label == 'Decision Made' ? 'cancel' : 'check_circle' }}
                  </span> -->
                <span
                  *ngIf="item.label === 'DFA Decision Made' && applItem.caseEligibility && (item.currentStep || item.isCompleted)">
                  {{applItem.caseEligibility}}</span>
                <span *ngIf="!item.isCompleted && item.currentStep && !applItem.isErrorInStatus">
                  {{ applItem.status }}
                </span>
                <span *ngIf="!item.isCompleted && !item.currentStep && !applItem.isErrorInStatus"
                  class="material-symbols-outlined" style="color: #FDCB52">
                  circle
                </span>
                <span *ngIf="applItem.isErrorInStatus" class="material-symbols-outlined" style="color: #FDCB52">
                  circle
                </span>
              </div>
              <div class="timeline-status-line-connector"
                *ngIf="item.label == '' && i > 1 && (i+1) < applItem.statusBar.length"></div>
            </div>
          </div>
        </div>
      </div>
      }

      <!-- NOTE there are 3 features here that may need to be copied to other timelines: update to close step, decision note, and consolidated steps -->

      <!-- START Case Eligibility Appeal Timeline -->
      @if (hasEligibilityAppeal(applItem)) {
      <br />
      <span><b>Eligibility Appeal Status</b></span>
      <div style="display: flex; margin:20px 30px 30px 0;">
        <div class="col-md-12">
          <div class="col-md-3" style="margin-top: 20px;">
            <span *ngIf="this.caseEligibilityAppealHasErrorInStatus === true" style="color: red;">Error in displaying
              status<br /></span>
          </div>
          <div class="timeline-statuses-container">
            <div class="timeline-status-container" *ngFor="let item of applItem.appealEligibilityStatusBar; let i=index"
              id="item{{i}}" [ngClass]="item.label != '' ? 'labelStyle' : 'labelEmptyWidth'">
              <div class="timeline-status-label">
                <span *ngIf="item.display!== ''" class="stepText">{{item.display}}</span>
                <span *ngIf="item.display== ''">&nbsp;</span>
              </div>
              <div class="timeline-status-indicator-icon" *ngIf="item.label != ''"
                [ngClass]="item.isDecision ? 'currentStatus' : (!item.currentStep ? 'alignStatus': (item.stage == '' ? 'alignStatus' : 'currentStatus'))">
                <span
                  *ngIf="applItem.label != 'Closed' && item.isCompleted && !applItem.isErrorInStatus && !item.isDecision"
                  class="material-icons"
                  [ngStyle]="{'color': item.stage == 'Ineligible' || item.stage == 'Withdrawn' ? 'red' : 'rgb(21 178 89)'}">
                  {{ item.stage == 'Ineligible' || item.stage == 'Withdrawn' ? 'cancel' : 'check_circle' }}
                </span>
                <span *ngIf="applItem.label == 'Closed' && item.isCompleted && !applItem.isErrorInStatus"
                  class="material-icons"
                  [ngStyle]="{'color': item.label == 'Decision Made' && (applItem.stage == 'Ineligible' || applItem.stage == 'Withdrawn') ? 'red' : 'rgb(21 178 89)'}">
                  {{ item.label == 'Decision Made' && (applItem.stage == 'Ineligible' || applItem.stage == 'Withdrawn')
                  ? 'cancel' : 'check_circle' }}
                </span>
                <span *ngIf="!item.isCompleted && item.currentStep && !applItem.isErrorInStatus && item.stage != ''">
                  {{ applItem.eligibilityAppealPortalNote }}
                </span>
                <span *ngIf="item.isDecision && item.isCompleted">
                  {{ applItem.eligibilityAppealDecision ?? "Pending" }}
                </span>
                <span *ngIf="!item.isCompleted && item.currentStep && !applItem.isErrorInStatus && item.stage == ''"
                  class="material-symbols-outlined"
                  [ngStyle]="{'color': item.status == 'Draft' ? '#639DD4' : '#FDCB52'}">
                  {{ item.label == 'Draft' ? 'check_circle' : 'circle' }}
                </span>
                <span *ngIf="!item.isCompleted && !item.currentStep && !applItem.isErrorInStatus"
                  class="material-symbols-outlined" style="color: #FDCB52">
                  circle
                </span>
                <span *ngIf="applItem.isErrorInStatus" class="material-symbols-outlined" style="color: #FDCB52">
                  circle
                </span>
              </div>
              <div class="timeline-status-line-connector"
                *ngIf="item.label == '' && i > 1 && (i+1) < applItem.appealEligibilityStatusBar.length"></div>
            </div>
          </div>
        </div>
      </div>
      }
      <!-- END Case Eligibility Appeal Timeline -->

      @if (applItem.caseEligibilityAppeal) {
      <button class="col-md-2 application-button" type="button"
        (click)="viewAppealAfterSubmission(applItem, 'Eligibility')">View Eligibility Appeal</button>
      }

      <!-- START Case Amount Appeal Timeline -->
      @if (hasAmountAppeal(applItem)) {
      <br />
      <span><b>Amount Appeal Status</b></span>
      <div style="display: flex; margin:20px 30px 30px 0;">
        <div class="col-md-12">
          <div class="col-md-3" style="margin-top: 20px;">
            <span *ngIf="this.caseAmountAppealHasErrorInStatus === true" style="color: red;">Error in displaying
              status<br /></span>
          </div>
          <div class="timeline-statuses-container">
            <div class="timeline-status-container" *ngFor="let item of applItem.appealAmountStatusBar; let i=index"
              id="item{{i}}" [ngClass]="item.label != '' ? 'labelStyle' : 'labelEmptyWidth'">
              <div class="timeline-status-label">
                <span *ngIf="item.display!== ''" class="stepText">{{item.display}}</span>
                <span *ngIf="item.display== ''">&nbsp;</span>
              </div>
              <div lass="timeline-status-indicator-icon" *ngIf="item.label != ''"
                [ngClass]="item.isDecision ? 'currentStatus' : (!item.currentStep ? 'alignStatus': (item.stage == '' ? 'alignStatus' : 'currentStatus'))">
                <span
                  *ngIf="applItem.label != 'Closed' && item.isCompleted && !applItem.isErrorInStatus && !item.isDecision"
                  class="material-icons"
                  [ngStyle]="{'color': item.stage == 'Ineligible' || item.stage == 'Withdrawn' ? 'red' : 'rgb(21 178 89)'}">
                  {{ item.stage == 'Ineligible' || item.stage == 'Withdrawn' ? 'cancel' : 'check_circle' }}
                </span>
                <span *ngIf="applItem.label == 'Closed' && item.isCompleted && !applItem.isErrorInStatus"
                  class="material-icons"
                  [ngStyle]="{'color': item.label == 'Decision Made' && (applItem.stage == 'Ineligible' || applItem.stage == 'Withdrawn') ? 'red' : 'rgb(21 178 89)'}">
                  {{ item.label == 'Decision Made' && (applItem.stage == 'Ineligible' || applItem.stage == 'Withdrawn')
                  ? 'cancel' : 'check_circle' }}
                </span>
                <span *ngIf="!item.isCompleted && item.currentStep && !applItem.isErrorInStatus && item.stage != ''">
                  {{ applItem.amountAppealPortalNote }}
                </span>
                <span *ngIf="item.isDecision && item.isCompleted">
                  {{ applItem.amountAppealDecision ?? "Pending" }}
                </span>
                <span *ngIf="!item.isCompleted && item.currentStep && !applItem.isErrorInStatus && item.stage == ''"
                  class="material-symbols-outlined"
                  [ngStyle]="{'color': item.status == 'Draft' ? '#639DD4' : '#FDCB52'}">
                  {{ item.label == 'Draft' ? 'check_circle' : 'circle' }}
                </span>
                <span *ngIf="!item.isCompleted && !item.currentStep && !applItem.isErrorInStatus"
                  class="material-symbols-outlined" style="color: #FDCB52">
                  circle
                </span>
                <span *ngIf="applItem.isErrorInStatus" class="material-symbols-outlined" style="color: #FDCB52">
                  circle
                </span>
              </div>
              <div class="timeline-status-line-connector"
                *ngIf="item.label == '' && i > 1 && (i+1) < applItem.appealAmountStatusBar.length"></div>
            </div>
          </div>
        </div>
      </div>
      }
      <!-- END Case Amount Appeal Timeline -->

      <div>
        @if (applItem.caseAmountAppeal) {
        <button class="col-md-2 application-button" type="button"
          (click)="viewAppealAfterSubmission(applItem, 'Amount')">View Amount Appeal</button>
        }
      </div>

      <!-- Add Appeals section -->
      <div [featureEnabled]="'useAppeals'">
        @if (applItem.dateFileClosed && remainingDays(applItem) > 0) {
        @if(applItem.caseEligibility === this.CaseElibilityEnum.Ineligible && applItem.caseEligibilityAppeal === null) {
        <div class="appeals">
          <span>
            You have <b>{{remainingDays(applItem)}}</b> days to register an eligible appeal on this application
          </span>
          <button class="col-md-2 application-button whitebutton" type="button"
            (click)="viewAppeals(applItem, 'eligibility')">Appeal
            Eligibility Decision</button>
        </div>
        }
        @if(applItem.caseEligibility === this.CaseElibilityEnum.Eligible && applItem.caseAmountAppeal === null &&
        (applItem.caseEligibilityAppeal === null || applItem.caseEligibilityAppeal?.activeStage?.name?.toLowerCase() ===
        'closed')) {
        <div class="appeals">
          <span>
            You have <b>{{remainingDays(applItem)}}</b> days to register an amount appeal on this application
          </span>
          <button class="col-md-2 application-button whitebutton" type="button"
            (click)="viewAppeals(applItem, 'amount')">
            Appeal Payment Amount</button>
        </div>
        }
        }
      </div>


    </mat-card>
  </div>
</div>
<div class="content-container" style="padding-bottom: 100px; padding-top: 50px;"
  *ngIf="lstApplications.length === 0 && isLoading === false">
  <div class="heading-container">
    <div class="row">
      <div class="col-md-12">
        <span class="page-heading"> No {{appType}} Applications</span> <br />
      </div>
    </div>
  </div>
</div>
<app-loader class="spinner" [showLoader]="isLoading" [strokeWidth]="10" [diameter]="50" [color]="color">
</app-loader>