<mat-card class="card-align" style="border:none;" [class.mat-elevation-z0]="true">
  <mat-card-content>

    <form [formGroup]="damagedPropertyAddressForm">

      <ng-container>
        <div class="row">
          <div class="col-md-12 bottomspace">
            <mat-label class="sub-heading">Damaged Property</mat-label>
            <br /><br/>
            <p class="sub-heading" style="font-size: 15px">
              Is the damaged property address the same as the primary address that you listed on your profile?<span style="color:red" >*</span>
            </p>
            <mat-radio-group
              [(ngModel)]="useProfileAddress"
              [ngModelOptions]="{standalone: true}"
              class="primary-radio-group"
              (change)="onUseProfileAddressChoice($event)"
              required
              aria-label="Select an option">
              <mat-radio-button value="0">Yes</mat-radio-button>
              <div class="row radio-extra-label">
                {{ profileAddress.addressLine1}}<br/>
                <div *ngIf="profileAddress.addressLine2">{{ profileAddress.addressLine2}}<br/></div>
                {{ profileAddress.community }}&nbsp;{{ profileAddress.postalCode }}<br /><br/>
              </div>
              <mat-radio-button value="1">No</mat-radio-button>
              <div class="row radio-extra-label" *ngIf="useProfileAddress === '1'">
                <app-bc-address
                  [addressForm]="damagedPropertyAddressForm"
                ></app-bc-address>
              </div>
            </mat-radio-group><br/><br/>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 bottomspace">
            <p class="sub-heading" style="font-size: 15px">
              Do you occupy the damaged property as your principal residence?<span style="color:red" >*</span>
            </p>
            <mat-radio-group
              formControlName="occupyAsPrimaryResidence"
              class="primary-radio-group horizontal-radio-group"
              required
              aria-label="Select an option">
              <mat-radio-button value=true>Yes</mat-radio-button>&nbsp;&nbsp;<mat-radio-button value=false>No</mat-radio-button>
            </mat-radio-group><br/><br/>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 bottomspace">
            <p class="sub-heading" style="font-size: 15px">
              Is this address on a First Nations reserve?<span style="color:red" >*</span>
            </p>
            <mat-radio-group
              formControlName="onAFirstNationsReserve"
              class="primary-radio-group horizontal-radio-group"
              required
              aria-label="Select an option">
              <mat-radio-button value=true>Yes</mat-radio-button>&nbsp;&nbsp;<mat-radio-button value=false>No</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>

        <!-- TODO: drop down list from ERA -->
        <div class="row" *ngIf="damagedPropertyAddressForm.get('onAFirstNationsReserve').value == 'true'">
          <div class="col-md-6 bottomspace">
            <input
              formControlName="firstNationsReserve"
              style="width:50%"
              matInput
              placeholder="Name of First Nations Reserve"
            /><br/><br/><br/>
          </div>
        </div>

        <div *ngIf="damagedPropertyAddressForm.get('onAFirstNationsReserve').value != 'true'">
          <br/><br/>
        </div>

        <div class="row">
          <div class="col-md-12 bottomspace">
            <p class="sub-heading" style="font-size: 15px">
              Is your home a manufactured home?
            </p>
            A manufactured home is a modular or mobile homes that is typically built in a factory off-site and then delivered and assembled on-site.
            <mat-radio-group
              formControlName="manufacturedHome"
              class="primary-radio-group horizontal-radio-group"
              aria-label="Select an option">
              <mat-radio-button value=true>Yes</mat-radio-button>&nbsp;&nbsp;<mat-radio-button value=false>No</mat-radio-button>
            </mat-radio-group><br/><br/>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 bottomspace">
            <p class="sub-heading" style="font-size: 15px">
              As the Home Owner, are you eligible for a BC Home Owner Grant for this property?<span style="color:red" >*</span>
            </p>
            <mat-radio-group
              formControlName="eligibleForHomeOwnerGrant"
              class="primary-radio-group horizontal-radio-group"
              required
              aria-label="Select an option">
              <mat-radio-button value=true>Yes</mat-radio-button>&nbsp;&nbsp;<mat-radio-button value=false>No</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>

      </ng-container>
    </form>

   </mat-card-content>
</mat-card>
