<div class="container container-frame">
  <div class="row heading-container">
    <div class="col-8">
      <span class="page-heading">Project Eligibility Appeal</span>
    </div>
    <div class="col-4">
      <button
        #backtodash
        id="backtodash"
        class="button-p nextNsave col-4"
        style="vertical-align: middle; width: 220px; margin-top: 15px"
        (click)="BackToDashboard()"
        mat-stroked-button
        type="button">
        Back to Project Dashboard
        <app-loader [strokeWidth]="3" [diameter]="25"></app-loader>
      </button>
    </div>
  </div>

  <app-loader
    class="spinner"
    [showLoader]="isLoading"
    [strokeWidth]="10"
    [diameter]="50"
    [color]="'green'"></app-loader>

  <form [formGroup]="appealForm">
    <mat-horizontal-stepper class="stepper-style" labelPosition="bottom" #stepper [linear]="false" [selectedIndex]="selectedStepIndex">
      <mat-step [editable]="!decessionMade" [stepControl]="appealForm.get('step1')">
        <ng-template matStepLabel>Appeal Rationale</ng-template>

        <div formGroupName="step1">
          <div class="row">
            <app-appeal-project-details
              [projectId]="projectId"
              [project]="project"
              [application]="application"
              [appeal]="appeal"></app-appeal-project-details>
          </div>

          <div class="row mb-4">
            <div class="col-md-12">
              <h2 class="sub-heading mb-0">Project Eligibility Appeal Process</h2>
              <p>
                If you believe that the DFA program incorrectly determined the eligibility for this project, whether it
                is for the entire project or a specific cost(s), you may appeal the determination within 60 days of the
                date on the notice being appealed.
              </p>
              <p>
                Submitting an appeal does not guarantee that the DFA determination will be overturned. Appeal
                determinations may overturn or uphold the DFA determination being appeald.
              </p>
            </div>
          </div>

          <div class="row mb-4">
            <div class="col-md-12">
              <h2 class="sub-heading requiredField mb-0">Appeal Reason</h2>
              <p>
                Please provide a detailed appeal reasoning here. If you require more space to provide your reasoning,
                please provide it as a supporting document below. Any supporting documentation you can provide in
                addition to the reasoning is encouraged. Appeal staff may reach out to you if more information is
                required.
              </p>
              <mat-form-field appearance="outline" class="w-100">
                <textarea
                  formControlName="reason"
                  matInput
                  rows="5"
                  class="w-100"
                  title="Detailed reasoning and/or evidence that explains and/or supports why the appellant believes the DFA determination was incorrect."
                  [maxlength]="reasonMaxLength"
                  [readonly]="isReadOnly"
                  (keyup)="updateReasonRemainingCharacters()"></textarea>
                <mat-hint *ngIf="!isReadOnly">{{ reasonRemainingLength }} characters remaining.</mat-hint>
              </mat-form-field>
            </div>
          </div>

          <div class="row mb-4">
            <div class="col-md-6">
              <button class="button-s align-back-button" mat-button type="button" (click)="cancel()">
                {{isReadOnly? 'Close': 'Cancel Appeal'}}
              </button>
            </div>
            <div class="col-md-6">
              <button class="button-p" mat-stroked-button matStepperNext type="button">Next - Upload Documents</button>
            </div>
          </div>
        </div>
      </mat-step>

      <mat-step [completed]="decessionMade" [editable]="!decessionMade" [stepControl]="appealForm.get('step2')">
        <ng-template matStepLabel>Upload Documents</ng-template>

        <div formGroupName="step2">
          <div class="row">
            <app-appeal-project-details
              [projectId]="projectId"
              [project]="project"
              [application]="application"
              [appeal]="appeal"></app-appeal-project-details>
          </div>

          <div class="row mb-4">
            <div class="col-md-12">
              <h2 class="sub-heading mb-0">Appeal Support</h2>
              <p>
                Evidence or supporting documentation should be included wherever possible (e.g. technical reports, code
                and standards evidence, bylaws, photos, assessments, pictures, usage logs, timesheets, etc.).
              </p>
            </div>
          </div>
          <div class="row justify-content-start mb-4">
            <div class="mb-2">
              <app-appeal-documents
                [onRemoveDocument]="deleteDocument"
                [vieworedit]="vieworedit"
                [documentsData]="documentsData"
                [isDisabled]="isDisabled"></app-appeal-documents>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <button class="button-s align-back-button" mat-button matStepperPrevious type="button">Back</button>
            </div>
            <div class="col-md-6">
              <button class="button-p" mat-stroked-button matStepperNext type="button">Next - Review and Submit</button>
            </div>
          </div>
        </div>
      </mat-step>

      <mat-step [editable]="!decessionMade">
        <ng-template matStepLabel>Review and Submit</ng-template>

        <div class="row">
          <app-appeal-project-details
            [projectId]="projectId"
            [project]="project"
            [application]="application"
            [appeal]="appeal"></app-appeal-project-details>
        </div>

        <div class="row mb-4">
          <div class="col-md-12">
            <h2 class="sub-heading mb-0">Appeal Process</h2>

            <div class="row">
              <div class="col-md-12">
                <p>You are submitting a project eligbility appeal, based on the following rationale</p>
                <mat-form-field appearance="outline" class="w-100">
                  <textarea
                    rows="5"
                    class="w-100"
                    matInput
                    readonly
                    [ngClass]="{ 'missing-info': appealForm.get('step1.reason')?.invalid }"
                    style="resize: none"
                    [value]="getReason()"></textarea>
                </mat-form-field>
              </div>
            </div>

            <div class="row mb-0">
              <div class="col-md-12">
                <p>You have also provided the following supporting documents</p>
               <div>
                <table mat-table [dataSource]="projectAppealDocumentSummaryDataSource">
                  <!-- File Name Column -->
                  <ng-container matColumnDef="fileName" style="width:25%">
                    <th mat-header-cell *matHeaderCellDef >
                      <b>File Name</b>
                    </th>
                    <td *matCellDef="let element" mat-cell>
                      {{ element.fileName }}
                    </td>
                  </ng-container>
      
                  <!-- Description Column -->
                  <ng-container matColumnDef="fileDescription" style="width:25%">
                    <th mat-header-cell *matHeaderCellDef>
                      <b>File Description</b>
                    </th>
                    <td *matCellDef="let element" mat-cell>
                      {{ element.fileDescription}}
                    </td>
                  </ng-container>
      
                  <!-- Type Column -->
                  <ng-container matColumnDef="fileTypeText" style="width:25%">
                    <th mat-header-cell *matHeaderCellDef>
                      <b>File Type</b>
                    </th>
                    <td *matCellDef="let element" mat-cell>
                      {{ element.fileTypeText}}
                    </td>
                  </ng-container>
      
                  <!-- UploadedDate Column -->
                  <ng-container matColumnDef="uploadedDate" style="width:25%">
                    <th mat-header-cell *matHeaderCellDef>
                      <b>Date Uploaded</b>
                    </th>
                    <td *matCellDef="let element" mat-cell>
                      {{ element.uploadedDate | date:"dd-MMM-yyyy" }}
                    </td>
                  </ng-container>
      
                  <tr mat-header-row *matHeaderRowDef="projectAppealDocumentSummaryColumnsToDisplay"></tr>
                  <tr
                    mat-row
                    *matRowDef="let element; columns: projectAppealDocumentSummaryColumnsToDisplay"
                    class="example-element-row"
                  ></tr>
                </table>
               </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row mb-4">
          <div class="col-md-12">
            <h2 class="sub-heading mb-0">Appeal Submission</h2>
            <p>
              Submitting an appeal does not guarantee that the DFA determination will be overturned. Appeal
              determinations may overturn or uphold the DFA determination being appealed.
            </p>
          </div>
        </div>

        <div class="row">
            <div class="col-md-6" *ngIf="!decessionMade">
              <button class="button-s" mat-button matStepperPrevious type="button">
                <span>Back</span>
              </button>
            </div>
            <div class="col-md-6" *ngIf="!isReadOnly">
              <button
                class="button-p save-button"
                mat-stroked-button
                type="button"
                [disabled]="isDisabled"
                (click)="submit()">
                <span>Submit Appeal</span>
              </button>
            </div>
            <div class="col-md-12" *ngIf="isReadOnly">
              <button
                class="button-p save-button"
                mat-stroked-button
                type="button"
                [disabled]="isDisabled"
                (click)="cancel()">
                <span>Close</span>
              </button>
            </div>
        </div>
      </mat-step>
      <ng-template matStepperIcon="edit" let-index="index">
        {{ index + 1 }}
      </ng-template>
    </mat-horizontal-stepper>
  </form>
</div>
