<div class="container container-frame">
  <div class="row heading-container">
    <div class="col-8">
      <span class="page-heading">{{ homeOwnerApplicationHeading }}</span>
    </div>
    <div class="col-4">
      <button
        class="button-p save-button col-4"
        style="height:40px !important; vertical-align: middle; width:220px;"
        [disabled]="isSubmitted"
        mat-stroked-button
        type="button"
        >
         Save & Back to Dashboard
         <app-loader
          [strokeWidth]="3"
          [diameter]="25"
          [showLoader]="showLoader"
        ></app-loader>
      </button>
    </div>
  </div>

  <mat-horizontal-stepper
    class="stepper-style"
    labelPosition="bottom"
    (animationDone)="currentStep(homeOwnerApplicationStepper?.selectedIndex)"
    (selectionChange)="stepChanged($event, homeOwnerApplicationStepper)"
    #homeOwnerApplicationStepper
    linear
  >
    <mat-step *ngFor="let step of steps" [stepControl]="form">
      <ng-template matStepLabel>{{ step.stepName }}</ng-template>
      <app-component-wrapper
        [componentName]="step.component"
        [folderPath]="homeOwnerApplicationFolderPath"
      ></app-component-wrapper>
      <br />
      <div class="row justify-content-between resp-style">
        <div class="col-md-6">
          <button
            class="button-s"
            mat-button
            type="button"
            (click)="goBack(homeOwnerApplicationStepper, step.lastStep)"
          >
            {{ step.backButtonLabel }}
          </button>
        </div>
        <div class="col-md-6">
          <button
            *ngIf="
              currentFlow === 'verified-registration' &&
                step.component === 'damaged-items-by-room';
            "
            class="button-p"
            mat-stroked-button
            type="button"
            (click)="goForward(homeOwnerApplicationStepper, step.isLast, step.component)"
          >
            Review Submission
          </button>
          <button
            *ngIf="!(currentFlow === 'verified-registration' && step.component === 'review')"
            class="button-p"
            mat-stroked-button
            type="button"
            (click)="goForward(homeOwnerApplicationStepper, step.isLast, step.component)"
          >
            {{ step.nextButtonLabel }}
          </button>
        </div>
      </div>
    </mat-step>
    <mat-step *ngIf="currentFlow === 'verified-registration'">
      <p>
        Please read through and confirm that your details are all correct before
        submitting.
      </p>
      <ng-template matStepLabel>Review & Submit</ng-template>
      <app-review
        [type]="type"
        [showHeading]="true"
        [parentPageName]="parentPageName"
        [currentFlow]="currentFlow"
      >
      </app-review>
      <br />

      <button
        class="button-p save-button"
        [disabled]="isSubmitted"
        mat-stroked-button
        type="button"
        (click)="goForward(homeOwnerApplicationStepper, true, 'review')"
      >
        Save & Submit
        <app-loader
          [strokeWidth]="3"
          [diameter]="25"
          [showLoader]="showLoader"
        ></app-loader>
      </button>
    </mat-step>
    <ng-template matStepperIcon="edit" let-index="index">
      {{ index + 1 }}
    </ng-template>
  </mat-horizontal-stepper>
</div>
