.review-heading {
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    color: #169bd5;
}

.review-profile-head{
    margin: 0px !important;
}

.edit-image img:last-child {
    display: none;
}

.edit-image:hover img:last-child {
    display: block;
}

.edit-image:hover img:first-child {
    display: none;
}

.info-detail {
    padding: 10px;
}

.wrap-text {
    word-wrap: break-word;
}

.no-bottom-margin {
    margin-bottom: 0;
}

.contentStyle {
  border: 1px solid lightgrey;
  padding: 10px
}

.missing-info {
  color: red;
}
