<div class="content-container" >
  <div class="col-12 content-container infoText" >
    <div class="row">
      <div class="infoIconCol">
        <div class="material-icons infoIconStyle">info</div>
      </div>
      <div class="col-md-11" style="line-height: normal;">
        You must provide all the required information to save an invoice record<span style="color:red" >*</span>
        <br /><br />
        Don't group invoices from the same supplier; each invoice must be entered separately.
        <br /><br />
        Invoices must be billed to the Local Government or Indigenous Governing Body submitting the claim.
        <br /><br />
        Equipment costs claimed must not exceed the Blue Book rates.
        <br /><br />
        Only include DFA eligible costs. Clearly indicate on invoice which costs are included.
        <br /><br />
        DFA eligible expenses are costs required to repair or restore infrastructure to its pre-event functionality. Enhancements or betterments are eligible only if required to meet prevailing codes and bylaws in the affected area. Costs incurred or required in relation to works undertaken as a preventative measure to guard against future disasters are not eligible.
      </div>
      <div class="col-md-6"></div>

      </div>
      <div class="col-md-6"></div>
  </div>
  <br/><br/>
  <div class="tab-heading-parent">
    <div class="col-md-5">
      <p class="tab-heading">
        Invoices ({{invoicesCount}})
      </p>
    </div>
    <div class="col-md-7 add-invoice-button-parent">
      <button
        class="button-s add-invoice-button"
        mat-button
        type="button"
      >
        + Add Invoice
      </button>
    </div>
    
  </div>
  <div class="row filterStage">
  

  <div class="col-md-2">
    <mat-select placeholder="Filter by days" class="boxborder" [(value)]="filterbydaysSelected" (selectionChange)="ApplyFilter(2,null)">
      <mat-option value="-1">
        All Invoices
      </mat-option>
      <mat-option value="10">
        Last 10 days
      </mat-option>
      <mat-option value="15">
        Last 15 days
      </mat-option>
      <mat-option value="30">
        Last 30 days
      </mat-option>
      <mat-option value="90">
        Last Quarter
      </mat-option>
      <mat-option value="365">
        Last Year
      </mat-option>
    </mat-select>
  </div>

  <div class="col-md-5">
  </div>

  <div class="col-md-2 ">
    <mat-select placeholder="Sort by" class="boxborder" [(value)]="sortfieldSelected" (selectionChange)="ApplyFilter(3,null)">
      <mat-option value="vendorname">
        Vendor Name
      </mat-option>
      <mat-option value="invoicenumber">
        Invoice Number
      </mat-option>
      <mat-option value="invoicedate">
        Invoice Date
      </mat-option>
      <mat-option value="totaleligible">
        Total Eligible
      </mat-option>
    </mat-select>
  </div>

  <div class="col-md-3 searchDiv">
    <input
      #searchBox
      id="searchBox"
      (keyup)="ApplyFilter(4,searchBox.value)"
      class="boxborder"
      matInput
      placeholder="Search"
      maxlength="100"/>
    <i class="material-icons">search</i>
  </div>
</div>

  <table mat-table [dataSource]="documentSummaryDataSource" *ngIf="documentSummaryDataSource.data.length > 0" style="width:100%">
    <!-- Invoice Number Column -->
    <ng-container matColumnDef="invoicenumber" style="width:25%">
      <th mat-header-cell *matHeaderCellDef >
        <b>Invoice Number</b>
      </th>
      <td *matCellDef="let element" mat-cell>
        {{ element.invoicenumber }}
      </td>
    </ng-container>

    <!-- Vendor Name -->
    <ng-container matColumnDef="vendorname" style="width:25%">
      <th mat-header-cell *matHeaderCellDef>
        <b>Vendor Name</b>
      </th>
      <td *matCellDef="let element" mat-cell>
        {{ element.vendorname}}
      </td>
    </ng-container>

    <!-- Invoice Date Column -->
    <ng-container matColumnDef="invoicedate" style="width:25%">
      <th mat-header-cell *matHeaderCellDef>
        <b>Invoice Date</b>
      </th>
      <td *matCellDef="let element" mat-cell>
        {{ element.invoicedate | date:"dd-MMM-yyyy" }}
      </td>
    </ng-container>

      <!-- Total Claim Column -->
      <ng-container matColumnDef="totalclaim" style="width:25%">
      <th mat-header-cell *matHeaderCellDef>
        <b>Total being Claimed</b>
      </th>
      <td *matCellDef="let element" mat-cell>
        {{ element.totalclaim }}
      </td>
    </ng-container>

    <!-- Delete Icon Column -->
    <ng-container matColumnDef="icons" style="width:25%">
      <th mat-header-cell *matHeaderCellDef>
        &nbsp;
      </th>
      <td *matCellDef="let element; let index = index" mat-cell>
        <button
          class="edit-image"
          *ngIf="vieworedit !== 'viewOnly'"
          mat-icon-button
          aria-label="Edit"
          (click)="editDamagedRoomRow(element, index)"
        >
          <img src="/assets/images/edit.svg" height="35" width="35" />
          <img
            src="/assets/images/edit_onhover.svg"
            height="35"
            width="35"
          />
        </button>&nbsp;
        <button
          class="delete-image"
          mat-icon-button
          aria-label="Remove"
          (click)="confirmDeleteDocumentSummaryRow(element)"
        >
          <img src="/assets/images/delete.svg" height="35" width="35" />
          <img src="/assets/images/delete_onhover.svg" height="35" width="35"/>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="documentSummaryColumnsToDisplay"></tr>
    <tr
      mat-row
      *matRowDef="let element; columns: documentSummaryColumnsToDisplay"
      class="example-element-row"
      [style.height]="'auto'"
    ></tr>

  </table>

</div>
<div class="content-container no-project" style="display:none" >
 <div class="heading-container">
    <div class="row">
      <div class="col-md-12">
        <span class="page-heading"> No Invoices</span> <br />
      </div>
    </div>
  </div>
</div>
