.page-subheadbold {
  font-weight: bold;
  font-size: 14px;
}

.page-navigation {
    font-size: 16px;
}

.navHeight {
    font-size: 30px;
}

.setViewIcon {
  color: #003366;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.example-element-row {
  height: 51px !important;
  border: 1px solid;
  border-color: rgb(204, 204, 204);
}

.add-invoice-button {
  color: #003366 !important;
  font-weight: bold !important;
  height: 35px !important;
  border-radius: 5px !important;
  margin-top: -26px;
  position: absolute;
  border: 1px solid #003366 !important;
  line-height: 25px !important;
  -webkit-box-shadow: 0 0 3px #003366;
  -moz-box-shadow: 0 0 3px #003366;
  box-shadow: 0 0 3px #003366;
}

::ng-deep .mdc-data-table__cell {
  overflow-wrap: anywhere
}

.add-invoice-button-parent {
  display: flex;
  justify-content: flex-end;
}

table {
  width: 99.99%;
  box-shadow: none;
}

tr.mat-mdc-header-row {
  background: #38598A 0% 0% no-repeat !important;
}

th.mat-mdc-header-cell {
  color: white;
}

.mat-table {
  overflow: auto;
  width: 100%;
  max-height: 500px;
}

.mat-column-deleteIcon {
  text-align: right;
  justify-content: flex-end;
}


.delete-image img:last-child {
  display: none;
}

.delete-image:hover img:last-child {
  display: block;
}

.delete-image:hover img:first-child {
  display: none;
}

.example-damage-image {
  max-width: 1100px;
  margin: 0 auto;
  display: block;
  margin-top: 10px;
  margin-bottom: 36px;
}

.edit-image img:last-child {
  display: none;
}

.edit-image:hover img:last-child {
  display: block;
}

.edit-image:hover img:first-child {
  display: none;
}

.tab-heading {
  color: #1A5A96;
  font-weight: bold;
  padding-left: 20px;
  border-bottom: 3px solid #1A5A96;
  width: 108px;
  cursor: pointer;
  margin: -2px !important;
}

.tab-heading-parent {
  border-bottom: 2px solid lightgray;
  margin-bottom: 15px;
  display: flex;
}

.headerText {
  font-size: 0px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.infoText {
  background: #F6F9FC 0% 0% no-repeat padding-box;
  border: 1px solid #003366;
  border-radius: 10px;
  padding: 20px 10px;
  margin-top: 10px;
}

.appDetailHeader {
  background: #F6F9FC 0% 0% no-repeat padding-box;
  border: 1px solid #003366;
  padding: 10px;
  margin-top: 10px;
}

.infoIconStyle {
  font-size: 17px;
  color: #003366;
}

.infoIconCol {
  width: 20px;
  padding-top: 4px;
}

.left-align {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.view-banner {
  background-color: #fcba19;
  border-color: #ffdf25;
  box-shadow: none;
}

.align-banner {
  padding-top: 10px;
  padding-bottom: 40px;
}

.top-detail {
  font-size: 21px;
}

.button-align {
  padding-top: 20px;
  padding-bottom: 20px;
}

.button-tab-align {
  padding-bottom: 20px;
}

.mat-tab-link {
  /*background-color: rgba(204, 204, 204, 1);*/
  opacity: 1;
}

.active-tab {
  color: #169bd5 !important;
  /*background: white;*/
  border-bottom: 2px solid;

  .inactive-curr {
    display: none !important;
  }

  .active-curr {
    display: block !important;
  }
}

.active-curr {
  display: none;
}

.start-button {
  width: 100%;
  white-space: normal;
  line-height: inherit;
}

.tabHead {
  font-size: 20px;
  padding: 0 50px 0 50px;
}

.spinner {
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
}

.block {
  border: 1px solid lightgrey;
}

.content {
  margin: 10px 0px;
  padding: 18px;
  min-width: 900px;
}

.downArrow {
  font-size: 32px;
  cursor: pointer;
}

.application-button {
  float: left !important;
  /* background-color: #ffffff; */
  color: #003366;
  height: 32px;
  font-size: 15px;
  padding-left: 16px;
  padding-right: 16px;
  max-width: 200px;
  margin-left: 2%;
  font-weight: bold;
  border: 1px solid #003366 !important;
  background: #f9fbfe 0% 0% no-repeat padding-box;
  border-radius: 5px;
}

.whitebutton {
  background-color: white;
  color: grey;
  border: 1px solid lightgrey !important;
}

.redbutton {
  background-color: red;
  color: white;
  /*border: 1px solid lightgrey !important;*/
}

.nocircle {
  height: 12px;
  float: left;
  padding-left: 6%;
  /*margin-right: -86px;*/
  margin-top: 60px;
  margin-right: 24px;
}

.circle {
  /*width: 100px;*/
  height: 12px;
  float: left;
  /*  padding-left: 17%;
  margin-right: 24px;*/
  /*margin: 60px 24px 0px 24px;*/
  margin-top: 60px;
  text-align: center;
}

.line {
  /*width: 100px;*/
  height: 12px;
  border-bottom: 2px solid black;
  float: left;
  /*padding-left: 10%;*/
  /*margin-right: 24px;*/
  margin-top: 60px;
  /*width: 11.5%;*/
}

.filterStage {
  padding-bottom: 20px;
}

.filterStage .boxborder {
  border: 1px solid #707070;
  border-radius: 5px;
  padding: 8px;
}

#searchBox {
  width: 100%;
  padding-right: 30px;
}

.searchDiv {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

i.material-icons {
  font-size: 18px;
  margin-left: -25px;
  cursor: pointer;
}

.no-invoices{
  background: #F6F9FC 0% 0% no-repeat padding-box;
  padding-bottom: 80px;
  padding-top: 80px;
  border: 1px dashed grey;
  display: flex;
  justify-content: center;
}

.no-invoices-text {
  font-size: 20px;
  color: #606060;
}

.labelStyle {
  text-align: center;
  width: 5%;
  /*border: 1px solid black;*/
}

.headerlabelStyle {
  text-align: center;
  width: 20%;
}

.removeBorder {
  float: left;
  width: 25%;
  margin-top: 18px;
}

.lineConnector {
  border: 1px inset lightgray;
}

.lineConnectorLeft {
  float: left;
  width: 25%;
  margin-top: 18px;
}

.alignStatus {
  /*  float: left;
  width: 50%;*/
  margin-top: 6px;
}

.lineConnectorRight {
  float: right;
  width: 25%;
  margin-top: 18px;
}

.labelEmptyWidth {
  width: 5%;
  text-align: center;
  /*border: 1px solid black;*/
}

.adjustLineWidth {
  width: 8% !important;
  padding-left: 0% !important;
}

.currentStatus {
  color: #05325C;
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: bold;
  background: #639DD4 0% 0% no-repeat padding-box;
}

.stepsDesc {
  /*width: 100px;*/
  height: 12px;
  float: left;
  /*padding-left: 6%;*/
  /*margin-right: 23px;*/
  margin-top: 30px;
  text-align: center;
}

.youAreHere {
  background-color: #faf1c9;
  padding: 4px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 12px;
  display: table-row;
}

.stepText {
  color: #313132;
  font-size: 15px;
}

@media (max-width: 1000px) and (min-width: 300px) {

  .removeBorder {
    float: left;
    width: 25%;
    margin-top: 18px;
  }

  .lineConnector {
    border: 1px solid black;
  }

  .lineConnectorLeft {
    float: left;
    width: 25%;
    margin-top: 18px;
  }

  .alignStatus {
    float: left;
    width: 50%;
    margin-top: 6px;
  }

  .lineConnectorRight {
    float: right;
    width: 25%;
    margin-top: 18px;
  }

  .labelEmptyWidth {
    width: 0%;
    text-align: center;
    /*border: 1px solid black;*/
  }


  .nocircle {
    height: 12px;
    float: left;
    padding-left: 8%;
    margin-right: -86px;
    margin-top: 60px;
  }

  .circle {
    /*width: 100px;*/
    height: 12px;
    border-bottom: 2px solid black;
    float: left;
    padding-left: 17%;
    margin-right: 24px;
    margin-top: 60px;
  }

  .stepsDesc {
    /*width: 100px;*/
    height: 12px;
    float: left;
    padding-left: 7%;
    margin-right: 23px;
    margin-top: 30px;
  }

  .youAreHere {
    display: flex;
    width: 70px;
  }
}
