<mat-card appearance="outlined" class="card-align" style="border:none;" [class.mat-elevation-z0]="true">
  <mat-card-content>

    <form [formGroup]="prescreeningForm">

      <ng-container>
        <!-- Extra warning if not logged in -->
        <div class="row" *ngIf="!isLoggedIn">
          <div class="col-md-8 bottomspace">
              If you are eligible for DFA and want to create an application, you must:<br/>
              <ul>
                <li>log in with your BC Services Card,</li>
                <li>create a profile, and </li>
                <li>repeat the prescreening process.</li>
              </ul>
          </div>
        </div>
        <hr style="border: 2px solid;" *ngIf="!isLoggedIn"/>

        <!-- Applicant options -->
        <div class="row">
          <div class="col-md-8 bottomspace">
            <p>Answer the following questions to find out if you are eligible for Disaster Financial Assistance (DFA). </p>
            <br/>
            <mat-label class="sub-heading">Are you applying for DFA as one of the following?<span style="color:red" >*</span></mat-label>
            <br /><br/>
            <p style="font-size: 15px">
              You may apply for more than one type, but each must be a separate application.
            </p>
            <mat-radio-group
              formControlName="applicantOption"
              class="primary-radio-group"
              required
              aria-label="Select an option">
                <div *ngFor="let option of radioApplicantOptions | keyvalue: originalOrder">
                  <mat-radio-button
                    class="primary-radio-button row"
                    [value]="option.key"
                  ><span *ngIf="option.value === radioApplicantOptions.SmallBusinessOwner">Small business owner (including landlords)</span>
                   <span *ngIf="option.value === radioApplicantOptions.CharitableOrganization">Charitable/non-profit organization</span>
                   <span *ngIf="option.value === radioApplicantOptions.ResidentialTenant">Residential tenant</span>
                   <span *ngIf="option.value === radioApplicantOptions.FarmOwner">Farm</span>
                   <span *ngIf="option.value === radioApplicantOptions.Homeowner"> {{ option.value }}</span>
                  </mat-radio-button><br />
                  <div class="row">
                    <div class="sub-heading radio-extra-label col-md-12" *ngIf="prescreeningForm.get('applicantOption').value === option.key && option.value === radioApplicantOptions.Homeowner">
                      To qualify for DFA you must have occupied the property as your principal residence at the time of the event. Seasonal or recreational properties aren’t eligible. If you are a landlord, you must apply and qualify as a small business owner.
                      <br/>
                      As a homeowner, you must provide the following with your DFA application:<br/>
                      <ul>
                        <li><a href="https://www2.gov.bc.ca/assets/gov/public-safety-and-emergency-services/emergency-preparedness-response-recovery/embc/dfa/dfa_homeowners_insurance_template.pdf" target="_blank">insurance template</a> completed by your insurance broker.</li>
                      </ul>
                    </div>
                    <div class="sub-heading radio-extra-label col-md-12" *ngIf="prescreeningForm.get('applicantOption').value === option.key && option.value === radioApplicantOptions.ResidentialTenant">
                      To qualify for DFA, you must have occupied the property as your principal residence at the time of the event. Seasonal or recreational properties aren’t eligible.
                      <br/>
                      As a Residential Tenant, you will need to provide the following with your DFA application:
                      <ul>
                        <li><a href="https://www2.gov.bc.ca/assets/gov/public-safety-and-emergency-services/emergency-preparedness-response-recovery/embc/dfa/dfa_homeowners_insurance_template.pdf" target="_blank">insurance template</a> completed by your insurance broker</li>
                        <li>a copy of your rental agreement, lease, or <a (click)="onToggleOtherDocuments()"><u>other documentation</u></a> to show that you are/were legally occupying the damaged property at the time of the event</li>
                        <li>a copy of government issued identification such as Driver's License, Service Card, or BC ID</li>
                      </ul>
                    </div>
                    <div class="sub-heading radio-extra-label col-md-12" *ngIf="prescreeningForm.get('applicantOption').value === option.key && option.value === radioApplicantOptions.ResidentialTenant && showOtherDocuments === true" style="border: 3px solid #70abd9">
                     
                      <b>Other documentation to show tenancy:</b>
                      If you don't have a rental or lease agreement, you may include:
                      <ul>
                        <li>written correspondence from your landlord showing the dates and terms of your tenancy, or</li>
                        <li>a piece of mail addressed to you at the damaged property address which shows that you lived in the residence at the time of the event, such as a BC Hydro bill, utility bill, bank statement, or vehicle insurance.</li>
                      </ul>
                    </div>
                    <div class="sub-heading radio-extra-label col-md-12" *ngIf="prescreeningForm.get('applicantOption').value === option.key && option.value === radioApplicantOptions.SmallBusinessOwner">
                      
                      To qualify for DFA, your business must:
                      <ul>
                        <li>be managed by the owner on a day-to-day basis,</li>
                        <li>have grossed at least $10,000 but less than $2 million in revenue in the year immediately preceding the disaster,</li>
                        <li>employ fewer than 50 employees at one time, and</li>
                        <li>demonstrate that, without the claimed assistance, the future of the business could be placed in financial jeopardy. Financial jeopardy is defined as when the assistance payment to repair the damage would exceed 10 percent of the net income of the business.</li>
                      </ul>
                      As a small business owner, you will need to provide the following with your application:
                      <ul>
                        <li><a href="https://www2.gov.bc.ca/assets/gov/public-safety-and-emergency-services/emergency-preparedness-response-recovery/embc/dfa/dfa_farm_small_business_charitable_organization-insurance_template.pdf" target="_blank">Small Business Insurance Template</a> or <a href="https://www2.gov.bc.ca/assets/gov/public-safety-and-emergency-services/emergency-preparedness-response-recovery/embc/dfa/dfa_homeowners_insurance_template.pdf" target="_blank">Insurance template</a> completed by your insurance broker depending on the type of small business,</li>
                        <li>income tax return, and</li>
                        <li>supporting financial statements depending on the type of small business.</li>
                      </ul>
                      If applicable, you will also need to provide:
                      <ul>
                        <li>lease agreements</li>
                      </ul>
                    </div>
                    <div class="sub-heading radio-extra-label col-md-12" *ngIf="prescreeningForm.get('applicantOption').value === option.key && option.value === radioApplicantOptions.FarmOwner">         
                      To qualify for DFA, your farm must:
                      <ul>
                        <li>be identified as a developing or established agricultural operation,</li>
                        <li>be owned and operated by a person whose full-time employment is a farmer,</li>
                        <li>be the means by which the owner derives the majority of their income, and</li>
                        <li>demonstrate that, without the claimed assistance, the future of the farm operation could be placed in financial jeopardy. Financial jeopardy is defined as when the assistance payment to repair the damage would be greater than 10 percent of the net income of the farm operation. </li>
                      </ul>
                      If your farm operation is incorporated, the small business eligibility criteria applies which means your farm also must:
                      <ul>
                        <li>be managed by the owner on a day-to-day basis,</li>
                        <li>have grossed at least $10,000 but less than $2 million in revenue in the year immediately preceding the disaster, and</li>
                        <li>employ fewer than 50 employees at one time.</li>
                      </ul>
                      As a farm, you will need to provide the following with your application:
                      <ul>
                        <li><a href="https://www2.gov.bc.ca/assets/gov/public-safety-and-emergency-services/emergency-preparedness-response-recovery/embc/dfa/dfa_farm_small_business_charitable_organization-insurance_template.pdf" target="_blank">Small Business Insurance Template</a> completed by insurance broker,</li>
                        <li>income tax return, and</li>
                        <li>supporting financial statements depending on the type of farm.</li>
                      </ul>
                    </div>
                    <div class="sub-heading radio-extra-label col-md-12" *ngIf="prescreeningForm.get('applicantOption').value === option.key && option.value === radioApplicantOptions.CharitableOrganization">
                      To qualify for DFA, your charitable/non-profit organization must:
                      <ul>
                        <li>provide a benefit or service to the community,</li>
                        <li>have been in existence for at least 12 months, and</li>
                        <li>be registered under the BC <i>Societies Act</i>.</li>
                      </ul>
                      As a charitable organization or non-profit you must provide the following with your application:
                      <ul>
                        <li><a href="https://www2.gov.bc.ca/assets/gov/public-safety-and-emergency-services/emergency-preparedness-response-recovery/embc/dfa/dfa_farm_small_business_charitable_organization-insurance_template.pdf" target="_blank">Insurance template</a> completed by an insurance broker,</li>
                        <li>a listing of the Directors, including their contact and address information,</li>
                        <li>proof of the organization's registration (must include registration date) under the BC <i>Societies Act</i> and annual fillings, and</li>
                        <li>a statement outlining the organizations benefit or service to the community, and any other documentation supporting how the organization meets the eligibility criteria for DFA.</li>
                      </ul>
                      If applicable, you will also need to to provide:
                      <ul>
                      <li>lease agreements</li>
                      </ul>
                    </div>
                  </div>
                </div>
               <mat-error
                class="custom-mat-error"
                *ngIf="
                  prescreeningFormControl?.applicantOption?.touched &&
                  prescreeningFormControl?.applicantOption?.invalid &&
                  prescreeningFormControl?.applicantOption?.hasError('required')
                "
              >
                This is required</mat-error
              >
            </mat-radio-group>
          </div>
          <div class="col-md-4">
            <div class="sub-heading radio-extra-label" style="border: 3px solid #70abd9">
              <b>This page is for individuals, small businesses, farms, and charitable/non-profit organizations. If you're an Indigenous community or local government your
                process is different: <a href="https://www2.gov.bc.ca/gov/content/safety/emergency-management/local-emergency-programs/financial/communities-dfa" target="_blank">DFA for community recovery</a>.</b>
            </div>
          </div>
        </div>
        <hr style="border: 2px solid;"/>

        <!-- Damaged Property Address & Date of Damage -->
        <div class="row">
          <div class="col-md-8 bottomspace">
            <p class="sub-heading" style="font-size: 15px">
              What is the damaged property address?<span style="color:red" >*</span>
            </p>
            <mat-radio-group
              formControlName="isPrimaryAndDamagedAddressSame"
              class="primary-radio-group"
              (change)="onUseProfileAddressChoice($event)"
              required
              *ngIf="isLoggedIn == true"
              aria-label="Select an option">
              <mat-radio-button value=true>Same as my profile address</mat-radio-button>
              <div class="row radio-extra-label">
                {{ profile?.primaryAddress?.addressLine1}}<br/>
                <div *ngIf="profile?.primaryAddress?.addressLine2">{{ profile?.primaryAddress?.addressLine2}}<br/></div>
                {{ profile?.primaryAddress?.city }}&nbsp;{{profile?.primaryAddress?.stateProvince}}&nbsp;{{ profile?.primaryAddress?.postalCode }}<br /><br/>
              </div>
              <mat-radio-button value=false>Different from my profile address above</mat-radio-button>
              <div class="row radio-extra-label" *ngIf="prescreeningForm.get('isPrimaryAndDamagedAddressSame').value == 'false'">
                <app-bc-address
                  [addressForm]="prescreeningForm"
                  [primaryAddressWarning]="false"
                ></app-bc-address>
              </div>
            </mat-radio-group>
            <div class="row radio-extra-label" *ngIf="isLoggedIn == false">
              <app-bc-address
                [addressForm]="prescreeningForm"
                [primaryAddressWarning]="false"
              ></app-bc-address>
            </div>
            <br/><br/>
            <p class="sub-heading" style="font-size: 15px">
              What date was your property first impacted by the disaster event?<span style="color:red" >*</span>
            </p>
            <mat-form-field appearance="outline" style="width: 35%;min-width: 300px;">
              <input matInput
                [matDatepicker]="fromPicker"
                formControlName="damageFromDate"
                [max]="todayDate"
                required >
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
              <mat-datepicker #fromPicker></mat-datepicker>
              <mat-error
                *ngIf="
                prescreeningForm.get('damageFromDate').invalid &&
                prescreeningForm.get('damageFromDate').hasError('required')
              "
              >
                From date is required</mat-error
              >
              <mat-error
                *ngIf="
                prescreeningForm.get('damageFromDate').invalid &&
                prescreeningForm.get('damageFromDate').hasError('matDatepickerMax')
              "
              >
                From date cannot be in the future</mat-error
              >
            </mat-form-field><br/><br/>
            <p class="sub-heading" style="font-size: 15px">
              Fill in address and date, then select a disaster event that matches this address and date.<span style="color:red" >*</span>
            </p>
            <mat-form-field appearance="outline">
              <mat-label>Matching Disaster Event</mat-label>
              <mat-select formControlName="eventId" matInput placeholder="Matching Disaster Event" required [disabled]="!isValidAddressAndDate || matchingEventsData.length <= 0">
                <mat-option *ngFor="let option of matchingEventsData"
                  [value]="option.eventId">
                  {{ option.id }}&nbsp;&nbsp;({{option.startDate | date: "MM/dd/yyyy"}} to {{ option.endDate | date: "MM/dd/yyyy"}})
                </mat-option>
              </mat-select>
              <mat-error
                *ngIf="
                  prescreeningForm.get('eventId').invalid &&
                  prescreeningForm.get('eventId').hasError('required') &&
                  prescreeningForm.get('eventId').touched
                "
              >
                Disaster Event is required</mat-error
              >
            </mat-form-field>
            <div *ngIf="matchingEventsData.length <= 0 && isValidAddressAndDate">
              <span style="color:red;">No matching disaster events for this address and date.</span>
            </div>
          </div>
        </div>
        <hr style="border: 2px solid;"/>

        <!-- Damages caused by disaster -->
        <div class="row">
          <div class="col-md-12 bottomspace">
            <mat-label class="sub-heading">Are the damages and losses to your property caused by the disaster event?<span style="color:red" >*</span></mat-label>
            <mat-radio-group
              formControlName="damageCausedByDisaster"
              class="primary-radio-group horizontal-radio-group"
              required
              layout="row"
              aria-label="Select an option">
              <mat-radio-button value=true>Yes</mat-radio-button>&nbsp;&nbsp;<mat-radio-button value=false>No</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <hr style="border: 2px solid;"/>

        <!-- Losses Exceed 1000 -->
        <div class="row">
          <div class="col-md-12 bottomspace">
            <mat-label class="sub-heading">Excluding luxury/ non-essential items & landscaping, do your losses total more than $1,000?<span style="color:red" >*</span></mat-label>
            <mat-radio-group
              formControlName="lossesExceed1000"
              class="primary-radio-group horizontal-radio-group"
              required
              layout="row"
              aria-label="Select an option">
              <mat-radio-button value=true>Yes</mat-radio-button>&nbsp;&nbsp;<mat-radio-button value=false>No</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <hr style="border: 2px solid;"/>

        <!-- Insurance options -->
        <div class="row">
          <div class="col-md-8 bottomspace">
            <mat-label class="sub-heading">Did your insurance company cover any or all damages caused by the event?<span style="color:red" >*</span></mat-label>
            <br />
            <mat-radio-group
              formControlName="insuranceOption"
              class="primary-radio-group"
              required
              aria-label="Select an option">
              <div *ngFor="let option of radioInsuranceOptions | keyvalue: originalOrder">
                <mat-radio-button
                  class="primary-radio-button row"
                  style="margin: 5px;"
                  [value]="option.key"
                >
                  {{ option.value }}
                </mat-radio-button>
                <div class="sub-heading radio-extra-label col-md-10" *ngIf="prescreeningForm.get('insuranceOption').value === option.key && option.value === radioInsuranceOptions.Unsure">
                  <br/>You may be eligible for DFA and may submit an application. As part of your application process, you must provide insurance payout documentation from your insurance broker
                  showing what was covered by your insurance provider. The DFA Program won't be able to confirm eligibility until this information is provided.<br/><br/>
                </div>
                <div class="sub-heading radio-extra-label col-md-10" *ngIf="prescreeningForm.get('insuranceOption').value === option.key && option.value === radioInsuranceOptions.No">
                  <br/>You may be eligible for DFA and may submit an application. During the application process you will be required to declare that you carry no insurance (no fire, theft or liability) on
                  the property listed on this Disaster Financial Assistance application. If you are later to have found to have insurance you will  be required to repay any financial assistance you've
                  received.<br/><br/>
                  The Disaster Financial Assistance (DFA) Program operates under provincial legislation: <i>Emergency Program Act</i> and the <i>Compensation and Disaster Financial Assistance Regulation</i>.
                  Emergency Management BC is obliged to provide DFA in accordance with this legislation. Section 8(1) of the Regulation states: “'eligible costs' does not include costs of expenses (a)
                  recoverable at law of for which insurance was reasonably and readily available.”<br/><br/>
                  <b>A DFA applicant who could reasonably and readily have purchased overland flood, water damage or water seepage insurance is NOT eligible to receive DFA.</b><br/><br/>
                  “Readily available” means that a person could obtain this insurance from a local agent or broker. Also, we should not confuse reasonably available with affordable. What a person can
                  afford is subjective and specific to that person. What is important is that the price of the insurance was reasonable considering the risk.<br/><br/>
                </div>
              </div>
               <mat-error
                class="custom-mat-error"
                *ngIf="
                  prescreeningFormControl?.insuranceOption?.touched &&
                  prescreeningFormControl?.insuranceOption?.invalid &&
                  prescreeningFormControl?.insuanceOption?.hasError('required')
                "
              >
                This is required</mat-error
              >
            </mat-radio-group>
          </div>
          <div class="col-md-4">
            <div style="border: 3px solid #70abd9; font-weight: normal; padding: 5px;">
              If you have insurance, it is best to contact your insurance provider as soon as possible. If you are having difficulty contacting your insurance provider, please contact the Insurance Bureau of Canada at 1-844-227-5422.
            </div>
          </div>
        </div>
      </ng-container>
    </form>
  </mat-card-content>
</mat-card>
