<div class="content-container"  style="padding-bottom: 100px; padding-top: 50px;" *ngIf="openDisasterEvents.length > 0">
  <div style="font-size: 15px; padding-bottom: 15px;">
    The following are the current eligible events open for DFA applications. If you've recently experienced a disaster and it's not
    <br />on the eligible events list, contact your Indigenous or local government first.'
    <br />
    <br />You must submit an application within 90 days of the disaster event.
  </div>
  <div class="row" *ngFor="let eventItem of openDisasterEvents">
    <mat-card appearance="outlined" class="mat-elevation-z4 content" style="margin: 10px; padding: 20px;">
      <div class="row">
        <div class="col-4">
          <span><b>Event Name:</b>&nbsp;&nbsp;{{eventItem.eventName == null ? "To Be Assigned" : eventItem.eventName }}</span>
        </div>
        <div class="col-4">
          <span><b>Date of Event:</b>&nbsp;&nbsp;{{eventItem.startDate ? (eventItem.startDate | date: "dd-MMM-YYYY") : "TBD"}} to {{eventItem.endDate ? (eventItem.endDate | date: "dd-MMM-yyyy") : "TBD"}}</span>
        </div>
        <div class="col-4" style="text-align: center">
          <span><b>Submit before midnight on:</b>&nbsp;&nbsp;{{eventItem.ninetyDayDeadline | date: "dd-MMM-yyyy"}}</span> <br />
          <span><b style="color: #990000">{{ getRemainingDays(eventItem) }}</b></span>
        </div>
      </div><br/><br/>
      <table mat-table [dataSource]="getEffectedRegionCommuntiesForEvent(eventItem.eventId)" style="width:100%" *ngIf="getEffectedRegionCommuntiesForEvent(eventItem.eventId).length>0">
        <!-- Effected Community -->
        <ng-container matColumnDef="communityName">
          <th mat-header-cell *matHeaderCellDef>
            <b>Effected Community</b>
          </th>
          <td *matCellDef="let element" mat-cell>
            {{ element.communityName }}
          </td>
        </ng-container>

        <!-- EMBC Region -->
        <ng-container matColumnDef="regionName">
          <th mat-header-cell *matHeaderCellDef >
            <b>Regional District</b>
          </th>
          <td *matCellDef="let element" mat-cell>
            {{ element.regionName}}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="effectedRegionCommunitiesColumnsToDisplay"></tr>
        <tr
          mat-row
          *matRowDef="let element; columns: effectedRegionCommunitiesColumnsToDisplay"
          class="example-element-row"
          [style.height]="'auto'"
        ></tr>
      </table><br/><br/>
      <div *ngIf="getEffectedRegionCommuntiesForEvent(eventItem.eventId).length == 0">
        <h2 style="text-align:center"><b>No Effected Communities</b></h2>
      </div>
      <button mat-button type="button" class="button-p" (click)="checkEligibility()">Check Eligibility</button>
    </mat-card>
  </div>
</div>
<div class="content-container" style="padding-bottom: 100px; padding-top: 50px;" *ngIf="openDisasterEvents.length == 0">
 <div class="heading-container">
    <div class="row">
      <div class="col-md-12">
        <span class="page-heading"> No Open Events</span> <br />
      </div>
    </div>
</div>
