.button-p {
  background-color: #234075;
  color: #ffffff;
  float: left;
}

.mat-column-description {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 60% !important;
  width: 60% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-mdc-header-cell {
font-weight: 700;
font-size: 15px;
color: black;
height: 51px;
}

table {
  width: 99.99%;
  box-shadow: none;
  }

.mat-mdc-table {
  overflow: auto;
  width: 100%;
  max-height: 500px;
  }

.example-element-row {
  height: 51px !important;
  border: 1px solid;
  border-color: rgb(204, 204, 204);
  }

.example-element-detail {
  overflow: hidden;
  display: flex;
  }

