<mat-card class="card-align" style="border:none;" [class.mat-elevation-z0]="true">
  <div class="col-12 content-container infoText" >
    <div class="row">
      <div class="infoIconCol">
        <div class="material-icons infoIconStyle">info</div>
      </div>
      <div class="col-md-11">
        Please review and complete the form below. Required fields are marked with a red asterisk<span style="color:red" >*</span>
      </div>
      <div class="col-md-6"></div>

      </div>
      <div class="col-md-6"></div>
  </div>
  <br/>
  <mat-card-content class="card-content-align">

    <form [formGroup]="applicationDetailsForm">
      
      <ng-container>
        <br/>
        <div class="row">
          <div class="col-md-6">
            <p class="sub-heading" style="font-size: 15px">
              Indigenous Governing Body & Local Authority Legal Name
            </p>
            <mat-form-field appearance="outline">
              <input
                formControlName="legalName"
                matInput
                disabled
                     readonly
                placeholder=""
                maxlength="100"/>
            </mat-form-field>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-5 content-container infoText legalText" >
            <div class="row">
              <div class="infoIconCol">
                <div class="material-icons infoIconStyle">info</div>
              </div>
              <div class="col-md-11">
                This is the legal name of the organization you are creating the application for. The legal name is from the Business BCeID account your account is associated to. If this isn't the organization you intend to create a DFA application for, please log out and log in with the correct organization. The legal name may only be changed through BCeID.
              </div>

              </div>
          </div>
        </div><br/>
        
        <div class="row">
          <p class="sub-heading" style="font-size: 15px">
            Date(s) of damage?<span style="color:red" >*</span>
          </p>
          <div class="col-md-3">
            <mat-form-field appearance="outline" >
              <mat-label>From date</mat-label>
              <input matInput
                     (dateChange)="checkDateWithinOpenEvent()"
                [matDatepicker]="fromPicker"
                [readonly]="isReadOnly === true"
                formControlName="damageFromDate"
                [max]="applicationDetailsForm.get('damageToDate').value ? applicationDetailsForm.get('damageToDate').value : todayDate"
                required >
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="fromPicker" [disabled]="isReadOnly === true"
              ></mat-datepicker-toggle>
              <mat-datepicker #fromPicker [disabled]="isReadOnly === true"
              ></mat-datepicker>
              <mat-error
                *ngIf="
                applicationDetailsForm.get('damageFromDate').invalid &&
                applicationDetailsForm.get('damageFromDate').hasError('required')
              "
              >
                From date is required</mat-error
              >
              <mat-error
              *ngIf="
              applicationDetailsForm.get('damageFromDate').invalid &&
              applicationDetailsForm.get('damageFromDate').hasError('matDatepickerMax')
            "
            >
              From date cannot be in the future or after to date</mat-error
            >
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field appearance="outline">
              <mat-label>To date</mat-label>
              <input matInput
                [matDatepicker]="toPicker"
                formControlName="damageToDate"
                [readonly]="isReadOnly === true"
                [min]="applicationDetailsForm.get('damageFromDate').value ? applicationDetailsForm.get('damageFromDate').value : '2000-01-01'"
                [max]="todayDate"
                required>
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="toPicker" [disabled]="isReadOnly === true"
              ></mat-datepicker-toggle>
              <mat-datepicker #toPicker [disabled]="isReadOnly === true"
              ></mat-datepicker>
              <mat-error
                *ngIf="
                applicationDetailsForm.get('damageToDate').invalid &&
                applicationDetailsForm.get('damageToDate').hasError('required')
              "
              >
                To date is required</mat-error
              >
              <mat-error
                *ngIf="
                applicationDetailsForm.get('damageToDate').invalid &&
                applicationDetailsForm.get('damageToDate').hasError('matDatepickerMin')
              "
              >
                To date cannot be before from date</mat-error
              >
              <mat-error
                *ngIf="
                applicationDetailsForm.get('damageToDate').invalid &&
                applicationDetailsForm.get('damageToDate').hasError('matDatepickerMax')
              "
              >
                To date cannot be a future date</mat-error
              >
            </mat-form-field>
          </div>
        </div><br/>

         <div class="row">
           <p class="sub-heading" style="font-size: 15px">
             Select a disaster event that matches your community and date of damage<span style="color:red" >*</span>
           </p>
           <div class="col-md-6">
             <mat-form-field appearance="outline">
                <mat-label>Matching Disaster Event</mat-label>
                <mat-select formControlName="eventId" matInput placeholder="Matching Disaster Event" required [disabled]="matchingEventsData.length <= 0 && vieworedit !== 'viewOnly' && vieworedit !== 'view'">
                  <mat-option (click)="selectEvent(option)" *ngFor="let option of matchingEventsData"
                    [value]="option.eventId">
                    {{ option.id }}&nbsp;&nbsp;({{option.startDate | date: "MM/dd/yyyy"}} to {{ option.endDate | date: "MM/dd/yyyy"}})
                  </mat-option>
                </mat-select>
                <!--<mat-error
                  *ngIf="
                    applicationDetailsForm.get('event').invalid &&
                    applicationDetailsForm.get('event').hasError('required') &&
                    applicationDetailsForm.get('event').touched
                  "
                >
                  Disaster Event is required</mat-error
                >-->
              </mat-form-field>
              <div *ngIf="matchingEventsData.length <= 0 && vieworedit !== 'viewOnly' && vieworedit !== 'view'">
                <span style="color:red;">No matching disaster events for this date.</span>
              </div>
           </div>
         </div>
        <br *ngIf="matchingEventsData.length <= 0" />
        <div class="row">
          <div class="col-md-6 bottomspace">
            <p class="sub-heading" style="font-size: 15px">
              Select the cause(s) of damage.<span style="color:red" >*</span>
            </p>
            <mat-checkbox
              formControlName="floodDamage"
              >
              Flood Damage
            </mat-checkbox><br/>
            <mat-checkbox
              formControlName="landslideDamage"
              >
              Landslide Damage
            </mat-checkbox><br/>
            <mat-checkbox
              formControlName="stormDamage"
              >
              Storm Damage
            </mat-checkbox><br/>
            <mat-checkbox
              formControlName="wildfireDamage"
              >
              Wildfire Damage
            </mat-checkbox><br/>
            <mat-checkbox
              formControlName="otherDamage"
              class="col-md-4"
            >
              Other Damage
            </mat-checkbox>
            <mat-form-field appearance="outline" [hidden]="applicationDetailsForm.get('otherDamage').value !== true" class="col-md-4 topSpace">
              <mat-label>Cause of Damage</mat-label>
              <input matInput
                [required]="applicationDetailsForm.get('otherDamage').value === true || applicationDetailsForm.get('otherDamage').value === 'true'"
                type="text"
                [readonly]="isReadOnly === true"
                formControlName="otherDamageText"
                placeholder="Cause of damage*"
                maxlength="100"
              />
              <mat-hint>Maximum length is 100 characters</mat-hint>
              <mat-error
                *ngIf="
                applicationDetailsForm.get('otherDamageText').invalid &&
                applicationDetailsForm.get('otherDamageText').hasError('required')
              "
              >
                Text is required</mat-error
              >
              <mat-error
                *ngIf="
                  applicationDetailsForm.get('otherDamageText').invalid &&
                applicationDetailsForm.get('otherDamageText').hasError('maxLength')
                "
              >
                Maximum length is 100 characters</mat-error
              >
            </mat-form-field>
            <mat-error *ngIf="applicationDetailsForm.hasError('noCauseOfDamage') && vieworedit !== 'viewOnly' && vieworedit !== 'view'">
              <br/>At least one cause of damage is required.
            </mat-error>
          </div>
        </div><br/><br/>

        <div class="row">
          <p class="sub-heading" style="font-size: 15px">
            Select the type of governing body that best describes your organization<span style="color:red" >*</span>
          </p>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-select [disabled]="isReadOnly === true" formControlName="applicantSubtype" matInput placeholder="Select the type of governing body" required>
                <div *ngFor="let option of ApplicantSubCategories ">
                  <mat-option (click)="onSelectApplicantSubType(option)"
                    [value]="option.subType">
                    {{ option.subType }}
                  </mat-option>
                </div>
              </mat-select>
              <mat-error
                *ngIf="
                  applicationDetailsForm.get('applicantSubtype').invalid &&
                  applicationDetailsForm.get('applicantSubtype').hasError('required') &&
                  applicationDetailsForm.get('applicantSubtype').touched
                "
              >
                Type of governing body is required</mat-error
              >
            </mat-form-field>
          </div>
        </div>
        
        <div class="row" *ngIf="showSubTypeOtherDetails == true">
          <!--<p class="sub-heading" style="font-size: 15px">
            Please describe your organization
          </p>-->
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <textarea [disabled]="isReadOnly" matInput
                formControlName="subtypeOtherDetails"
                placeholder="Please describe your organization"
                [rows]="5"
                style="resize:none"
                maxlength="200"
                (keyup)="calcRemainingChars()"></textarea>
              <mat-hint>{{ remainingLength }} characters remaining.</mat-hint>
            </mat-form-field><br/>
          </div>
        </div>

        <div class="row" *ngIf="showSubSubTypeCategories == true">
          <p class="sub-heading" style="font-size: 15px">
            Select the type of other local governing body<span style="color:red" >*</span>
          </p>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-select [disabled]="isReadOnly === true" formControlName="applicantSubSubtype" matInput placeholder="Please select the type of Other Local Government Body">
                <div *ngFor="let option of ApplicantSubSubCategories | keyvalue: originalOrder">
                  <mat-option style="height: unset !important;"
                    [value]="option.value">
                    {{ option.value }}
                  </mat-option>
                </div>
              </mat-select>
              <mat-error
                *ngIf="
                  applicationDetailsForm.get('applicantSubSubtype').invalid &&
                  applicationDetailsForm.get('applicantSubSubtype').hasError('required') &&
                  applicationDetailsForm.get('applicantSubSubtype').touched
                "
              >
                Type of Other Local Government Body is required</mat-error
              >
            </mat-form-field>
          </div>
        </div><br/>

      </ng-container>
    </form>
    
  </mat-card-content>
</mat-card>
