/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;
@import './fonts';
//$bcgov-font-path: "~@bcgov/bootstrap-theme/dist/fonts/";
//@import "~@bcgov/bootstrap-theme/dist/scss/bootstrap-theme";
@import './defaults.scss';
@import './variables';

//@import '~@bcgov/bootstrap-theme/dist/scss/common';

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

// monospace font used for fixed-size text blocks (eg, referral comments)
// NB: same font as PDF renderer service
@font-face {
  font-family: 'LiberationMono';
  src: url('/assets/LiberationMono-Regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('/assets/LiberationMono-Regular.woff') format('woff'),
    /* Pretty Modern Browsers */
    url('/assets/LiberationMono-Regular.ttf') format('truetype');
  /* Safari, Android, iOS */
}

$custom-typography: mat.m2-define-typography-config($font-family: $font-family-sans-serif,
    $body-2: mat.m2-define-typography-level(15px, 1.6, 400));

/* TODO(mdc-migration): Remove all-legacy-component-typographies once all legacy components are migrated */
@include mat.all-component-typographies($custom-typography);

@include mat.all-component-typographies($custom-typography);

main {
  padding-bottom: 0px !important;
  padding-top: 0px !important;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

.navbar-dark .navbar-nav .nav-link {
  color: #333333;
}

footer nav {
  background-color: #dce2f0;
  border-top: 2px solid #fcba19;
}

.mat-step-icon {
  height: 38px !important;
  width: 38px !important;
  border: 4px solid #169bd5;
}

::ng-deep .mat-step-header .mat-step-icon-state-number {
  background-color: #169bd5 !important;
  color: #ffffff !important;
}

.mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon {
  background-color: #ffffff !important;
  color: #169bd5 !important;
}

.mat-step-header .mat-step-icon-state-edit,
.mat-step-header .mat-step-icon-state-done {
  background-color: #169bd5 !important;
  color: #ffffff !important;
}

.mat-step-header .mat-step-label {
  color: #606060 !important;
}

.mat-step-header .mat-step-label.mat-step-label-active {
  color: #169bd5 !important;
}

.mat-step-label-selected {
  font-weight: normal !important;
}

.mat-step-text-label {
  text-overflow: inherit;
  width: 96px;
  text-wrap: wrap;
}

.mat-stepper-horizontal-line {
  border-top-width: 2px !important;
}

.mat-stepper-label-position-bottom .mat-stepper-horizontal-line {
  top: 40px !important;
}

.mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:first-child)::before,
[dir='rtl'] .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:last-child)::before,
.mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:last-child)::after,
[dir='rtl'] .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:first-child)::after {
  border-top-width: 2px !important;
}

.mat-stepper-label-position-bottom .mat-horizontal-stepper-header::after,
.mat-stepper-label-position-bottom .mat-horizontal-stepper-header::before {
  top: 40px !important;
}

// @media screen and (max-width: 768px) {
//   .mat-step-label {
//     display: none !important;
//   }
// }

.mat-mdc-button,
.mat-mdc-unelevated-button,
.mat-mdc-icon-button,
.mat-mdc-outlined-button {
  border-radius: 0px !important;
}

.stepper-style {
  background-color: transparent !important;
}

.container-frame {
  padding-top: 60px;
}

.highlight-conflicts {
  color: #234075;
  font-weight: bold;
}

.highlight {
  font-weight: 700;
  color: #169bd5;
}

.highlightSubtitle {
  font-weight: 400;
  font-size: 21px;
  color: #169bd5;
}

.highlightText {
  font-weight: 400;
  color: #169bd5;
}

.heading-container {
  // padding-bottom: 25px;
  font-size: 50px;
  color: #234075;
}

.page-heading {
  font-size: 45px;
}

.button-style {
  height: 55px;
  font-weight: normal;
}

.mat-mdc-button-base.mat-mdc-button-base.button-p {
  @extend .button-style;
  background-color: #234075;
  color: #ffffff;
  float: right;
  --mdc-text-button-label-text-color: #fff;
  --mdc-outlined-button-label-text-color: #fff;
}

.mat-mdc-button-base.button-s,
.mat-mdc-outlined-button:not(:disabled).button-s {
  @extend .button-style;
  border: 1px solid #b5b5b5;
  color: #606060;
  background-color: #e5e5e5;

  --mdc-outlined-button-outline-color: #b5b5b5;
}

.mat-mdc-button-base.button-p:hover {
  background-color: #169bd5;
}

.mat-mdc-button-base.button-s:hover {
  background-color: #e5e5e5;
}

.mat-mdc-button-base.button-p:disabled {
  background-color: #EFEFEF;
  color: #3a3a3a !important;
}

button {
  border-width: 0px !important;
}

button:focus {
  outline: 0px !important;
}

@media screen and (max-width: 768px) {
  .resp-style .mat-mdc-button-base.button-p {
    width: 100% !important;
    float: none;
  }

  .resp-style .mat-mdc-button-base.button-s {
    margin-bottom: 10px;
    width: 100% !important;
  }

  .cNotice1 {
    width: 100% !important;
    min-width: 100% !important;
  }

  .cNotice2 {
    width: 100% !important;
    min-width: 100% !important;
  }
}

/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
mat-card {
  @extend .mat-card-left, .mat-card-right, .mat-card-top;
  border-radius: 0px !important;
}

.card-heading {
  font-size: 21px;
  color: #169bd5;
}

/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
.mat-card-left {
  border-left-color: #b5b5b5;
  border-left-style: solid;
  border-left-width: 1px;
}

/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
.mat-card-right {
  border-right-color: #b5b5b5;
  border-right-style: solid;
  border-right-width: 1px;
}

/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
.mat-card-top {
  border-top-color: #b5b5b5;
  border-top-style: solid;
  border-top-width: 1px;
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
.mat-form-field-appearance-outline .mat-form-field-outline-start {
  border-radius: 0px !important;
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
.mat-form-field-appearance-outline .mat-form-field-outline-end {
  border-radius: 0px !important;
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
.mat-form-field-appearance-outline .mat-form-field-outline-gap {
  border-radius: 0px !important;
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-start,
.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-end,
.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-gap {
  border-width: 1px !important;
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
.mat-form-field-required-marker {
  color: red !important;
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
.mat-form-field-subscript-wrapper {
  position: relative !important;
}

.sub-heading {
  font-size: 16px;
  font-weight: bold;
  color: #169bd5;
}

/* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version. */
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #169bd5 !important;
}

/* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version. */
.mat-checkbox-inner-container {
  height: 20px !important;
  width: 20px !important;
}

/* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version. */
.mat-checkbox-layout {
  white-space: normal !important;
}

/* TODO(mdc-migration): The following rule targets internal classes of radio that may no longer apply for the MDC version. */
.mat-mdc-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #169bd5 !important;
}

.mat-mdc-radio-button .mdc-radio{
  padding: 0 !important;
}

.mat-mdc-radio-button.mat-accent .mat-radio-inner-circle,
.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: #169bd5 !important;
}

.requiredField::after {
  content: '*';
  color: red;
}

.custom-mat-error {
  font-size: 75%;
}

.mat-mdc-dialog-container {
  border-radius: 0px !important;
}

.dialog-title{
  text-align: center;
  padding-top: 12px;
}

/* TODO(mdc-migration): The following rule targets internal classes of radio that may no longer apply for the MDC version. */
.mat-radio-label {
  white-space: normal !important;
}

.note-box {
  background-color: #f2f2f2;
  padding: 8px;
  font-family: 'BC Sans', sans-serif;
  font-weight: 400;
}

.mat-expansion-panel {
  border-radius: 0 !important;
}

.mat-expansion-panel-header-title {
  margin-right: 0px !important;
  font-size: 16px;
  font-weight: 400;
  justify-content: center;
}

.mat-expansion-panel-header-description,
.mat-expansion-indicator::after {
  color: black !important;
}

/* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version. */
.mat-tab-label {
  opacity: 10 !important;
  background-color: #cccccc !important;
  min-width: 250px !important;
}

/* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version. */
.mat-tab-label,
.mat-mdc-tab-link {
  color: black !important;
  font-size: 16px;
  font-weight: 700 !important;
}

/* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version. */
.mat-tab-label.mat-tab-label-active {
  background-color: white !important;
  min-width: 250px !important;
  color: #169bd5 !important;
}

.mat-mdc-tab-group.mat-primary .mat-ink-bar,
.mat-mdc-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: transparent !important;
}

.profile-headers {
  font-size: 36px;
  color: #234075;
}

.rotate180 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.bold {
  font-weight: bold !important;
}

.versions-table {
  width: 100%;
}

.list-image,
.close-image,
.edit-image,
.delete-image {
  img:last-of-type {
    display: none;
  }
}

.list-image:hover,
.close-image:hover,
.edit-image:hover,
.delete-image:hover {
  img:last-of-type {
    display: inline;
  }
}

.list-image:hover,
.close-image:hover,
.edit-image:hover,
.delete-image:hover {
  img:first-of-type {
    display: none;
  }
}

// Start Timeline

.block{
    border: 1px solid lightgrey;
}

.overflow-text {
  overflow-wrap: break-word;
}

.content {
  margin: 10px;
  padding: 20px;
  min-width: 780px !important;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 250px;
}

.button-column {
  display: flex;
  justify-content: flex-end;
  flex-direction: column-reverse;
}

.bottom-div {
  width: 95%;
  min-width: 725px;
  display: flex;
  flex-direction: column;
  margin-top: 8px 0;
}

.wrap-text {
  overflow-wrap: anywhere;
}

.application-button {
  float: left !important;
  color: #003366;
  min-height: 32px;
  font-size: 14px;
  padding-left: 6px;
  padding-right: 6px;
  max-width: 200px;
  margin: 3px;
  font-weight: bold;
  border: 1px solid #003366 !important;
  background: #f9fbfe 0% 0% no-repeat padding-box;
  border-radius: 5px;
  max-height: 44px;
}

.whitebutton {
  background-color: white;
  color: grey;
  border: 1px solid lightgrey !important;
}

.redbutton {
  background-color: red;
  color: white;
  /*border: 1px solid lightgrey !important;*/
}

.nocircle {
  height: 12px;
  float: left;
  padding-left: 6%;
  /*margin-right: -86px;*/
  margin-top: 60px;
  margin-right: 24px;
}

.circle {
  /*width: 100px;*/
  height: 12px;
  float: left;
  /*  padding-left: 17%;
  margin-right: 24px;*/
  /*margin: 60px 24px 0px 24px;*/
  margin-top: 60px;
  text-align: center;
}

.line {
  /*width: 100px;*/
  height: 12px;
  border-bottom: 2px solid black;
  float: left;
  /*padding-left: 10%;*/
  /*margin-right: 24px;*/
  margin-top: 60px;
  /*width: 11.5%;*/
}

.labelStyle {
  text-align: center;
  width: 5%;
  /*border: 1px solid black;*/
}

.headerlabelStyle {
  text-align: center;
  width: 20%;
  min-width: 120px;
}

.removeBorder {
  float: left;
  width: 25%;
  margin-top: 18px;
}

.lineConnector {
  border: 1px inset lightgray;
  margin-top: 15px;
}

.lineConnectorLeft {
  float: left;
  width: 25%;
  margin-top: 18px;
}

.alignStatus {
  /*  float: left;
  width: 50%;*/
  margin-top: 20px;
}

.lineConnectorRight {
  float: right;
  width: 25%;
  margin-top: 18px;
}

.labelEmptyWidth {
  width: 5%;
  text-align: center;
  /*border: 1px solid black;*/
}

.adjustLineWidth {
  width: 8% !important;
  padding-left: 0% !important;
}

.currentStatus {
  color: #05325C;
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: bold;
  background: #f3f3f3 0% 0% no-repeat padding-box;
  margin-top: 15px;
}

.stepsDesc {
  /*width: 100px;*/
  height: 12px;
  float: left;
  /*padding-left: 6%;*/
  /*margin-right: 23px;*/
  margin-top: 30px;
  text-align: center;
}

.youAreHere {
  background-color: #faf1c9;
  padding: 4px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 12px;
  display: table-row;
}

.stepText {
  color: #313132;
  font-size: 15px;
}

@media (max-width: 1200px) and (min-width: 300px) {
  .nocircle {
    height: 12px;
    float: left;
    padding-left: 8%;
    margin-right: 20px;
    margin-top: 60px;
  }

  .circle {
    /*width: 100px;*/
    height: 12px;
    border-bottom: 2px solid black;
    float: left;
    padding-left: 8%;
    margin-right: 20px;
    margin-top: 60px;
  }

  .stepsDesc {
    /*width: 100px;*/
    height: 12px;
    float: left;
    padding-left: 7%;
    margin-right: 20px;
    margin-top: 30px;
  }

  .youAreHere {
    display: flex;
    width: 70px;
  }

  .headerlabelStyle {
    text-align: center;
    width: 20%;
    min-width: 100px;
  }
}

// End Timeline

/* Overwrite default disabled text style to improve legibility - START */

/* matInput: text when disabled */
.mat-mdc-form-field.mat-form-field-disabled .mdc-text-field--disabled .mdc-text-field__input {
  color: rgba(0, 0, 0, 0.65) !important;
}

/* mat-form-field: label when disabled */
.mat-mdc-form-field.mat-form-field-disabled .mdc-floating-label {
  color: rgba(0, 0, 0, 0.65) !important;
}

/* mat-select: selected text + label when disabled */
.mat-mdc-select.mat-mdc-select-disabled {
  color: rgba(0, 0, 0, 0.65) !important;
}

/* mat-option: label when disabled */
.mat-mdc-option.mdc-list-item--disabled,
.mat-mdc-option.mat-mdc-option-disabled {
  color: rgba(0, 0, 0, 0.65) !important;
}

/* mat-radio-button: label when disabled */
.mat-mdc-radio-button.mat-mdc-radio-disabled .mdc-label {
  color: rgba(0, 0, 0, 0.65) !important;
}

/* mat-checkbox: label when disabled */
.mat-mdc-checkbox.mat-mdc-checkbox-disabled .mdc-label {
  color: rgba(0, 0, 0, 0.65) !important;
}

/* input placeholder text (to match the disabled text) */
.mat-mdc-input-element::placeholder {
  color: rgba(0, 0, 0, 0.65) !important;
}

/* Overwrite default disabled text style to improve legibility - END */
