<div class="case-details-section">
  <div class="sub-heading">Case Details</div>
  <div class="case-detail"><b>Damaged Property Address:</b> <span>{{ caseDetails?.damagedAddress }}</span></div>
  <div class="case-detail"><b>Date of Damage:</b> <span>{{ caseDetails?.dateOfDamage }}</span></div>
  <div class="case-detail"><b>Event ID:</b> <span>{{ caseDetails?.eventId }}</span></div>
  <div class="case-detail"><b>Original Application Date:</b> <span>{{ caseDetails?.applicationDate }}</span></div>
  <div class="case-detail"><b>Case Number:</b> <span>{{ caseDetails?.caseNumber }}</span></div>
  <div class="case-detail"><b>Applicant Type:</b> <span>{{ caseDetails?.applicationType }}</span></div>
</div>