<div class="container container-frame">
  <div class="row heading-container">
    <div class="col-8">
      <span class="page-heading">{{ dfaApplicationHeading }}</span>
    </div>
    <div class="col-4" *ngIf="consent !== true">
      <button
        class="button-p save-button col-4"
        [disabled]="isSubmitted"
        mat-stroked-button
        type="button"
        >
         Save & Close
         <app-loader
          [strokeWidth]="3"
          [diameter]="25"
          [showLoader]="showLoader"
        ></app-loader>
      </button>
    </div>
  </div>

  <mat-horizontal-stepper
    class="stepper-style"
    labelPosition="bottom"
    (animationDone)="currentStep(dfaApplicationStepper?.selectedIndex)"
    (selectionChange)="stepChanged($event, dfaApplicationStepper)"
    #dfaApplicationStepper
    linear
  >
    <mat-step *ngFor="let step of steps" [stepControl]="form">
      <ng-template matStepLabel>{{ step.stepName }}</ng-template>
      <app-component-wrapper
        [componentName]="step.component"
        [folderPath]="dfaApplicationFolderPath"
      ></app-component-wrapper>
      <br />
      <div class="row justify-content-between resp-style">
        <div class="col-md-6">
          <button
            class="button-s"
            mat-button
            type="button"
            (click)="goBack(dfaApplicationStepper, step.lastStep)"
          >
            {{ step.backButtonLabel }}
          </button>
        </div>
        <div class="col-md-6">
          <button
            *ngIf="
              currentFlow === 'verified-registration' &&
                step.component === '????';
            "
            class="button-p"
            mat-stroked-button
            type="button"
            (click)="goForward(dfaApplicationStepper, step.isLast, step.component)"
          >
            Review Submission
          </button>
          <button
            *ngIf="!(currentFlow === 'verified-registration' && step.component === '???') && !(dfaApplicationStepper.selectedIndex == 2 && fullInsurance === true)"
            class="button-p"
            mat-stroked-button
            type="button"
            (click)="goForward(dfaApplicationStepper, step.isLast, step.component)"
          >
            {{ step.nextButtonLabel }}
          </button>
        </div>
      </div>
    </mat-step>
    <ng-template matStepperIcon="edit" let-index="index">
      {{ index + 1 }}
    </ng-template>
  </mat-horizontal-stepper>
</div>
