.page-subheadbold {
  font-weight: bold;
  font-size: 14px;
}

.left-align {
  float: left !important;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.view-banner {
  background-color: #fcba19;
  border-color: #ffdf25;
  box-shadow: none;
}

.align-banner {
  padding-top: 10px;
  padding-bottom: 40px;
}

.top-detail {
  font-size: 21px;
}

.button-align {
  padding-top: 20px;
  padding-bottom: 20px;
}

.button-tab-align {
  padding-bottom: 20px;
}

.mat-mdc-tab-link {
  /*background-color: rgba(204, 204, 204, 1);*/
  opacity: 1;
}

.active-tab {
  color: #169bd5 !important;
  background: white;
  border-bottom: 2px solid;

  .inactive-curr {
    display: none !important;
  }

  .active-curr {
    display: block !important;
  }
}

.active-curr {
  display: none;
}

.start-button {
  width: 100%;
  white-space: normal;
  line-height: inherit;
}

.tabHead {
  font-size: 20px;
  padding: 0 50px 0 50px;
}

.spinner {
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
}