.outageBanner {
    background: rgb(190, 0, 0);
    font-family: "BCSans-Regular", "BC Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 24px;
}

.outageBannerContent{
    padding: 24px;
    max-width: 1084px;
    margin: 0 auto;
}

.--link-white{
    color: white;
    cursor: pointer;
}



.icon-text {
    display: flex;
    align-items: center;  
}

.infoIcon{
    transform: scale(1.5);
	width: 32px;
}