<div class="container outageBanner">
    <div style="max-width: 670px;">
        <h2>
            PLANNED OUTAGE ALERT
        </h2>
        <p>
            There is a scheduled system outage of the Disaster Financial Assistance portal from
            <span class="underline">{{environment?.outageDateFrom}}.</span> to 
            <span class="underline">{{environment?.outageDateTo}}.</span>
            which will disrupt our services and access to the portal.
        </p>
        <p>
            Please ensure you are logged out of the portal by <span
                class="underline">{{environment?.outageDateTo}}.</span>
            to ensure that your application information is saved.
        </p>
        <p>
            We apologize for any inconvenience caused and thank you for your patience.
            If you have any questions, please contact <a class="--link-white"
                href="mailto:DFA.Private&#64;gov.bc.ca">DFA.Private&#64;gov.bc.ca</a>
        </p>
    </div>

</div>