<div class="content-container" style="padding-bottom: 100px; padding-top: 20px;">
  <div class="row filterStage">
    <div class="col-md-2 ">
      <mat-select placeholder="Filter by stage" class="boxborder" [(value)]="stageSelected" (selectionChange)="ApplyFilter(1,null)">
        <mat-option value="All">
          All Claims
        </mat-option>
        <mat-option *ngIf="apptype == 'open'" value="Draft">
          Draft
        </mat-option>
        <mat-option *ngIf="apptype == 'open'" value="Submitted">
          Submitted
        </mat-option>
        <mat-option *ngIf="apptype == 'open'" value="Approval Pending">
          Approval Pending
        </mat-option>
        <mat-option *ngIf="apptype != 'open'" value="Approved">
          Approved
        </mat-option>
        <mat-option *ngIf="apptype != 'open'" value="Closed">
          Closed
        </mat-option>
      </mat-select>
    </div>

    <div class="col-md-2">
      <mat-select placeholder="Filter by days" class="boxborder" [(value)]="filterbydaysSelected" (selectionChange)="ApplyFilter(2,null)">
        <mat-option value="-1">
          All Claims
        </mat-option>
        <mat-option value="10">
          Last 10 days
        </mat-option>
        <mat-option value="15">
          Last 15 days
        </mat-option>
        <mat-option value="30">
          Last 30 days
        </mat-option>
        <mat-option value="90">
          Last Quarter
        </mat-option>
        <mat-option value="365">
          Last Year
        </mat-option>
      </mat-select>
    </div>

    <div class="col-md-3">
    </div>

    <div class="col-md-2 ">
      <mat-select placeholder="Sort by" class="boxborder" [(value)]="sortfieldSelected" (selectionChange)="ApplyFilter(3,null)">
        <mat-option value="claimnumber">
          Claim Number
        </mat-option>
        <mat-option value="submitteddate">
          Submitted Date
        </mat-option>
        <mat-option value="claimpaiddate">
          Claim Paid Date
        </mat-option>
      </mat-select>
    </div>

    <div class="col-md-3 searchDiv">
      <input
        #searchBox
        id="searchBox"
        (keyup)="ApplyFilter(4,searchBox.value)"
        class="boxborder"
        matInput
        placeholder="Search"
        maxlength="100"/>
      <i class="material-icons">search</i>
    </div>
  </div>
  <div class="row"
           *ngFor="let applItem of lstFilteredClaims"
           >
    <!--<div class="row block">
    <div class="row">
      <div class="col-md-6">
        <span>Event ID</span><br />
        <span>{{applItem.dfa_eventid}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <span>Application Type</span><br />
        <span>{{applItem.dfa_applicanttype}}</span>
      </div>
    </div>
    </div>-->
    <mat-card class="mat-elevation-z4 content" [ngStyle]="{'border-left': '20px solid ' + applItem.statusColor}" >
      <div style="border-bottom: 1px solid lightgrey; padding-bottom: 15px; display: flex;">
        <div class="col-md-5">
          <span><b>Claim Number - </b></span>
          <span>{{applItem.claimNumber}}</span>
        </div>
        <div class="col-md-4">
          <span><b>Submitted Date - </b></span>
          <span>{{applItem.submittedDate}}</span>
        </div>
        <div class="col-md-3" style="display: flex; justify-content: flex-end">
          <button
            class="application-button"
            type="button"
            *ngIf="applItem.status != 'Draft'"
            (click)="ViewClaim(applItem)"
          >
            View Claim
          </button>
          <button
            class="application-button"
            type="button"
            *ngIf="applItem.status == 'Draft'"
            (click)="ResumeClaimSubmission(applItem)"
          >
            Resume Claim Submission
          </button>
          <span class="material-symbols-outlined downArrow" (click)="Toggle(applItem)">
            {{ applItem.isHidden ? "keyboard_arrow_down" : "keyboard_arrow_up"}}
          </span>
        </div>
      </div>
      <div style="padding-top: 16px; display: flex; padding-bottom: 16px;" [hidden]="applItem.isHidden">
  
        <div class="col-md-2">
          <span><b>First Claim - </b></span>
        </div>
        <div class="col-md-2">
          <span>{{applItem.firstClaim == true ? 'Yes' : (applItem.firstClaim == false ? 'No' : 'Not Set')}}</span>
        </div>
        <div class="col-md-2">
          <span><b>Approved Claim Total - </b></span>
        </div>
        <div class="col-md-2">
          <span>{{applItem.approvedClaimTotal}}</span>
        </div>
        <div class="col-md-2">
          <span><b>Eligible Payable - </b></span>
        </div>
        <div class="col-md-2">
          <span>{{applItem.eligiblePayable}}</span>
        </div>
        
      </div>
      <div style="padding-bottom: 16px; display: flex;" [hidden]="applItem.isHidden">
        <div class="col-md-2">
          <span><b>Final Claim -</b></span>
        </div>
        <div class="col-md-2">
          <span id="spnCauseOfDamage">{{applItem.finalClaim == true ? 'Yes' : (applItem.finalClaim == false ? 'No' : 'Not Set')}}</span>
        </div>
        <div class="col-md-2">
          <span><b>Less First $1,000 -</b></span>
        </div>
        <div class="col-md-2">
          <span id="spnCauseOfDamage">{{applItem.lessFirst1000 }}</span>
        </div>
        <div class="col-md-2">
          <span><b>Paid Claim Amount -</b></span>
        </div>
        <div class="col-md-2">
          <span id="spnCauseOfDamage">{{applItem.paidClaimAmount}}</span>
        </div>
      </div>

      <div style="border-bottom: 1px solid lightgrey; padding-bottom: 16px; display: flex;" [hidden]="applItem.isHidden">
        <div class="col-md-2">
          <span><b>Claim Total -</b></span>
        </div>
        <div class="col-md-2">
          <span id="spnCauseOfDamage">{{applItem.claimTotal }}</span>
        </div>
        <div class="col-md-2">
          <span><b>Approved Reimbursement % -</b></span>
        </div>
        <div class="col-md-2">
          <span id="spnCauseOfDamage">{{applItem.approvedReimbursePercent}}</span>
        </div>
        <div class="col-md-2">
          <span><b>Paid Claim Date -</b></span>
        </div>
        <div class="col-md-2">
          <span id="spnCauseOfDamage">{{applItem.paidClaimDate}}</span>
        </div>
      </div>

      <div style="width: 90%; min-width: 725px; display: flex; flex-direction: column;">
        <div class="col-md-3" style="margin-top: 20px;">
          <span *ngIf="applItem.isErrorInStatus == true" style="color: red;">Error in displaying status<br /><br /></span>
        </div>
        <table cellpadding="0" cellspacing="0">
          <tr>
            <td colspan="3" *ngFor="let item of getItems(applItem.statusBar); let i=index" id="item{{i}}" [ngClass]="'headerlabelStyle'">
              <span *ngIf="item.status != ''" class="stepText">{{item.status}}</span>
            </td>

          </tr>
          <tr>
            <td *ngFor="let item of applItem.statusBar; let i=index" id="item{{i}}" [ngClass]="item.status != '' ? 'labelStyle' : 'labelEmptyWidth'">
              <!--<div *ngIf="item.status != '' && item.currentStep == false" [ngClass]=" i == 0 ? 'removeBorder' : 'lineConnector'"></div>-->
              <div *ngIf="item.status != ''" [ngClass]="item.currentStep == false || item.status == 'Closed' ? 'alignStatus': (item.stage == '' ? 'alignStatus' : 'currentStatus')">
                <span *ngIf="applItem.status != 'Closed' && item.isCompleted == true && applItem.isErrorInStatus == false" class="material-icons" [ngStyle]="{'color': item.stage == 'Ineligible' || item.stage == 'Withdrawn' ? 'red' : 'rgb(21 178 89)'}">
                  {{ item.stage == 'Ineligible' || item.stage == 'Withdrawn' ? 'cancel' : 'check_circle' }}
                </span>
                <span *ngIf="applItem.status == 'Closed' && item.isCompleted == true && applItem.isErrorInStatus == false" class="material-icons" [ngStyle]="{'color': item.status == 'Decision Made' && (applItem.stage == 'Ineligible' || applItem.stage == 'Withdrawn') ? 'red' : 'rgb(21 178 89)'}">
                  {{ item.status == 'Decision Made' && (applItem.stage == 'Ineligible' || applItem.stage == 'Withdrawn')  ? 'cancel' : 'check_circle' }}
                </span>
                <span *ngIf="item.isCompleted == false && item.currentStep == true && applItem.isErrorInStatus == false && item.stage != ''">
                  {{item.stage}}
                </span>
                <span *ngIf="item.isCompleted == false && item.currentStep == true && applItem.isErrorInStatus == false && item.stage == ''" class="material-symbols-outlined" [ngStyle]="{'color': item.status == 'Draft' ? '#639DD4' : '#FDCB52'}">
                  {{ item.status == 'Draft' ? 'check_circle' : 'circle' }}
                </span>
                <span *ngIf="item.isCompleted == false && item.currentStep == false && applItem.isErrorInStatus == false" class="material-symbols-outlined" style="color: #FDCB52">
                  circle
                </span>
                <span *ngIf="applItem.isErrorInStatus == true" class="material-symbols-outlined" style="color: #FDCB52">
                  circle
                </span>
              </div>
              <!--<div *ngIf="item.status != '' && item.currentStep == false && (i+1) < applItem.statusBar.length" class="lineConnector"></div>-->
              <div class="lineConnector" *ngIf="item.status == '' && i > 1 && (i+1) < applItem.statusBar.length"></div>
            </td>
          </tr>
        </table>
        <!--<div *ngFor="let item of applItem.statusBar; let i=index" id="item{{i}}" class="stepsDesc col-md-2">
          <span class="stepText">{{item.label}}</span>
        </div>
        <br style="clear: both;" />
        <div *ngFor="let item of applItem.statusBar; let i=index" id="item{{i}}">-->
          <!--<span [ngClass]="item.isCompleted == true ? 'material-icons' : 'material-symbols-outlined'" style="color: rgb(0, 128, 55);">
            {{item.isCompleted == true ? 'check_circle' : 'circle'}}
          </span>-->
          <!--<div [ngClass]="i == 0 ? 'nocircle col-md-1' : ( item.currentStep == true ? 'currentStatus ' : 'circle col-md-1')">
            <span *ngIf="item.isCompleted == true && applItem.isErrorInStatus == false" class="material-icons" style="color: rgb(21 178 89);">
              check_circle
            </span>
            <span *ngIf="item.isCompleted == false && item.currentStep == true && applItem.isErrorInStatus == false"  style="color: darkblue">
              Additional Information Requested
            </span>
            <span *ngIf="item.isCompleted == false && item.currentStep == false && applItem.isErrorInStatus == false" class="material-symbols-outlined" style="color: lightgrey">
              circle
            </span>
            <span *ngIf="applItem.isErrorInStatus == true" class="material-symbols-outlined" style="color: lightgrey">
              circle
            </span>
          </div>
          <div class="line adjustLineWidth" *ngIf="item.currentStep == true"></div>
          <div class="line adjustLineWidth" *ngIf="applItem.statusBar[i+1] && applItem.statusBar[i+1].currentStep == true"></div>
          <div class="line col-md-1" *ngIf="item.currentStep == false && applItem.statusBar[i+1] && applItem.statusBar[i+1].currentStep == false"></div>-->

          <!--<mat-icon>circle</mat-icon>
          <span class="material-symbols-outlined">
          circle
          </span>-->
        <!--</div>-->
        <!--<div *ngFor="let item of applItem.statusBar; let i=index" id="item{{i}}" [ngClass]="item.currentStep == true ? 'stepsDesc col-md-2' : 'stepsDesc col-md-2'">
            <span *ngIf="item.currentStep == true && applItem.isErrorInStatus == false && item.isCompleted == false" class="youAreHere">You are here</span>
          </div>-->
      </div>
      
    </mat-card>
  </div>
</div>
<div class="content-container no-project" *ngIf="lstFilteredClaims.length == 0 && isLoading == false">
 <div class="heading-container">
    <div class="row">
      <div class="col-md-12">
        <span class="page-heading"> No {{apptype}} Claims</span> <br />
      </div>
    </div>
  </div>
</div>
<app-loader
class="spinner"
[showLoader]="isLoading"
[strokeWidth]="10"
[diameter]="50"
[color]="color"
>
</app-loader>
