<mat-card appearance="outlined" class="card-align" style="border:none;" [class.mat-elevation-z0]="true">
  <mat-card-content>

    <form [formGroup]="signAndSubmitForm">

      <p class="sub-heading" style="font-size: 20px">Declaration</p>
      <br />

      <ng-container>
        <div class="row">
          <div class="col-md-12">
            I/We do solemnly declare that the foregoing representative statements are to the best of my/our knowledge, information and belief, true in every particular detail, and I/we make this solemn declaration conscientiously, believing it to be true and knowing that it is of the same force and effect as if made under oath and by virtue of the <i>Canada Evidence Act</i>.
            <br/><br/>
            I/We understand that by signing this application I/we are confirming that any funds recovered through civil litigation or other sources that are attributable to eligible expenses, up to a maximum amount of what I/we have receive under DFA for those expenses, must be repaid to the Province.
          </div>
        </div><br/><br/>
        <div class="row">
          <div class="col-md-6 bottomspace">
            <app-signature
              [isRequired]="true"
              [isReadOnly]="isReadOnly"
              whoseSignature="Applicant"
              (signature)="updateApplicantSignature($event)"
              [initialSignature]="initialApplicantSignature.signature"
              [initialDateSigned]="initialApplicantSignature.dateSigned"
              [initialSignedName]="initialApplicantSignature.signedName"></app-signature>
          </div>
          <div class="col-md-6 bottomspace">
            <app-signature
              *ngIf="isSecondaryApplicant === true"
              [isReadOnly]="isReadOnly"
              [isRequired]="true"
              whoseSignature="Secondary Applicant"
              (signature)="updateSecondaryApplicantSignature($event)"
              [initialSignature]="initialSecondaryApplicantSignature.signature"
              [initialDateSigned]="initialSecondaryApplicantSignature.dateSigned"
              [initialSignedName]="initialSecondaryApplicantSignature.signedName"></app-signature>
          </div>
        </div>

      </ng-container>
    </form>
    <div *ngIf="dfaApplicationMainDataService.isSubmitted == true || isReadOnly === true">
      <b style="font-size:25px">Your application has been submitted.</b><br/><br/>

      <b>Please read the following carefully:</b> <br/><br/>

      You may view the current status of your application on your dashboard.<br/><br/>

      While you must submit an application for each DFA property claim, do not submit more than one application for the same property.<br/><br/>

      Please visit the Province's recovery resources webpage located at <a href="https://www2.gov.bc.ca/gov/content/safety/emergency-management/preparedbc/evacuation-recovery/emergency-recovery" target="_blank">Disaster recovery resources - Province of British Columbia (gov.bc.ca)</a> for steps to assist with your recovery.<br/><br/>

      <b>Clean Up Log</b><br/>
      If you are still undergoing clean up, please add to the Clean Up Log. <br/><br/>

      <b>Damaged Items</b><br/>
      If further items are identified after submitting your application, please add them to the Damaged Items by Room list. <br/><br/>

      <b>Supporting Documents</b><br/>
      You can continue to add supporting documents, but can't delete any documents already uploaded to your application.<br/><br/>

      <b>Other Contacts</b><br/>
      You may add or edit Other Contacts.<br/><br/>
    </div>

  </mat-card-content>
</mat-card>
