<mat-card appearance="outlined" class="card-align">
  <mat-card-content>
    <p class="card-heading">Personal Details</p>
    <form [formGroup]="personalDetailsForm">
      <div class="row">
        <div class="col-md-4">
          <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input
              formControlName="firstName"
              matInput
              placeholder="First Name"
              required
              readonly
            />
            <mat-error
              *ngIf="
                personalFormControl.firstName.invalid &&
                personalFormControl.firstName.hasError('required')
              "
              >First Name is required</mat-error
            >
          </mat-form-field>
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-5 nameMessage" style="">
          This is your legal name from your BC Services Card and can't be changed.
          If you need to update your legal name, visit
          <br />
          <a target="_blank" style="" href="https://www2.gov.bc.ca/gov/content/governments/government-id/bc-services-card/your-card/change-personal-information">BC Services Card, Change your personal information</a>

        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input
              formControlName="lastName"
              matInput
              placeholder="Last Name"
              required
              readonly
            />
            <mat-error
              *ngIf="
                personalFormControl.lastName.invalid &&
                personalFormControl.lastName.hasError('required')
              "
              >Last Name is required</mat-error
            >
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <mat-form-field appearance="outline">
            <mat-label>Initial</mat-label>
            <input
              maxlength="100"
              formControlName="initials"
              matInput
              placeholder="Initials"
            />
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 bottomspace">
          <mat-label class="card-heading">Are you an Indigenous person? (First Nation, Inuit, or Metis)</mat-label>
          <br />
          <mat-radio-group
            formControlName="indigenousStatus"
            class="primary-radio-group"
            aria-label="Select an option">


              <mat-radio-button
                class="primary-radio-button"
                *ngFor="let option of radioOption"
                [value]="option"
              >
                {{ option }}
              </mat-radio-button>
             <!--<mat-error
              class="custom-mat-error"
              *ngIf="
                personalFormControl?.indigenousStatus?.touched &&
                personalFormControl?.indigenousStatus?.invalid &&
                personalFormControl?.indigenousStatus?.hasError('required')
              "
            >
              This is required</mat-error
            >-->
          </mat-radio-group>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
<br />
<!-- {{personalDetailsForm.status}}
{{personalDetailsForm.value | json}} -->
