<div class="container container-frame">
  <div class="row" *ngIf="(vieworedit === 'add' || vieworedit === 'update') && ninetyDayDeadline" >
    <div class="col-8">&nbsp;</div>
    <div class="col-4" style="float:right;"
        matTooltip="You have until midnight on the day displayed to submit your application for DFA."
        matTooltipPosition="above">
        <span class="sub-heading" style="float:right;">Submit application before midnight on: {{ninetyDayDeadline | date: "MM/dd/yyyy"}}</span><br/>
        <span class="sub-heading" style="color:#941372; float:right;" *ngIf="daysToApply>0">{{ daysToApply }} day(s) remaining to apply</span>
        <span class="sub-heading" style="color:#941372; float:right;" *ngIf="daysToApply==0">DUE MIDNIGHT TODAY</span>
        <span class="sub-heading" style="color:#941372; float:right;" *ngIf="daysToApply<0">{{ -1 - daysToApply }} DAY(S) OVERDUE</span>
    </div>
  </div>
  <div class="row heading-container">
    <div class="col-8">
      <span class="page-heading">{{ dfaApplicationMainHeading }}</span>
    </div>
    <br />
    <div class="col-4" *ngIf="vieworedit === 'add' || vieworedit === 'update'" >
      <button
        class="button-p save-button col-4"
        style="height: 40px !important; vertical-align: middle; width: 220px; margin-top: 15px"
        (click)="returnToDashboard()"
        mat-stroked-button
        type="button"
        >
         Back to Dashboard
         <app-loader
          [strokeWidth]="3"
          [diameter]="25"
        ></app-loader>
      </button>
    </div>
    <div class="col-4" *ngIf="vieworedit === 'view' || vieworedit === 'edit' || vieworedit === 'viewOnly'" >
      <button
        class="button-p save-button col-4"
        style="height:40px !important; vertical-align: middle; width:220px;"
        (click)="BackToDashboard()"
        mat-stroked-button
        type="button"
        >
         Back to Dashboard
         <app-loader
          [strokeWidth]="3"
          [diameter]="25"
          [showLoader]="showLoader"
        ></app-loader>
      </button>
    </div>
  </div>

  <mat-horizontal-stepper
    class="stepper-style"
    labelPosition="bottom"
    (animationDone)="currentStep(dfaApplicationMainStepper?.selectedIndex)"
    (selectionChange)="stepChanged($event, dfaApplicationMainStepper)"
    #dfaApplicationMainStepper
    [linear]="false"
  >
    <mat-step *ngFor="let step of steps" [stepControl]="form">
      <ng-template matStepLabel>{{ step.stepName }}</ng-template>
      <app-component-wrapper
        [componentName]="step.component"
        [folderPath]="dfaApplicationMainFolderPath"
      ></app-component-wrapper>
      <br />
      <div class="row justify-content-between resp-style">
        <div class="col-md-6" *ngIf="vieworedit === 'add' || vieworedit === 'edit'">
          <button
            class="button-s"
            [hidden]="step.component === 'application-details'"
            mat-button
            type="button"
            (click)="goBack(dfaApplicationMainStepper, step.lastStep)"
          >
            {{ step.backButtonLabel }}
          </button>
          &nbsp;
          <button
            class="button-s"
            mat-button
            type="button"
            (click)="saveAndBackToDashboard()"
          >
            Save Application
          </button>
        </div>
        <div class="col-md-6">
          <button
            *ngIf="
              currentFlow === 'verified-registration' &&
                  (vieworedit === 'add' || vieworedit === 'edit')
            "
            class="button-p"
            mat-stroked-button
            type="button"
            (click)="goForward(dfaApplicationMainStepper, step.isLast, step.component)"
          >
            {{step.nextButtonLabel}}
          </button>
        </div>
        <br/>
        <div class="col-md-12" style="padding: 35px 16px 28px 12px;">
          <p class="infoHeader">Information Viewable at Any Time by DFA Staff</p>
          <p>
            Information collected on this application form may be viewable by Disaster Financial Assistance Staff whether the application has been submitted or not.
          </p>
        </div>
      </div>
    </mat-step>
    <mat-step *ngIf="vieworedit === 'add' || vieworedit === 'edit'">
      <ng-template matStepLabel>Review and Submit</ng-template>
      <app-review
        [type]="type"
        [showHeading]="true"
        [parentPageName]="parentPageName"
        [currentFlow]="currentFlow"
        [allowEdit]="true"
        (stepToNavigate)="navigateToStep($event)"
      >
      </app-review>
      <br />

      <div class="row justify-content-between resp-style">
        <div class="col-md-6" style="padding-left: 28px;">
          <button
            class="button-s"
            mat-button
            type="button"
            (click)="dfaApplicationMainStepper.previous()"
          >
            <span>Go Back</span><span *ngIf="vieworedit === 'add' || vieworedit === 'update'"> & Edit</span>
          </button>
        </div>
        <!--&& ((formCreationService.otherContactsForm$ | async)?.value?.otherContacts?.length > 0)-->
        <div class="col-md-6" *ngIf="!isSubmitted
           && (formCreationService.applicationDetailsForm$ | async)?.valid
           
           ">
        <!--<div class="col-md-6">-->
        <button
          class="button-p save-button"
          mat-stroked-button
          type="button"
          (click)="submitFile()"
        >
          Submit
        </button>
      </div>
        <br/><br/>
        <div class="col-md-12" style="padding: 35px 16px 28px 12px;">
          <p class="infoHeader">Information Viewable at Any Time by DFA Staff</p>
          <p>
            Information collected on this application form may be viewable by Disaster Financial Assistance Staff whether the application has been submitted or not.
          </p>
        </div>
      </div>
    </mat-step>
    <ng-template matStepperIcon="edit" let-index="index">
      {{ index + 1 }}
    </ng-template>
  </mat-horizontal-stepper>
</div>
