<mat-card appearance="outlined" class="card-align" style="border: none" [class.mat-elevation-z0]="true">
  <mat-card-content>
    <div>
      <div class="row">
        <app-case-details [caseDetails]="caseDetails"></app-case-details>
      </div>

      <div class="row mb-4">
        <div class="col-md-12">
          <h2 class="sub-heading mb-0">Appeal Support</h2>
          <p>
            Evidence or supporting documentation should be included wherever possible (e.g. technical reports, code and
            standards evidence, bylaws, photos, assessments, pictures, usage logs, timesheets, etc.).
          </p>
        </div>
      </div>

      <div class="row justify-content-start mb-4">
        <div class="mb-2">
          <app-appeal-file-upload
            (onShowFileUpload)="handleShowFileUpload($event)"
            (onSave)="handleAddSupportingDocument($event)"
            (onRemove)="handleRemoveSupportingDocument($event)"
            (onCancel)="handleCancelSupportingDocument()"
            [isShowFileUpload]="isShowFileUpload"
            [editFileUpload]="editFileUploadFormData"
            [currentFileUploads]="currentAppealSupportingDocuments"
            [isReadOnly]="isReadOnly"></app-appeal-file-upload>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
