<mat-card appearance="outlined" class="card-align">
  <mat-card-content>
    <p>
      Your telephone and email address will ONLY be used to contact you about your post-disaster circumstances to determine your eligibility for disaster financial assistance and to exchange information between the Ministry of Emergency Management and Climate Readiness (or its agent) and Provincial Government Ministries and Crown Corporations, to receive
information and to verify that the information provided by you is accurate.
    </p>
    <br />
    <form [formGroup]="contactInfoForm">

      <ng-container>
        <div class="row">
          <div class="col-md-12">
            <p class="sub-heading">Contact Telephone Number</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <mat-form-field appearance="outline">
              <mat-label>Cellular Telephone Number</mat-label>
              <input
                formControlName="cellPhoneNumber"
                matInput
                placeholder="Cellular Telephone Number"
                required
                [imask]="phoneMask" />
              <mat-error
                *ngIf="
                  contactFormControl.cellPhoneNumber.invalid &&
                  contactFormControl.cellPhoneNumber.hasError('required')
                "
              >
                Cellular Telephone Number is required</mat-error
              >
              <mat-error
                *ngIf="
                  contactFormControl.cellPhoneNumber.invalid &&
                  contactFormControl.cellPhoneNumber.hasError('incorrectLength')
                "
              >
                Telephone number must have 10 digits</mat-error
              >
              <mat-error
                *ngIf="
                  contactFormControl.cellPhoneNumber.invalid &&
                  contactFormControl.cellPhoneNumber.hasError('maxLength')
                "
                >Maximum length is 100 characters</mat-error
              >
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Residence Telephone Number</mat-label>
              <input
                formControlName="residencePhone"
                matInput
                placeholder="Residence Telephone Number"
                [imask]="phoneMask" />
              
              <mat-error
                *ngIf="
                  contactFormControl.residencePhone.invalid &&
                  contactFormControl.residencePhone.hasError('maxLength')
                "
                >Maximum length is 100 characters</mat-error
              >
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Alternate Telephone Number</mat-label>
              <input
                formControlName="alternatePhone"
                matInput
                placeholder="Alternate Telephone Number"
                [imask]="phoneMask" />
              <mat-error
                *ngIf="
                  contactFormControl.alternatePhone.invalid &&
                  contactFormControl.alternatePhone.hasError('maxLength')
                "
                >Maximum length is 100 characters</mat-error
              >

            </mat-form-field>
          </div>
        </div>
        <br />

        <div class="row">
          <div class="col-md-12">
            <p class="sub-heading">Email Address<span style="color:red"><b>*</b></span></p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-7">
            <mat-form-field appearance="outline">
              <mat-label>Provide a current email address</mat-label>
              <input
                formControlName="email"
                matInput
                placeholder="Provide a current email address"
                autocomplete="new-password"
                required
              />
              <mat-error
                *ngIf="
                  contactFormControl.email.invalid &&
                  contactFormControl.email.hasError('required')
                "
                >Email is required</mat-error
              >
              <mat-error
                *ngIf="
                  contactFormControl.email.invalid &&
                  contactFormControl.email.hasError('email')
                "
                >Invalid email</mat-error
              >
              <mat-error
                *ngIf="
                  contactFormControl.email.invalid &&
                  contactFormControl.email.hasError('maxLength')
                "
                >Maximum length is 100 characters</mat-error
              >
            </mat-form-field>
          </div>
          <div class="col-md-5">
            <div class="addressMessage" *ngIf="contactFormControl.confirmEmail.value">
              If you need to update your BC Services Card email address, visit
              <br />
              <a target="_blank" href="https://www2.gov.bc.ca/gov/content/governments/government-id/bc-services-card/your-card/change-personal-information">BC Services Card, Change your personal information</a>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-7">
            <mat-form-field appearance="outline">
              <mat-label>Re-enter your email address</mat-label>
              <input
                formControlName="confirmEmail"
                matInput
                placeholder="Current Email Address"
                [errorStateMatcher]="emailMatcher"
                required
              />
              <mat-error
                *ngIf="
                  contactFormControl?.confirmEmail.invalid &&
                  contactFormControl?.confirmEmail.hasError('required')
                "
              >
                Confirm email is required</mat-error
              >
              <mat-error
                *ngIf="
                  contactFormControl?.confirmEmail.invalid &&
                  contactFormControl?.confirmEmail.hasError('email')
                "
                >Invalid email</mat-error
              >
              <mat-error
                *ngIf="
                  contactFormControl.confirmEmail.invalid &&
                  contactFormControl.confirmEmail.hasError('maxLength')
                "
                >Maximum length is 100 characters</mat-error
              >
              <mat-error
                *ngIf="
                  contactFormControl?.confirmEmail?.parent?.hasError('emailMatch')
                "
              >
                Email address mismatch</mat-error
              >
            </mat-form-field>
          </div>
        </div>

      </ng-container>
    </form>

  </mat-card-content>
</mat-card>
