<form [formGroup]="fileUploadsForm">

  <div [formGroup]="fileUpload">
    <ng-container>
      <button
          *ngIf="!showFileUpload"
          class="family-button"
          mat-button
          type="button"
          (click)="showFileUpload = !showFileUpload"
        >
          + Add {{ title }}
        </button>
        <mat-card appearance="outlined" *ngIf="showFileUpload" style="padding: 12px;">
          <div class="row">
            <div class="col-md-6">
              <b>{{title}}<span style="color:red;" *ngIf="requiredDocumentType !== null">*</span></b><br/>
              <div [innerHTML]="description" (click)="onToggleSideNote()"></div>
              <app-file-upload
                [noOfAttachments]="1"
                (attachedFile)="setFileFormControl($event)"
                [allowedFileTypes]="allowedFileTypes"
                [allowedFileExtensionsList]="allowedFileExtensionsList"
              >
              </app-file-upload>
            </div>
            <div class="col-md-6">
              <br/><br/>
              <div [hidden]="!fileUpload.get('fileName').value">
                <label class="sub-heading" style="font-size: 15px" >File name<span style="color:red" >*</span></label>
                <br/>
                {{ fileUpload.get('fileName').value }}
                <br/><br/>
              </div>
              <label class="sub-heading" style="font-size: 15px" [hidden]="!fileUpload.get('fileName').value"
                >You may update the file description to something more descriptive:</label
              >
              <mat-form-field appearance="outline" [hidden]="!fileUpload.get('fileName').value">
                <mat-label>File description</mat-label>
                <input formControlName="fileDescription" matInput placeholder="File description" required maxlength="100"/>
                <mat-hint>Maximum length is 100 characters</mat-hint>
                <mat-error
                  *ngIf="
                    fileUpload.get('fileDescription').invalid &&
                    fileUpload.get('fileDescription').hasError('required') &&
                    fileUpload.get('fileDescription').touched
                  "
                >
                  File description is required</mat-error
                >
                <mat-error
                  *ngIf="
                    fileUpload.get('fileDescription').invalid &&
                    fileUpload.get('fileDescription').hasError('maxLength') &&
                    fileUpload.get('fileDescription').touched
                  "
                >
                  Maximum length is 100 characters</mat-error
                >
              </mat-form-field>
              <label class="sub-heading" style="font-size: 15px" [hidden]="!fileUpload.get('fileName').value" *ngIf="!fileType">Category: please select a category that describes the file you are attaching to your application.</label>
              <mat-form-field appearance="outline" [hidden]="!fileUpload.get('fileName').value" *ngIf="!fileType">
                <mat-label>File category</mat-label>
                <mat-select formControlName="fileType" matInput placeholder="File category" required>
                  <div *ngFor="let option of FileCategories | keyvalue: originalOrder">
                    <mat-option *ngIf="excludeFileTypes.indexOf(option.value) <0"
                      [value]="option.key">
                      {{ option.value }}
                    </mat-option>
                  </div>
                </mat-select>
                <mat-error
                  *ngIf="
                    fileUpload.get('fileType').invalid &&
                    fileUpload.get('fileType').hasError('required') &&
                    fileUpload.get('fileType').touched
                  "
                >
                  Category is required</mat-error
                >
              </mat-form-field>
            </div>
          </div>

          <br/><br/>
          <div class="row">
            <div class="col-md-6">
              <button
                class="button-s details-button"
                mat-button
                type="button"
                (click)="cancelAttachment()"
              >
                Cancel
              </button>
            </div>
            <div class="col-md-6" *ngIf="fileUpload.valid">
              <button
                class="family-button details-button save-button"
                mat-button
                type="button"
                (click)="saveAttachment()"
              >
                Save
              </button>
            </div>
          </div>
        </mat-card>
    </ng-container>
  </div>
</form>
