<div class="container container-frame">
  <div class="heading-container">
    <div class="row">
      <div class="col-md-12">
        <span class="page-heading">
          <b>{{
            (formCreationService.personalDetailsForm$ | async)?.value?.lastName
          }}</b
          >,
          {{
            (formCreationService.personalDetailsForm$ | async)?.value?.firstName
          }}
          </span> <br />
      </div>
    </div>
  </div>
  <div class="col-12 content-container" >
    <div class="row">
        <div class="col-md-6"></div>
      <div class="col-md-6"></div>
      <div class="col-md-6">
        
        <button *ngIf="hasActiveEvents == true"
              class="button-p notice-button left-align"
              mat-button
              (click)="navigateToDFAPrescreening()"
            >
              Create New Application
        </button>

        <div *ngIf="hasActiveEvents == false">
          <br />
          <b>
            There are currently no active events, please visit our website
            <a target="_blank" href="https://www2.gov.bc.ca/gov/content/safety/emergency-management/preparedbc/evacuation-recovery/disaster-financial-assistance">Financial assistance in a disaster</a>
            for more information
          </b>
       </div>
         
        
      </div>
      <div class="col-md-6"></div>
    </div>
    <div class="container" style="padding-bottom: 100px; padding-top: 30px;display: none;">
      <!--<app-alert></app-alert>-->

      <nav mat-tab-nav-bar dynamicHeight>
        <a
          mat-tab-link
          *ngFor="let tabItem of tabs"
          [routerLink]="tabItem.route"
          routerLinkActive="active-tab"
           class="tabHead"
        >
          <img
            class="inactive-curr"
            [src]="tabItem.inactiveImage"
            height="15"
            width="15"
          />
          <img
            class="active-curr"
            [src]="tabItem.activeImage"
            height="15"
            width="15"
          />
          <!--&nbsp;&nbsp; {{ tabItem.label }}-->
          &nbsp;&nbsp; {{ tabItem.label != "Profile" ? tabItem.label + " (" + tabItem.count + ")" : tabItem.label }}
        </a>
      </nav>
      <router-outlet></router-outlet>
      <app-loader
        class="spinner"
        [showLoader]="isLoading"
        strokeWidth="10"
        diameter="50"
      >
      </app-loader>
</div>
  </div>

</div>
