<h2 class="dialog-title"><b>Disaster Financial Assistance (DFA) Eligibility</b></h2>

<mat-dialog-content>
  <div class="col-md-12" [innerHTML]="content?.text"></div>
</mat-dialog-content>

<mat-dialog-actions>
  <div class="col-md-6">
    <button class="button-s button-width" mat-button (click)="cancel()">
      <!--{{ content?.cancelButton }}-->
     No, I want to change the application<br/>type or insurance selection
    </button>
  </div>
  <div class="col-md-6">
    <button class="button-p button-width" mat-button (click)="confirm()" style="height:70px">
      <!--{{ content?.confirmButton }}-->
      Yes, I have selected the correct<br/>application type and insurance selection
    </button>
  </div>
</mat-dialog-actions>
