<mat-card class="card-align"  style="border:none;" [class.mat-elevation-z0]="true">
  <mat-card-content>

    <ng-container>
      <div class="col-12 content-container infoText" >
        <div class="row">
          <div class="infoIconCol">
            <div class="material-icons infoIconStyle">info</div>
          </div>
          <div class="col-md-11">
            You must provide the following document before you can submit your claim:
            <br />
            - Invoices<br />
            - General Ledger<br />
            - Proof of Payment<br />
          </div>
          <div class="col-md-6"></div>

          </div>
          <div class="col-md-6"></div>
      </div>
    </ng-container>

    <ng-container *ngIf="vieworedit !== 'viewOnly'"> <!-- Invoices -->
      <div class="row">
        <div class="col-md-8" >
          <app-dfa-attachment
            *ngIf="fileUploadForm.hasError('noinvoices')"
            title="Invoices"
            isClaim="true"
            description="Attach Invoices"
            requiredDocumentType="Invoices"
            [allowedFileTypes]="allowedFileTypes"
            allowedFileExtensionsList=".pdf, .doc, .docx, .png, .jpeg, .jpg, .ppt, .pptx, .xls, .xlsx"
            fileType="Invoices"
            fileTypeText="Invoices"
            excludeFileTypes="[]"
            (saveFileUpload)="saveRequiredForm($event)"
            [fileUpload]="formCreationService.fileUploadsClaimForm.value.get('invoiceUpload')"
          ></app-dfa-attachment>
          <app-loader
            class="spinner"
            [showLoader]="isLoading"
            strokeWidth="10"
            diameter="50"
          >
          </app-loader>
          <mat-card class="row" *ngIf="!fileUploadForm.hasError('noinvoices')">
            <p class="sub-heading" style="font-size: 15px">Required invoices has been uploaded.</p>
          </mat-card>
        </div>
      </div>
      <br/>
    </ng-container>

    <ng-container *ngIf="vieworedit !== 'viewOnly'"> <!-- General Ledger -->
      <div class="row">
        <div class="col-md-8">

          <app-dfa-attachment
            *ngIf="fileUploadForm.hasError('nogeneralledger')"
            isClaim="true"
            isdisabled="isdisabled"
            title="General Ledger"
            description="Attach General Ledger."
            requiredDocumentType="GeneralLedger"
            [allowedFileTypes]="allowedFileTypes"
            allowedFileExtensionsList=".pdf, .doc, .docx, .png, .jpeg, .jpg, .ppt, .pptx, .xls, .xlsx"
            fileType="GeneralLedger"
            fileTypeText="General Ledger"
            excludeFileTypes="[]"
            (saveFileUpload)="saveRequiredForm($event)"
            [fileUpload]="formCreationService.fileUploadsClaimForm.value.get('generalLedgerUpload')"
          ></app-dfa-attachment>
          <app-loader
            class="spinner"
            [showLoader]="isLoading"
            strokeWidth="10"
            diameter="50"
          >
          </app-loader>
          <mat-card class="row" *ngIf="!fileUploadForm.hasError('nogeneralledger')">
            <p class="sub-heading" style="font-size: 15px">Required general ledger has been uploaded.</p>
          </mat-card>
        </div>
      </div>
      <br/>
    </ng-container>

    <ng-container *ngIf="vieworedit !== 'viewOnly'"> <!-- Proof of Payment -->
      <div class="row">
        <div class="col-md-8">
          <app-dfa-attachment
            isClaim="true"
            isdisabled="isdisabled"
            title="Proof of Payment"
            description="Attach Proof of Payment."
            *ngIf="fileUploadForm.hasError('noproofofpayment')"
            requiredDocumentType="ProofofPayment"
            [allowedFileTypes]="allowedFileTypes"
            allowedFileExtensionsList=".pdf, .doc, .docx, .png, .jpeg, .jpg, .ppt, .pptx, .xls, .xlsx"
            fileType="ProofofPayment"
            fileTypeText="Proof of Payment"
            excludeFileTypes="[]"
            (saveFileUpload)="saveRequiredForm($event)"
            [fileUpload]="formCreationService.fileUploadsClaimForm.value.get('proofOfPaymentUpload')"
          ></app-dfa-attachment>
          <app-loader
            class="spinner"
            [showLoader]="isLoading"
            strokeWidth="10"
            diameter="50"
          >
          </app-loader>
          <mat-card class="row" *ngIf="!fileUploadForm.hasError('noproofofpayment')">
            <p class="sub-heading" style="font-size: 15px">Required proof of payment has been uploaded.</p>
          </mat-card>
        </div>
      </div>
      <br/>
    </ng-container>

    <ng-container *ngIf="vieworedit !== 'viewOnly'"> <!-- Supporting Documents -->
      <div class="row">
        <div class="col-md-8">
          <app-dfa-attachment
            isClaim=true
            isdisabled="isdisabled"
            requiredDocumentType="null"
            title="Other Supporting Documents (Optional)"
            description="If applicable, you may include additional documents related to your application."
            [allowedFileTypes]="allowedFileTypes"
            allowedFileExtensionsList=".pdf, .doc, .docx, .png, .jpeg, .jpg, .ppt, .pptx, .xls, .xlsx"
            excludeFileTypes="['Identification', 'Unknown']"
            (saveFileUpload)="saveSupportingFiles($event)"
            (cancelFileUpload)="cancelSupportingFiles()"
            [fileUpload]="formCreationService.fileUploadsClaimForm.value.get('supportingFilesFileUpload')"
          ></app-dfa-attachment>
          <app-loader
            class="spinner"
            [showLoader]="isLoading"
            strokeWidth="10"
            diameter="50"
          >
          </app-loader>
        </div>
      </div>
    </ng-container>

    <div *ngIf="claimDocumentSummaryDataSource.data.length == 0">
      <br />
      <br />
      <br />
    </div>

    <div *ngIf="claimDocumentSummaryDataSource.data.length > 0">
      <br />
      <p class="sub-heading" style="font-size: 15px">Document Summary</p>
    </div>

    <table mat-table [dataSource]="claimDocumentSummaryDataSource" *ngIf="claimDocumentSummaryDataSource.data.length > 0" style="width:100%">
      <!-- File Name Column -->
      <ng-container matColumnDef="fileName" style="width:25%">
        <th mat-header-cell *matHeaderCellDef >
          <b>File Name</b>
        </th>
        <td *matCellDef="let element" mat-cell>
          {{ element.fileName }}
        </td>
      </ng-container>

      <!-- Description Column -->
      <ng-container matColumnDef="fileDescription" style="width:25%">
        <th mat-header-cell *matHeaderCellDef>
          <b>File Description</b>
        </th>
        <td *matCellDef="let element" mat-cell>
          {{ element.fileDescription}}
        </td>
      </ng-container>

      <!-- Category Column -->
      <!--<ng-container matColumnDef="fileType" style="width:25%">
        <th mat-header-cell *matHeaderCellDef>
          <b>Category</b>
        </th>
        <td *matCellDef="let element" mat-cell>
          {{ element.fileType }}
        </td>
      </ng-container>-->

      <!-- Category Column -->
      <ng-container matColumnDef="fileTypeText" style="width:25%">
        <th mat-header-cell *matHeaderCellDef>
          <b>Category</b>
        </th>
        <td *matCellDef="let element" mat-cell>
          {{ element.fileTypeText }}
        </td>
      </ng-container>

        <!-- UploadedDate Column -->
        <ng-container matColumnDef="uploadedDate" style="width:25%">
        <th mat-header-cell *matHeaderCellDef>
          <b>Date Uploaded</b>
        </th>
        <td *matCellDef="let element" mat-cell>
          {{ element.uploadedDate | date:"dd-MMM-yyyy" }}
        </td>
      </ng-container>

      <!-- Delete Icon Column -->
      <ng-container matColumnDef="icons" style="width:25%">
        <th mat-header-cell *matHeaderCellDef>
          &nbsp;
        </th>
        <td *matCellDef="let element; let index = index" mat-cell>
          <button
            class="delete-image"
            mat-icon-button
            aria-label="Remove"
            (click)="confirmDeleteDocumentSummaryRow(element)"
            *ngIf="vieworedit === 'addproject' || vieworedit === 'updateproject'"
          >
            <img src="/assets/images/delete.svg" height="35" width="35" />
            <img src="/assets/images/delete_onhover.svg" height="35" width="35"/>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="documentSummaryColumnsToDisplay"></tr>
      <tr
        mat-row
        *matRowDef="let element; columns: documentSummaryColumnsToDisplay"
        class="example-element-row"
        [style.height]="'auto'"
      ></tr>

    </table>

    <mat-error *ngIf="fileUploadForm.hasError('noinvoices') && isformUploaddisabled != 'true' && vieworedit !== 'viewOnly'">
      <br/>Invoices are required.
    </mat-error>
    <mat-error *ngIf="fileUploadForm?.hasError('nogeneralledger') && isformUploaddisabled != 'true' && vieworedit !== 'viewOnly'">
      <br/>General Ledger is required.
    </mat-error>
    <mat-error *ngIf="fileUploadForm?.hasError('noproofofpayment') && isformUploaddisabled != 'true' && vieworedit !== 'viewOnly'">
      <br/>Proof of Payment is required.
    </mat-error>
  </mat-card-content>
</mat-card>
