<mat-card class="card-align" style="border: none !important; box-shadow: none !important">
  <div *ngIf="type === 'profile'">
    <ng-container *ngTemplateOutlet="profile"></ng-container>
  </div>
  <div *ngIf="type === 'dfa-application-main'">
    <ng-container *ngTemplateOutlet="dfaApplicationMain"></ng-container>
  </div>

  <ng-template #dfaApplicationMain>
    <div id="dfaApplicationMain">
      <!-- <p *ngIf="showHeading" class="sub-heading" style="font-size: 20px">Review</p> -->
      <!-- <p>
          Please check that your application information is correct before submitting. Missing required fields marked in red.
        </p> -->

      <!-- <mat-card-content class="contentStyle mat-elevation-z8"> -->

      <!-- <div class="row info-detail">
            <div class="col-md-3">
              <span [ngClass]="{'missing-info': !(formCreationService.applicationDetailsForm$ | async)?.value?.legalName || (formCreationService.applicationDetailsForm$ | async)?.controls.legalName.invalid}"><b>Indigenous Governing Body & Local Authority Legal Name</b>:</span>
            </div>
            <div class="col-md-3">
              <span [ngClass]="{'missing-info': !(formCreationService.applicationDetailsForm$ | async)?.value?.legalName || (formCreationService.applicationDetailsForm$ | async)?.controls.legalName.invalid}">
                {{
                  (formCreationService.applicationDetailsForm$ | async)?.value
                    .legalName ? (formCreationService.applicationDetailsForm$ | async)?.value
                    .legalName : "Enter required information"
                }}
              </span>
            </div>
          </div> -->
      <!-- <div class="row info-detail">
            <div class="col-md-3"><span [ngClass]="{'missing-info': !(formCreationService.applicationDetailsForm$ | async)?.value?.damageFromDate || !(formCreationService.applicationDetailsForm$ | async)?.value?.damageToDate} "><b>Dates of Damage</b>:</span></div>
            <div class="col-md-4">
              <span [ngClass]="{'missing-info': !(formCreationService.applicationDetailsForm$ | async)?.value?.damageFromDate || !(formCreationService.applicationDetailsForm$ | async)?.value?.damageToDate} ">{{
                (formCreationService.applicationDetailsForm$ | async)?.value
                  .damageFromDate ? ('Starts ' + ((formCreationService.applicationDetailsForm$ | async).value.damageFromDate | date: "MM/dd/yyyy")) + '. ': 'Enter required start date. '
              }}
              {{
                (formCreationService.applicationDetailsForm$ | async)?.value
                  .damageToDate ? ('Ends ' + ((formCreationService.applicationDetailsForm$ | async).value.damageToDate | date: "MM/dd/yyyy")) + '. ' : 'Enter required end date.'
              }}</span>
            </div>
          </div>
          <div class="row info-detail">
            <div class="col-md-3">
              <span [ngClass]="{'missing-info': !(formCreationService.applicationDetailsForm$ | async)?.value?.eventName || (formCreationService.applicationDetailsForm$ | async)?.controls.eventName.invalid}"><b>Select a disaster event that matches your community and date of damage</b>:</span>
            </div>
            <div class="col-md-3">
              <span [ngClass]="{'missing-info': !(formCreationService.applicationDetailsForm$ | async)?.value?.eventName || (formCreationService.applicationDetailsForm$ | async)?.controls.eventName.invalid}">
                {{
                  (formCreationService.applicationDetailsForm$ | async)?.value
                    .eventName ? (formCreationService.applicationDetailsForm$ | async)?.value
                    .eventName : "Enter required information"
                }}
              </span>
            </div>
          </div>
          <div class="row info-detail">
            <div class="col-md-3">
              <span [ngClass]="{'missing-info': (formCreationService.applicationDetailsForm$ | async).hasError('noCauseOfDamage')}"><b>Cause of Damage</b>:</span>
            </div>
            <div class="col-md-3" *ngIf="!(formCreationService.applicationDetailsForm$ | async).hasError('noCauseOfDamage')">
              {{
                causeOfDamage
              }}
            </div>
            <div class="col-md-3" *ngIf="(formCreationService.applicationDetailsForm$ | async).hasError('noCauseOfDamage')">
              <span style="color:red">At least one cause of damage is required.</span>
            </div>
          </div>
          
          <div class="row info-detail">
            <div class="col-md-3">
              <span [ngClass]="{'missing-info': !(formCreationService.applicationDetailsForm$ | async)?.value?.applicantSubtype || (formCreationService.applicationDetailsForm$ | async)?.controls.applicantSubtype.invalid}"><b>Government Type</b>:</span>
            </div>
            <div class="col-md-3">
              <span [ngClass]="{'missing-info': !(formCreationService.applicationDetailsForm$ | async)?.value?.applicantSubtype || (formCreationService.applicationDetailsForm$ | async)?.controls.applicantSubtype.invalid}">
                {{
                  (formCreationService.applicationDetailsForm$ | async)?.value
                    .applicantSubtype ? (formCreationService.applicationDetailsForm$ | async)?.value
                    .applicantSubtype : "Enter required information"
                }}
              </span>
            </div>
          </div>
          <div class="row info-detail" *ngIf="(formCreationService.applicationDetailsForm$ | async)?.value.applicantSubtype == 'Other'">
            <div class="col-md-3">
              <span [ngClass]="{'missing-info': !(formCreationService.applicationDetailsForm$ | async)?.value?.subtypeOtherDetails || (formCreationService.applicationDetailsForm$ | async)?.controls.subtypeOtherDetails.invalid}"><b>Describe organization</b>:</span>
            </div>
            <div class="col-md-3">
              <span [ngClass]="{'missing-info': !(formCreationService.applicationDetailsForm$ | async)?.value?.subtypeOtherDetails || (formCreationService.applicationDetailsForm$ | async)?.controls.subtypeOtherDetails.invalid}">
                {{
                  (formCreationService.applicationDetailsForm$ | async)?.value
                    .subtypeOtherDetails ? (formCreationService.applicationDetailsForm$ | async)?.value
                    .subtypeOtherDetails : "Enter required information"
                }}
              </span>
            </div>
          </div>
          <div class="row info-detail" *ngIf="(formCreationService.applicationDetailsForm$ | async)?.value.applicantSubtype == 'Other Local Government Body'">
            <div class="col-md-3">
              <span [ngClass]="{'missing-info': !(formCreationService.applicationDetailsForm$ | async)?.value?.applicantSubSubtype || (formCreationService.applicationDetailsForm$ | async)?.controls.applicantSubSubtype.invalid}"><b>Other Governing Body</b>:</span>
            </div>
            <div class="col-md-3">
              <span [ngClass]="{'missing-info': !(formCreationService.applicationDetailsForm$ | async)?.value?.applicantSubSubtype || (formCreationService.applicationDetailsForm$ | async)?.controls.applicantSubSubtype.invalid}">
                {{
                  (formCreationService.applicationDetailsForm$ | async)?.value
                    .applicantSubSubtype ? (formCreationService.applicationDetailsForm$ | async)?.value
                    .applicantSubSubtype : "Enter required information"
                }}
              </span>
            </div>
          </div>
          <br /><br /> -->

      <!-- <div class="page"> -->

      <br />
      <mat-card-content class="contentStyle mat-elevation-z8">
        <div class="row justify-content-between">
          <div class="col-md-10 card-heading">Supporting Documents</div>
          <div class="col-md-1" *ngIf="allowEdit">
            <button class="edit-image" mat-icon-button aria-label="Edit" (click)="navigateToStep(0)">
              <img src="/assets/images/edit.svg" height="35" width="35" />
            </button>
          </div>
        </div>
        <hr />
        <div class="row info-detail" style="padding-top: 20px">
          <!-- Indigenous Governing Body & Local Authority Legal Name -->
          <div class="col-md-4">
            <span
              [ngClass]="{
                'missing-info':
                  !(formCreationService.applicationDetailsForm$ | async)?.value?.legalName ||
                  (formCreationService.applicationDetailsForm$ | async)?.controls.legalName.invalid
              }">
              Indigenous Governing Body & Local Authority Legal Name:
            </span>
          </div>
          <div class="col-md-4">
            <span
              [ngClass]="{
                'missing-info':
                  !(formCreationService.applicationDetailsForm$ | async)?.value?.legalName ||
                  (formCreationService.applicationDetailsForm$ | async)?.controls.legalName.invalid
              }">
              {{
                (formCreationService.applicationDetailsForm$ | async)?.value.legalName
                  ? (formCreationService.applicationDetailsForm$ | async)?.value.legalName
                  : 'Enter required information'
              }}
            </span>
          </div>
        </div>

        <!-- Date of Damage From -->
        <div class="row info-detail">
          <div class="col-md-4">Date of Damage From:</div>
          <div class="col-md-4">
            <span
              [ngClass]="{
                'missing-info': !(formCreationService.applicationDetailsForm$ | async)?.value?.damageFromDate
              }">
              {{
                (formCreationService.applicationDetailsForm$ | async)?.value.damageFromDate
                  ? 'Starts ' +
                    ((formCreationService.applicationDetailsForm$ | async).value.damageFromDate | date: 'MM/dd/yyyy') +
                    '. '
                  : 'Enter required start date.'
              }}
            </span>
          </div>
        </div>

        <!-- Date of Damage To -->
        <div class="row info-detail">
          <div class="col-md-4">Date of Damage To:</div>
          <div class="col-md-4">
            <span
              [ngClass]="{
                'missing-info': !(formCreationService.applicationDetailsForm$ | async)?.value?.damageToDate
              }">
              {{
                (formCreationService.applicationDetailsForm$ | async)?.value.damageToDate
                  ? 'Ends ' +
                    ((formCreationService.applicationDetailsForm$ | async).value.damageToDate | date: 'MM/dd/yyyy') +
                    '. '
                  : 'Enter required end date.'
              }}
            </span>
          </div>
        </div>

        <!-- Disaster Event -->
        <div class="row info-detail">
          <div class="col-md-4">Disaster Event:</div>
          <div class="col-md-4">
            <span
              [ngClass]="{
                'missing-info':
                  !(formCreationService.applicationDetailsForm$ | async)?.value?.eventName ||
                  (formCreationService.applicationDetailsForm$ | async)?.controls.eventName.invalid
              }">
              {{
                (formCreationService.applicationDetailsForm$ | async)?.value.eventName
                  ? (formCreationService.applicationDetailsForm$ | async)?.value.eventName
                  : 'Enter required information'
              }}
            </span>
          </div>
        </div>

        <!-- Cause of Damage -->
        <div class="row info-detail">
          <div class="col-md-4">Cause of Damage:</div>
          <div class="col-md-4">
            <span [ngClass]="{ 'missing-info': !causeOfDamage }">
              {{ causeOfDamage ? causeOfDamage : 'At least one cause of damage is required' }}
            </span>
          </div>
        </div>

        <!-- Government Type -->
        <div class="row info-detail">
          <div class="col-md-4">Government Type:</div>
          <div class="col-md-4">
            <span
              [ngClass]="{
                'missing-info':
                  !(formCreationService.applicationDetailsForm$ | async)?.value?.applicantSubtype ||
                  (formCreationService.applicationDetailsForm$ | async)?.controls.applicantSubtype.invalid
              }">
              {{
                (formCreationService.applicationDetailsForm$ | async)?.value.applicantSubtype
                  ? (formCreationService.applicationDetailsForm$ | async)?.value.applicantSubtype
                  : 'Enter required information'
              }}
            </span>
          </div>
        </div>
      </mat-card-content>
      <br />
      <mat-card-content class="contentStyle mat-elevation-z8">
        <div class="row justify-content-between">
          <div class="col-md-10 card-heading">Contact Information</div>
          <div class="col-md-1" *ngIf="allowEdit">
            <button class="edit-image" mat-icon-button aria-label="Edit" (click)="navigateToStep(1)">
              <img src="/assets/images/edit.svg" height="35" width="35" />
            </button>
          </div>
        </div>
        <hr />
        <!-- Doing Business As (DBA) Name -->
        <div class="row info-detail" style="padding-top: 20px">
          <div class="col-md-4">Doing Business As (DBA) Name:</div>
          <div class="col-md-4">
            <span>
              {{
                (formCreationService.contactsForm$ | async)?.value.doingBusinessAs
                  ? (formCreationService.contactsForm$ | async)?.value.doingBusinessAs
                  : ''
              }}
            </span>
          </div>
        </div>

        <!-- Business Number -->
        <div class="row info-detail">
          <div class="col-md-4">Business Number:</div>
          <div class="col-md-4">
            <span>
              {{
                (formCreationService.contactsForm$ | async)?.value.businessNumber
                  ? (formCreationService.contactsForm$ | async)?.value.businessNumber
                  : ''
              }}
            </span>
          </div>
        </div>

        <!-- Mailing Address Header -->
        <div class="row info-detail" style="padding-top: 15px">
          <div class="col-md-4">
            <div class="sub-heading" style="font-size: 16px">Mailing Address</div>
          </div>
        </div>

        <!-- Address Line 1 -->
        <div class="row info-detail">
          <div class="col-md-4">Address Line 1:</div>
          <div class="col-md-4">
            <span
              [ngClass]="{
                'missing-info':
                  !(formCreationService.contactsForm$ | async)?.value?.addressLine1 ||
                  (formCreationService.contactsForm$ | async)?.controls.addressLine1.invalid
              }">
              {{
                (formCreationService.contactsForm$ | async)?.value.addressLine1
                  ? (formCreationService.contactsForm$ | async)?.value.addressLine1
                  : 'Enter required information'
              }}
            </span>
          </div>
        </div>

        <!-- Address Line 2 -->
        <div class="row info-detail">
          <div class="col-md-4">Address Line 2:</div>
          <div class="col-md-4">
            <span>
              {{
                (formCreationService.contactsForm$ | async)?.value.addressLine2
                  ? (formCreationService.contactsForm$ | async)?.value.addressLine2
                  : ''
              }}
            </span>
          </div>
        </div>

        <!-- City -->
        <div class="row info-detail">
          <div class="col-md-4">City:</div>
          <div class="col-md-4">
            <span
              [ngClass]="{
                'missing-info':
                  !(formCreationService.contactsForm$ | async)?.value?.community ||
                  (formCreationService.contactsForm$ | async)?.controls.community.invalid
              }">
              {{
                (formCreationService.contactsForm$ | async)?.value.community
                  ? (formCreationService.contactsForm$ | async)?.value.community
                  : 'Enter required information'
              }}
            </span>
          </div>
        </div>

        <!-- Province -->
        <div class="row info-detail">
          <div class="col-md-4">Province:</div>
          <div class="col-md-4">
            <span
              [ngClass]="{
                'missing-info':
                  !(formCreationService.contactsForm$ | async)?.value?.stateProvince ||
                  (formCreationService.contactsForm$ | async)?.controls.stateProvince.invalid
              }">
              {{
                (formCreationService.contactsForm$ | async)?.value.stateProvince
                  ? (formCreationService.contactsForm$ | async)?.value.stateProvince
                  : 'Enter required information'
              }}
            </span>
          </div>
        </div>

        <!-- Postal Code -->
        <div class="row info-detail">
          <div class="col-md-4">Postal Code:</div>
          <div class="col-md-4">
            <span
              [ngClass]="{
                'missing-info':
                  !(formCreationService.contactsForm$ | async)?.value?.postalCode ||
                  (formCreationService.contactsForm$ | async)?.controls.postalCode.invalid
              }">
              {{
                (formCreationService.contactsForm$ | async)?.value.postalCode
                  ? (formCreationService.contactsForm$ | async)?.value.postalCode
                  : 'Enter required information'
              }}
            </span>
          </div>
        </div>

        <!-- Primary Contact Details Header -->
        <div class="row info-detail" style="padding-top: 15px">
          <div class="sub-heading">
            Primary Contact Details
          </div>
        </div>

        <!-- First Name -->
        <div class="row info-detail">
          <div class="col-md-4">First Name:</div>
          <div class="col-md-4">
            <span
              [ngClass]="{
                'missing-info':
                  !(formCreationService.contactsForm$ | async)?.value?.pcFirstName ||
                  (formCreationService.contactsForm$ | async)?.controls.pcFirstName.invalid
              }">
              {{
                (formCreationService.contactsForm$ | async)?.value.pcFirstName
                  ? (formCreationService.contactsForm$ | async)?.value.pcFirstName
                  : 'Enter required information'
              }}
            </span>
          </div>
        </div>

        <!-- Last Name -->
        <div class="row info-detail">
          <div class="col-md-4">Last Name:</div>
          <div class="col-md-4">
            <span
              [ngClass]="{
                'missing-info':
                  !(formCreationService.contactsForm$ | async)?.value?.pcLastName ||
                  (formCreationService.contactsForm$ | async)?.controls.pcLastName.invalid
              }">
              {{
                (formCreationService.contactsForm$ | async)?.value.pcLastName
                  ? (formCreationService.contactsForm$ | async)?.value.pcLastName
                  : 'Enter required information'
              }}
            </span>
          </div>
        </div>

        <!-- Department -->
        <div class="row info-detail">
          <div class="col-md-4">Department:</div>
          <div class="col-md-4">
            <span>
              {{
                (formCreationService.contactsForm$ | async)?.value.pcDepartment
                  ? (formCreationService.contactsForm$ | async)?.value.pcDepartment
                  : ''
              }}
            </span>
          </div>
        </div>

        <!-- Business Phone -->
        <div class="row info-detail">
          <div class="col-md-4">Business Phone:</div>
          <div class="col-md-4">
            <span>
              {{
                (formCreationService.contactsForm$ | async)?.value.pcBusinessPhone
                  ? (formCreationService.contactsForm$ | async)?.value.pcBusinessPhone
                  : ''
              }}
            </span>
          </div>
        </div>

        <!-- Email Address -->
        <div class="row info-detail">
          <div class="col-md-4">Email Address:</div>
          <div class="col-md-4">
            <span
              [ngClass]="{
                'missing-info':
                  !(formCreationService.contactsForm$ | async)?.value?.pcEmailAddress ||
                  (formCreationService.contactsForm$ | async)?.controls.pcEmailAddress.invalid
              }">
              {{
                (formCreationService.contactsForm$ | async)?.value.pcEmailAddress
                  ? (formCreationService.contactsForm$ | async)?.value.pcEmailAddress
                  : 'Enter required information'
              }}
            </span>
          </div>
        </div>

        <div class="row info-detail pb-0 col-4">
          <div class="sub-heading">Additional Contact Details</div>
        </div>
        <div class="row info-detail col-4" *ngIf="otherContactsDataSource.getValue()?.length == 0">
          <div class="missing-info">At least one other contact is required.</div>
        </div>
        <div class="px-2">
        <table  *ngIf="otherContactsDataSource.getValue()?.length > 0"  mat-table [dataSource]="otherContactsDataSource">
          <!-- Name Column -->
          <ng-container matColumnDef="name" style="width: 26%">
            <th mat-header-cell *matHeaderCellDef>
              <b>Name</b>
            </th>
            <td *matCellDef="let element" mat-cell>{{ element.firstName }}&nbsp; {{ element.lastName }}</td>
          </ng-container>

          <!-- Phone Column -->
          <ng-container matColumnDef="phoneNumber" style="width: 17%">
            <th mat-header-cell *matHeaderCellDef>
              <b>Phone</b>
            </th>
            <td *matCellDef="let element" mat-cell>
              {{ element.phoneNumber | phoneFormat }}
            </td>
          </ng-container>

          <!-- Email Column -->
          <ng-container matColumnDef="email" style="width: 17%">
            <th mat-header-cell *matHeaderCellDef>
              <b>Email</b>
            </th>
            <td *matCellDef="let element" mat-cell>
              {{ element.email }}
            </td>
          </ng-container>

          <!-- Cell Phone Column -->
          <ng-container matColumnDef="cellPhone" style="width: 10%">
            <th mat-header-cell *matHeaderCellDef>
              <b>Cell Phone</b>
            </th>
            <td *matCellDef="let element" mat-cell>
              {{ element.cellPhone }}
            </td>
          </ng-container>

          <!-- Job Title Column -->
          <ng-container matColumnDef="jobTitle" style="width: 10%">
            <th mat-header-cell *matHeaderCellDef>
              <b>Job Title</b>
            </th>
            <td *matCellDef="let element" mat-cell>
              {{ element.jobTitle }}
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="otherContactsColumnsToDisplay"></tr>
          <tr mat-row *matRowDef="let element; columns: otherContactsColumnsToDisplay" class="example-element-row"></tr>
        </table>
        </div>

        <div class="row info-detail">
          <div class="col-md-4">Want to receive guidance and support?:</div>
          <div class="col-md-4">
            <span
              [ngClass]="{
                'missing-info':
                  !(formCreationService.contactsForm$ | async)?.value?.guidanceSupport ||
                  (formCreationService.contactsForm$ | async)?.controls.guidanceSupport.invalid
              }">

              {{
                (formCreationService.contactsForm$ | async)?.value.guidanceSupport
                  ? (formCreationService.contactsForm$ | async).value.guidanceSupport == 'true' ? 'Yes' : 'No'
                  : 'Please validate the guidance support'
              }}
            </span>
          </div>
        </div>
      </mat-card-content>
    </div>

    <br />
    <!-- EMCRI-1066 -->
    <mat-card-content class="card-content-align contentStyle mat-elevation-z8">
      <form [formGroup]="authorizedRepresentativeForm" (change)="validateAuthorizedRepresentative()">
        <div>
          <ng-container>
            <br />

            <div class="row info-detail">
              <p class="sub-heading" style="font-size: 15px">
                Authorized Representative<span style="color: red">*</span>
              </p>
            </div>
            <div class="row info-detail">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-4">
                    <mat-form-field appearance="outline">
                      <mat-label>First Name</mat-label>
                      <input formControlName="firstName" matInput placeholder="First Name" required maxlength="49" />
                      <mat-error
                        *ngIf="
                          authorizedRepresentativeForm.get('firstName').invalid &&
                          authorizedRepresentativeForm.get('firstName').hasError('required') &&
                          authorizedRepresentativeForm.get('firstName').touched
                        ">
                        First Name is required</mat-error
                      >
                      <mat-error
                        *ngIf="
                          authorizedRepresentativeForm.get('firstName').invalid &&
                          authorizedRepresentativeForm.get('firstName').hasError('maxLength')
                        ">
                        Maximum length is 49 characters</mat-error
                      >
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field appearance="outline">
                      <mat-label>Last Name</mat-label>
                      <input formControlName="lastName" matInput placeholder="Last Name" required maxlength="49" />
                      <mat-error
                        *ngIf="
                          authorizedRepresentativeForm.get('lastName').invalid &&
                          authorizedRepresentativeForm.get('lastName').hasError('required') &&
                          authorizedRepresentativeForm.get('lastName').touched
                        ">
                        Last Name is required</mat-error
                      >
                      <mat-error
                        *ngIf="
                          authorizedRepresentativeForm.get('lastName').invalid &&
                          authorizedRepresentativeForm.get('lastName').hasError('maxLength')
                        ">
                        Maximum length is 49 characters</mat-error
                      >
                    </mat-form-field>
                  </div>
                </div>
                <div class="row ">
                  <div class="col-md-4">
                    <mat-form-field appearance="outline">
                      <mat-label>Business Phone</mat-label>
                      <input
                        formControlName="businessPhone"
                        matInput
                        required
                        placeholder="Business Phone"
                        mask="(000) 000-0000" />
                      <mat-error
                        *ngIf="
                          authorizedRepresentativeForm.get('businessPhone').invalid &&
                          authorizedRepresentativeForm.get('businessPhone').hasError('required') &&
                          authorizedRepresentativeForm.get('businessPhone').touched
                        ">
                        Business Phone is required</mat-error
                      >
                      <mat-error
                        *ngIf="
                          authorizedRepresentativeForm.get('businessPhone').invalid &&
                          authorizedRepresentativeForm.get('businessPhone').hasError('incorrectLength')
                        ">
                        Business Phone must have 10 digits</mat-error
                      >
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field appearance="outline">
                      <mat-label>Email</mat-label>
                      <input
                        formControlName="email"
                        required
                        matInput
                        placeholder="Email"
                        type="email"
                        maxlength="100" />
                      <mat-error
                        *ngIf="
                          authorizedRepresentativeForm.get('email').invalid &&
                          authorizedRepresentativeForm.get('email').hasError('required') &&
                          authorizedRepresentativeForm.get('email').touched
                        ">
                        Email is required</mat-error
                      >
                      <mat-error *ngIf="authorizedRepresentativeForm.get('email').invalid">
                        Invalid email address</mat-error
                      >
                      <mat-error
                        *ngIf="
                          authorizedRepresentativeForm.get('email').invalid &&
                          authorizedRepresentativeForm.get('email').hasError('maxLength')
                        ">
                        Maximum length is 100 characters</mat-error
                      >
                    </mat-form-field>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-4">
                    <mat-form-field appearance="outline">
                      <mat-label>Position/Title</mat-label>
                      <input formControlName="positionTitle" matInput placeholder="Position/Title" maxlength="100" />
                      <mat-error
                        *ngIf="
                          authorizedRepresentativeForm.get('positionTitle').invalid &&
                          authorizedRepresentativeForm.get('positionTitle').hasError('required') &&
                          authorizedRepresentativeForm.get('positionTitle').touched
                        ">
                        Job Title is required</mat-error
                      >
                      <mat-error
                        *ngIf="
                          authorizedRepresentativeForm.get('positionTitle').invalid &&
                          authorizedRepresentativeForm.get('positionTitle').hasError('maxLength')
                        ">
                        Maximum length is 100 characters</mat-error
                      >
                    </mat-form-field>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <p>
                      I am duly authorized to submit this application on behalf of the represented Indigenous Governing
                      Body or Local Authority.
                      <span style="color: red">*</span>
                    </p>
                    <mat-radio-group
                      formControlName="firstDeclaration"
                      class="primary-radio-group horizontal-radio-group"
                      required
                      color="primary"
                      aria-label="Select an option"
                      (change)="validateAuthorizedRepresentative()">
                      <mat-radio-button value="true">Yes</mat-radio-button>&nbsp;&nbsp;<mat-radio-button value="false"
                        >No</mat-radio-button
                      >
                    </mat-radio-group>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <mat-error
                      *ngIf="
                        authorizedRepresentativeForm.get('firstDeclaration').invalid &&
                        authorizedRepresentativeForm.get('firstDeclaration').hasError('required') &&
                        authorizedRepresentativeForm.get('firstDeclaration').touched
                      ">
                      Authorization declaration is required
                    </mat-error>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <p>
                      I confirm, on behalf of the represented Indigenous Governing Body or Local Authority, that the
                      information contained in this application is accurate.
                      <span style="color: red">*</span>
                    </p>
                    <mat-radio-group
                      formControlName="secondDeclaration"
                      class="primary-radio-group horizontal-radio-group"
                      required
                      color="primary"
                      aria-label="Select an option"
                      (change)="validateAuthorizedRepresentative()">
                      <mat-radio-button value="true">Yes</mat-radio-button>&nbsp;&nbsp;<mat-radio-button value="false"
                        >No</mat-radio-button
                      >
                    </mat-radio-group>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <mat-error
                      *ngIf="
                        authorizedRepresentativeForm.get('secondDeclaration').invalid &&
                        authorizedRepresentativeForm.get('secondDeclaration').hasError('required') &&
                        authorizedRepresentativeForm.get('secondDeclaration').touched
                      ">
                      Accurate information declaration is required
                    </mat-error>
                  </div>
                </div>
                <br />
              </div>
            </div>
          </ng-container>
        </div>
      </form>
    </mat-card-content>
  </ng-template>
</mat-card>
