<mat-card style="border: none !important; box-shadow: none !important;">
  <div *ngIf="type === 'profile'">
    <ng-container *ngTemplateOutlet="profile"></ng-container>
  </div>
  <div *ngIf="type === 'dfa-application-main'">
    <ng-container *ngTemplateOutlet="dfaApplicationMain"></ng-container>
  </div>

  <!--<ng-template #profile>
    <div id="personalDetail">
      <p *ngIf="showHeading" class="review-heading review-profile-head">Review & Submit</p>
       <p>
        Please read through and confirm that your details are all correct before
        submitting.
      </p>

      <mat-card-content style="display:none" class="mat-elevation-z8">
        <div class="row justify-content-between">
          <div class="col-md-6 card-heading">Restriction</div>
          <div class="col-md-2">
            <button
              class="edit-image"
              mat-icon-button
              aria-label="Edit"
              (click)="editDetails('restriction')"
            >
              <img src="/assets/images/edit.svg" height="35" width="35" />
              <img
                src="/assets/images/edit_onhover.svg"
                height="35"
                width="35"
              />
            </button>
          </div>
        </div>
        <hr />

        <div class="row info-detail">
          <div class="col-md-1">
            <span
              *ngIf="
                !(formCreationService.restrictionForm$ | async)?.value
                  .restrictedAccess
              "
            >
              <img
                src="/assets/images/restriction-on.svg"
                height="20"
                width="20"
              />
            </span>
            <span
              *ngIf="
                (formCreationService.restrictionForm$ | async)?.value
                  .restrictedAccess
              "
            >
              <img
                src="/assets/images/restriction-off.svg"
                height="20"
                width="20"
              />
            </span>
          </div>
          <div class="col-md-9">
            <p>
              You have given your consent to have your location and contact
              information shared with concerned family or friends who enquire
              about your wellbeing.
            </p>
          </div>
        </div>
      </mat-card-content>

      <mat-card-content class="contentStyle mat-elevation-z8">
        <div class="row justify-content-between">
          <div class="col-md-6 card-heading">Personal Details</div>
          <div class="col-md-2">
            <button
              class="edit-image"
              mat-icon-button
              aria-label="Edit"
              (click)="editDetails('personal-details')"
            >
              <img src="/assets/images/edit.svg" height="35" width="35" />
              <img
                src="/assets/images/edit_onhover.svg"
                height="35"
                width="35"
              />
            </button>
          </div>
        </div>
        <hr />

        <div class="row info-detail">
          <div class="col-md-3">Last Name:</div>
          <div class="col-md-3">
            {{
              (formCreationService.personalDetailsForm$ | async)?.value
                ?.lastName
            }}
          </div>
        </div>
        <div class="row info-detail">
          <div class="col-md-3">First Name:</div>
          <div class="col-md-3">
            {{
              (formCreationService.personalDetailsForm$ | async)?.value
                ?.firstName
            }}
          </div>
        </div>
        <div class="row info-detail">
          <div class="col-md-3">
            Are you an Indigenous person?<br />
          (First Nation, Inuit, or Metis)
          </div>
          <div class="col-md-3">
            {{
              (formCreationService.personalDetailsForm$ | async)?.value
                ?.indigenousStatus
            }}
          </div>
        </div>
        <div class="row info-detail">
          <div class="col-md-3">Initials:</div>
          <div class="col-md-3">
            {{
              (formCreationService.personalDetailsForm$ | async)?.value
                ?.initials
            }}
          </div>
        </div>
      </mat-card-content>

      <mat-card-content class="contentStyle mat-elevation-z8">
        <div class="row justify-content-between">
          <div class="col-md-6 card-heading">Primary Address</div>
          <div class="col-md-2">-->
            <!--<button
              class="edit-image"
              mat-icon-button
              aria-label="Edit"
              (click)="editDetails('address')"
            >
              <img src="/assets/images/edit.svg" height="35" width="35" />
              <img
                src="/assets/images/edit_onhover.svg"
                height="35"
                width="35"
              />
            </button>-->
          <!--</div>
        </div>
        <hr />
        <div class="row info-detail">
          <div class="col-md-3">Address line 1:</div>
          <div class="col-md-3">
            {{
              (formCreationService.addressForm$ | async)?.value?.address
                ?.addressLine1
            }}
          </div>
        </div>
        <div class="row info-detail">
          <div class="col-md-3">Address line 2:</div>
          <div class="col-md-3">
            {{
              (formCreationService.addressForm$ | async)?.value?.address
                ?.addressLine2
            }}
          </div>
        </div>
        <div class="row info-detail">
          <div
            class="col-md-3"

          >
            City:
          </div>

          <div class="col-md-3">
            {{
              (formCreationService.addressForm$ | async)?.value?.address
                ?.community
            }}
          </div>

        </div>
        <div class="row info-detail">
          <div
            class="col-md-3">
            Postal Code:
          </div>


          <div class="col-md-3">
            {{
              (formCreationService.addressForm$ | async)?.value?.address
                ?.postalCode
            }}
          </div>
        </div>
        <div class="row info-detail">
          <div
            class="col-md-3">
            Province:
          </div>
          <div class="col-md-3">
            {{
              (formCreationService.addressForm$ | async)?.value?.address
                ?.stateProvince
            }}
          </div>
        </div>
      </mat-card-content>

      <mat-card-content class="contentStyle mat-elevation-z8">
        <div class="row justify-content-between">
          <div class="col-md-6 card-heading">Mailing Address</div>
          <div class="col-md-2">
            <button
              class="edit-image"
              mat-icon-button
              aria-label="Edit"
              (click)="editDetails('address')"
            >
              <img src="/assets/images/edit.svg" height="35" width="35" />
              <img
                src="/assets/images/edit_onhover.svg"
                height="35"
                width="35"
              />
            </button>
          </div>
        </div>
        <hr />
        <div class="row info-detail">
          <div class="col-md-3">Address line 1:</div>
          <div class="col-md-3">
            {{
              (formCreationService.addressForm$ | async)?.value?.mailingAddress
                ?.addressLine1
            }}
          </div>
        </div>
        <div class="row info-detail">
          <div class="col-md-3">Address line 2:</div>
          <div class="col-md-3">
            {{
              (formCreationService.addressForm$ | async)?.value?.mailingAddress
                ?.addressLine2
            }}
          </div>
        </div>
        <div class="row info-detail">
          <div
            class="col-md-3">
            City:
          </div>

          <div
            class="col-md-3"
            *ngIf="
              (formCreationService.addressForm$ | async)?.value?.mailingAddress
                ?.community?.name !== undefined
            "
          >
            {{
              (formCreationService.addressForm$ | async)?.value?.mailingAddress
                ?.community?.name
            }}
          </div>
          <div
            class="col-md-3"
            *ngIf="
              (formCreationService.addressForm$ | async)?.value?.mailingAddress
                ?.community?.name === undefined
            "
          >
            {{
              (formCreationService.addressForm$ | async)?.value?.mailingAddress
                ?.community
            }}
          </div>
        </div>
        <div class="row info-detail">
          <div
            class="col-md-3">
            Postal Code:
          </div>

          <div class="col-md-3">
            {{
              (formCreationService.addressForm$ | async)?.value?.mailingAddress
                ?.postalCode
            }}
          </div>
        </div>
        <div class="row info-detail">
          <div
            class="col-md-3">
            Province:
          </div>
          <div class="col-md-3">
            {{
              (formCreationService.addressForm$ | async)?.value?.mailingAddress
                ?.stateProvince
            }}
          </div>
        </div>

      </mat-card-content>

      <mat-card-content class="contentStyle mat-elevation-z8">
        <div class="row justify-content-between">
          <div class="col-md-6 card-heading">Contact Telephone Number</div>
          <div class="col-md-2">
            <button
              class="edit-image"
              mat-icon-button
              aria-label="Edit"
              (click)="editDetails('contact-info')"
            >
              <img src="/assets/images/edit.svg" height="35" width="35" />
              <img
                src="/assets/images/edit_onhover.svg"
                height="35"
                width="35"
              />
            </button>
          </div>
        </div>
        <hr />-->
        <!--<div class="row info-detail">-->

          <!--<div class="col-md-9">
            <p>
              You have given your consent for Emergency Management British
              Columbia and your Local Emergency Program to communicate with you
              by email or phone regarding your emergency situation.
            </p>
          </div>-->
        <!--</div>-->
        <!--<div class="row info-detail">
          <div class="col-md-3">Cellular Telephone Number:</div>
          <div class="col-md-3">
            {{
              (formCreationService.contactDetailsForm$ | async)?.value?.cellPhoneNumber
            }}
          </div>
        </div>
        <div class="row info-detail">
          <div class="col-md-3">Residence Telephone Number:</div>
          <div class="col-md-3">
            {{
              (formCreationService.contactDetailsForm$ | async)?.value?.residencePhone
            }}
          </div>
        </div>
        <div class="row info-detail">
          <div class="col-md-3">Alternate Telephone Number:</div>
          <div class="col-md-3">
            {{
              (formCreationService.contactDetailsForm$ | async)?.value?.alternatePhone
            }}
          </div>
        </div>
      </mat-card-content>

      <mat-card-content class="contentStyle mat-elevation-z8">
        <div class="row justify-content-between">
          <div class="col-md-6 card-heading">Email Address</div>
          <div class="col-md-2">
            <button
              class="edit-image"
              mat-icon-button
              aria-label="Edit"
              (click)="editDetails('contact-info')"
            >
              <img src="/assets/images/edit.svg" height="35" width="35" />
              <img
                src="/assets/images/edit_onhover.svg"
                height="35"
                width="35"
              />
            </button>
          </div>
        </div>
        <hr />
        <div class="row info-detail">
          <div class="col-md-3">Email Address:</div>
          <div class="col-md-3">
            {{
              (formCreationService.contactDetailsForm$ | async)?.value?.email
            }}
          </div>
        </div>
      </mat-card-content>
    </div>

  </ng-template>-->

  <ng-template #dfaApplicationMain>
    <div id="dfaApplicationMain">
      <p *ngIf="showHeading" class="sub-heading" style="font-size: 20px">Review</p>
       <p>
        Please check that your application information is correct before submitting. Missing required fields marked in red.
      </p>

      <!-- Cause of Damage -->
      <mat-card-content class="contentStyle mat-elevation-z8">
        <div class="row justify-content-between">
          <div class="col-md-6 card-heading">Cause of Damage</div>
          <div class="col-md-2" *ngIf="allowEdit">
            <button
              class="edit-image"
              mat-icon-button
              aria-label="Edit"
              (click)="navigateToStep(0)"
            >
              <img src="/assets/images/edit.svg" height="35" width="35" />
              <img
                src="/assets/images/edit_onhover.svg"
                height="35"
                width="35"
              />
            </button>
          </div>
        </div>
        <hr />
        <div class="row info-detail">
          <div class="col-md-3">Flood Damage?:</div>
          <div class="col-md-3">
            {{
              (formCreationService.propertyDamageForm$ | async)?.value
                .floodDamage === true
                ? 'Yes'
                : 'No'
            }}
          </div>
        </div>
        <div class="row info-detail">
          <div class="col-md-3">Landslide Damage?:</div>
          <div class="col-md-3">
            {{
              (formCreationService.propertyDamageForm$ | async)?.value
                .landslideDamage === true
                ? 'Yes'
                : 'No'
            }}
          </div>
        </div>
        <div class="row info-detail">
          <div class="col-md-3">Storm Damage?:</div>
          <div class="col-md-3">
            {{
              (formCreationService.propertyDamageForm$ | async)?.value
                .stormDamage === true
                ? 'Yes'
                : 'No'
            }}
          </div>
        </div>
        <div class="row info-detail">
          <div class="col-md-3">Wildfire Damage?:</div>
          <div class="col-md-3">
            {{
              (formCreationService.propertyDamageForm$ | async)?.value
                .wildfireDamage === true
                ? 'Yes'
                : 'No'
            }}
          </div>
        </div>
        <div class="row info-detail">
          <div class="col-md-3">Other Damage?:</div>
          <div class="col-md-3">
            {{
              (formCreationService.propertyDamageForm$ | async)?.value
                .otherDamage === true
                ? 'Yes'
                : 'No'
            }}
          </div>
        </div>
        <div class="row info-detail" *ngIf="(formCreationService.propertyDamageForm$ | async)?.value.otherDamage === true">
          <div class="col-md-3"><span [ngClass]="{'missing-info': !(formCreationService.propertyDamageForm$ | async)?.value?.otherDamageText || (formCreationService.propertyDamageForm$ | async)?.controls?.otherDamageText.invalid}">Cause of Damage:</span></div>
          <div class="col-md-3">
            <span [ngClass]="{'missing-info': !(formCreationService.propertyDamageForm$ | async)?.value?.otherDamageText || (formCreationService.propertyDamageForm$ | async)?.controls?.otherDamageText.invalid}">
              {{
                (formCreationService.propertyDamageForm$ | async)?.value
                  .otherDamageText ? (formCreationService.propertyDamageForm$ | async)?.value
                  .otherDamageText : "Enter required information"
              }}
            </span>
          </div>
        </div>
        <div class="row info-detail" *ngIf="(formCreationService.propertyDamageForm$ | async).hasError('noCauseOfDamage')">
          <br/><span style="color:red">At least one cause of damage is required.</span>
        </div>
        <div class="row info-detail">
          <div class="col-md-3"><span [ngClass]="{'missing-info': !(formCreationService.propertyDamageForm$ | async)?.value?.damageFromDate || !(formCreationService.propertyDamageForm$ | async)?.value?.damageToDate} ">Dates of Damage:</span></div>
          <div class="col-md-3">
            <span [ngClass]="{'missing-info': !(formCreationService.propertyDamageForm$ | async)?.value?.damageFromDate || !(formCreationService.propertyDamageForm$ | async)?.value?.damageToDate} ">{{
              (formCreationService.propertyDamageForm$ | async)?.value
                .damageFromDate ? ('Starts ' + ((formCreationService.propertyDamageForm$ | async).value.damageFromDate | date: "MM/dd/yyyy")) + '. ': 'Enter required start date. '
            }}
            {{
              (formCreationService.propertyDamageForm$ | async)?.value
                .damageToDate ? ('Ends ' + ((formCreationService.propertyDamageForm$ | async).value.damageToDate | date: "MM/dd/yyyy")) + '. ' : 'Enter required end date.'
            }}</span>
          </div>
        </div>
        <div class="row info-detail">
          <div class="col-md-3">
            <span [ngClass]="{'missing-info': !(formCreationService.propertyDamageForm$ | async)?.value?.applicantSubtype || (formCreationService.propertyDamageForm$ | async)?.controls.applicantSubtype.invalid}">Applicant Type:</span>
          </div>
          <div class="col-md-3">
            <span [ngClass]="{'missing-info': !(formCreationService.propertyDamageForm$ | async)?.value?.applicantSubtype || (formCreationService.propertyDamageForm$ | async)?.controls.applicantSubtype.invalid}">
              {{
                (formCreationService.propertyDamageForm$ | async)?.value
                  .applicantSubtype ? (formCreationService.propertyDamageForm$ | async)?.value
                  .applicantSubtype : "Enter required information"
              }}
            </span>
          </div>
        </div>
        <div class="row info-detail" *ngIf="(formCreationService.propertyDamageForm$ | async)?.value.applicantSubtype == 'Other'">
          <div class="col-md-3">
            <span [ngClass]="{'missing-info': !(formCreationService.propertyDamageForm$ | async)?.value?.subtypeOtherDetails || (formCreationService.propertyDamageForm$ | async)?.controls.subtypeOtherDetails.invalid}">Describe organization:</span>
          </div>
          <div class="col-md-3">
            <span [ngClass]="{'missing-info': !(formCreationService.propertyDamageForm$ | async)?.value?.subtypeOtherDetails || (formCreationService.propertyDamageForm$ | async)?.controls.subtypeOtherDetails.invalid}">
              {{
                (formCreationService.propertyDamageForm$ | async)?.value
                  .subtypeOtherDetails ? (formCreationService.propertyDamageForm$ | async)?.value
                  .subtypeOtherDetails : "Enter required information"
              }}
            </span>
          </div>
        </div>
        <div class="row info-detail" *ngIf="(formCreationService.propertyDamageForm$ | async)?.value.applicantSubtype == 'Other Local Government Body'">
          <div class="col-md-3">
            <span [ngClass]="{'missing-info': !(formCreationService.propertyDamageForm$ | async)?.value?.applicantSubSubtype || (formCreationService.propertyDamageForm$ | async)?.controls.applicantSubSubtype.invalid}">Type of Other Local Government Body:</span>
          </div>
          <div class="col-md-3">
            <span [ngClass]="{'missing-info': !(formCreationService.propertyDamageForm$ | async)?.value?.applicantSubSubtype || (formCreationService.propertyDamageForm$ | async)?.controls.applicantSubSubtype.invalid}">
              {{
                (formCreationService.propertyDamageForm$ | async)?.value
                  .applicantSubSubtype ? (formCreationService.propertyDamageForm$ | async)?.value
                  .applicantSubSubtype : "Enter required information"
              }}
            </span>
          </div>
        </div>
        <div class="row info-detail" >
          <div class="col-md-3">
            <span [ngClass]="{'missing-info': !(formCreationService.propertyDamageForm$ | async)?.value?.estimatedPercent || (formCreationService.propertyDamageForm$ | async)?.controls.estimatedPercent.invalid}">Estimated %:</span>
          </div>
          <div class="col-md-3">
            <span [ngClass]="{'missing-info': !(formCreationService.propertyDamageForm$ | async)?.value?.estimatedPercent || (formCreationService.propertyDamageForm$ | async)?.controls.estimatedPercent.invalid}">
              {{
                (formCreationService.propertyDamageForm$ | async)?.value
                  .estimatedPercent ? (formCreationService.propertyDamageForm$ | async)?.value
                  .estimatedPercent : "Enter required information"
              }}
            </span>
          </div>
        </div>
        <!--<div class="row info-detail" >
          <div class="col-md-3">
            <span [ngClass]="{'missing-info': !(formCreationService.propertyDamageForm$ | async)?.value?.subtypeDFAComment || (formCreationService.propertyDamageForm$ | async)?.controls.subtypeDFAComment.invalid}">DFA comments:</span>
          </div>
          <div class="col-md-3">
            <span [ngClass]="{'missing-info': !(formCreationService.propertyDamageForm$ | async)?.value?.subtypeDFAComment || (formCreationService.propertyDamageForm$ | async)?.controls.subtypeDFAComment.invalid}">
              {{
                (formCreationService.propertyDamageForm$ | async)?.value
                  .subtypeDFAComment ? (formCreationService.propertyDamageForm$ | async)?.value
                  .subtypeDFAComment : "Enter required information"
              }}
            </span>
          </div>
        </div>-->
        <div class="row info-detail" >
          <div class="col-md-3">
            <span [ngClass]="{'missing-info': !(formCreationService.propertyDamageForm$ | async)?.value?.guidanceSupport || (formCreationService.propertyDamageForm$ | async)?.controls.guidanceSupport.invalid}">Receive guidance and support:</span>
          </div>
          <div class="col-md-3">
            <span [ngClass]="{'missing-info': !(formCreationService.propertyDamageForm$ | async)?.value?.guidanceSupport || (formCreationService.propertyDamageForm$ | async)?.controls.guidanceSupport.invalid}">
              {{
                (formCreationService.propertyDamageForm$ | async)?.value
                  .guidanceSupport ? ((formCreationService.propertyDamageForm$ | async)?.value
                  .guidanceSupport === 'true' ? "Yes" : "No") : "Enter required information"
              }}
            </span>
          </div>
        </div>
        <br /><br />
        <div class="row justify-content-between">
          <div class="col-md-6 card-heading">Other Contacts</div>
          <div class="col-md-2" *ngIf="allowEdit">
            <button
              class="edit-image"
              mat-icon-button
              aria-label="Edit"
              (click)="navigateToStep(0)"
            >
              <img src="/assets/images/edit.svg" height="35" width="35" />
              <img
                src="/assets/images/edit_onhover.svg"
                height="35"
                width="35"
              />
            </button>
          </div>
        </div>
        <hr />

        <div class="row info-detail" *ngIf="(formCreationService.otherContactsForm$ | async)?.value?.otherContacts?.length > 0">
          <!--<b>Other Contacts</b>-->
          <table mat-table [dataSource]="otherContactsDataSource">
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef >
                <b>Name</b>
              </th>
              <td *matCellDef="let element" mat-cell>
                {{ element.firstName }}&nbsp; {{element.lastName }}
              </td>
            </ng-container>

            <!-- Phone Column -->
            <ng-container matColumnDef="phoneNumber">
              <th mat-header-cell *matHeaderCellDef>
                <b>Phone</b>
              </th>
              <td *matCellDef="let element" mat-cell>
                {{ element.phoneNumber | phoneFormat }}
              </td>
            </ng-container>

            <!-- Email Column -->
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef>
                <b>Email</b>
              </th>
              <td *matCellDef="let element" mat-cell>
                {{ element.email}}
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="otherContactsColumnsToDisplay"></tr>
            <tr
              mat-row
              *matRowDef="let element; columns: otherContactsColumnsToDisplay"
              class="example-element-row"
            ></tr>
          </table>
        </div>
        <div class="row info-detail" *ngIf="(formCreationService.otherContactsForm$ | async)?.value?.otherContacts?.length == 0">
          <span style="color:red">At least one other contact is required.</span>
        </div>
      </mat-card-content>

    </div>
  </ng-template>
</mat-card>
