<div class="content-container" style="padding-bottom: 100px; padding-top: 50px;" *ngIf="lstApplications.length > 0">
  <div class="row"
           *ngFor="let applItem of lstApplications"
           >
    
    <mat-card class="mat-elevation-z4 content" [ngStyle]="{'border-left': '20px solid ' + applItem.statusColor}" >
      <div style="border-bottom: 1px solid lightgrey; padding-bottom: 15px; display: flex;">
        <div class="col-md-3">
          <span><b>Case Number - </b></span>
          <span>{{applItem.caseNumber == null ? "To Be Assigned" : applItem.caseNumber }}</span>
        </div>
        <div class="col-md-3">
          <span><b>Date of Damage - </b></span>
          <span>{{applItem.dateOfDamage == null ? "To Be Added" : applItem.dateOfDamage | date : "yyyy/MM/dd"}}</span>
        </div>
        <div class="col-md-4 wrap-text">
          <span><b>Cause(s) of Damage - </b></span>
          <span>{{CombineCauseOfDamages(applItem) == '' ? "To Be Added" : CombineCauseOfDamages(applItem)}}</span>
        </div>
        <div class="col-md-2 button-column">
          <button
            class="application-button"
            *ngIf="applItem.isProjectSubmission"
            (click)="ViewProjects(applItem)"
            type="button" >
      
            Submit Projects
          </button>
          <button
            class="application-button"
            type="button"
            *ngIf="applItem.status.indexOf('Draft') == -1"
            (click)="ViewApplication(applItem)"
          >
            View Application
          </button>
          <button
            class="application-button"
            type="button"
            *ngIf="applItem.status.indexOf('Draft') > -1"
            (click)="CompleteApplication(applItem)"
          >
            Complete Application
          </button>
          
        </div>
      </div>

      <div class="bottom-div">
        <div class="col-md-3" style="margin-top: 20px;">
          <span *ngIf="applItem.isErrorInStatus == true" style="color: red;">Error in displaying status<br /></span>
        </div>
        <table cellpadding="0" cellspacing="0">
          <tr>
            <td colspan="3" *ngFor="let item of getItems(applItem.statusBar); let i=index" id="item{{i}}" [ngClass]="'headerlabelStyle'">
              <span *ngIf="item.status != ''" class="stepText">{{item.status}}</span>
            </td>

          </tr>
          <tr>
            <td *ngFor="let item of applItem.statusBar; let i=index" id="item{{i}}" [ngClass]="item.status != '' ? 'labelStyle' : 'labelEmptyWidth'">
              <!--<div *ngIf="item.status != '' && item.currentStep == false" [ngClass]=" i == 0 ? 'removeBorder' : 'lineConnector'"></div>-->
              <div *ngIf="item.status != ''" [ngClass]="item.currentStep == false || item.status == 'Decision Made' ? 'alignStatus': (item.stage == '' ? 'alignStatus' : 'currentStatus')">
                <span *ngIf="item.isCompleted == true && applItem.isErrorInStatus == false" class="material-icons" [ngStyle]="{'color': item.stage == 'Ineligible' || item.stage == 'Withdrwan' ? 'red' : 'rgb(21 178 89)'}">
                  {{ item.stage == 'Ineligible' || item.stage == 'Withdrwan' ? 'cancel' : 'check_circle' }}
                </span>
                <span *ngIf="item.isCompleted == false && item.currentStep == true && applItem.isErrorInStatus == false && item.stage != ''">
                  {{item.stage}}
                </span>
                <span *ngIf="item.isCompleted == false && item.currentStep == true && applItem.isErrorInStatus == false && item.stage == ''" class="material-symbols-outlined" [ngStyle]="{'color': item.status.indexOf('Draft') > -1 ? '#639DD4' : '#FDCB52'}">
                  {{ item.status.indexOf('Draft') > -1 ? 'check_circle' : 'circle' }}
                </span>
                <span *ngIf="item.isCompleted == false && item.currentStep == false && applItem.isErrorInStatus == false" class="material-symbols-outlined" style="color: #FDCB52">
                  circle
                </span>
                <span *ngIf="applItem.isErrorInStatus == true" class="material-symbols-outlined" style="color: #FDCB52">
                  circle
                </span>
              </div>
              <!--<div *ngIf="item.status != '' && item.currentStep == false && (i+1) < applItem.statusBar.length" class="lineConnector"></div>-->
              <div class="lineConnector" *ngIf="item.status == '' && i > 1 && (i+1) < applItem.statusBar.length"></div>
            </td>
          </tr>
        </table>
      </div>
  
    </mat-card>

  </div>
</div>
<div class="content-container" style="padding-bottom: 100px; padding-top: 50px;" *ngIf="lstApplications.length == 0 && isLoading == false">
 <div class="heading-container">
    <div class="row">
      <div class="col-md-12">
        <span class="page-heading"> No {{appType}} Applications</span> <br />
      </div>
    </div>
  </div>
</div>
<app-loader
class="spinner"
[showLoader]="isLoading"
[strokeWidth]="10"
[diameter]="50"
[color]="color"
>
</app-loader>
