<div class="container container-frame">
  
  <div class="row heading-container">
    <div class="col-8">
      <span class="page-heading">{{ dfaAmendmentMainHeading }}</span>
    </div>
   
    <div class="col-4" >
      <button
        #backtodash
        id="backtodash"
        class="button-p nextNsave col-4"
        style="vertical-align: middle; width: 220px; margin-top: 15px"
        (click)="BackToDashboard()"
        mat-stroked-button
        type="button"
        >
         Back to Amendment Dashboard
         <app-loader
          [strokeWidth]="3"
          [diameter]="25"
        ></app-loader>
      </button>
    </div>
  </div>

  <app-component-wrapper
    [componentName]="'amendment'"
    [folderPath]="dfaAmendmentMainFolderPath"
  ></app-component-wrapper>
  <br />

  <div class="amendment-actions">
    <button
      id="cancel-amendment"
      class="button-s nextNsave"
      *ngIf="canCancelAmendment"
      mat-button
      type="button"
      (click)="cancelAmendment()">
      Cancel Amendment
    </button>

    <button
      id="submit-amendment"
      class="button-p nextNsave"
      *ngIf="canSubmitAmendment"
      mat-stroked-button
      type="button"
      [disabled]="!isFormValid"
      (click)="submitFile()">
      Submit Amendment
      <app-loader [strokeWidth]="3" [diameter]="25"></app-loader>
    </button>
  </div>
  <br/><br/>
</div>
