<mat-card appearance="outlined" class="card-align" style="border:none;" [class.mat-elevation-z0]="true">
  <mat-card-content>

    <p class="sub-heading" style="font-size: 20px">Verify Your Profile</p>
    <br/>

    <form [formGroup]="profileVerificationForm.get('profile')">

      <ng-container>
        <div class="row">
          <p style="font-size: 15px">
            Review your information below and verify that it is correct before creating an application. If the information isn't correct, please update it as soon as possible. Incorrect information may lead to delays.
          </p>
        </div>

        <!-- Personal Details -->
        <mat-card-content class="contentStyle mat-elevation-z8">
          <div class="row justify-content-between">
            <div class="col-md-6 card-heading">Personal Details</div>
          </div>
          <hr />
          <div formGroupName="personalDetails">

            <div class="row info-detail">
              <div class="col-md-3">
                <span>Last Name:</span><br/><br/>
                <span>First Name:</span>
              </div>
              <div class="col-md-3">
                <span>{{
                  profileVerificationForm.get('profile.personalDetails.lastName').value
                }}</span><br/><br/>
                <span>{{
                  profileVerificationForm.get('profile.personalDetails.firstName').value
                }}</span>
              </div>
              <div class="col-md-1">
              </div>
              <div class="col-md-5 nameMessage">
                This is your legal name from your BC Services Card and can't be changed.
                If you need to update your legal name, visit
                <br />
                <a target="_blank" href="https://www2.gov.bc.ca/gov/content/governments/government-id/bc-services-card/your-card/change-personal-information">BC Services Card, Change your personal information</a>
              </div>
            </div>

            <div class="row info-detail">
                <div class="col-md-3">
                  <span>Are you an Indigenous person? (First Nation, Inuit, or Metis)</span>
                </div>
                <div class="col-md-3">
                  <mat-radio-group
                    formControlName="indigenousStatus"
                    style="margin-right: 5px; padding-right: 5px;"
                    aria-label="Select an option">
                      <mat-radio-button
                        *ngFor="let option of radioOption"
                        class="primary-radio-button"
                        [value]="option"
                      >
                        {{ option }}
                      </mat-radio-button>
                  </mat-radio-group>
              </div>
            </div>

            <div class="row info-detail">
              <div class="col-md-3 alignMiddle">
                <span>Initials:</span>
              </div>
              <div class="col-md-3">
                <mat-form-field appearance="outline">
                  <mat-label>Initial</mat-label>
                  <input
                    maxlength="100"
                    formControlName="initials"
                    matInput
                    placeholder="Initials"
                  />
                  <mat-error
                    *ngIf="
                      profileVerificationForm.get('profile.personalDetails.initials').invalid &&
                      profileVerificationForm.get('profile.personalDetails.initials').hasError('maxLength')
                    "
                    >Maximum length is 100</mat-error
                  >
                </mat-form-field>
              </div>
            </div>

          </div>
        </mat-card-content>

        <!-- Primary Address -->
        <mat-card-content class="contentStyle mat-elevation-z8">
          <div class="row justify-content-between">
            <div class="col-md-6 card-heading">Primary Address</div>
          </div>
          <hr />
          <div formGroupName="primaryAddress">

            <div class="row info-detail">
              <div class="col-md-3">
                <span>Address line 1:</span><br/><br/>
                <span>Address line 2:</span><br/><br/>
                <span>City:</span>
              </div>
              <div class="col-md-3">
                <span>{{
                  profileVerificationForm.get('profile.primaryAddress.addressLine1').value
                }}</span><br/><br/>
                <span>{{
                  profileVerificationForm.get('profile.primaryAddress.addressLine2').value
                }}</span><br/><br/>
                <span>{{
                  profileVerificationForm.get('profile.primaryAddress.city').value
                }}</span>
              </div>
              <div class="col-md-1">
              </div>
              <div class="col-md-5 nameMessage">
                This is your primary address from your BC Services Card and can't be changed.
                If you need to update your legal name, visit
                <br />
                <a target="_blank" href="https://www2.gov.bc.ca/gov/content/governments/government-id/bc-services-card/your-card/change-personal-information">BC Services Card, Change your personal information</a>
              </div>
            </div>

            <div class="row info-detail">
              <div class="col-md-3">
                <span>Postal Code:</span>
              </div>
              <div class="col-md-3">
                <span>{{
                  profileVerificationForm.get('profile.primaryAddress.postalCode').value
                }}</span>
              </div>
            </div>

            <div class="row info-detail">
              <div class="col-md-3">
                <span>Province:</span>
              </div>
              <div class="col-md-3">
                <span>{{
                  profileVerificationForm.get('profile.primaryAddress.stateProvince').value
                }}</span>
              </div>
            </div>
          </div>
        </mat-card-content>

        <!-- Mailing Address -->
        <mat-card-content class="contentStyle mat-elevation-z8">
          <div class="row justify-content-between">
            <div class="col-md-6 card-heading">Mailing Address <span style="color:red">*</span></div>
            <span>&nbsp;&nbsp;&nbsp;You must be able to receive mail at this address.  Please keep this address up to date during the process.</span>
          </div>
          <hr style="margin: 6px;" />
          <div class="col-md-12">
            <span
              id="isNewMailingAddress-radio-group-label"

              >&nbsp;&nbsp;&nbsp;Is your mailing address different from your profile address above?<br/></span
            >
            <mat-radio-group
              formControlName="isMailingAddressSameAsPrimaryAddress"
              style="margin-right: 5px; padding-right: 5px;"
              (change)="sameAsPrimary($event)"
              required
            >
              <mat-radio-button
                class="primary-radio-button"
                value="Yes"
              >
                No
              </mat-radio-button>
              <mat-radio-button
                class="primary-radio-button"
                value="No"
              >
                Yes
              </mat-radio-button>
              <mat-radio-button
                class="primary-radio-button"
                value="I don't have a mailing address right now"
              >
                I don't have a mailing address right now
              </mat-radio-button>
              <mat-error
                class="custom-mat-error"
                *ngIf="
                  profileVerificationForm.get('profile.isMailingAddressSameAsPrimaryAddress').touched &&
                  profileVerificationForm.get('profile.isMailingAddressSameAsPrimaryAddress').invalid &&
                  profileVerificationForm.get('profile.isMailingAddressSameAsPrimaryAddress').hasError(
                    'required'
                  )
                "
              >
                Required</mat-error
              >
            </mat-radio-group>
          </div>

          <div formGroupName="mailingAddress" *ngIf="profileVerificationForm.get('profile.isMailingAddressSameAsPrimaryAddress').value === 'No'">
            <br/>&nbsp;&nbsp;&nbsp;Please enter your mailing address:
            <div class="row info-detail" >
              <div class="col-md-3 alignMiddle">
                <span>Address line 1</span>
              </div>
              <div class="col-md-3">
                <mat-form-field appearance="outline">
                  <mat-label>Address line 1</mat-label>
                  <input
                    maxlength="100"
                    required
                    formControlName="addressLine1"
                    matInput
                    placeholder="Address line 1"
                  />
                  <mat-error
                    *ngIf="
                      profileVerificationForm.get('profile.mailingAddress.addressLine1').invalid &&
                      profileVerificationForm.get('profile.mailingAddress.addressLine1').hasError('maxLength')
                    "
                    >Maximum length is 100</mat-error
                  >
                  <mat-error
                    *ngIf="
                      profileVerificationForm.get('profile.mailingAddress.addressLine1').invalid &&
                      profileVerificationForm.get('profile.mailingAddress.addressLine1').hasError('required')
                    "
                    >Address Line 1 is required</mat-error
                  >
                </mat-form-field>
              </div>
            </div>

            <div class="row info-detail">
              <div class="col-md-3 alignMiddle">
                <span>Address line 2</span>
              </div>
              <div class="col-md-3">
                <mat-form-field appearance="outline">
                  <mat-label>Address line 2</mat-label>
                  <input
                    maxlength="100"
                    formControlName="addressLine2"
                    matInput
                    placeholder="Address line 2"
                  />
                  <mat-error
                    *ngIf="
                      profileVerificationForm.get('profile.mailingAddress.addressLine2').invalid &&
                      profileVerificationForm.get('profile.mailingAddress.addressLine2').hasError('maxLength')
                    "
                    >Maximum length is 100</mat-error
                  >
                </mat-form-field>
              </div>
            </div>

            <div class="row info-detail">
              <div class="col-md-3 alignMiddle">
                <span>City</span>
              </div>
              <div class="col-md-3">
                <mat-form-field appearance="outline">
                  <mat-label>City</mat-label>
                  <input
                    maxlength="100"
                    formControlName="city"
                    matInput
                    placeholder="City"
                  />
                  <mat-error
                    *ngIf="
                      profileVerificationForm.get('profile.mailingAddress.city').invalid &&
                      profileVerificationForm.get('profile.mailingAddress.city').hasError('maxLength')
                    "
                    >Maximum length is 100</mat-error
                  >
                  <mat-error
                  *ngIf="
                    profileVerificationForm.get('profile.mailingAddress.city').invalid &&
                    profileVerificationForm.get('profile.mailingAddress.city').hasError('required')
                  "
                  >City is required</mat-error
                >
                </mat-form-field>
              </div>
            </div>

            <div class="row info-detail">
              <div class="col-md-3 alignMiddle">
                <span>Postal Code</span>
              </div>
              <div class="col-md-3">
                <mat-form-field appearance="outline">
                  <mat-label>Postal Code</mat-label>
                  <input
                    maxlength="100"
                    formControlName="postalCode"
                    required
                    matInput
                    placeholder="Postal Code"
                  />
                  <mat-error
                    *ngIf="
                      profileVerificationForm.get('profile.mailingAddress.postalCode').invalid &&
                      profileVerificationForm.get('profile.mailingAddress.postalCode').hasError('maxLength')
                    "
                    >Maximum length is 100</mat-error
                  >
                  <mat-error
                    *ngIf="
                    profileVerificationForm.get('profile.mailingAddress.postalCode').invalid &&
                    profileVerificationForm.get('profile.mailingAddress.postalCode').hasError('pattern')
                  "
                  >
                  Postal Code is invalid</mat-error
                  >
                  <mat-error
                  *ngIf="
                    profileVerificationForm.get('profile.mailingAddress.postalCode').invalid &&
                    profileVerificationForm.get('profile.mailingAddress.postalCode').hasError('required')
                  "
                  >Postal Code</mat-error
                >
                </mat-form-field>
              </div>
            </div>

            <div class="row info-detail">
              <div class="col-md-3 alignMiddle">
                <span>Province</span>
              </div>
              <div class="col-md-3">
                <mat-form-field appearance="outline">
                  <mat-label>Province</mat-label>
                  <input
                    maxlength="100"
                    required
                    formControlName="stateProvince"
                    matInput
                    placeholder="Province"
                  />
                  <mat-error
                    *ngIf="
                      profileVerificationForm.get('profile.mailingAddress.stateProvince').invalid &&
                      profileVerificationForm.get('profile.mailingAddress.stateProvince').hasError('maxLength')
                    "
                    >Maximum length is 100</mat-error
                  >
                  <mat-error
                    *ngIf="
                      profileVerificationForm.get('profile.mailingAddress.stateProvince').invalid &&
                      profileVerificationForm.get('profile.mailingAddress.stateProvince').hasError('required')
                    "
                    >Province is required</mat-error
                  >
                </mat-form-field>
              </div>
            </div>
          </div>
        </mat-card-content>

        <!-- Contact Phone Numbers-->
        <mat-card-content class="contentStyle mat-elevation-z8">
          <div class="row justify-content-between">
            <div class="col-md-6 card-heading">Contact Telephone Numbers</div>
          </div>
          <hr />
          <div formGroupName="contactDetails">

            <div class="row info-detail">
              <div class="col-md-3 alignMiddle">
                <span>Cellular Telephone Number:</span>
              </div>
              <div class="col-md-3">
                <mat-form-field appearance="outline">
                  <mat-label>Cellular Telephone Number</mat-label>
                  <input
                    maxlength="100"
                    required
                    formControlName="cellPhoneNumber"
                    matInput
                    placeholder="Cellular Telephone Number"
                    [imask]="phoneMask"
                    />
                  <mat-error
                    *ngIf="
                      profileVerificationForm.get('profile.contactDetails.cellPhoneNumber').invalid &&
                      profileVerificationForm.get('profile.contactDetails.cellPhoneNumber').hasError('maxLength')
                    "
                    >Maximum length is 12</mat-error
                  >
                  <mat-error
                    *ngIf="
                      profileVerificationForm.get('profile.contactDetails.cellPhoneNumber').invalid &&
                      profileVerificationForm.get('profile.contactDetails.cellPhoneNumber').hasError('incorrectLength')
                    "
                  >
                  Telephone number must have 10 digits</mat-error
                  >
                </mat-form-field>
              </div>
            </div>

            <div class="row info-detail">
              <div class="col-md-3 alignMiddle">
                <span>Residence Telephone Number:</span>
              </div>
              <div class="col-md-3">
                <mat-form-field appearance="outline">
                  <mat-label>Residence Telephone Number</mat-label>
                  <input
                    maxlength="100"
                    formControlName="residencePhone"
                    matInput
                    placeholder="Residence Telephone Number"
                    [imask]="phoneMask"
                    />
                  <mat-error
                    *ngIf="
                      profileVerificationForm.get('profile.contactDetails.residencePhone').invalid &&
                      profileVerificationForm.get('profile.contactDetails.residencePhone').hasError('maxLength')
                    "
                    >Maximum length is 12</mat-error
                  >
                  <mat-error
                    *ngIf="
                      profileVerificationForm.get('profile.contactDetails.residencePhone').invalid &&
                      profileVerificationForm.get('profile.contactDetails.residencePhone').hasError('incorrectLength')
                    "
                  >
                  Telephone number must have 10 digits</mat-error
                  >
                </mat-form-field>
              </div>
            </div>
            <div class="row info-detail">
              <div class="col-md-3 alignMiddle">
                <span>Alternate Telephone Number:</span>
              </div>
              <div class="col-md-3">
                <mat-form-field appearance="outline">
                  <mat-label>Alternate Telephone Number</mat-label>
                  <input
                    maxlength="100"
                    formControlName="alternatePhone"
                    matInput
                    placeholder="Alternate Telephone Number"
                    [imask]="phoneMask"
                    />
                  <mat-error
                    *ngIf="
                      profileVerificationForm.get('profile.contactDetails.alternatePhone').invalid &&
                      profileVerificationForm.get('profile.contactDetails.alternatePhone').hasError('maxLength')
                    "
                    >Maximum length is 12</mat-error
                  >
                  <mat-error
                    *ngIf="
                      profileVerificationForm.get('profile.contactDetails.alternatePhone').invalid &&
                      profileVerificationForm.get('profile.contactDetails.alternatePhone').hasError('incorrectLength')
                    "
                  >
                  Telephone number must have 10 digits</mat-error
                  >
                </mat-form-field>
              </div>
            </div>
          </div>
        </mat-card-content>

        <!-- Email Address -->
        <mat-card-content class="contentStyle mat-elevation-z8">
          <div class="row justify-content-between">
            <div class="col-md-6 card-heading">Email Address</div>
          </div>
          <hr />
          <div formGroupName="contactDetails">

              <div class="row info-detail">
                <div class="col-md-3 alignMiddle">
                  <span>Email Address:</span><br/><br/>
                </div>
                <div class="col-md-3">
                  <mat-form-field appearance="outline">
                  <mat-label>Email address</mat-label>
                  <input
                    formControlName="email"
                    matInput
                    placeholder="Current Email Address"
                    autocomplete="new-password"
                    required
                  />
                  <mat-error
                    *ngIf="
                      profileVerificationForm.get('profile.contactDetails.email').invalid &&
                      profileVerificationForm.get('profile.contactDetails.email').hasError('required')
                    "
                  >
                    Email is required</mat-error
                  >
                  <mat-error
                    *ngIf="
                      profileVerificationForm.get('profile.contactDetails.email').invalid &&
                      profileVerificationForm.get('profile.contactDetails.email').hasError('email')
                    "
                    >Invalid email</mat-error
                  >
                  <mat-error
                    *ngIf="
                      profileVerificationForm.get('profile.contactDetails.email').invalid &&
                      profileVerificationForm.get('profile.contactDetails.email').hasError('maxLength')
                    "
                    >Maximum length is 100 characters</mat-error
                  >
            </mat-form-field>
                </div>
                <div class="col-md-1">
                </div>
                <!--<div class="col-md-5 nameMessage">
                  This is your email address from your BC Services Card and can't be changed.
                  If you need to update your legal name, visit
                  <br />
                  <a target="_blank" href="https://www2.gov.bc.ca/gov/content/governments/government-id/bc-services-card/your-card/change-personal-information">BC Services Card, Change your personal information</a>
                </div>-->
              </div>
              <div class="row info-detail">
                <div class="col-md-3 alignMiddle">
                  <span>Re-enter your email address:</span><br/><br/>
                </div>
                <div class="col-md-3">
                  <mat-form-field appearance="outline">
                  <mat-label>Re-enter your email address</mat-label>
                  <input
                    formControlName="confirmEmail"
                    matInput
                    placeholder="Current Email Address"
                    [errorStateMatcher]="emailMatcher"
                    required
                  />
                  <mat-error
                    *ngIf="
                      profileVerificationForm.get('profile.contactDetails.confirmEmail').invalid &&
                      profileVerificationForm.get('profile.contactDetails.confirmEmail').hasError('required')
                    "
                  >
                    Confirm email is required</mat-error
                  >
                  <mat-error
                    *ngIf="
                      profileVerificationForm.get('profile.contactDetails.confirmEmail').invalid &&
                      profileVerificationForm.get('profile.contactDetails.confirmEmail').hasError('email')
                    "
                    >Invalid email</mat-error
                  >
                  <mat-error
                    *ngIf="
                      profileVerificationForm.get('profile.contactDetails.confirmEmail').invalid &&
                      profileVerificationForm.get('profile.contactDetails.confirmEmail').hasError('maxLength')
                    "
                    >Maximum length is 100 characters</mat-error
                  >
                  <mat-error
                    *ngIf="
                      profileVerificationForm.get('profile.contactDetails').hasError('emailMatch')
                    "
                  >
                    Email address mismatch</mat-error
                  >
            </mat-form-field>
                </div>
                <div class="col-md-1">
                </div>
              </div>
          </div>
          
        </mat-card-content>
      </ng-container>
    </form>

  </mat-card-content>
</mat-card>
