<mat-card appearance="outlined" class="card-align" style="border:none;" [class.mat-elevation-z0]="true">
  <mat-card-content>

    <form [formGroup]="damagedRoomsForm">

      <p class="sub-heading" style="font-size: 20px">Damaged Items by Room</p>
      <br />

      <div formGroupName="damagedRoom">
        <ng-container>
          <div class="row">
            <div class="col-md-12">
              <p class="sub-heading" style="font-size: 15px">
                For each room, list items submitted for damage assessment. For example:
              </p>
              <img
                src="/assets/images/example-damage.png"
                class="example-damage-image"
                alt="Example description"
              />
              <table mat-table [dataSource]="damagedRoomsDataSource" *ngIf="damagedRoomsDataSource.getValue().length > 0" style="width:100%">
                <!-- Room Type Column -->
                <ng-container matColumnDef="roomType" style="width:20%">
                  <th mat-header-cell *matHeaderCellDef >
                    <b>Room</b>
                  </th>
                  <td *matCellDef="let element" mat-cell>
                    {{ element.roomType === RoomTypes.Other ? element.otherRoomType : element.roomType }}
                  </td>
                </ng-container>

                <!-- Description Column -->
                <ng-container matColumnDef="description">
                  <th mat-header-cell *matHeaderCellDef>
                    <b>Damaged Items</b>
                  </th>
                  <td *matCellDef="let element" mat-cell>
                    {{ element.description}}
                  </td>
                </ng-container>

                <!-- Delete & Edit Icons Column -->
                <ng-container matColumnDef="icons" style="width:20%">
                  <th mat-header-cell *matHeaderCellDef>
                    &nbsp;
                  </th>
                  <td *matCellDef="let element; let index = index" mat-cell>
                    <button
                      class="edit-image"
                      *ngIf="vieworedit !== 'viewOnly'"
                      mat-icon-button
                      aria-label="Edit"
                      (click)="editDamagedRoomRow(element, index)"
                    >
                      <img src="/assets/images/edit.svg" height="35" width="35" />
                      <img
                        src="/assets/images/edit_onhover.svg"
                        height="35"
                        width="35"
                      />
                    </button>&nbsp;
                    <button
                      class="delete-image"
                      *ngIf="vieworedit != 'viewOnly'"
                      mat-icon-button
                      aria-label="Remove"
                      (click)="deleteDamagedRoomRow(index)"
                    >
                      <img src="/assets/images/delete.svg" height="35" width="35" />
                      <img src="/assets/images/delete_onhover.svg" height="35" width="35"/>
                    </button>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="damagedRoomsColumnsToDisplay"></tr>
                <tr
                  mat-row
                  *matRowDef="let element; columns: damagedRoomsColumnsToDisplay"
                  class="example-element-row"
                  [style.height]="'auto'"
                ></tr>

              </table>

              <div  *ngIf="damagedRoomsDataSource.getValue().length > 0">
                <br /><br/>
              </div>

              <div  *ngIf="damagedRoomsDataSource.getValue().length == 0 && vieworedit == 'viewOnly'">
                <br />No damaged rooms were added.<br/>
              </div>

              <button
                *ngIf="!showDamagedRoomForm && vieworedit !== 'viewOnly'"
                class="family-button"
                mat-button
                type="button"
                (click)="addDamagedRoom()"
              >
                + Add Room & Items
              </button>

              <mat-card appearance="outlined" *ngIf="showDamagedRoomForm" style="padding: 12px;">
                <p class="sub-heading" style="font-size: 15px">
                  New room and items
                </p>
                <div class="row">
                  <div class="col-md-4">
                    <mat-form-field appearance="outline">
                      <mat-label>Select a room type</mat-label>
                      <mat-select formControlName="roomType" matInput placeholder="Full-time occupant first name" required (selectionChange)="onSelectRoomType($event.value)">
                        <mat-option *ngFor="let option of RoomTypes | keyvalue: originalOrder" [value]="option.key">{{ option.value }}</mat-option>
                      </mat-select>
                      <mat-error
                        *ngIf="
                          damagedRoomsForm.get('damagedRoom').controls.roomType.invalid &&
                          damagedRoomsForm.get('damagedRoom').controls.roomType.hasError('required') &&
                          damagedRoomsForm.get('damagedRoom').controls.roomType.touched
                        "
                      >
                        Room type is required</mat-error
                      >
                      <mat-hint *ngIf="showGarageHint"> Attached garages only; detached garages can`t be included</mat-hint>
                    </mat-form-field>
                    <mat-form-field appearance="outline" [hidden]="showOtherRoomType !== true">
                      <mat-label>Please specify Other room</mat-label>
                      <input formControlName="otherRoomType" matInput placeholder="Please specify Other room" [required]="showOtherRoomType === true" maxlength="100"/>
                      <mat-hint>Maximum length is 100 characters</mat-hint>
                      <mat-error
                        *ngIf="
                          damagedRoomsForm.get('damagedRoom').controls.otherRoomType.invalid &&
                          damagedRoomsForm.get('damagedRoom').controls.otherRoomType.hasError('required') &&
                          damagedRoomsForm.get('damagedRoom').controls.otherRoomType.touched
                        "
                      >
                        Other room type is required</mat-error
                      >
                      <mat-error
                        *ngIf="
                          damagedRoomsForm.get('damagedRoom').controls.otherRoomType.invalid &&
                          damagedRoomsForm.get('damagedRoom').controls.otherRoomType.hasError('maxLength')
                        "
                      >
                        Maximum length is 100 characters</mat-error
                      >
                    </mat-form-field>
                  </div>
                  <div class="col-md-8">
                    <mat-form-field appearance="outline">
                      <mat-label>Damaged Items</mat-label>
                      <textarea matInput
                        formControlName="description"
                        placeholder="Damaged Items"
                        [rows]="5"
                        style="resize:none"
                        maxlength="2000"
                        required
                        (keyup)="calcRemainingChars()"></textarea>
                      <mat-hint>{{ remainingLength }} characters remaining.</mat-hint>
                      <mat-error
                        *ngIf="
                          damagedRoomsForm.get('damagedRoom').controls.description.invalid &&
                          damagedRoomsForm.get('damagedRoom').controls.description.hasError('required') &&
                          damagedRoomsForm.get('damagedRoom').controls.description.touched
                        "
                      >
                        Description is required</mat-error
                      >
                      <mat-error
                        *ngIf="
                          damagedRoomsForm.get('damagedRoom').controls.description.invalid &&
                          damagedRoomsForm.get('damagedRoom').controls.description.hasError('maxLength')
                        "
                      >
                        Maximum length is 2000 characters</mat-error
                      >
                    </mat-form-field>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <button
                      class="button-s details-button"
                      mat-button
                      type="button"
                      (click)="cancelDamagedRooms()"
                    >
                      Cancel
                    </button>
                  </div>
                  <div class="col-md-6">
                    <button
                      class="family-button details-button save-button"
                      mat-button
                      type="button"
                      (click)="saveDamagedRooms()"
                    >
                      Save
                    </button>
                  </div>
                </div>

              </mat-card>
            </div>

          </div>
        </ng-container>
      </div>
      <br/><br/>
    </form>

    <ng-container>
      <div class="row">
        <div class="col-md-8">
          <app-dfa-attachment
            title="Damage photo"
            *ngIf="vieworedit !== 'viewOnly'"
            description="Attach a photo/scanned copy of damaged items"
            [allowedFileTypes]="allowedFileTypes"
            allowedFileExtensionsList=".pdf, .doc, .docx, .png, .jpeg, .jpg, .ppt, .pptx, .xls, .xlsx"
            fileType="DamagePhoto"
            excludeFileTypes="[]"
            (saveFileUpload)="saveDamagePhotos($event)"
            (cencelFileUpload)="cancelDamagePhotos()"
            [fileUpload]="formCreationService.fileUploadsForm.value.get('damagePhotoFileUpload')"
          ></app-dfa-attachment>
          <app-loader
            class="spinner"
            [showLoader]="isLoading"
            strokeWidth="10"
            diameter="50"
           >
          </app-loader>
        </div>
      </div>
    </ng-container>
    <br/><br/>

    <ng-container>
      <div clas="row">
        <div class="col-md-12">
          <table mat-table [dataSource]="damagePhotosDataSource" *ngIf="damagePhotosDataSource.data.length > 0" style="width:100%">
            <!-- File Name Column -->
            <ng-container matColumnDef="fileName" style="width:25%">
              <th mat-header-cell *matHeaderCellDef >
                <b>File Name</b>
              </th>
              <td *matCellDef="let element" mat-cell>
                {{ element.fileName }}
              </td>
            </ng-container>

            <!-- Description Column -->
            <ng-container matColumnDef="fileDescription" style="width:25%">
              <th mat-header-cell *matHeaderCellDef>
                <b>File Description</b>
              </th>
              <td *matCellDef="let element" mat-cell>
                {{ element.fileDescription}}
              </td>
            </ng-container>

            <!-- UploadedDate Column -->
            <ng-container matColumnDef="uploadedDate" style="width:25%">
              <th mat-header-cell *matHeaderCellDef>
                <b>Date Uploaded</b>
              </th>
              <td *matCellDef="let element" mat-cell>
                {{ element.uploadedDate | date:"dd-MMM-yyyy" }}
              </td>
            </ng-container>

            <!-- DeleteIcon Column -->
            <ng-container matColumnDef="icons" style="width:25%">
              <th mat-header-cell *matHeaderCellDef>
                &nbsp;
              </th>
              <td *matCellDef="let element; let index = index" mat-cell>
                <button
                  class="delete-image"
                  mat-icon-button
                  aria-label="Remove"
                  (click)="confirmDeleteDamagePhotoRow(element)"
                  *ngIf="vieworedit !== 'viewOnly'"
                >
                  <img src="/assets/images/delete.svg" height="35" width="35" />
                  <img src="/assets/images/delete_onhover.svg" height="35" width="35"/>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="damagePhotosColumnsToDisplay"></tr>
            <tr
              mat-row
              *matRowDef="let element; columns: damagePhotosColumnsToDisplay"
              class="example-element-row"
              [style.height]="'auto'"
            ></tr>

          </table>

          <div  *ngIf="damagePhotosDataSource.data.length > 0">
            <br /><br/>
          </div>
          <div  *ngIf="damagePhotosDataSource.data.length == 0 && vieworedit === 'viewOnly'">
            <br />No damage photos were added.<br/>
          </div>
        </div>
      </div>

    </ng-container>

    <br/><br/>

  </mat-card-content>
</mat-card>
