<mat-card appearance="outlined" class="card-align" style="border:none;" [class.mat-elevation-z0]="true">
  <mat-card-content>

    <form [formGroup]="propertyDamageForm">
      <p class="sub-heading" style="font-size: 20px">Cause of Damage</p>
      <br/>

      <ng-container>
        <div class="row">
          <div class="col-md-12 bottomspace">
            <p class="sub-heading" style="font-size: 15px">
              Select the cause(s) of damage.<span style="color:red" >*</span>
            </p>
            <mat-checkbox
              formControlName="floodDamage"
              >
              Flood Damage
            </mat-checkbox><br/>
            <mat-checkbox
              formControlName="landslideDamage"
              >
              Landslide Damage
            </mat-checkbox><br/>
            <mat-checkbox
              formControlName="stormDamage"
              >
              Storm Damage
            </mat-checkbox><br/>
            <mat-checkbox
              formControlName="otherDamage"
              class="col-md-4"
            >
              Other Damage
            </mat-checkbox>
            <mat-form-field appearance="outline" [hidden]="propertyDamageForm.get('otherDamage').value !== true" class="col-md-4 topSpace">
              <mat-label>Cause of Damage</mat-label>
              <input matInput
                [required]="propertyDamageForm.get('otherDamage').value === true || propertyDamageForm.get('otherDamage').value === 'true'"
                type="text"
                [readonly]="isReadOnly === true"
                formControlName="otherDamageText"
                placeholder="Cause of damage*"
                maxlength="100"
              />
              <mat-hint>Maximum length is 100 characters</mat-hint>
              <mat-error
                *ngIf="
                propertyDamageForm.get('otherDamageText').invalid &&
                propertyDamageForm.get('otherDamageText').hasError('required')
              "
              >
                Text is required</mat-error
              >
              <mat-error
                *ngIf="
                  propertyDamageForm.get('otherDamageText').invalid &&
                propertyDamageForm.get('otherDamageText').hasError('maxLength')
                "
              >
                Maximum length is 100 characters</mat-error
              >
            </mat-form-field>
            <mat-error *ngIf="propertyDamageForm.hasError('noCauseOfDamage')">
              At least one cause of damage is required.
            </mat-error>
          </div>
        </div><br/>

        <div class="row">
          <p class="sub-heading" style="font-size: 15px">
            Dates of Damage<span style="color: red">*</span>
          </p>
          <p>
            If the damage was caused all in one day, enter the same date in both the From date and the To date boxes.
          </p>
          <div class="col-md-4">
            <mat-form-field appearance="outline" >
              <mat-label>From date</mat-label>
              <input matInput
                [matDatepicker]="fromPicker"
                [readonly]="isReadOnly === true"
                formControlName="damageFromDate"
                [max]="propertyDamageForm.get('damageToDate').value ? propertyDamageForm.get('damageToDate').value : todayDate"
                required >
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="fromPicker" [disabled]="isReadOnly === true"
              ></mat-datepicker-toggle>
              <mat-datepicker #fromPicker [disabled]="isReadOnly === true"
              ></mat-datepicker>
              <mat-error
                *ngIf="
                propertyDamageForm.get('damageFromDate').invalid &&
                propertyDamageForm.get('damageFromDate').hasError('required')
              "
              >
                From date is required</mat-error
              >
              <mat-error
              *ngIf="
              propertyDamageForm.get('damageFromDate').invalid &&
              propertyDamageForm.get('damageFromDate').hasError('matDatepickerMax')
            "
            >
              From date cannot be in the future or after to date</mat-error
            >
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field appearance="outline">
              <mat-label>To date</mat-label>
              <input matInput
                [matDatepicker]="toPicker"
                formControlName="damageToDate"
                [readonly]="isReadOnly === true"
                [min]="propertyDamageForm.get('damageFromDate').value ? propertyDamageForm.get('damageFromDate').value : '2000-01-01'"
                [max]="todayDate"
                required>
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="toPicker" [disabled]="isReadOnly === true"
              ></mat-datepicker-toggle>
              <mat-datepicker #toPicker [disabled]="isReadOnly === true"
              ></mat-datepicker>
              <mat-error
                *ngIf="
                propertyDamageForm.get('damageToDate').invalid &&
                propertyDamageForm.get('damageToDate').hasError('required')
              "
              >
                To date is required</mat-error
              >
              <mat-error
                *ngIf="
                propertyDamageForm.get('damageToDate').invalid &&
                propertyDamageForm.get('damageToDate').hasError('matDatepickerMin')
              "
              >
                To date cannot be before from date</mat-error
              >
              <mat-error
                *ngIf="
                propertyDamageForm.get('damageToDate').invalid &&
                propertyDamageForm.get('damageToDate').hasError('matDatepickerMax')
              "
              >
                To date cannot be a future date</mat-error
              >
            </mat-form-field>
          </div>
        </div><br/>

        <div class="row">
          <p class="sub-heading" style="font-size: 15px">
            Brief description of damage/loss.<span style="color:red" >*</span>
          </p>
          <p>
            Provide a brief description of the damages and losses. You will be provided the opportunity to itemize damaged items and clean up hours later in the application.
          </p>
          <mat-form-field appearance="outline">
            <mat-label>Brief description of damage/loss</mat-label>
            <textarea matInput
              formControlName="briefDescription"
              [rows]="5"
              [readonly]="isReadOnly === true"
              style="resize:none"
              required
              maxlength="2000"
              (keyup)="calcRemainingChars()"></textarea>
            <mat-hint>{{ remainingLength }} characters remaining.</mat-hint>
            <mat-error
                *ngIf="
                  propertyDamageForm.get('briefDescription').invalid &&
                propertyDamageForm.get('briefDescription').hasError('maxLength')
                "
              >
                Maximum length is 2000 characters</mat-error
              >
          </mat-form-field>
        </div>

        <div class="row" *ngIf="isResidentialTenant === true || isHomeowner === true">
          <div class="col-md-12 bottomspace">
            <p class="sub-heading" style="font-size: 15px">
              Were you evacuated during the event?<span style="color:red" >*</span>
            </p>
            <mat-radio-group
              formControlName="wereYouEvacuated"
              class="primary-radio-group horizontal-radio-group"
              required
              aria-label="Select an option">
              <mat-radio-button value=true>Yes</mat-radio-button>&nbsp;&nbsp;<mat-radio-button value=false>No</mat-radio-button>
            </mat-radio-group>
          </div>
        </div><br/>

        <div class="row" *ngIf="propertyDamageForm.get('wereYouEvacuated').value == 'true' && (isResidentialTenant === true || isHomeowner === true)">
          <p class="sub-heading" style="font-size: 15px">
            If yes, when did you return to the residence?
          </p>
          <div class="col-md-4">
            <mat-form-field appearance="outline" >
              <mat-label>Date returned</mat-label>
              <input
                matInput
                [matDatepicker]="rtnPicker"
                [readonly]="isReadOnly === true"
                [min]="propertyDamageForm.get('damageFromDate').value ? propertyDamageForm.get('damageFromDate').value : '2000-01-01'"
                [max]="todayDate"
                formControlName="dateReturned">
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle
                matSuffix
                [disabled]="isReadOnly === true"
                [for]="rtnPicker"
                ></mat-datepicker-toggle>
              <mat-datepicker #rtnPicker  [disabled]="isReadOnly === true"
              ></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div *ngIf="propertyDamageForm.get('wereYouEvacuated').value == 'true'">
          <br/><br/>
        </div>

        <div class="row" *ngIf="isResidentialTenant === true || isHomeowner === true">
          <div class="col-md-12 bottomspace">
            <p class="sub-heading" style="font-size: 15px">
              Are you now residing in the residence?<span style="color:red" >*</span>
            </p>
            <mat-radio-group
              formControlName="residingInResidence"
              class="primary-radio-group horizontal-radio-group"
              required
              aria-label="Select an option">
              <mat-radio-button value=true>Yes</mat-radio-button>&nbsp;&nbsp;<mat-radio-button value=false>No</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <p class="sub-heading" style="font-size: 15px">
              In the past, have you submitted a DFA application for the same property?<span style="color:red" >*</span>
            </p>
            <mat-radio-group
              formControlName="previousApplication"
              class="primary-radio-group horizontal-radio-group"
              [disabled]="isReadOnly === true"
              required
              aria-label="Select an option">
              <mat-radio-button
                *ngFor="let option of radioOption"
                class="primary-radio-button"
                [value]="option"
                (click)="OnSelectionPreviousApplication(option)"
              >
                {{ option }}
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <mat-form-field appearance="outline" [hidden]="propertyDamageForm.get('previousApplication').value !== 'Yes' && propertyDamageForm.get('previousApplication').value !== 'Not sure'" class="col-md-4 topSpace">
          <mat-label>Please provide details about all the past applications(s), such as the date you applied, the name you applied under, and the outcome.</mat-label>
          <input matInput
            [required]="false"
            type="text"
            [readonly]="isReadOnly === true"
            [disabled]="isReadOnly === true"
            formControlName="previousApplicationText"
            placeholder=""
            maxlength="100"
          />
          <mat-hint>Maximum length is 100 characters</mat-hint>
          <mat-error
            *ngIf="
              propertyDamageForm.get('previousApplicationText').invalid &&
            propertyDamageForm.get('previousApplicationText').hasError('maxLength')
            "
          >
            Maximum length is 100 characters</mat-error
          >
        </mat-form-field>
      </ng-container>
    </form>

  </mat-card-content>
</mat-card>
