<div class="container container-frame">
  <div class="row" *ngIf="(vieworedit === 'add' || vieworedit === 'update') && ninetyDayDeadline" >
    <div class="col-8">&nbsp;</div>
    <div class="col-4" style="float:right;"
        matTooltip="You have until midnight on the day displayed to submit your application for DFA."
        matTooltipPosition="above">
        <span class="sub-heading" style="float:right;">Event: {{event}}</span>
        <span class="sub-heading" style="float:right;">Submit application before midnight on: {{ninetyDayDeadline | date: "MM/dd/yyyy"}}</span><br/>
        <span class="sub-heading" style="color:#941372; float:right;" *ngIf="daysToApply>1">{{ daysToApply }} day(s) remaining to apply</span>
        <span class="sub-heading" style="color:#941372; float:right;" *ngIf="daysToApply==1">DUE MIDNIGHT TODAY</span>
        <span class="sub-heading" style="color:#941372; float:right;" *ngIf="daysToApply<1">{{ -1 - daysToApply }} DAY(S) OVERDUE</span><br/>
    </div>
  </div>
  <div class="row heading-container">
    <div class="col-8">
      <span class="page-heading">{{ dfaApplicationMainHeading }}</span>
    </div>
    <div class="col-4" *ngIf="vieworedit === 'add' || vieworedit === 'update'" >
      <button
        class="button-p save-button col-4"
        style="height: 40px !important; vertical-align: middle; width: 220px; margin-top: 15px"
        (click)="saveAndBackToDashboard()"
        mat-stroked-button
        type="button"
        >
         Save & Back to Dashboard
         <app-loader
          [strokeWidth]="3"
          [diameter]="25"
        ></app-loader>
      </button>
    </div>
    <div class="col-4" *ngIf="vieworedit === 'view' || vieworedit === 'edit' || vieworedit === 'viewOnly'" >
      <button
        class="button-p save-button col-4"
        style="height:40px !important; vertical-align: middle; width:220px;"
        (click)="BackToDashboard()"
        mat-stroked-button
        type="button"
        >
         Back to Dashboard
         <app-loader
          [strokeWidth]="3"
          [diameter]="25"
          [showLoader]="showLoader"
        ></app-loader>
      </button>
    </div>
  </div>

  <mat-horizontal-stepper
    class="stepper-style"
    labelPosition="bottom"
    (animationDone)="currentStep(dfaApplicationMainStepper?.selectedIndex)"
    (selectionChange)="stepChanged($event, dfaApplicationMainStepper)"
    #dfaApplicationMainStepper
    [linear]="false"
  >
    <mat-step *ngFor="let step of steps" [stepControl]="form">
      <ng-template matStepLabel>{{ step.stepName }}</ng-template>
      <app-component-wrapper
        [componentName]="step.component"
        [folderPath]="dfaApplicationMainFolderPath"
      ></app-component-wrapper>
      <br />
      <div class="row justify-content-between resp-style">
        <div class="col-md-6" *ngIf="vieworedit === 'add' || vieworedit === 'update'">
          <button
            class="button-s"
            [hidden]="step.component === 'damaged-property-address'"
            mat-button
            type="button"
            (click)="goBack(dfaApplicationMainStepper, step.lastStep)"
          >
            {{ step.backButtonLabel }}
          </button>
        </div>
        <div class="col-md-6" *ngIf="vieworedit === 'add' || vieworedit === 'update'">
          <button
            *ngIf="
              currentFlow === 'verified-registration' &&
                step.component === 'supporting-documents';
            "
            class="button-p"
            mat-stroked-button
            type="button"
            (click)="goForward(dfaApplicationMainStepper, step.isLast, step.component)"
          >
            Next - Review Submission
          </button>
          <button
            *ngIf="!(currentFlow === 'verified-registration' && (step.component === 'review' || step.component === 'supporting-documents'))"
            class="button-p"
            mat-stroked-button
            type="button"
            (click)="goForward(dfaApplicationMainStepper, step.isLast, step.component)"
          >
            {{ step.nextButtonLabel }}
          </button>
        </div>
        <br/>
        <label>** You do not have to complete the entire application at once, you can udpate it from the dashboard as needed.  However, before you
        submit the final signed version, all fields marked with a <b><span style="color:red;">*</span></b> must be completed.</label>
      </div>
    </mat-step>
    <mat-step *ngIf="currentFlow === 'verified-registration' && (vieworedit === 'add' || vieworedit === 'update')">
      <ng-template matStepLabel>Review</ng-template>
      <app-review
        [type]="type"
        [showHeading]="true"
        [parentPageName]="parentPageName"
        [currentFlow]="currentFlow"
        [allowEdit]="true"
        (stepToNavigate)="navigateToStep($event)"
      >
      </app-review>
      <br />

      <div class="row justify-content-between resp-style">
        <div class="col-md-6">
          <button
            class="button-s"
            mat-button
            type="button"
            (click)="dfaApplicationMainStepper.previous()"
          >
            Go Back<span *ngIf="vieworedit === 'add' || vieworedit === 'update'"> & Edit</span>
          </button>
        </div>
        <div class="col-md-6">
          <button
            class="button-p"
            mat-stroked-button
            type="button"
            (click)="goForward(dfaApplicationMainStepper, false, 'review')"
          >
            Next - Sign & Submit
            <app-loader
              [strokeWidth]="3"
              [diameter]="25"
              [showLoader]="showLoader"
            ></app-loader>
          </button>
        </div>
      </div>
    </mat-step>
    <mat-step *ngIf="currentFlow === 'verified-registration'">
      <ng-template matStepLabel>Sign & Submit</ng-template>
      <app-component-wrapper
        componentName="sign-and-submit"
        [folderPath]="dfaApplicationMainFolderPath"
      ></app-component-wrapper>
      <br />
      <div class="row justify-content-between resp-style">
        <div class="col-md-6">
          <button *ngIf="isSubmitted === false"
            class="button-s"
            mat-button
            type="button"
            (click)="dfaApplicationMainStepper.previous()"
          >
            Go Back<span *ngIf="vieworedit === 'add' || vieworedit === 'update'"> & Edit</span>
          </button>
          <button *ngIf="isSubmitted === true"
            class="button-s"
            mat-button
            type="button"
            (click)="returnToDashboard()"
          >
            Return to Dashboard
          </button>
        </div>
        <div class="col-md-6" *ngIf="!isSubmitted && isSignaturesValid
             && (formCreationService.damagedPropertyAddressForm$ | async)?.valid
             && (formCreationService.propertyDamageForm$ | async)?.valid
             && (formCreationService.cleanUpLogForm$ | async)?.valid
             && (formCreationService.supportingDocumentsForm$ | async)?.valid
             && (formCreationService.otherContactsForm$ | async)?.valid
             && (formCreationService.fullTimeOccupantsForm$ | async)?.valid
             && (vieworedit === 'add' || vieworedit === 'update')
             && requiredDocumentsSupplied()
             ">
          <button
            class="button-p save-button"
            mat-stroked-button
            type="button"
            (click)="setFormData('sign-and-submit');submitFile()"
          >
            Submit
          </button>
        </div>
        <div class="col-md-6" *ngIf="!isSubmitted
            && (!isSignaturesValid
                || !(formCreationService.damagedPropertyAddressForm$ | async)?.valid
                || !(formCreationService.propertyDamageForm$ | async)?.valid
                || !(formCreationService.cleanUpLogForm$ | async)?.valid
                || !(formCreationService.supportingDocumentsForm$ | async)?.valid
                || !(formCreationService.otherContactsForm$ | async)?.valid
                || !(formCreationService.fullTimeOccupantsForm$ | async)?.valid
                || !(this.requiredDocumentsSupplied())
                 )
            && (vieworedit === 'add' || vieworedit === 'update')">
          <span style="color:red">Enter all required information and sign before submitting.</span>
        </div>
      </div>
    </mat-step>
    <ng-template matStepperIcon="edit" let-index="index">
      {{ index + 1 }}
    </ng-template>
  </mat-horizontal-stepper>
</div>
