<div class="container container-frame">
  <div class="row" *ngIf="(vieworedit === 'add' || vieworedit === 'update') && ninetyDayDeadline" >
    <div class="col-8">&nbsp;</div>
    <div class="col-4" style="float:right;"
        matTooltip="You have until midnight on the day displayed to submit your application for DFA."
        matTooltipPosition="above">
        <span class="sub-heading" style="float:right;">Event: {{event}}</span>
        <span class="sub-heading" style="float:right;">Submit application before midnight on: {{ninetyDayDeadline | date: "MM/dd/yyyy"}}</span><br/>
        <span class="sub-heading" style="color:#941372; float:right;" *ngIf="daysToApply>1">{{ daysToApply }} day(s) remaining to apply</span>
        <span class="sub-heading" style="color:#941372; float:right;" *ngIf="daysToApply===1">DUE MIDNIGHT TODAY</span>
        <span class="sub-heading" style="color:#941372; float:right;" *ngIf="daysToApply<1">{{ -1 - daysToApply }} DAY(S) OVERDUE</span><br/>
    </div>
  </div>
  <div class="row heading-container">
    <div class="col-8">
      <span class="page-heading">{{ dfaApplicationMainHeading }}</span>
    </div>
    <div class="col-4" *ngIf="vieworedit === 'add' || vieworedit === 'update'" >
      <button
        class="button-p save-button col-4"
        style="height: 40px !important; vertical-align: middle; width: 220px; margin-top: 15px"
        (click)="saveAndBackToDashboard()"
        mat-stroked-button
        type="button"
        >
         Save & Back to Dashboard
         <app-loader
          [strokeWidth]="3"
          [diameter]="25"
        ></app-loader>
      </button>
    </div>
    <div class="col-4" *ngIf="vieworedit === 'view' || vieworedit === 'edit' || vieworedit === 'viewOnly'" >
      <button
        class="button-p save-button col-4"
        style="height:40px !important; vertical-align: middle; width:220px;"
        (click)="BackToDashboard()"
        mat-stroked-button
        type="button"
        >
         Back to Dashboard
         <app-loader
          [strokeWidth]="3"
          [diameter]="25"
          [showLoader]="showLoader"
        ></app-loader>
      </button>
    </div>
  </div>

  <mat-horizontal-stepper
    class="stepper-style"
    labelPosition="bottom"
    (animationDone)="currentStep(dfaApplicationMainStepper?.selectedIndex)"
    (selectionChange)="stepChanged($event, dfaApplicationMainStepper)"
    #dfaApplicationMainStepper
    [linear]="false"
    [selectedIndex]="currentStepIndex"
  >
    <mat-step *ngFor="let step of steps; let i = index" [stepControl]="form">
      <ng-template matStepLabel>{{ step.stepName }}</ng-template>

      <!-- Show review component if it's the review step -->
      <app-review
        *ngIf="step.component === 'review'"
        [type]="type"
        [showHeading]="true"
        [parentPageName]="parentPageName"
        [currentFlow]="currentFlow"
        [allowEdit]="true"
        (stepToNavigate)="navigateToStep($event)"
      >
      </app-review>

      <!-- Show dynamic wrapper for all non-review steps -->
      <ng-container *ngIf="dfaApplicationMainStepper?.selectedIndex === i">
        <app-component-wrapper
          [componentName]="step.component"
          [folderPath]="dfaApplicationMainFolderPath"
          [key]="step.component + '-' + currentStepIndex"
        ></app-component-wrapper>
      </ng-container>

      <br />
      <div class="row justify-content-between resp-style">
        <!-- Go Back button -->
        <div class="col-md-6">
          <button
            class="button-s"
            mat-button
            type="button"
            (click)="dfaApplicationMainStepper.previous()"
            *ngIf="step.component !== 'application-details' && isSubmitted === false"
          >
            Go Back<span *ngIf="vieworedit === 'add' || vieworedit === 'update'"> & Edit</span>
          </button>
          <button
            class="button-s"
            mat-button
            type="button"
            (click)="returnToDashboard()"
            *ngIf="isSubmitted === true && step.component === 'sign-and-submit'"
          >
            Return to Dashboard
          </button>
        </div>

        <!-- Next or Submit -->
        <div class="col-md-6" *ngIf="vieworedit === 'add' || vieworedit === 'update'">
          <!-- Submit button (only on sign-and-submit step and all validations passed) -->
          <button
            class="button-p save-button"
            mat-stroked-button
            type="button"
            *ngIf="
              step.component === 'sign-and-submit' &&
              !isSubmitted &&
              isSignaturesValid &&
              (formCreationService.damagedPropertyAddressForm$ | async)?.valid &&
              (formCreationService.propertyDamageForm$ | async)?.valid &&
              (formCreationService.cleanUpLogForm$ | async)?.valid &&
              (formCreationService.supportingDocumentsForm$ | async)?.valid &&
              (formCreationService.otherContactsForm$ | async)?.valid &&
              (formCreationService.fullTimeOccupantsForm$ | async)?.valid &&
              requiredDocumentsSupplied()
            "
            (click)="submitFile()"
          >
            Submit
          </button>

          <!-- Validation error on submit -->
          <span
            style="color:red"
            *ngIf="
              step.component === 'sign-and-submit' &&
              !isSubmitted &&
              (
                !isSignaturesValid ||
                !(formCreationService.damagedPropertyAddressForm$ | async)?.valid ||
                !(formCreationService.propertyDamageForm$ | async)?.valid ||
                !(formCreationService.cleanUpLogForm$ | async)?.valid ||
                !(formCreationService.supportingDocumentsForm$ | async)?.valid ||
                !(formCreationService.otherContactsForm$ | async)?.valid ||
                !(formCreationService.fullTimeOccupantsForm$ | async)?.valid ||
                !requiredDocumentsSupplied()
              )
            "
          >
            Enter all required information and sign before submitting.
          </span>

          <!-- Generic Next button -->
          <button
            *ngIf="step.component !== 'sign-and-submit' && step.nextButtonLabel"
            class="button-p"
            mat-stroked-button
            type="button"
            (click)="goForward(dfaApplicationMainStepper, step.isLast, step.component)"
          >
            {{ step.nextButtonLabel }}
          </button>
        </div>
      </div>
    </mat-step>

    <!-- Restore step index labels -->
    <ng-template matStepperIcon="edit" let-index="index">
      {{ index + 1 }}
    </ng-template>
  </mat-horizontal-stepper>
</div>
