.save-button {
    width: 120px;
    height:40px !important;
    vertical-align: middle;
}

@media screen and (max-width: 768px) {
    ::ng-deep .mat-step-label {
        display: none !important;
    }
}
