<mat-card class="card-align" [ngStyle]="{'pointer-events': vieworedit === 'view' ? 'none' : ''}" style="border:none;" [class.mat-elevation-z0]="true">
  <mat-card-content>

    <ng-container>
      <div class="row">
        <div class="col-md-8">
          <p class="sub-heading" style="font-size: 20px">Supporting Documents</p>
          On this page provide the required and other supporting documents.
        </div>
        <div class="col-md-4">
          <p class="sub-heading" style="font-size: 15px">Need help?</p>
          If you can't provide the required documents to submit your application, please contact us at DFA.Private@gov.bc.ca or call toll free at 1-844-537-7377 for help.
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p class="sub-heading" style="font-size: 15px">Required Documents</p>
          You must provide the following document before you can submit your application:
          <ul>
            <li>Insurance template completed by your insurance broker</li>
            <li *ngIf="isResidentialTenant">Rental agreement: a copy of your rental agreement, lease, or other documentation to show that you are/were legally occupying the damaged property at the time of the event, and</li>
            <li *ngIf="isResidentialTenant">Identification: a copy of government issued identification such as Driver's License, Service Card, or BC ID.</li>
          </ul>
          <p class="sub-heading" style="font-size: 15px">Upload Required Documents</p>
        </div>
      </div>
    </ng-container>

    <ng-container>
      <div class="row">
        <div class="col-md-8">
          <app-dfa-attachment
            title="Insurance Template"
            description="Attach the insurance template completed by your insurance broker.<br/><a target='_blank' href='https://www2.gov.bc.ca/assets/gov/public-safety-and-emergency-services/emergency-preparedness-response-recovery/embc/dfa/dfa_homeowners_insurance_template.pdf'>Download a copy of the home owners, residential tenants, and landlord insurance template (PDF, 164 kb)</a>"
            [missingRequiredFile]="insuranceTemplateForm.hasError('noInsuranceTemplate') ? 'yes' : 'no'"
            requiredFile="yes"
            [allowedFileTypes]="allowedFileTypes"
            allowedFileExtensionsList=".pdf, .doc, .docx, .png, .jpeg, .jpg, .ppt, .pptx, .xls, .xlsx"
            fileType="Insurance"
            excludeFileTypes="[]"
            (saveFileUpload)="saveRequiredForm($event)"
            [fileUpload]="formCreationService.fileUploadsForm.value.get('insuranceTemplateFileUpload')"
          ></app-dfa-attachment>
        </div>
      </div>
    </ng-container>
    <br/><br/>

    <ng-container *ngIf="isResidentialTenant">
      <div class="row">
        <div class="col-md-8">
          <app-dfa-attachment
            title="Rental Agreement"
            description="Attach your rental agreement, lease, or <u>other documentation</u> to show that you are/were legally occupying the damaged property at the time of the event."
            [missingRequiredFile]="rentalAgreementForm.hasError('noRentalAgreement') ? 'yes': 'no'"
            requiredFile="yes"
            (showSideNote)="onToggleOtherDocuments()"
            [allowedFileTypes]="allowedFileTypes"
            allowedFileExtensionsList=".pdf, .doc, .docx, .png, .jpeg, .jpg, .ppt, .pptx, .xls, .xlsx"
            fileType="TenancyProof"
            excludeFileTypes="[]"
            (saveFileUpload)="saveRequiredForm($event)"
            [fileUpload]="formCreationService.fileUploadsForm.value.get('rentalAgreementFileUpload')"

          ></app-dfa-attachment>
        </div>
        <div class="sub-heading radio-extra-label col-md-4" *ngIf="showOtherDocuments === true" style="border: 3px solid #70abd9">
          <br/>
          <b>Other documentation to show tenancy:</b>
          If you don't have a rental or lease agreement, you may include:
          <ul>
            <li>written correspondence from your landlord showing the dates and terms of your tenancy, or</li>
            <li>a piece of mail showing you lived in the residence at the time of the event, such as BC Hydro bill, utility bill, bank statement, or vehicle insurance.</li>
          </ul>
        </div>
      </div>
    </ng-container>
    <br/><br/>

    <ng-container *ngIf="isResidentialTenant">
      <div class="row">
        <div class="col-md-8">
          <app-dfa-attachment
            title="Identification"
            description=" Attach a copy of government issued identification such as Driver's License, Service Card, or BC ID."
            [missingRequiredFile]="identificationForm.hasError('noIdentification') ? 'yes' : 'no'"
            requiredFile="yes"
            [allowedFileTypes]="allowedFileTypes"
            allowedFileExtensionsList=".pdf, .doc, .docx, .png, .jpeg, .jpg, .ppt, .pptx, .xls, .xlsx"
            fileType="Identification"
            excludeFileTypes="[]"
            (saveFileUpload)="saveRequiredForm($event)"
            [fileUpload]="formCreationService.fileUploadsForm.value.get('identificationFileUpload')"
          ></app-dfa-attachment>
        </div>
      </div>
    </ng-container>
    <br/><br/>

    <ng-container *ngIf="isResidentialTenant">
      <div class="row">
        <div class="col-md-8">
          <app-dfa-attachment
            title="OtherSuporting Documents (Optional)"
            description="If applicable, you may include additional documents related to your application."
            requiredFile="no"
            missingRequiredFile="no"
            [allowedFileTypes]="allowedFileTypes"
            allowedFileExtensionsList=".pdf, .doc, .docx, .png, .jpeg, .jpg, .ppt, .pptx, .xls, .xlsx"
            excludeFileTypes="['Insurance', 'Cleanup', 'Damage photo', 'Identification', 'Tenancy proof']"
            (saveFileUpload)="saveSupportingFiles($event)"
            (cancelFileUpload)="cancelSupportingFiles()"
            [fileUpload]="formCreationService.fileUploadsForm.value.get('supportingFilesFileUpload')"
          ></app-dfa-attachment>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="!isResidentialTenant">
      <div class="row">
        <div class="col-md-8">
          <app-dfa-attachment
            title="OtherSuporting Documents (Optional)"
            description="If applicable, you may include additional documents related to your application."
            missingRequiredFile="no"
            requiredFile="no"
            [allowedFileTypes]="allowedFileTypes"
            allowedFileExtensionsList=".pdf, .doc, .docx, .png, .jpeg, .jpg, .ppt, .pptx, .xls, .xlsx"
            excludeFileTypes="['Insurance', 'Cleanup', 'Damage photo']"
            (saveFileUpload)="saveSupportingFiles($event)"
            (cancelFileUpload)="cancelSupportingFiles()"
            [fileUpload]="formCreationService.fileUploadsForm.value.get('supportingFilesFileUpload')"
          ></app-dfa-attachment>
        </div>
      </div>
    </ng-container>
    <br/><br/>

    <div *ngIf="documentSummaryDataSource.data.length > 0">
      <br />
      <p class="sub-heading" style="font-size: 15px">Document Summary</p>
    </div>

    <table mat-table [dataSource]="documentSummaryDataSource" *ngIf="documentSummaryDataSource.data.length > 0" style="width:100%">
      <!-- File Name Column -->
      <ng-container matColumnDef="fileName" style="width:25%">
        <th mat-header-cell *matHeaderCellDef >
          <b>File Name</b>
        </th>
        <td *matCellDef="let element" mat-cell>
          {{ element.fileName }}
        </td>
      </ng-container>

      <!-- Description Column -->
      <ng-container matColumnDef="fileDescription" style="width:25%">
        <th mat-header-cell *matHeaderCellDef>
          <b>File Description</b>
        </th>
        <td *matCellDef="let element" mat-cell>
          {{ element.fileDescription}}
        </td>
      </ng-container>

      <!-- Category Column -->
      <ng-container matColumnDef="fileType" style="width:25%">
        <th mat-header-cell *matHeaderCellDef>
          <b>Category</b>
        </th>
        <td *matCellDef="let element" mat-cell>
          {{ element.fileType }}
        </td>
      </ng-container>

        <!-- UploadedDate Column -->
        <ng-container matColumnDef="uploadedDate" style="width:25%">
        <th mat-header-cell *matHeaderCellDef>
          <b>Date Uploaded</b>
        </th>
        <td *matCellDef="let element" mat-cell>
          {{ element.uploadedDate | date:"dd-MMM-yyyy" }}
        </td>
      </ng-container>

      <!-- Delete & Edit Icons Column -->
      <ng-container matColumnDef="icons" style="width:25%">
        <th mat-header-cell *matHeaderCellDef>
          &nbsp;
        </th>
        <td *matCellDef="let element; let index = index" mat-cell>
          <button
            class="delete-image"
            mat-icon-button
            aria-label="Remove"
            (click)="deleteDocumentSummaryRow(element)"
          >
            <img src="/assets/images/delete.svg" height="35" width="35" />
            <img src="/assets/images/delete_onhover.svg" height="35" width="35"/>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="documentSummaryColumnsToDisplay"></tr>
      <tr
        mat-row
        *matRowDef="let element; columns: documentSummaryColumnsToDisplay"
        class="example-element-row"
        [style.height]="'auto'"
      ></tr>

    </table>

    <mat-error *ngIf="insuranceTemplateForm.hasError('noInsuranceTemplate')">
      <br/>Insurance template is required.
    </mat-error>
    <mat-error *ngIf="rentalAgreementForm.hasError('noRentalAgreement') && isResidentialTenant">
      <br/>Proof of tenancy is required.
    </mat-error>
    <mat-error *ngIf="identificationForm.hasError('noIdentification') && isResidentialTenant">
      <br/>Identification is required.
    </mat-error>

  </mat-card-content>
</mat-card>
