<mat-card appearance="outlined" class="card-align"  style="border:none;" [class.mat-elevation-z0]="true">
  <mat-card-content>

    <ng-container>
      <div class="row">
        <div class="col-md-8">
          <p class="sub-heading" style="font-size: 20px">Supporting Documents</p>
          On this page provide the required and other supporting documents.
        </div>
        <div class="col-md-4">
          <p class="sub-heading" style="font-size: 15px">Need help?</p>
          If you can't provide the required documents to submit your application, please contact us at DFA.Private&#64;gov.bc.ca or call toll free at 1-844-537-7377 for help.
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p *ngIf="!(isHomeowner && isNoInsurance)" class="sub-heading" style="font-size: 15px">Required Documents</p>
          <span *ngIf="!(isHomeowner && isNoInsurance)">
          You must provide the following document before you can submit your application:</span>
          <ul>
            <li *ngIf="!isNoInsurance">Insurance template completed by your insurance broker</li>
            <li *ngIf="isResidentialTenant">Rental agreement: a copy of your rental agreement, lease, or other documentation to show that you are/were legally occupying the damaged property at the time of the event, and</li>
            <li *ngIf="isResidentialTenant">Identification: a copy of government issued identification such as Driver's License, Service Card, or BC ID.</li>
            <li *ngIf="(isSmallBusinessOwner && isGeneral) || (isFarmOwner && isGeneral)">Income tax return: completed T1 general income tax return with supporting schedules for all owners.</li>
            <li *ngIf="isSmallBusinessOwner && isLandlord">Income tax return: complete T1 general income tax returns for all owners of rented property.</li>
            <li *ngIf="(isSmallBusinessOwner && isCorporate) || (isFarmOwner && isCorporate)">Income tax return: completed T2 corporate income tax return for the company with supporting schedules.</li>
            <li *ngIf="isSmallBusinessOwner && isLandlord">T776: statement of real estate rentals.</li>
            <li *ngIf="isSmallBusinessOwner && isLandlord">Residential tenancy agreement.</li>
            <li *ngIf="(isSmallBusinessOwner && isCorporate) || (isFarmOwner && isCorporate)">Proof of ownership: Central Securities Register listing all shareholders or Partnership Agreement.</li>
            <li *ngIf="(isSmallBusinessOwner && isGeneral) || (isFarmOwner && isGeneral)">Financial statements: most recently filed financial statements (income statement and balance sheet) used for income tax purposes.</li>
            <li *ngIf="(isSmallBusinessOwner && isCorporate) || (isFarmOwner && isCorporate)">Financial statements: most recently filed company income statement and balance sheet used for income tax purposes.</li>
            <li *ngIf="isCharitableOrganization">Directors listing: a listing of the directors, including their contact and address information.</li>
            <li *ngIf="isCharitableOrganization">Registration proof: proof of the organization's registration.</li>
            <li *ngIf="isCharitableOrganization">Structure and purpose: a statement of the organization's structure and purpose.</li>
            <li *ngIf="(isSmallBusinessOwner && (isGeneral || isCorporate)) || isFarmOwner || isCharitableOrganization">Lease agreement: if applicable.</li>
          </ul>
          <p class="sub-heading" style="font-size: 15px" *ngIf="vieworedit !== 'viewOnly'">Upload Required Documents</p>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="(isHomeowner || isResidentialTenant || (isSmallBusinessOwner && isLandlord)) && vieworedit !== 'viewOnly'"> <!-- Insurance Template for Homeowner, residential tenant -->
      <div class="row">
        <div class="col-md-8">
          <app-dfa-attachment
            title="Insurance Template"
            description="Attach the insurance template completed by your insurance broker.<br/><a target='_blank' href='https://www2.gov.bc.ca/assets/gov/public-safety-and-emergency-services/emergency-preparedness-response-recovery/embc/dfa/dfa_homeowners_insurance_template.pdf'>Download a copy of the home owners, residential tenants, and landlord insurance template (PDF, 164 kb)</a>"
            requiredDocumentType="InsuranceTemplate"
            [allowedFileTypes]="allowedFileTypes"
            allowedFileExtensionsList=".pdf, .doc, .docx, .png, .jpeg, .jpg, .ppt, .pptx, .xls, .xlsx"
            fileType="Insurance"
            excludeFileTypes="[]"
            (saveFileUpload)="saveRequiredForm($event)"
            [fileUpload]="formCreationService.fileUploadsForm.value.get('insuranceTemplateFileUpload')"
            *ngIf="fileUploadForm.hasError('noInsuranceTemplate')"
          ></app-dfa-attachment>
          <app-loader
            class="spinner"
            [showLoader]="isLoading"
            strokeWidth="10"
            diameter="50"
            >
          </app-loader>
          <mat-card appearance="outlined" class="row" *ngIf="(!fileUploadForm.hasError('noInsuranceTemplate') && !isNoInsurance)">
            <p class="sub-heading" style="font-size: 15px">Required insurance template has been uploaded.</p>
          </mat-card>
        </div>
      </div>
      <br/><br/>
    </ng-container>

    <ng-container *ngIf="((isSmallBusinessOwner && (isGeneral || isCorporate)) || isFarmOwner || isCharitableOrganization) && vieworedit !== 'viewOnly'"> <!-- Insurance Template for Small Business: General, Corporate, Farm: General, Corporate, Charitable Organization -->
      <div class="row">
        <div class="col-md-8">
          <app-dfa-attachment
            title="Insurance Template"
            description="Attach the insurance template completed by your insurance broker.<br/><a target='_blank' href='https://www2.gov.bc.ca/assets/gov/public-safety-and-emergency-services/emergency-preparedness-response-recovery/embc/dfa/dfa_farm_small_business_charitable_organization-insurance_template.pdf'>Download a copy of the Small business, farm owners, and charitable/non-profit organizations insurance template (PDF, 216 kb)</a>"
            requiredDocumentType="InsuranceTemplate"
            [allowedFileTypes]="allowedFileTypes"
            allowedFileExtensionsList=".pdf, .doc, .docx, .png, .jpeg, .jpg, .ppt, .pptx, .xls, .xlsx"
            fileType="Insurance"
            excludeFileTypes="[]"
            (saveFileUpload)="saveRequiredForm($event)"
            [fileUpload]="formCreationService.fileUploadsForm.value.get('insuranceTemplateFileUpload')"
            *ngIf="fileUploadForm.hasError('noInsuranceTemplate')"
          ></app-dfa-attachment>
          <app-loader
            class="spinner"
            [showLoader]="isLoading"
            strokeWidth="10"
            diameter="50"
          >
          </app-loader>
          <mat-card appearance="outlined" class="row" *ngIf="!fileUploadForm.hasError('noInsuranceTemplate') && !isNoInsurance">
            <p class="sub-heading" style="font-size: 15px">Required insurance template has been uploaded.</p>
          </mat-card>
        </div>
      </div>
      <br/><br/>
    </ng-container>

    <ng-container *ngIf="isResidentialTenant && vieworedit !== 'viewOnly'"> <!-- Rental Agreement for Residential Tenant-->
      <div class="row">
        <div class="col-md-8">
          <app-dfa-attachment
            title="Rental Agreement"
            description="Attach your rental agreement, lease, or <u>other documentation</u> to show that you are/were legally occupying the damaged property at the time of the event."
            *ngIf="fileUploadForm.hasError('noRentalAgreement')"
            requiredDocumentType="TenancyAgreement"
            (showSideNote)="onToggleOtherDocuments()"
            [allowedFileTypes]="allowedFileTypes"
            allowedFileExtensionsList=".pdf, .doc, .docx, .png, .jpeg, .jpg, .ppt, .pptx, .xls, .xlsx"
            fileType="TenancyProof"
            excludeFileTypes="[]"
            (saveFileUpload)="saveRequiredForm($event)"
            [fileUpload]="formCreationService.fileUploadsForm.value.get('rentalAgreementFileUpload')"

          ></app-dfa-attachment>
          <app-loader
            class="spinner"
            [showLoader]="isLoading"
            strokeWidth="10"
            diameter="50"
            >
          </app-loader>
          <mat-card appearance="outlined" class="row" *ngIf="!fileUploadForm.hasError('noRentalAgreement')">
            <p class="sub-heading" style="font-size: 15px">Required rental agreement form has been uploaded.</p>
          </mat-card>
        </div>
        <div class="sub-heading radio-extra-label col-md-4" *ngIf="showOtherDocuments === true" style="border: 3px solid #70abd9">
          <br/>
          <b>Other documentation to show tenancy:</b>
          If you don't have a rental or lease agreement, you may include:
          <ul>
            <li>written correspondence from your landlord showing the dates and terms of your tenancy, or</li>
            <li>a piece of mail addressed to you at the damaged property address which shows that you lived in the residence at the time of the event, such as a BC Hydro bill, utility bill, bank statement, or vehicle insurance.</li>
          </ul>
        </div>
      </div>
      <br/><br/>
    </ng-container>

    <ng-container *ngIf="isResidentialTenant && vieworedit !== 'viewOnly'"> <!-- Identification for Residential Tenant -->
      <div class="row">
        <div class="col-md-8">
          <app-dfa-attachment
            title="Identification"
            description=" Attach a copy of government issued identification such as Driver's License, Service Card, or BC ID."
            *ngIf="fileUploadForm.hasError('noIdentification')"
            requiredDocumentType="Identification"
            [allowedFileTypes]="allowedFileTypes"
            allowedFileExtensionsList=".pdf, .doc, .docx, .png, .jpeg, .jpg, .ppt, .pptx, .xls, .xlsx"
            fileType="TenancyProof"
            excludeFileTypes="[]"
            (saveFileUpload)="saveRequiredForm($event)"
            [fileUpload]="formCreationService.fileUploadsForm.value.get('identificationFileUpload')"
          ></app-dfa-attachment>
          <app-loader
            class="spinner"
            [showLoader]="isLoading"
            strokeWidth="10"
            diameter="50"
          >
          </app-loader>
          <mat-card appearance="outlined" class="row" *ngIf="!fileUploadForm.hasError('noIdentification')">
            <p class="sub-heading" style="font-size: 15px">Required identification form has been uploaded.</p>
          </mat-card>
        </div>
      </div>
      <br/><br/>
    </ng-container>

    <ng-container *ngIf="((isSmallBusinessOwner && (isGeneral || isLandlord)) || (isFarmOwner && isGeneral)) && vieworedit !== 'viewOnly'"> <!-- T1 Income tax return for Small Business Owner: General, Farm Owner: General -->
      <div class="row">
        <div class="col-md-8">
          <app-dfa-attachment
            title="Income Tax Return"
            description="Attach your completed T1 general income tax return with supporting schedules for all owners."
            *ngIf="fileUploadForm.hasError('noT1GeneralIncomeTaxReturn')"
            requiredDocumentType="T1GeneralIncomeTaxReturn"
            [allowedFileTypes]="allowedFileTypes"
            allowedFileExtensionsList=".pdf, .doc, .docx, .png, .jpeg, .jpg, .ppt, .pptx, .xls, .xlsx"
            fileType="Financial"
            excludeFileTypes="[]"
            (saveFileUpload)="saveRequiredForm($event)"
            [fileUpload]="formCreationService.fileUploadsForm.value.get('T1IncomeTaxReturnFileUpload')"
          ></app-dfa-attachment>
          <app-loader
            class="spinner"
            [showLoader]="isLoading"
            strokeWidth="10"
            diameter="50"
          >
          </app-loader>
          <mat-card appearance="outlined" class="row" *ngIf="!fileUploadForm.hasError('noT1GeneralIncomeTaxReturn')">
            <p class="sub-heading" style="font-size: 15px">Required T1 Income Tax Return has been uploaded.</p>
          </mat-card>
        </div>
      </div>
      <br/><br/>
    </ng-container>

    <ng-container *ngIf="((isSmallBusinessOwner && isCorporate) || (isFarmOwner && isCorporate)) && vieworedit !== 'viewOnly'"> <!-- T2 Income tax return for Small Business Owner: Corporate, Farm Owner: Corporate -->
      <div class="row">
        <div class="col-md-8">
          <app-dfa-attachment
            title="Income Tax Return"
            description="Attach your completed T2 corporate income tax return for the company with supporting schedules."
            *ngIf="fileUploadForm.hasError('noT2CorporateIncomeTaxReturn')"
            requiredDocumentType="T2CorporateIncomeTaxReturn"
            [allowedFileTypes]="allowedFileTypes"
            allowedFileExtensionsList=".pdf, .doc, .docx, .png, .jpeg, .jpg, .ppt, .pptx, .xls, .xlsx"
            fileType="Financial"
            excludeFileTypes="[]"
            (saveFileUpload)="saveRequiredForm($event)"
            [fileUpload]="formCreationService.fileUploadsForm.value.get('T2IncomeTaxReturnFileUpload')"
          ></app-dfa-attachment>
          <app-loader
            class="spinner"
            [showLoader]="isLoading"
            strokeWidth="10"
            diameter="50"
          >
          </app-loader>
          <mat-card appearance="outlined" class="row" *ngIf="!fileUploadForm.hasError('noT2CorporateIncomeTaxReturn')">
            <p class="sub-heading" style="font-size: 15px">Required T2 Income Tax Return has been uploaded.</p>
          </mat-card>
        </div>
      </div>
      <br/><br/>
    </ng-container>

    <ng-container *ngIf="((isSmallBusinessOwner && isCorporate) || (isFarmOwner && isCorporate)) && vieworedit !== 'viewOnly'"> <!-- Proof of ownership for Small Business Owner: Corporate -->
      <div class="row">
        <div class="col-md-8">
          <app-dfa-attachment
            title="Proof of Ownership"
            description="Attach the Central Securities Register listing all shareholders or Partnership Agreement."
            *ngIf="fileUploadForm.hasError('noProofOfOwnership')"
            requiredDocumentType="ProofOfOwnership"
            [allowedFileTypes]="allowedFileTypes"
            allowedFileExtensionsList=".pdf, .doc, .docx, .png, .jpeg, .jpg, .ppt, .pptx, .xls, .xlsx"
            fileType="Financial"
            excludeFileTypes="[]"
            (saveFileUpload)="saveRequiredForm($event)"
            [fileUpload]="formCreationService.fileUploadsForm.value.get('proofOfOwnershipFileUpload')"
          ></app-dfa-attachment>
          <app-loader
            class="spinner"
            [showLoader]="isLoading"
            strokeWidth="10"
            diameter="50"
          >
          </app-loader>
          <mat-card appearance="outlined" class="row" *ngIf="!fileUploadForm.hasError('noProofOfOwnership')">
            <p class="sub-heading" style="font-size: 15px">Required Proof of Ownership has been uploaded.</p>
          </mat-card>
        </div>
      </div>
      <br/><br/>
    </ng-container>

    <ng-container *ngIf="isSmallBusinessOwner && isLandlord && vieworedit !== 'viewOnly'"> <!-- T776 for Small Business Owner: Landlord -->
      <div class="row">
        <div class="col-md-8">
          <app-dfa-attachment
            title="T776 Statement of Real Estate Rentals"
            description="Attach the T776 Statement of real estate rentals."
            *ngIf="fileUploadForm.hasError('noT776')"
            requiredDocumentType="T776"
            [allowedFileTypes]="allowedFileTypes"
            allowedFileExtensionsList=".pdf, .doc, .docx, .png, .jpeg, .jpg, .ppt, .pptx, .xls, .xlsx"
            fileType="Financial"
            excludeFileTypes="[]"
            (saveFileUpload)="saveRequiredForm($event)"
            [fileUpload]="formCreationService.fileUploadsForm.value.get('T776FileUpload')"
          ></app-dfa-attachment>
          <app-loader
            class="spinner"
            [showLoader]="isLoading"
            strokeWidth="10"
            diameter="50"
          >
          </app-loader>
          <mat-card appearance="outlined" class="row" *ngIf="!fileUploadForm.hasError('noT776')">
            <p class="sub-heading" style="font-size: 15px">Required T776 has been uploaded.</p>
          </mat-card>
        </div>
      </div>
      <br/><br/>
    </ng-container>

    <ng-container *ngIf="((isSmallBusinessOwner && (isGeneral || isCorporate)) || isFarmOwner) && vieworedit !== 'viewOnly'"> <!-- Financial Statements for Small Business Owner: General, Corporate -->
      <div class="row">
        <div class="col-md-8">
          <app-dfa-attachment
            title="Financial Statements"
            [description]="isGeneral ? 'Attach your most recently filed financial statements (income statement and balance sheet) used for income tax purposes.': (isCorporate ? 'Attach your most recently filed company income statement and balance sheet used for income tax purposes.' : '')"
            *ngIf="fileUploadForm.hasError('noFinancialStatements')"
            requiredDocumentType="FinancialStatements"
            [allowedFileTypes]="allowedFileTypes"
            allowedFileExtensionsList=".pdf, .doc, .docx, .png, .jpeg, .jpg, .ppt, .pptx, .xls, .xlsx"
            fileType="Financial"
            excludeFileTypes="[]"
            (saveFileUpload)="saveRequiredForm($event)"
            [fileUpload]="formCreationService.fileUploadsForm.value.get('financialStatementsFileUpload')"
          ></app-dfa-attachment>
          <app-loader
            class="spinner"
            [showLoader]="isLoading"
            strokeWidth="10"
            diameter="50"
          >
          </app-loader>
          <mat-card appearance="outlined" class="row" *ngIf="!fileUploadForm.hasError('noFinancialStatements')">
            <p class="sub-heading" style="font-size: 15px">Required financial statements have been uploaded.</p>
          </mat-card>
        </div>
      </div>
      <br/><br/>
    </ng-container>

    <ng-container *ngIf="isCharitableOrganization && vieworedit !== 'viewOnly'"> <!-- Directors Listing for Charitable Organization -->
      <div class="row">
        <div class="col-md-8">
          <app-dfa-attachment
            title="Directors Listing"
            description="Attach a listing of the Directors, including their contact and address information."
            *ngIf="fileUploadForm.hasError('noDirectorsListing')"
            requiredDocumentType="DirectorsListing"
            [allowedFileTypes]="allowedFileTypes"
            allowedFileExtensionsList=".pdf, .doc, .docx, .png, .jpeg, .jpg, .ppt, .pptx, .xls, .xlsx"
            fileType="Financial"
            excludeFileTypes="[]"
            (saveFileUpload)="saveRequiredForm($event)"
            [fileUpload]="formCreationService.fileUploadsForm.value.get('directorsListingFileUpload')"
          ></app-dfa-attachment>
          <app-loader
            class="spinner"
            [showLoader]="isLoading"
            strokeWidth="10"
            diameter="50"
          >
          </app-loader>
          <mat-card appearance="outlined" class="row" *ngIf="!fileUploadForm.hasError('noDirectorsListing')">
            <p class="sub-heading" style="font-size: 15px">Required directors' listing has been uploaded.</p>
          </mat-card>
        </div>
      </div>
      <br/><br/>
    </ng-container>

    <ng-container *ngIf="isCharitableOrganization && vieworedit !== 'viewOnly'"> <!-- Registration Proof for Charitable Organization -->
      <div class="row">
        <div class="col-md-8">
          <app-dfa-attachment
            title="Registration Proof"
            description="Attach proof of the organization’s registration (must include registration date) under the BC <i>Societies</i> Act and annual fillings."
            *ngIf="fileUploadForm.hasError('noRegistrationProof')"
            requiredDocumentType="RegistrationProof"
            [allowedFileTypes]="allowedFileTypes"
            allowedFileExtensionsList=".pdf, .doc, .docx, .png, .jpeg, .jpg, .ppt, .pptx, .xls, .xlsx"
            fileType="Financial"
            excludeFileTypes="[]"
            (saveFileUpload)="saveRequiredForm($event)"
            [fileUpload]="formCreationService.fileUploadsForm.value.get('registrationProofFileUpload')"
          ></app-dfa-attachment>
          <app-loader
            class="spinner"
            [showLoader]="isLoading"
            strokeWidth="10"
            diameter="50"
          >
          </app-loader>
          <mat-card appearance="outlined" class="row" *ngIf="!fileUploadForm.hasError('noRegistrationProof')">
            <p class="sub-heading" style="font-size: 15px">Required registration proof has been uploaded.</p>
          </mat-card>
        </div>
      </div>
      <br/><br/>
    </ng-container>

    <ng-container *ngIf="isCharitableOrganization && vieworedit !== 'viewOnly'"> <!--Structure and Purpose for Charitable Organization -->
      <div class="row">
        <div class="col-md-8">
          <app-dfa-attachment
            title="Structure and Purpose"
            description="Attach a statement outlining the organizations benefit or service to the community, and any other documentation supporting how the organization meets the eligibility criteria for Disaster Financial Assistance (DFA)."
            *ngIf="fileUploadForm.hasError('noStructureAndPurpose')"
            requiredDocumentType="StructureAndPurpose"
            [allowedFileTypes]="allowedFileTypes"
            allowedFileExtensionsList=".pdf, .doc, .docx, .png, .jpeg, .jpg, .ppt, .pptx, .xls, .xlsx"
            fileType="Financial"
            excludeFileTypes="[]"
            (saveFileUpload)="saveRequiredForm($event)"
            [fileUpload]="formCreationService.fileUploadsForm.value.get('structureAndPurposeFileUpload')"
          ></app-dfa-attachment>
          <app-loader
            class="spinner"
            [showLoader]="isLoading"
            strokeWidth="10"
            diameter="50"
          >
          </app-loader>
          <mat-card appearance="outlined" class="row" *ngIf="!fileUploadForm.hasError('noStructureAndPurpose')">
            <p class="sub-heading" style="font-size: 15px">Required structure and purpose document has been uploaded.</p>
          </mat-card>
        </div>
      </div>
      <br/><br/>
    </ng-container>

    <ng-container *ngIf="((isSmallBusinessOwner && (isGeneral || isCorporate)) || isFarmOwner || isCharitableOrganization) && vieworedit !== 'viewOnly'"> <!-- Lease Agreement for Small Business Owner: General, Corporate -->
      <div class="row">
        <div class="col-md-8">
          <app-dfa-attachment
            title="Lease Agreement (if applicable)"
            description="Attach any lease agreements, if applicable."
            *ngIf="fileUploadForm.hasError('noTenancyAgreement')"
            requiredDocumentType="TenancyAgreement"
            [allowedFileTypes]="allowedFileTypes"
            allowedFileExtensionsList=".pdf, .doc, .docx, .png, .jpeg, .jpg, .ppt, .pptx, .xls, .xlsx"
            fileType="TenancyProof"
            excludeFileTypes="[]"
            (saveFileUpload)="saveRequiredForm($event)"
            [fileUpload]="formCreationService.fileUploadsForm.value.get('tenancyAgreementFileUpload')"
          ></app-dfa-attachment>
          <app-loader
            class="spinner"
            [showLoader]="isLoading"
            strokeWidth="10"
            diameter="50"
          >
          </app-loader>
          <mat-card appearance="outlined" class="row" *ngIf="!fileUploadForm.hasError('noTenancyAgreement')">
            <p class="sub-heading" style="font-size: 15px">Lease agreement has been uploaded.</p>
          </mat-card>
        </div>
      </div>
      <br/><br/>
    </ng-container>

    <ng-container *ngIf="isSmallBusinessOwner && isLandlord && vieworedit !== 'viewOnly'"> <!-- Residential Tenancy Agreement for Small Business Owner: Landlord -->
      <div class="row">
        <div class="col-md-8">
          <app-dfa-attachment
            title="Residential Tenancy Agreement"
            description="Attach the residential tenancy agreement."
            *ngIf="fileUploadForm.hasError('noResidentialTenancyAgreement')"
            requiredDocumentType="ResidentialTenancyAgreement"
            [allowedFileTypes]="allowedFileTypes"
            allowedFileExtensionsList=".pdf, .doc, .docx, .png, .jpeg, .jpg, .ppt, .pptx, .xls, .xlsx"
            fileType="TenancyProof"
            excludeFileTypes="[]"
            (saveFileUpload)="saveRequiredForm($event)"
            [fileUpload]="formCreationService.fileUploadsForm.value.get('tenancyAgreementFileUpload')"
          ></app-dfa-attachment>
          <app-loader
            class="spinner"
            [showLoader]="isLoading"
            strokeWidth="10"
            diameter="50"
          >
          </app-loader>
          <mat-card appearance="outlined" class="row" *ngIf="!fileUploadForm.hasError('noResidentialTenancyAgreement')">
            <p class="sub-heading" style="font-size: 15px">Required residential tenancy agreement has been uploaded.</p>
          </mat-card>
        </div>
      </div>
      <br/><br/>
    </ng-container>

    <ng-container *ngIf="vieworedit !== 'viewOnly'"> <!-- Supporting Documents -->
      <div class="row">
        <div class="col-md-8">
          <app-dfa-attachment
            title="Other Supporting Documents (Optional)"
            description="If applicable, you may include additional documents related to your application."
            [allowedFileTypes]="allowedFileTypes"
            allowedFileExtensionsList=".pdf, .doc, .docx, .png, .jpeg, .jpg, .ppt, .pptx, .xls, .xlsx"
            excludeFileTypes="['Identification', 'Unknown']"
            (saveFileUpload)="saveSupportingFiles($event)"
            (cancelFileUpload)="cancelSupportingFiles()"
            [fileUpload]="formCreationService.fileUploadsForm.value.get('supportingFilesFileUpload')"
          ></app-dfa-attachment>
          <app-loader
            class="spinner"
            [showLoader]="isLoading"
            strokeWidth="10"
            diameter="50"
          >
          </app-loader>
        </div>
      </div>
    </ng-container>

    <div *ngIf="documentSummaryDataSource.data.length > 0">
      <br />
      <p class="sub-heading" style="font-size: 15px">Document Summary</p>
    </div>

    <table mat-table [dataSource]="documentSummaryDataSource" *ngIf="documentSummaryDataSource.data.length > 0" style="width:100%">
      <!-- File Name Column -->
      <ng-container matColumnDef="fileName" style="width:25%">
        <th mat-header-cell *matHeaderCellDef >
          <b>File Name</b>
        </th>
        <td *matCellDef="let element" mat-cell>
          {{ element.fileName }}
        </td>
      </ng-container>

      <!-- Description Column -->
      <ng-container matColumnDef="fileDescription" style="width:25%">
        <th mat-header-cell *matHeaderCellDef>
          <b>File Description</b>
        </th>
        <td *matCellDef="let element" mat-cell>
          {{ element.fileDescription}}
        </td>
      </ng-container>

      <!-- Category Column -->
      <ng-container matColumnDef="fileType" style="width:25%">
        <th mat-header-cell *matHeaderCellDef>
          <b>Category</b>
        </th>
        <td *matCellDef="let element" mat-cell>
          {{ element.fileType }}
        </td>
      </ng-container>

        <!-- UploadedDate Column -->
        <ng-container matColumnDef="uploadedDate" style="width:25%">
        <th mat-header-cell *matHeaderCellDef>
          <b>Date Uploaded</b>
        </th>
        <td *matCellDef="let element" mat-cell>
          {{ element.uploadedDate | date:"dd-MMM-yyyy" }}
        </td>
      </ng-container>

      <!-- Delete Icon Column -->
      <ng-container matColumnDef="icons" style="width:25%">
        <th mat-header-cell *matHeaderCellDef>
          &nbsp;
        </th>
        <td *matCellDef="let element; let index = index" mat-cell>
          <button
            class="delete-image"
            mat-icon-button
            aria-label="Remove"
            (click)="confirmDeleteDocumentSummaryRow(element)"
            *ngIf="vieworedit === 'add' || vieworedit === 'update'"
          >
            <img src="/assets/images/delete.svg" height="35" width="35" />
            <img src="/assets/images/delete_onhover.svg" height="35" width="35"/>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="documentSummaryColumnsToDisplay"></tr>
      <tr
        mat-row
        *matRowDef="let element; columns: documentSummaryColumnsToDisplay"
        class="example-element-row"
        [style.height]="'auto'"
      ></tr>

    </table>

    <mat-error *ngIf="fileUploadForm.hasError('noInsuranceTemplate')">
      <br/>Insurance template is required.
    </mat-error>
    <mat-error *ngIf="fileUploadForm?.hasError('noRentalAgreement')">
      <br/>Proof of tenancy is required.
    </mat-error>
    <mat-error *ngIf="fileUploadForm?.hasError('noIdentification')">
      <br/>Identification is required.
    </mat-error>
    <mat-error *ngIf="fileUploadForm?.hasError('noT1GeneralIncomeTaxReturn')">
      <br/>A T1 general income tax return is required.
    </mat-error>
    <mat-error *ngIf="fileUploadForm?.hasError('noFinancialStatements')">
      <br/>Financial statements required.
    </mat-error>
    <mat-error *ngIf="fileUploadForm?.hasError('noT2CorporateIncomeTaxReturn')">
      <br/>A T2 corporate income tax return is required.
    </mat-error>
    <mat-error *ngIf="fileUploadForm?.hasError('noProofOfOwnership')">
      <br/>Proof of ownership is required.
    </mat-error>
    <mat-error *ngIf="fileUploadForm?.hasError('noT776')">
      <br/>A T776 statement of real estate rentals is required.
    </mat-error>
    <mat-error *ngIf="fileUploadForm?.hasError('noDirectorsListing')">
      <br/>A listing of directors is required.
    </mat-error>
    <mat-error *ngIf="fileUploadForm?.hasError('noRegistrationProof')">
      <br/>Proof of the organization's registration is required.
    </mat-error>
    <mat-error *ngIf="fileUploadForm?.hasError('noStructureAndPurpose')">
      <br/>A statement outlining structure and purpose is required.
    </mat-error>
    <mat-error *ngIf="fileUploadForm?.hasError('noResidentialTenancyAgreement')">
      <br/>A residential tenancy agreement is required.
    </mat-error>
  </mat-card-content>
</mat-card>
