<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        .page {
            /*
            height: 1500px;
            width: 1150px;
            */
            /*
            position: relative;
            display: block;
            page-break-after: avoid;
            border: solid 10px #666666;
            padding: 20px 20px;
            */

            font-family: arial, helvetica;
            margin: 5px 5px;
        }

        table {
            border-collapse: collapse;
        }
        .contacts tr {
            border-bottom: 1px solid #ddd;
        }
        .contacts td, th {
            /*border: 1px solid #1d1212;*/
            padding: 0.5rem;
            text-align: left;
        }
        td {
            padding-bottom: 7px;
            padding-top: 7px;
        }
        u {
            text-decoration: underline;
        }
        .record-title {
            width: 275px;
            padding-left: 5px;
        }
        .contacts {
            margin: 0 auto;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }
        .contacts-container {
            padding-bottom: 5px;
        }
    </style>
</head>

<body>
    <div class="page">

        <h1 style="color: cornflowerblue">Application Details</h1>
        <br />
        <div style='width:100%;border:1px solid black;'>
            <table cellspacing="0" cellpadding="0" style="border: none;">
                <tr>
                    <td class="record-title">
                        Indigenous Governing Body &
                        Local Authority Legal Name
                    </td>
                    <td>
                        {{IndigenousGoverningBody}}
                    </td>
                </tr>
                <tr> <td class="record-title"> Date of Damage From  </td>  <td> {{DateofDamageFrom}}   </td>   </tr>
                <tr> <td class="record-title"> Date of Damage To  </td>  <td> {{DateofDamageTo}}   </td>   </tr>
                <tr> <td class="record-title"> Disaster Event  </td>  <td> {{DisasterEvent}}   </td>   </tr>
                <tr> <td class="record-title"> Cause of Damage  </td>  <td> {{CauseofDamage}}   </td>   </tr>
                <tr> <td class="record-title"> Government Type  </td>  <td> {{GovernmentType}}   </td>   </tr>
                <tr> <td class="record-title"> Other Governing Body  </td>  <td> {{OtherGoverningBody}}   </td>   </tr>
                <tr> <td class="record-title"> Describe Your Organization  </td>  <td> {{DescribeYourOrganization}}   </td>   </tr>
            </table>
        </div>
        <br />
        <div style='width:100%;border:1px solid black;'>
            <table cellspacing="0" cellpadding="0" style="border: none;">
                <tr> <td class="record-title">Doing Business As (DBA) Name  </td> <td>    {{DoingBusinessAsDBAName}} </td></tr>
                <tr> <td class="record-title"> Business Number  </td>  <td> {{BusinessNumber}}   </td>   </tr>

                <tr> <td width="50%"> <p><u><strong>Mailing Address</strong></u> </p>  </td>    </tr>
                <tr> <td class="record-title"> Address Line 1  </td>  <td> {{AddressLine1}}   </td>   </tr>
                <tr> <td class="record-title"> Address Line 2  </td>  <td> {{AddressLine2}}   </td>   </tr>
                <tr> <td class="record-title"> City  </td>  <td> {{City}}   </td>   </tr>
                <tr> <td class="record-title"> Province  </td>  <td> {{Province}}   </td>   </tr>
                <tr> <td class="record-title"> Postal Code  </td>  <td> {{PostalCode}}   </td>   </tr>

                <tr> <td width="50%"> <p><u><strong>Primary Contact Details</strong></u> </p>  </td>    </tr>
                <tr> <td class="record-title"> First Name  </td>  <td> {{FirstName}}   </td>   </tr>
                <tr> <td class="record-title"> Last Name  </td>  <td> {{LastName}}   </td>   </tr>
                <tr> <td class="record-title"> Department  </td>  <td> {{Department}}   </td>   </tr>
                <tr> <td class="record-title"> Business Phone  </td>  <td> {{BusinessPhone}}   </td>   </tr>
                <tr> <td class="record-title"> Email Address  </td>  <td> {{EmailAddress}}   </td>   </tr>
                <tr> <td class="record-title"> Cell Phone  </td>  <td> {{CellPhone}}   </td>   </tr>
                <tr> <td class="record-title"> Job Title  </td>  <td> {{JobTitle}}   </td>   </tr>
                <tr> <td class="record-title"> Contact Notes  </td>  <td> {{ContactNotes}}   </td>   </tr>
            </table>

            <p><u><strong>Additional Contact Details</strong></u> </p>

            {{{ContactsText}}}
        </div>

    </div>


</body>

</html>