<div class="container">
  <div class="heading-container">
    <div class="row">
      <div class="col-md-12 navHeight">
        <span class="page-navigation">
          <a href="javascript: void(0)" (click)="BackToDashboard()">Home</a> &nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;
        <a href="javascript: void(0)" (click)="ViewApplication(appId)" >{{applicationNumber}}</a>
         &nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;<b>Project</b>
          </span> <br />
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 headerText">
        <span class="page-heading">
          100 Mile Test community
          </span> <br />
      </div>
      <div class="col-md-6 headerText">
        <button mat-button class="button-p"
          (click)="navigateToDFAProjectCreate()">
        Create a New Project</button> <br />
      </div>
    </div>
  </div>
  <div class="col-12 content-container infoText" >
    <div class="row">
      <div class="infoIconCol">
        <div class="material-icons infoIconStyle">info</div>
      </div>
      <div class="col-md-11">
        <span class="page-subheadbold">This page is for Indigenous communities or local governments.</span><br />
            If you are a homeowner, residential tenant, small business, farm, or charitable organization your process is different: <a target="_blank" href="https://www2.gov.bc.ca/gov/content/safety/emergency-management/preparedbc/evacuation-recovery/disaster-financial-assistance">DFA process for individuals, small businesses, farms, and charitable organizations.</a>
      </div>
      <div class="col-md-6"></div>
        
      </div>
      <div class="col-md-6"></div>
    </div>
  <div class="col-12 content-container appDetailHeader" >
    <div class="row">
      <div class="col-md-6"><b>Case Number - </b><a href="javascript:void(0)">{{caseNumber}}</a> </div>
      <div class="col-md-6"><b>Date of Damage (From) - </b>{{dateOfDamageFrom | date : 'MM/dd/yyyy'}}</div>
    </div>
    <div class="row">
      <div class="col-md-6 wrap-text"><b>Cause of Damage - </b>{{causeOfDamage}}</div>
      <div class="col-md-6"><b>Date of Damage (To) - </b>{{dateOfDamageTo | date : 'MM/dd/yyyy'}}</div>
    </div>
  </div>
    <div class="container" style="padding-bottom: 100px; padding-top: 30px;">
      <!--<app-alert></app-alert>-->

      <nav mat-tab-nav-bar dynamicHeight [tabPanel]="tabPanel">
        <a
          mat-tab-link
          *ngFor="let tabItem of tabs"
          [routerLink]="tabItem.route"
          routerLinkActive="active-tab"
           class="tabHead"
        >
          <img
            class="inactive-curr"
            [src]="tabItem.inactiveImage"
            height="15"
            width="15"
          />
          <img
            class="active-curr"
            [src]="tabItem.activeImage"
            height="15"
            width="15"
          />
          <!--&nbsp;&nbsp; {{ tabItem.label }}-->
          &nbsp;&nbsp; {{ tabItem.label != "Profile" ? tabItem.label + " (" + tabItem.count + ")" : tabItem.label }}
        </a>
      </nav>
      <mat-tab-nav-panel #tabPanel>
        <router-outlet></router-outlet>
      </mat-tab-nav-panel>
  
      <app-loader
        class="spinner"
        [showLoader]="isLoading"
        strokeWidth="10"
        diameter="50"
      >
      </app-loader>
</div>
  </div>
