<mat-card style="border: none !important; box-shadow: none !important;">
  <ng-container *ngTemplateOutlet="dfaProjectMain"></ng-container>
  <ng-template #dfaProjectMain>
    <div>
      <p class="sub-heading" style="font-size: 20px">Review</p>
       <p>
        Please check that your project information is correct before submitting. Missing required fields marked in red.
      </p>

      <!-- Project Details -->
      <mat-card-content class="contentStyle mat-elevation-z8">
        <div class="row info-detail" style="padding-top: 20px;">
          <div class="col-md-3"><span [ngClass]="{'missing-info': !(formCreationService.recoveryPlanForm$ | async)?.value?.projectNumber || (formCreationService.recoveryPlanForm$ | async)?.controls?.projectNumber.invalid}">Project Number:</span></div>
          <div class="col-md-3">
            <span [ngClass]="{'missing-info': !(formCreationService.recoveryPlanForm$ | async)?.value?.projectNumber || (formCreationService.recoveryPlanForm$ | async)?.controls?.projectNumber.invalid}">
              {{
                (formCreationService.recoveryPlanForm$ | async)?.value
                  .projectNumber ? (formCreationService.recoveryPlanForm$ | async)?.value
                  .projectNumber : "Enter required information"
              }}
            </span>
          </div>
          <div class="col-md-4"></div>
          <div class="col-md-2" *ngIf="allowEdit">
            <button
              class="edit-image"
              mat-icon-button
              aria-label="Edit"
              (click)="navigateToStep(0)"
            >
              <img src="/assets/images/edit.svg" height="35" width="35" />
              <!-- 2024-08-26 EMCRI-617 waynezen; UI fixes for Angular upgrade -->
            </button>
          </div>
        </div>

        <div class="row info-detail">
          <div class="col-md-3"><span [ngClass]="{'missing-info': !(formCreationService.recoveryPlanForm$ | async)?.value?.projectName || (formCreationService.recoveryPlanForm$ | async)?.controls?.projectName.invalid}">Project Name:</span></div>
          <div class="col-md-3">
            <span [ngClass]="{'missing-info': !(formCreationService.recoveryPlanForm$ | async)?.value?.projectName || (formCreationService.recoveryPlanForm$ | async)?.controls?.projectName.invalid}">
              {{
                (formCreationService.recoveryPlanForm$ | async)?.value
                  .projectName ? (formCreationService.recoveryPlanForm$ | async)?.value
                  .projectName : "Enter required information"
              }}
            </span>
          </div>
        </div>

        <div class="row info-detail">
          <div class="col-md-3"><span [ngClass]="{'missing-info': !(formCreationService.recoveryPlanForm$ | async)?.value?.isdamagedDateSameAsApplication || (formCreationService.recoveryPlanForm$ | async)?.controls?.isdamagedDateSameAsApplication.invalid}">Same dates of damage:</span></div>
          <div class="col-md-3">
            <span [ngClass]="{'missing-info': !(formCreationService.recoveryPlanForm$ | async)?.value?.isdamagedDateSameAsApplication || (formCreationService.recoveryPlanForm$ | async)?.controls?.isdamagedDateSameAsApplication.invalid}">
              {{
                (formCreationService.recoveryPlanForm$ | async)?.value
                  .isdamagedDateSameAsApplication ? (formCreationService.recoveryPlanForm$ | async)?.value
                  .isdamagedDateSameAsApplication === 'true' ? "Yes" : "No" : "Enter required information"
              }}
            </span>
          </div>
        </div>

        <div class="row info-detail" *ngIf="(formCreationService.recoveryPlanForm$ | async)?.value.isdamagedDateSameAsApplication === 'false'">
          <div class="col-md-3"><span [ngClass]="{'missing-info': !(formCreationService.recoveryPlanForm$ | async)?.value?.sitelocationdamageFromDate || (formCreationService.recoveryPlanForm$ | async)?.controls?.sitelocationdamageFromDate.invalid}">Date of Damage (From):</span></div>
          <div class="col-md-3">
            <span [ngClass]="{'missing-info': !(formCreationService.recoveryPlanForm$ | async)?.value?.sitelocationdamageFromDate || (formCreationService.recoveryPlanForm$ | async)?.controls?.sitelocationdamageFromDate.invalid}">
              {{
                (formCreationService.recoveryPlanForm$ | async)?.value
                  .sitelocationdamageFromDate ? ((formCreationService.recoveryPlanForm$ | async)?.value
                  .sitelocationdamageFromDate | date: "MM/dd/yyyy") : "Enter required information"
              }}
            </span>
          </div>
        </div>

        <div class="row info-detail" *ngIf="(formCreationService.recoveryPlanForm$ | async)?.value.isdamagedDateSameAsApplication === 'false'">
          <div class="col-md-3"><span [ngClass]="{'missing-info': !(formCreationService.recoveryPlanForm$ | async)?.value?.sitelocationdamageToDate || (formCreationService.recoveryPlanForm$ | async)?.controls?.sitelocationdamageToDate.invalid}">Date of Damage (To):</span></div>
          <div class="col-md-3">
            <span [ngClass]="{'missing-info': !(formCreationService.recoveryPlanForm$ | async)?.value?.sitelocationdamageToDate || (formCreationService.recoveryPlanForm$ | async)?.controls?.sitelocationdamageToDate.invalid}">
              {{
                (formCreationService.recoveryPlanForm$ | async)?.value
                  .sitelocationdamageToDate ? ((formCreationService.recoveryPlanForm$ | async)?.value
                  .sitelocationdamageToDate | date: "MM/dd/yyyy") : "Enter required information"
              }}
            </span>
          </div>
        </div>

        <div class="row info-detail" *ngIf="(formCreationService.recoveryPlanForm$ | async)?.value.isdamagedDateSameAsApplication === 'false'">
          <div class="col-md-3"><span [ngClass]="{'missing-info': !(formCreationService.recoveryPlanForm$ | async)?.value?.differentDamageDatesReason || (formCreationService.recoveryPlanForm$ | async)?.controls?.differentDamageDatesReason.invalid}">Date of Damage Difference Reason:</span></div>
          <div class="col-md-6">
            <span [ngClass]="{'missing-info': !(formCreationService.recoveryPlanForm$ | async)?.value?.differentDamageDatesReason || (formCreationService.recoveryPlanForm$ | async)?.controls?.differentDamageDatesReason.invalid}">
              {{
                (formCreationService.recoveryPlanForm$ | async)?.value
                  .differentDamageDatesReason ? (formCreationService.recoveryPlanForm$ | async)?.value
                  .differentDamageDatesReason : "Enter required information"
              }}
            </span>
          </div>
        </div>

        <div class="row info-detail">
          <div class="col-md-3"><span [ngClass]="{'missing-info': !(formCreationService.recoveryPlanForm$ | async)?.value?.siteLocation || (formCreationService.recoveryPlanForm$ | async)?.controls?.siteLocation.invalid}">Site Location:</span></div>
          <div class="col-md-6">
            <span [ngClass]="{'missing-info': !(formCreationService.recoveryPlanForm$ | async)?.value?.siteLocation || (formCreationService.recoveryPlanForm$ | async)?.controls?.siteLocation.invalid}">
              {{
                (formCreationService.recoveryPlanForm$ | async)?.value
                  .siteLocation ? (formCreationService.recoveryPlanForm$ | async)?.value
                  .siteLocation : "Enter required information"
              }}
            </span>
          </div>
        </div>

        <div class="row justify-content-between">
          <div class="col-md-6 card-heading">Damage Description</div>
  
        </div>
        <hr />

        <div class="row info-detail">
          <div class="col-md-3"><span [ngClass]="{'missing-info': !(formCreationService.recoveryPlanForm$ | async)?.value?.infraDamageDetails || (formCreationService.recoveryPlanForm$ | async)?.controls?.infraDamageDetails.invalid}">Damaged Infrastructure:</span></div>
          <div class="col-md-6">
            <span [ngClass]="{'missing-info': !(formCreationService.recoveryPlanForm$ | async)?.value?.infraDamageDetails || (formCreationService.recoveryPlanForm$ | async)?.controls?.infraDamageDetails.invalid}">
              {{
                (formCreationService.recoveryPlanForm$ | async)?.value
                  .infraDamageDetails ? (formCreationService.recoveryPlanForm$ | async)?.value
                  .infraDamageDetails : "Enter required information"
              }}
            </span>
          </div>
        </div>

        <div class="row info-detail">
          <div class="col-md-3"><span [ngClass]="{'missing-info': !(formCreationService.recoveryPlanForm$ | async)?.value?.causeofDamageDetails || (formCreationService.recoveryPlanForm$ | async)?.controls?.causeofDamageDetails.invalid}">Cause of Damage:</span></div>
          <div class="col-md-6">
            <span [ngClass]="{'missing-info': !(formCreationService.recoveryPlanForm$ | async)?.value?.causeofDamageDetails || (formCreationService.recoveryPlanForm$ | async)?.controls?.causeofDamageDetails.invalid}">
              {{
                (formCreationService.recoveryPlanForm$ | async)?.value
                  .causeofDamageDetails ? (formCreationService.recoveryPlanForm$ | async)?.value
                  .causeofDamageDetails : "Enter required information"
              }}
            </span>
          </div>
        </div>

        <div class="row info-detail">
          <div class="col-md-3"><span [ngClass]="{'missing-info': !(formCreationService.recoveryPlanForm$ | async)?.value?.describeDamageDetails || (formCreationService.recoveryPlanForm$ | async)?.controls?.describeDamageDetails.invalid}">Damage Description:</span></div>
          <div class="col-md-6">
            <span [ngClass]="{'missing-info': !(formCreationService.recoveryPlanForm$ | async)?.value?.describeDamageDetails || (formCreationService.recoveryPlanForm$ | async)?.controls?.describeDamageDetails.invalid}">
              {{
                (formCreationService.recoveryPlanForm$ | async)?.value
                  .describeDamageDetails ? (formCreationService.recoveryPlanForm$ | async)?.value
                  .describeDamageDetails : "Enter required information"
              }}
            </span>
          </div>
        </div>

        <div class="row info-detail">
          <div class="col-md-3"><span [ngClass]="{'missing-info': !(formCreationService.recoveryPlanForm$ | async)?.value?.describeDamagedInfrastructure || (formCreationService.recoveryPlanForm$ | async)?.controls?.describeDamagedInfrastructure.invalid}">Damage Materials:</span></div>
          <div class="col-md-6">
            <span [ngClass]="{'missing-info': !(formCreationService.recoveryPlanForm$ | async)?.value?.describeDamagedInfrastructure || (formCreationService.recoveryPlanForm$ | async)?.controls?.describeDamagedInfrastructure.invalid}">
              {{
                (formCreationService.recoveryPlanForm$ | async)?.value
                  .describeDamagedInfrastructure ? (formCreationService.recoveryPlanForm$ | async)?.value
                  .describeDamagedInfrastructure : "Enter required information"
              }}
            </span>
          </div>
        </div>

        <div class="row justify-content-between">
          <div class="col-md-6 card-heading">Repair Work Description</div>
  
        </div>
        <hr />

        <div class="row info-detail">
          <div class="col-md-3"><span [ngClass]="{'missing-info': !(formCreationService.recoveryPlanForm$ | async)?.value?.repairWorkDetails || (formCreationService.recoveryPlanForm$ | async)?.controls?.repairWorkDetails.invalid}">Repair Work:</span></div>
          <div class="col-md-6">
            <span [ngClass]="{'missing-info': !(formCreationService.recoveryPlanForm$ | async)?.value?.repairWorkDetails || (formCreationService.recoveryPlanForm$ | async)?.controls?.repairWorkDetails.invalid}">
              {{
                (formCreationService.recoveryPlanForm$ | async)?.value
                  .repairWorkDetails ? (formCreationService.recoveryPlanForm$ | async)?.value
                  .repairWorkDetails : "Enter required information"
              }}
            </span>
          </div>
        </div>

        <div class="row info-detail">
          <div class="col-md-3"><span [ngClass]="{'missing-info': !(formCreationService.recoveryPlanForm$ | async)?.value?.repairDamagedInfrastructure || (formCreationService.recoveryPlanForm$ | async)?.controls?.repairDamagedInfrastructure.invalid}">Repair Materials:</span></div>
          <div class="col-md-6">
            <span [ngClass]="{'missing-info': !(formCreationService.recoveryPlanForm$ | async)?.value?.repairDamagedInfrastructure || (formCreationService.recoveryPlanForm$ | async)?.controls?.repairDamagedInfrastructure.invalid}">
              {{
                (formCreationService.recoveryPlanForm$ | async)?.value
                  .repairDamagedInfrastructure ? (formCreationService.recoveryPlanForm$ | async)?.value
                  .repairDamagedInfrastructure : "Enter required information"
              }}
            </span>
          </div>
        </div>

        <div class="row justify-content-between">
          <div class="col-md-6 card-heading">Estimations</div>
  
        </div>
        <hr />

        <div class="row info-detail">
          <div class="col-md-3"><span [ngClass]="{'missing-info': !(formCreationService.recoveryPlanForm$ | async)?.value?.estimatedCompletionDate || (formCreationService.recoveryPlanForm$ | async)?.controls?.estimatedCompletionDate.invalid}">Estimated Completion Date:</span></div>
          <div class="col-md-3">
            <span [ngClass]="{'missing-info': !(formCreationService.recoveryPlanForm$ | async)?.value?.estimatedCompletionDate || (formCreationService.recoveryPlanForm$ | async)?.controls?.estimatedCompletionDate.invalid}">
              {{
                (formCreationService.recoveryPlanForm$ | async)?.value
                  .estimatedCompletionDate ? ((formCreationService.recoveryPlanForm$ | async)?.value
                  .estimatedCompletionDate | date: "MMM/yyyy") : "Enter required information"
              }}
            </span>
          </div>
        </div>

        <div class="row info-detail">
          <div class="col-md-3"><span [ngClass]="{'missing-info': !(formCreationService.recoveryPlanForm$ | async)?.value?.estimateCostIncludingTax || (formCreationService.recoveryPlanForm$ | async)?.controls?.estimateCostIncludingTax.invalid}">Estimated Project Cost:</span></div>
          <div class="col-md-3">
            <span [ngClass]="{'missing-info': !(formCreationService.recoveryPlanForm$ | async)?.value?.estimateCostIncludingTax || (formCreationService.recoveryPlanForm$ | async)?.controls?.estimateCostIncludingTax.invalid}">
              {{
                (formCreationService.recoveryPlanForm$ | async)?.value
                  .estimateCostIncludingTax ? (formCreationService.recoveryPlanForm$ | async)?.value
                  .estimateCostIncludingTax : "Enter required information"
              }}
            </span>
          </div>
        </div>
      </mat-card-content>

      <mat-card-content class="contentStyle mat-elevation-z8">
        <div class="row justify-content-between">
          <div class="col-md-6 card-heading">Supporting Documents</div>
          <div class="col-md-2" *ngIf="allowEdit">
            <button
              class="edit-image"
              mat-icon-button
              aria-label="Edit"
              (click)="navigateToStep(1)"
            >
              <img src="/assets/images/edit.svg" height="35" width="35" />
              <!-- 2024-08-26 EMCRI-617 waynezen; UI fixes for Angular upgrade -->
            </button>
          </div>
        </div>
        <hr />
        <div class="row info-detail" *ngIf="requiredDocumentsDataSource?.data?.length > 0">
          <b>Required Documents</b>
          <table mat-table [dataSource]="requiredDocumentsDataSource">
             <!-- File Name Column -->
             <ng-container matColumnDef="fileName" style="width:25%">
              <th mat-header-cell *matHeaderCellDef >
                <b>File Name</b>
              </th>
              <td *matCellDef="let element" mat-cell>
                {{ element.fileName }}
              </td>
            </ng-container>

            <!-- Description Column -->
            <ng-container matColumnDef="fileDescription" style="width:25%">
              <th mat-header-cell *matHeaderCellDef>
                <b>File Description</b>
              </th>
              <td *matCellDef="let element" mat-cell>
                {{ element.fileDescription}}
              </td>
            </ng-container>

            <!-- Type Column -->
            <ng-container matColumnDef="fileTypeText" style="width:25%">
              <th mat-header-cell *matHeaderCellDef>
                <b>File Type</b>
              </th>
              <td *matCellDef="let element" mat-cell>
                {{ element.fileTypeText}}
              </td>
            </ng-container>

            <!-- UploadedDate Column -->
            <ng-container matColumnDef="uploadedDate" style="width:25%">
              <th mat-header-cell *matHeaderCellDef>
                <b>Date Uploaded</b>
              </th>
              <td *matCellDef="let element" mat-cell>
                {{ element.uploadedDate | date:"dd-MMM-yyyy" }}
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="requiredDocumentsColumnsToDisplay"></tr>
            <tr
              mat-row
              *matRowDef="let element; columns: requiredDocumentsColumnsToDisplay"
              class="example-element-row"
            ></tr>
          </table>
        </div>
        <div class="row info-detail" *ngIf="(formCreationService.fileUploadsForm$ | async)?.hasError('noPreEventCondition')">
          <span style="color:red">Previous event condition is required.</span>
        </div>
        <div class="row info-detail" *ngIf="(formCreationService.fileUploadsForm$ | async)?.hasError('noPostEventCondition')">
          <span style="color:red">Post event condition is required.</span>
        </div>
        <div class="row info-detail" *ngIf="supportingDocumentsDataSource?.data?.length > 0">
          <b>Supporting Documents(Optional)</b>
          <table mat-table [dataSource]="supportingDocumentsDataSource">
           <!-- File Name Column -->
           <ng-container matColumnDef="fileName" style="width:25%">
            <th mat-header-cell *matHeaderCellDef >
              <b>File Name</b>
            </th>
            <td *matCellDef="let element" mat-cell>
              {{ element.fileName }}
            </td>
          </ng-container>

          <!-- Description Column -->
          <ng-container matColumnDef="fileDescription" style="width:25%">
            <th mat-header-cell *matHeaderCellDef>
              <b>File Description</b>
            </th>
            <td *matCellDef="let element" mat-cell>
              {{ element.fileDescription}}
            </td>
          </ng-container>

          <!-- Type Column -->
          <ng-container matColumnDef="fileTypeText" style="width:25%">
            <th mat-header-cell *matHeaderCellDef>
              <b>File Type</b>
            </th>
            <td *matCellDef="let element" mat-cell>
              {{ element.fileTypeText}}
            </td>
          </ng-container>

          <!-- UploadedDate Column -->
          <ng-container matColumnDef="uploadedDate" style="width:25%">
            <th mat-header-cell *matHeaderCellDef>
              <b>Date Uploaded</b>
            </th>
            <td *matCellDef="let element" mat-cell>
              {{ element.uploadedDate | date:"dd-MMM-yyyy" }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="supportingDocumentsColumnsToDisplay"></tr>
          <tr
            mat-row
            *matRowDef="let element; columns: supportingDocumentsColumnsToDisplay"
            class="example-element-row"
          ></tr>
        </table>
        </div>
      </mat-card-content>

    </div>
  </ng-template>
</mat-card>
