mat-form-field {
    width: 100%;
}

.primary-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.primary-radio-button {
    margin: 5px;
}

.highlight {
    font-weight: 700;
    color: #169bd5;
}

.contentStyle {
  border: 1px solid lightgrey;
  padding: 10px
}

.nameMessage {
  border: 2px solid lightgrey;
  font-weight: bold;
  color: #169bd5;
  padding: 10px;
}

.info-detail {
  padding: 10px;
}

.alignMiddle{
    display: block;
    margin-top: 18px;
}
