<form [formGroup]="primaryAddressForm">
  <mat-card appearance="outlined" class="card-align">
    <mat-card-content>
      <p class="card-heading">Primary Address</p>
      <!--<div class="row">
        <div class="col-md-12">
          <label id="isBcAddress-radio-group-label" class="requiredField"
            >Is your <b>primary residence</b> within British Columbia?</label
          >
          <br />
          <mat-hint class="radio-hint red-text"
            >A valid B.C. postal code must be entered in order to be eligible to
            receive an e-Transfer for qualifying supports in the event of an
            evacuation.</mat-hint
          >
          <br />
          <mat-hint class="radio-hint"
            >Primary residence: The dwelling where an individual or household
            spends most of their personal time. A person can only have one
            primary residence at any moment in time.</mat-hint
          >
          <mat-radio-group
            formControlName="isBcAddress"
            aria-labelledby="isBcAddress-radio-group-label"
            (change)="primaryAddressChange($event)"
            class="primary-radio-group"
            required
          >
            <mat-radio-button
              class="primary-radio-button"
              *ngFor="let option of radioOption"
              [value]="option"
            >
              {{ option }}
            </mat-radio-button>
            <mat-error
              class="custom-mat-error"
              *ngIf="
                primaryAddressFormControl?.isBcAddress?.touched &&
                primaryAddressFormControl?.isBcAddress?.invalid &&
                primaryAddressFormControl?.isBcAddress?.hasError('required')
              "
            >
              Primary Residence is required</mat-error
            >
          </mat-radio-group>
        </div>
      </div>-->

      <div
        class="row"
      >
        <div class="col-md-12">
          <app-bc-address
            [addressForm]="primaryAddressFormControl?.address"
            [primaryAddressWarning]="true"
          ></app-bc-address>
        </div>
      </div>

      <!--<div *ngIf="primaryAddressFormControl?.isBcAddress?.value === 'No'">
        <div formGroupName="address">
          <div class="row">
            <div class="col-md-5">
              <p class="requiredField">
                In what <b>country</b> is your primary residence located?
              </p>
              <mat-form-field appearance="outline">
                <input
                  type="text"
                  placeholder="Start Typing"
                  aria-label="Country"
                  matInput
                  formControlName="country"
                  [matAutocomplete]="auto"
                  required
                />
                <mat-autocomplete
                  #auto="matAutocomplete"
                  [displayWith]="countryDisplayFn"
                  (optionSelected)="setCountryConfig($event)"
                >
                  <mat-option
                    *ngFor="let option of filteredOptions | async"
                    [value]="option"
                  >
                    {{ option.name }}
                  </mat-option>
                </mat-autocomplete>
                <mat-error
                  *ngIf="
                    primaryAddressFormControl?.address?.controls?.country
                      .invalid &&
                    primaryAddressFormControl?.address?.controls?.country.hasError(
                      'required'
                    )
                  "
                >
                  Country is required</mat-error
                >
                <mat-error
                  *ngIf="
                    validateCountry(
                      primaryAddressFormControl?.address?.controls?.country
                    )
                  "
                >
                  Country is invalid</mat-error
                >
              </mat-form-field>
            </div>
          </div>
        </div>

        <app-can-address
          *ngIf="
            primaryAddressFormControl?.address?.controls?.country?.value
              ?.code === 'CAN';
            else usa
          "
          [addressForm]="primaryAddressFormControl?.address"
        >
        </app-can-address>
        <ng-template #usa>
          <app-usa-address
            *ngIf="
              primaryAddressFormControl?.address?.controls?.country?.value
                ?.code === 'USA';
              else other
            "
            [addressForm]="primaryAddressFormControl?.address"
          >
          </app-usa-address>
        </ng-template>
        <ng-template #other>
          <app-other-address
            *ngIf="
              primaryAddressFormControl?.address?.controls?.country?.value
                ?.code !== 'USA' &&
              primaryAddressFormControl?.address?.controls?.country?.value
                ?.code !== 'CAN' &&
              primaryAddressFormControl?.address?.controls?.country?.value !==
                null
            "
            [addressForm]="primaryAddressFormControl?.address"
          >
          </app-other-address>
        </ng-template>
      </div>-->
      <!-- </form> -->
    </mat-card-content>
  </mat-card>
  <br />
  <br />

  <mat-card appearance="outlined" class="card-align">
    <mat-card-content>
      <p class="card-heading">Mailing Address <span style="color:red">*</span></p>
      <span>You must be able to receive mail at this address.  Please keep this address up to date during the process.</span>

      <!-- <form [formGroup]="mailingAddressForm"> -->

      <div class="row">
        <div class="col-md-12">
          <label
            id="isNewMailingAddress-radio-group-label"
            >
            <br/><br/>Is your mailing address different from your profile address above?</label
          >
          <mat-radio-group
            formControlName="isNewMailingAddress"
            aria-labelledby="isNewMailingAddress-radio-group-label"
            class="primary-radio-group"
            (change)="sameAsPrimary($event)"
            required
          >
            <mat-radio-button
              class="primary-radio-button"
              value="Yes"
            >
              No
            </mat-radio-button>
            <mat-radio-button
              class="primary-radio-button"
              value="No"
            >
              Yes
            </mat-radio-button>
            <mat-radio-button
              class="primary-radio-button"
              value="I don't have a mailing address right now"
            >
              I don't have a mailing address right now
            </mat-radio-button>
            <mat-error
              class="custom-mat-error"
              *ngIf="
                primaryAddressFormControl?.isNewMailingAddress?.touched &&
                primaryAddressFormControl?.isNewMailingAddress?.invalid &&
                primaryAddressFormControl?.isNewMailingAddress?.hasError(
                  'required'
                )
              "
            >
              Required</mat-error
            >
          </mat-radio-group>
        </div>
      </div>
      <div
          *ngIf="primaryAddressFormControl?.isNewMailingAddress.value === 'No'"
          class="row"
        >
          <div class="col-md-12">
            <app-can-address
              [addressForm]="primaryAddressFormControl?.mailingAddress"
            ></app-can-address>
          </div>
        </div>
    </mat-card-content>
  </mat-card>
</form>
