mat-form-field {
    width: 100%;
}
::ng-deep mat-radio-button {
  padding-right: 30px;
}

.bottomspace{
    padding-bottom: 20px;
}

.custom-mat-error {
  padding-top: 3px;
}

.nameMessage {
  border: 2px solid lightgrey;
  font-weight: bold;
  color: #169bd5;
  padding: 10px;
}
