<div [formGroup]="addressForm">
  <div class="row">
    <div class="col-md-5">
      <mat-form-field appearance="outline">
        <mat-label>Address Line 1</mat-label>
        <input
          formControlName="addressLine1"
          matInput
          placeholder="Address Line 1"
          maxlength="100"
          required
          [readonly]="primaryAddressWarning == true"
        />
        <mat-error
          *ngIf="
            addressFormControl?.addressLine1.invalid &&
            addressFormControl?.addressLine1.hasError('required')
          "
        >
          Address Line 1 is required</mat-error
        >
      </mat-form-field>
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-5 addressMessage" *ngIf="primaryAddressWarning == true">
      This is your primary address from your BC Services Card and can't be changed.
      If you need to update your primary address, visit
      <br />
      <a target="_blank" href="https://www2.gov.bc.ca/gov/content/governments/government-id/bc-services-card/your-card/change-personal-information">BC Service Card, Change your personal information</a>

    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      <mat-form-field appearance="outline">
        <mat-label>Address Line 2</mat-label>
        <input
          formControlName="addressLine2"
          matInput
          placeholder="Address Line 2"
          maxlength="100"
          [readonly]="primaryAddressWarning == true"
        />
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <mat-form-field appearance="outline">
        <mat-label>City</mat-label>
        <input
          maxlength="100"
          type="text"
          formControlName="community"
          matInput
          placeholder="City"
          [readonly]="primaryAddressWarning == true"
        />
        <!--<mat-autocomplete
          #auto="matAutocomplete"
          id="cityAutocomplete"
        >
          <mat-option
            *ngFor="let option of filteredOptions | async"
            [value]="option"
            [id]="option.name"
          >
            {{ option.name }}
          </mat-option>
        </mat-autocomplete>-->
        <!--<mat-error
          *ngIf="
            addressFormControl?.community.hasError('required')
          "
        >
          City is required</mat-error
        >-->
        <!--<mat-error *ngIf="validateCity()"> City is invalid</mat-error>-->
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <mat-form-field appearance="outline">
        <mat-label>Province</mat-label>
        <input
          formControlName="stateProvince"
          matInput
          placeholder="Province"
          [readonly]="primaryAddressWarning == true"
          value="British Columbia"
        />
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <mat-form-field appearance="outline">
        <mat-label>Postal Code</mat-label>
        <input
          formControlName="postalCode"
          matInput
          [readonly]="primaryAddressWarning == true"
          placeholder="Postal Code"
        />
        <mat-error
                    *ngIf="addressFormControl?.postalCode.invalid && addressFormControl?.postalCode.hasError('required')">
                    Postal Code is required</mat-error>
        <mat-hint>Allowed postal code format: V1V 1V1</mat-hint>
        <mat-error
          *ngIf="
            addressFormControl?.postalCode.invalid &&
            addressFormControl?.postalCode.hasError('pattern')
          "
        >
          Postal Code is invalid</mat-error
        >
      </mat-form-field>
    </div>
  </div>

  <!--<div class="row">
    <div class="col-md-3">
      <mat-form-field appearance="outline">
        <mat-label>Country</mat-label>
        <input matInput placeholder="Country" readonly value="Canada" />
      </mat-form-field>
    </div>
  </div>-->
</div>
