<div class="col-12">
  <div class="row">
    <h2 class="sub-heading mb-0">Project Details</h2>
  </div>
  <div class="row mb-4">
    <div class="col-md-6">
      <b>Project Name:</b>
      {{ project?.projectName }}
      <br />
      <b>Project Number:</b>
      {{ project?.projectNumber }}
      <br />
      <b>Project Type:</b>
      {{ project?.projectType }}
      <br />
      <b>Date of Damage:</b>
      {{ application?.dateOfDamage }}
      <br />
      <b>Original Application Date:</b>
      TBD
      <br />
      <b>Original DFA Decision Date:</b>
      TBD
      <br />
      <b>Original DFA Eligibility Decision:</b>
      TBD
      <br />
    </div>
    <div class="col-md-6">
      <b>Appeal Number:</b>
      TBD
      <br />
      <b>Appeal Submission Date:</b>
      TBD
      <br />
      <b>Appeal Decision:</b>
      TBD
      <br />
    </div>
  </div>
</div>
