<h2><b><span style="color:red;">BC Services Card Missing Email Address</span></b></h2>

<mat-dialog-content>
  <div class="row">
    <div class="col-md-2">
      <img src="/assets/images/warning-icon2.png" width="40px" height="40px" />
      &nbsp;
    </div>
    <div class="col-md-10" [innerHTML]="content?.text"></div>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <div class="col-md-12">
    <button class="button-p button-width" mat-button (click)="confirm()">
      {{ content?.confirmButton }}
    </button>
  </div>
</mat-dialog-actions>
