<mat-card style="border: none !important; box-shadow: none !important;">
  <ng-container *ngTemplateOutlet="dfaClaimMain"></ng-container>
  <ng-template #dfaClaimMain>
    <div>
      <br />
      <p class="sub-heading align-left" style="font-size: 20px">Review</p>
       <p class="align-left">
        Please check that your claim information is correct before submitting. Missing required fields marked in red.
      </p>

      <!-- Claim Details -->
      <mat-card-content class="contentStyle mat-elevation-z8">
        <div class="row info-detail" style="padding-top: 20px;">
          <div class="col-md-3"><span>Claim Number:</span></div>
          <div class="col-md-3">
            <span>
              {{
                recoveryPlanFormAbstract
                  .claimNumber
              }}
            </span>
          </div>
          <div class="col-md-4"></div>
          <div class="col-md-2" *ngIf="allowEdit">
            <button
              class="edit-image"
              mat-icon-button
              aria-label="Edit"
              (click)="navigateToStep(0)"
            >
              <img src="/assets/images/edit.svg" height="35" width="35" />
              
            </button>
          </div>
        </div>

        <div class="row info-detail">
          <div class="col-md-3"><span>First Claim:</span></div>
          <div class="col-md-3">
            <span>
              {{
                recoveryPlanFormAbstract
                  .isFirstClaimApproved === 'true' ? "Yes" : "No"
              }}
            </span>
          </div>
        </div>

        
        <div class="row info-detail">
          <div class="col-md-3"><span>Final Claim:</span></div>
          <div class="col-md-3">
            <span>
              {{
                (formCreationService.recoveryClaimForm$ | async)?.value
                  .isThisFinalClaim === 'true' ? "Yes" : ((formCreationService.recoveryClaimForm$ | async)?.value
  .isThisFinalClaim === 'false' ? "No" : "")
              }}
            </span>
          </div>
        </div>

        <div class="row info-detail">
          <div class="col-md-3"><span>Total Net Invoices being Claimed:</span></div>
          <div class="col-md-3">
            <span>
              $&nbsp;{{
                recoveryPlanFormAbstract
                  .totalInvoicesBeingClaimed | number: '1.2-2'
              }}
            </span>
          </div>
        </div>

        <div class="row info-detail">
          <div class="col-md-3"><span>Claim PST:</span></div>
          <div class="col-md-3">
            <span>
              $&nbsp;{{
                recoveryPlanFormAbstract
                  .claimPST | number : '1.2-2'
              }}
            </span>
          </div>
        </div>

        
        <div class="row info-detail">
          <div class="col-md-3"><span>Claim Gross GST:</span></div>
          <div class="col-md-3">
            <span>
              $&nbsp;{{
                recoveryPlanFormAbstract
                  .claimGrossGST | number : '1.2-2'
              }}
            </span>
          </div>
        </div>

        
        <div class="row info-detail">
          <div class="col-md-3"><span>Total Actual Claim:</span></div>
          <div class="col-md-3">
            <span>
              $&nbsp;{{
                recoveryPlanFormAbstract
                  .totalActualClaim | number : '1.2-2'
              }}
            </span>
          </div>
        </div>

        <div class="row info-detail">
          <div class="col-md-3"><span>Total Being Claimed:</span></div>
          <div class="col-md-3">
            <span>
              $&nbsp;{{
                recoveryPlanFormAbstract
                  .claimTotal	 | number : '1.2-2'
              }}
            </span>
          </div>
        </div>

        <div class="row info-detail">
          <div class="col-md-3"><span>Claim Eligible GST:</span></div>
          <div class="col-md-3">
            <span>
              $&nbsp;{{
                recoveryPlanFormAbstract
                  .eligibleGST| number : '1.2-2'
              }}
            </span>
          </div>
        </div>

        <div class="row info-detail">
          <div class="col-md-3"><span>Claim Total:</span></div>
          <div class="col-md-3">
            <span>
              $&nbsp;{{
                recoveryPlanFormAbstract
                  .claimTotal	 | number : '1.2-2'
              }}
            </span>
          </div>
        </div>
        
        
      </mat-card-content>
      <br />
      <mat-card-content class="contentStyle mat-elevation-z8">
        <div class="row justify-content-between">
          <div class="col-md-6 card-heading">Invoices</div>
          <div class="col-md-2" *ngIf="allowEdit">
            <button
              class="edit-image"
              mat-icon-button
              aria-label="Edit"
              (click)="navigateToStep(1)"
            >
              <img src="/assets/images/edit.svg" height="35" width="35" />
            </button>
          </div>
        </div>
        <hr />

        <table mat-table [dataSource]="invoiceSummaryDataSource" *ngIf="invoiceSummaryDataSource?.data?.length > 0" style="width:80%">
          <!-- Invoice Number Column -->
          <ng-container matColumnDef="invoiceNumber">
            <th mat-header-cell *matHeaderCellDef style="width:20%">
              <b>Invoice Number</b>
            </th>
            <td *matCellDef="let element" mat-cell>
              {{ element.invoiceNumber }}
            </td>
          </ng-container>

          <!-- Vendor Name -->
          <ng-container matColumnDef="vendorName">
            <th mat-header-cell *matHeaderCellDef style="width:25%">
              <b>Vendor Name</b>
            </th>
            <td *matCellDef="let element" mat-cell>
              {{ element.vendorName}}
            </td>
          </ng-container>

          <!-- Invoice Date Column -->
          <ng-container matColumnDef="invoiceDate">
            <th mat-header-cell *matHeaderCellDef style="width:20%">
              <b>Invoice Date</b>
            </th>
            <td *matCellDef="let element" mat-cell>
              {{ element.invoiceDate | date:"dd-MMM-yyyy" }}
            </td>
          </ng-container>

            <!-- Total Claim Column -->
            <ng-container matColumnDef="totalBeingClaimed">
            <th mat-header-cell *matHeaderCellDef style="width:20%">
              <b>Total being Claimed</b>
            </th>
            <td *matCellDef="let element" mat-cell>
              ${{ element.totalBeingClaimed | number : '1.2-2' }}
            </td>
          </ng-container>

        <tr mat-header-row *matHeaderRowDef="invoiceSummaryColumnsToDisplay"></tr>
        <tr
          mat-row
          *matRowDef="let element; columns: invoiceSummaryColumnsToDisplay"
          class="example-element-row"
        ></tr>
      </table>

        <div class="row info-detail" *ngIf="invoiceSummaryDataSource?.data?.length == 0">
                    <span style="color:red">Invoice is required.</span>
        </div>
        <br />
      </mat-card-content>
      <br />
      <mat-card-content class="contentStyle mat-elevation-z8">
        <div class="row justify-content-between">
          <div class="col-md-6 card-heading">Supporting Documents</div>
          <div class="col-md-2" *ngIf="allowEdit">
            <button
              class="edit-image"
              mat-icon-button
              aria-label="Edit"
              (click)="navigateToStep(2)"
            >
              <img src="/assets/images/edit.svg" height="35" width="35" />
            </button>
          </div>
          
        </div>
        <hr />
        <div class="row info-detail" *ngIf="requiredDocumentsDataSource?.data?.length > 0">
          <b>Required Documents</b>
          <br /><br />
          <table mat-table [dataSource]="requiredDocumentsDataSource" style="width:80%">
             <!-- File Name Column -->
             <ng-container matColumnDef="fileName" style="width:25%">
              <th mat-header-cell *matHeaderCellDef >
                <b>File Name</b>
              </th>
              <td *matCellDef="let element" mat-cell>
                {{ element.fileName }}
              </td>
            </ng-container>

            <!-- Description Column -->
            <ng-container matColumnDef="fileDescription" style="width:45%">
              <th mat-header-cell *matHeaderCellDef>
                <b>File Description</b>
              </th>
              <td *matCellDef="let element" mat-cell>
                {{ element.fileDescription}}
              </td>
            </ng-container>

            <!-- Type Column -->
            <ng-container matColumnDef="fileTypeText" style="width:20%">
              <th mat-header-cell *matHeaderCellDef>
                <b>File Type</b>
              </th>
              <td *matCellDef="let element" mat-cell>
                {{ element.fileTypeText}}
              </td>
            </ng-container>

            <!-- UploadedDate Column -->
            <ng-container matColumnDef="uploadedDate" style="width:10%">
              <th mat-header-cell *matHeaderCellDef>
                <b>Date Uploaded</b>
              </th>
              <td *matCellDef="let element" mat-cell>
                {{ element.uploadedDate | date:"dd-MMM-yyyy" }}
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="requiredDocumentsColumnsToDisplay"></tr>
            <tr
              mat-row
              *matRowDef="let element; columns: requiredDocumentsColumnsToDisplay"
              class="example-element-row"
            ></tr>
          </table>
        </div>
        <div class="row info-detail" *ngIf="(formCreationService.fileUploadsClaimForm$ | async)?.hasError('noinvoices')">
          <span style="color:red">Invoices are required.</span>
        </div>
        <div class="row info-detail" *ngIf="(formCreationService.fileUploadsClaimForm$ | async)?.hasError('nogeneralledger')">
          <span style="color:red">General Ledger is required.</span>
        </div>
        <div class="row info-detail" *ngIf="(formCreationService.fileUploadsClaimForm$ | async)?.hasError('noproofofpayment')">
          <span style="color:red">Proof of Payment is required.</span>
        </div>
        <div class="row info-detail" *ngIf="supportingDocumentsDataSource?.data?.length > 0">
          <b>Supporting Documents(Optional)</b>
          <br /><br />
          <table mat-table [dataSource]="supportingDocumentsDataSource" style="width:80%">
           <!-- File Name Column -->
           <ng-container matColumnDef="fileName" style="width:25%">
            <th mat-header-cell *matHeaderCellDef >
              <b>File Name</b>
            </th>
            <td *matCellDef="let element" mat-cell>
              {{ element.fileName }}
            </td>
          </ng-container>

          <!-- Description Column -->
          <ng-container matColumnDef="fileDescription" style="width:45%">
            <th mat-header-cell *matHeaderCellDef>
              <b>File Description</b>
            </th>
            <td *matCellDef="let element" mat-cell>
              {{ element.fileDescription}}
            </td>
          </ng-container>

          <!-- Type Column -->
          <ng-container matColumnDef="fileTypeText" style="width:20%">
            <th mat-header-cell *matHeaderCellDef>
              <b>File Type</b>
            </th>
            <td *matCellDef="let element" mat-cell>
              {{ element.fileTypeText}}
            </td>
          </ng-container>

          <!-- UploadedDate Column -->
          <ng-container matColumnDef="uploadedDate" style="width:10%">
            <th mat-header-cell *matHeaderCellDef>
              <b>Date Uploaded</b>
            </th>
            <td *matCellDef="let element" mat-cell>
              {{ element.uploadedDate | date:"dd-MMM-yyyy" }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="supportingDocumentsColumnsToDisplay"></tr>
          <tr
            mat-row
            *matRowDef="let element; columns: supportingDocumentsColumnsToDisplay"
            class="example-element-row"
          ></tr>
        </table>
        </div>
      </mat-card-content>

    </div>
  </ng-template>
</mat-card>
