<div class="container container-frame">
  <div class="row heading-container">
    <div class="col-8">
      <span class="page-heading">{{ dfaApplicationStartHeading }}</span>
    </div>
    <div class="col-4" *ngIf="showSaveButton === true">
      <button
        class="button-p save-button col-4"
        [disabled]="isSubmitted"
        (click)="saveAndBackToDashboard()"
        mat-stroked-button
        type="button"
        >
         Save & Back to Dashboard
         <app-loader
          [strokeWidth]="3"
          [diameter]="25"
          [showLoader]="showLoader"
        ></app-loader>
      </button>
    </div>
  </div>

  <mat-horizontal-stepper
    class="stepper-style"
    labelPosition="bottom"
    (animationDone)="currentStep(dfaApplicationStartStepper?.selectedIndex)"
    (selectionChange)="stepChanged($event, dfaApplicationStartStepper)"
    #dfaApplicationStartStepper
    linear
  >
    <mat-step *ngFor="let step of steps" [stepControl]="form">
      <ng-template matStepLabel>{{ step.stepName }}</ng-template>
      <app-component-wrapper
        [componentName]="step.component"
        [folderPath]="dfaApplicationStartFolderPath"
      ></app-component-wrapper>
      <br />
      <div class="row justify-content-between resp-style">
        <div class="col-md-6">
          <button
            class="button-s"
            mat-button
            type="button"
            (click)="goBack(dfaApplicationStartStepper, step.lastStep)"
          >
            {{ step.backButtonLabel }}
          </button>
        </div>
        <div class="col-md-6">
          <button
            class="button-p"
            mat-stroked-button
            type="button"
            (click)="goForward(dfaApplicationStartStepper, step.isLast, step.component)"
          >
            {{ step.nextButtonLabel }}
          </button>
        </div>
      </div>
    </mat-step>
    <ng-template matStepperIcon="edit" let-index="index">
      {{ index + 1 }}
    </ng-template>
  </mat-horizontal-stepper>
</div>
