<h2 class="dialog-title"><b>Add Secondary Applicant</b></h2>

<mat-dialog-content>
  <div class="row">
    <div class="col-md-2">
      <img src="/assets/images/warning-icon2.png" width="40px" height="40px" />
      &nbsp;
    </div>
    <div class="col-md-9" [innerHTML]="content"></div>
  </div>
  <br />
</mat-dialog-content>

<mat-dialog-actions>
  <div class="col-md-12">
    <button class="button-s button-width" mat-button (click)="cancel()">
      Ok
    </button>
  </div>
</mat-dialog-actions>
