<mat-card class="card-align recoveryPlan" style="border:none;" [class.mat-elevation-z0]="true">
  <mat-card-content>
    <form [formGroup]="recoveryClaimForm">
      
      <button type="button"
          #tooltip="matTooltip" [hidden]="hideHelp"
      (mouseenter)="$event.stopImmediatePropagation()"
      (click)="tooltip.show()"
      class="help-button"
      matTooltipClass="tooltip-custom"
      [matTooltip]="message || ''">
      <span class="ques">?</span>&nbsp; HELP
    </button>
      <!--<mat-form-field class="example-user-input">
        <mat-label>Tooltip message</mat-label>
        <input style="display:none" value="test test test value" matInput [formControl]="message">
      </mat-form-field>-->
      <!--<button (click)="tooltip.toggle()" mat-raised-button #tooltip="matTooltip"
        matTooltip="Info about the action"
        matTooltipPosition="right"
        aria-tooltip="Button that displays and hides a tooltip triggered by other buttons">
        Action
      </button>-->
      <div class="col-12 content-container infoText" >
        <div class="row">
          <div class="infoIconCol">
            <div class="material-icons infoIconStyle">info</div>
          </div>
          <div class="col-md-11">
            Please review and complete the form below. You may start a claim, save it, and continue to add to it later. Required fields are marked with a red asterisk <span style="color:red" >*</span>
          </div>
          <div class="col-md-6"></div>
      
          </div>
          <div class="col-md-6"></div>
      </div>
      <div class="col-12 content-container infoText" style="line-height: normal;">
        <div class="row">
          <div class="infoIconCol">
            <div class="material-icons infoIconStyle">info</div>
          </div>
          <div class="col-md-11">
            A claim is a single payment made to your community that is comprised of one or more approved invoices. Supporting documentation must be included with each claim to confirm accuracy of costs and compliance with the approved recovery plan.
            <br /><br />
            For every invoice you include, you must also attach an invoice record, and proof of payment for that invoice record. Please view the Recovery Claim document checklist and tipsheet for information on specific documentation requirements.
            <br /><br />
            The total of all claims cannot exceed the total approved project cost. If you are exceeding the approved project cost, please contact the DFA program to discuss submitting an amendment to the project.
          </div>
          <div class="col-md-6"></div>

          </div>
          <div class="col-md-6"></div>
      </div>
      <br/>
      <ng-container>
        <div class="row">
          <div class="col-md-3">
            <p  style="font-size: 15px">
              Claim Number
            </p>
            <mat-form-field appearance="outline" class="mat-form-round">
              <input
                id="claimNumber"
                     (focusin)="setHelpText(1, tooltip)"
                formControlName="claimNumber"
                matInput
                maxlength="100"/>
            </mat-form-field>
          </div>
          <div class="col-md-3" *ngIf="isReadOnly == true">
            <p  style="font-size: 15px">
              Claim Received by EMCR Date
            </p>
            <mat-form-field appearance="outline" class="mat-form-round">
              <input
                id="claimReceivedByEMCRDate"
                     (focusin)="setHelpText(1, tooltip)"
                formControlName="claimReceivedByEMCRDate"
                matInput
                maxlength="100"/>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <p  style="font-size: 15px">
              First claim approved?
            </p>
            <mat-radio-group
              (focusin)="setHelpText(3, tooltip)" 
              formControlName="isFirstClaimApproved"
              class="primary-radio-group horizontal-radio-group"
              (change)="selectDamageDates($event)"
              aria-label="Select an option">
              <mat-radio-button value=true>Yes</mat-radio-button>&nbsp;&nbsp;<mat-radio-button value=false>No</mat-radio-button>
            </mat-radio-group><br/><br/>
          </div>
          <div class="col-md-3">
            <p  style="font-size: 15px">
              Is this the final claim for this project?<span style="color:red" >*</span>
            </p>
            <mat-radio-group
              formControlName="isThisFinalClaim"
              class="primary-radio-group horizontal-radio-group"
              required
              (change)="selectDamageDates($event)"
              aria-label="Select an option">
              <mat-radio-button value=true>Yes</mat-radio-button>&nbsp;&nbsp;<mat-radio-button value=false>No</mat-radio-button>
            </mat-radio-group><br/><br/>
          </div>
        </div>

        <div class="row">
          
          <div class="col-md-3 costCurrency">
            <p  style="font-size: 15px; margin-bottom: 10px !important">
              Total Net Invoices being Claimed
            </p>
            <mat-form-field appearance="outline" class="mat-form-round">
              
              <div class="searchDiv">
                <input
                  (focusin)="setHelpText(15, tooltip)"
                  #currencyBoxTotalInvoicesBeingClaimed
                  id="currencyBoxTotalInvoicesBeingClaimed"
                  formControlName="totalInvoicesBeingClaimed"
                  matInput
                       mask="separator.2"
                  maxlength="100"/>
                <span class="currencyText">CA$</span>
              </div>
              
            </mat-form-field>
          </div>
          <div class="col-md-3 costCurrency">
            <p  style="font-size: 15px; margin-bottom: 10px !important">
              Claim PST
            </p>
            <mat-form-field appearance="outline" class="mat-form-round">
    
              <div class="searchDiv">
                <input
                  (focusin)="setHelpText(15, tooltip)"
                  #currencyBoxClaimPST
                  id="currencyBoxClaimPST"
                  formControlName="claimPST"
                  matInput
                        mask="separator.2"
                  maxlength="100"/>
                <span class="currencyText">CA$</span>
              </div>
    
            </mat-form-field>
          </div>
          <div class="col-md-3 costCurrency">
            <p  style="font-size: 15px; margin-bottom: 10px !important">
              Claim Gross GST
            </p>
            <mat-form-field appearance="outline" class="mat-form-round">
    
              <div class="searchDiv">
                <input
                  (focusin)="setHelpText(15, tooltip)"
                  #currencyBoxClaimGrossGST
                  id="currencyBoxClaimGrossGST"
                  formControlName="claimGrossGST"
                  matInput
                       mask="separator.2"
                  maxlength="100"/>
                <span class="currencyText">CA$</span>
              </div>
    
            </mat-form-field>
          </div>  
          <div class="col-md-3 costCurrency">
            <p  style="font-size: 15px; margin-bottom: 10px !important">
              Total Actual Claim
            </p>
            <mat-form-field appearance="outline" class="mat-form-round">
    
              <div class="searchDiv">
                <input
                  (focusin)="setHelpText(15, tooltip)"
                  #currencyBoxTotalActualClaim
                  id="currencyBoxTotalActualClaim"
                  formControlName="totalActualClaim"
                  matInput
                       mask="separator.2"
                  maxlength="100"/>
                <span class="currencyText">CA$</span>
              </div>
    
            </mat-form-field>
          </div>
          
        </div>
      </ng-container>
      <br />

      <ng-container *ngIf="isReadOnly == true">
        <div class="row decisionHeader">
          <b>Decision</b>
        </div>
       <div class="row">
        
        <div class="col-md-3 costCurrency">
          <p  style="font-size: 15px; margin-bottom: 10px !important">
            Claim Eligible GST
          </p>
          <mat-form-field appearance="outline" class="mat-form-round">
      
            <div class="searchDiv">
              <input
                (focusin)="setHelpText(15, tooltip)"
                #currencyBoxclaimEligibleGST
                id="currencyBoxclaimEligibleGST"
                formControlName="claimEligibleGST"
                matInput
                     mask="separator.2"
                maxlength="100"/>
              <span class="currencyText">CA$</span>
            </div>
      
          </mat-form-field>
        </div>
        <div class="col-md-3 costCurrency">
          <p  style="font-size: 15px; margin-bottom: 10px !important">
            Claim Total
          </p>
          <mat-form-field appearance="outline" class="mat-form-round">
    
            <div class="searchDiv">
              <input
                (focusin)="setHelpText(15, tooltip)"
                #currencyBoxclaimTotal
                id="currencyBoxclaimTotal"
                formControlName="claimTotal"
                matInput
                      mask="separator.2"
                maxlength="100"/>
              <span class="currencyText">CA$</span>
            </div>
    
          </mat-form-field>
        </div>
        <div class="col-md-3 costCurrency">
          <p  style="font-size: 15px; margin-bottom: 10px !important">
            Approved Claim Total
          </p>
          <mat-form-field appearance="outline" class="mat-form-round">
    
            <div class="searchDiv">
              <input
                (focusin)="setHelpText(15, tooltip)"
                #currencyBoxapprovedClaimTotal
                id="currencyBoxapprovedClaimTotal"
                formControlName="approvedClaimTotal"
                matInput
                     mask="separator.2"
                maxlength="100"/>
              <span class="currencyText">CA$</span>
            </div>
    
          </mat-form-field>
        </div>  
        <div class="col-md-3 costCurrency">
          <p  style="font-size: 15px; margin-bottom: 10px !important">
            Less First $1,000
          </p>
          <mat-form-field appearance="outline" class="mat-form-round">
    
            <div class="searchDiv">
              <input
                (focusin)="setHelpText(15, tooltip)"
                #currencyBoxfirstClaimDeductible1000
                id="currencyBoxfirstClaimDeductible1000"
                formControlName="firstClaimDeductible1000"
                matInput
                     mask="separator.2"
                maxlength="100"/>
              <span class="currencyText">CA$</span>
            </div>
    
          </mat-form-field>
        </div>
  
      </div>

         <div class="row">
  
          <div class="col-md-3 costCurrency">
            <p  style="font-size: 15px; margin-bottom: 10px !important">
              Approved Reimbursement %
            </p>
            <mat-form-field appearance="outline" class="mat-form-round">

              <div class="searchDiv">
                <input
                  (focusin)="setHelpText(15, tooltip)"
                  #currencyBoxapprovedReimbursement
                  id="currencyBoxapprovedReimbursement"
                  formControlName="approvedReimbursement"
                  matInput
                       mask="separator.2"
                  maxlength="100"/>
                <span class="currencyText">CA$</span>
              </div>

            </mat-form-field>
          </div>
          <div class="col-md-3 costCurrency">
            <p  style="font-size: 15px; margin-bottom: 10px !important">
              Eligible Payable
            </p>
            <mat-form-field appearance="outline" class="mat-form-round">
    
              <div class="searchDiv">
                <input
                  (focusin)="setHelpText(15, tooltip)"
                  #currencyBoxeligiblePayable
                  id="currencyBoxeligiblePayable"
                  formControlName="eligiblePayable"
                  matInput
                        mask="separator.2"
                  maxlength="100"/>
                <span class="currencyText">CA$</span>
              </div>
    
            </mat-form-field>
          </div>
          <div class="col-md-3 costCurrency">
            <p  style="font-size: 15px; margin-bottom: 10px !important">
              Paid Claim Amount
            </p>
            <mat-form-field appearance="outline" class="mat-form-round">
    
              <div class="searchDiv">
                <input
                  (focusin)="setHelpText(15, tooltip)"
                  #currencyBoxpaidClaimAmount
                  id="currencyBoxpaidClaimAmount"
                  formControlName="paidClaimAmount"
                  matInput
                       mask="separator.2"
                  maxlength="100"/>
                <span class="currencyText">CA$</span>
              </div>
    
            </mat-form-field>
          </div>  
        </div>
        <div class="row">
          <div class="col-md-3">
            <p  style="font-size: 15px">
              Paid Claim Date
            </p>
            <mat-form-field appearance="outline" class="mat-form-round">
              <input
                id="paidClaimDate"
                     (focusin)="setHelpText(1, tooltip)"
                formControlName="paidClaimDate"
                matInput
                maxlength="100"/>
            </mat-form-field>
          </div>
        </div>
      </ng-container>
    </form>
    
  </mat-card-content>
</mat-card>
